{% extends "pages/faq/index.html" %}

{% load static %}

{% block title %}Départements disponibles{% endblock %}

{% block faq_content %}
  <h1>Départements disponibles</h1>
  <p class="fr-text--lead">
    Envergo a vocation à être disponible sur l’ensemble du territoire français, mais se déploie progressivement, en coordination avec les DDT(M) et DREAL de chaque territoire.
  </p>

  {% include "_department_opt_in.html" %}

  <h2>Départements où Envergo est disponible</h2>

  <ul>
    {% for config in configs_available %}<li>{{ config.department }}</li>{% endfor %}
  </ul>

  <h2>Départements prochainement disponibles</h2>

  {% if configs_soon %}
    <ul>
      {% for department in configs_soon %}<li>{{ department }}</li>{% endfor %}
    </ul>
  {% else %}
    <p>Aucun département n'est en cours de déploiement.</p>
  {% endif %}

  {% include "_department_opt_in.html" %}

{% endblock %}
