{% extends "base.html" %}

{% load static %}

{% block title %}Questions fréquentes{% endblock %}

{% block article %}
  <h1 id="questcequelaloisurleau">Questions fréquentes</h1>

  <p class="fr-text--lead">
    Retrouvez toutes nos informations concernant les réglementations environnementales prises en compte par Envergo.
  </p>

  <div class="fr-grid-row fr-grid-row--gutters">

    <div class="fr-col fr-col-12 fr-col-md-6">
      <div class="fr-card fr-card--shadow fr-enlarge-link">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h2 class="fr-card__title">
              <a href="{% url 'faq_loi_sur_leau' %}">Loi sur l'eau</a>
            </h2>
            <p class="fr-card__desc">
              La loi sur l'eau encadre tous les projets
              qui risquent d'impacter l'eau et les milieux aquatiques.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-col fr-col-12 fr-col-md-6">
      <div class="fr-card fr-card--shadow fr-enlarge-link">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h2 class="fr-card__title">
              <a href="{% url 'faq_eval_env' %}">Évaluation environnementale</a>
            </h2>
            <p class="fr-card__desc">Évaluation environnementale bla bla bla</p>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
