{% extends "pages/faq/index.html" %}

{% load static pages %}

{% block title %}Questions fréquentes : Loi sur l'eau{% endblock %}
{% block faq_content %}
  <h1 id="questcequelaloisurleau">Questions fréquentes : Loi sur l'eau</h1>
  <div id="faq-accordion">
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn"
                aria-expanded="false"
                aria-controls="accordion-loi_sur_leau">
          <span>Qu'est-ce que la Loi sur l'eau ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-loi_sur_leau">
        <p>La Loi sur l'eau encadre tous les projets qui risquent d'impacter les milieux aquatiques.</p>
        <p class="fr-highlight">
          Si un projet se situe dans <strong>certaines zones de risque</strong> ou dépasse <strong>certains seuils de
          surface</strong> définis par la
          réglementation, le responsable de ce projet doit <strong>obligatoirement déposer un dossier Loi sur
          l'eau</strong>.
        </p>
        <p>
          La liste décrivant les projets soumis à la Loi sur l'eau se situe dans <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042075042/2020-09-01/"
    target="_blank"
    rel="noopener">l'article R.214-1 du
          Code de
          l'Environnement</a>, aussi appelée <a href="http://www.driee.ile-de-france.developpement-durable.gouv.fr/IMG/pdf/nouvelle_nomenclature_tableau_detaille_complete_diffusable-2.pdf"
    target="_blank"
    rel="noopener">nomenclature
          « IOTA » (pour Installations, Ouvrages, Travaux, Activités)</a>.
        </p>
        <p>Les impacts sur les milieux aquatiques y sont répartis en plusieurs rubriques :</p>
        <ul>
          <li>modification du ruissellement d'eaux pluviales ;</li>
          <li>construction en zone inondable par un cours d'eau ;</li>
          <li>assèchement ou destruction de zones humides ;</li>
          <li>impact sur un cours d'eau, en milieu marin, forage, etc.</li>
        </ul>
        <p>Pour chaque rubrique il y a deux seuils d'impact :</p>
        <ul>
          <li>Le seuil (D), pour Déclaration ;</li>
          <li>Le seuil (A), pour Autorisation, aux impacts plus importants.</li>
        </ul>
        <p>
          Si le projet dépasse le seuil « Autorisation » pour au moins une rubrique, vous devez disposer d'une <strong>Autorisation Environnementale</strong>.
        </p>
        <p>
          Autrement, si le projet dépasse le seuil « Déclaration » pour au moins une rubrique, vous devez déposer une <strong>Déclaration Loi sur l'eau</strong> (également appelée Déclaration IOTA).
        </p>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button id="title-savoir_si_mon_projet_est_soumis"
                class="fr-accordion__btn"
                aria-expanded="false"
                aria-controls="accordion-savoir_si_mon_projet_est_soumis">
          <span>Comment déterminer si mon projet est soumis à la Loi sur l'eau ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-savoir_si_mon_projet_est_soumis">

        <div class="fr-card fr-card--horizontal fr-my-2w">
          <div class="fr-card__body fr-p-4w">
            <p>
              Avec le simulateur Envergo, vérifiez en quelques clics si un projet est soumis à la Loi sur l'eau,
              ainsi qu’aux autres réglementations
            </p>
            <a href="{% url 'moulinette_form' %}"
               class="fr-btn fr-btn--icon-left fr-icon-arrow-right-line">Simuler un projet</a>
            <span class="fr-hint-text fr-mt-1w">Durée : 30 secondes</span>
          </div>
        </div>

        <p>Pour déterminer avec certitude si votre projet est soumis à la Loi sur l'eau, il est conseillé :</p>
        <ul>
          <li>
            <p>
              <strong>De se rapprocher d'un bureau d'études disposant d'une expertise « dossier Loi sur l'eau ».</strong>
            </p>
            <p>Le bureau d’études environnemental vous permet :</p>
            <ul>
              <li>
                d’évaluer si votre projet de construction ou d’aménagement est soumis à la Loi sur l'eau ou à d’autres règlementations environnementales ;
              </li>
              <li>de vous accompagner dans la réduction des impacts de votre projet ;</li>
              <li>et de constituer les dossiers à déposer à l'administration.</li>
            </ul>
          </li>
          <li>
            <p>
              <strong>De demander une évaluation Loi sur l'eau au service Envergo</strong>
            </p>
            <p>
              Vous pouvez <a href="{% url 'request_evaluation' %}">demander une évaluation de votre projet</a>, qui sera réalisée manuellement par l'équipe d'Envergo
              — disponible sur la totalité du territoire français.
            </p>
            <p>
              Enfin, n'hésitez pas à <a href="{% url 'contact_us' %}">contacter l'équipe Envergo pour toute question complémentaire</a>.
            </p>
            <!-- this empty p tag is here for formatting reasons, allows for welcome vertical space-->
          </li>
          <li>
            <p>
              <strong>De se rapprocher du service qui instruit les dossiers Loi sur l'eau</strong>
            </p>
            <p>Pour cela, contactez la DDT(M) (Direction Départementale des Territoires et de la Mer) de votre département.</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn"
                aria-expanded="false"
                aria-controls="accordion-que_faire">
          <span>Que faire si mon projet de construction ou d'aménagement est soumis à la Loi sur l'eau ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-que_faire">
        <p class="fr-highlight">
          <span class="fr-fi-error-warning-line" aria-hidden="true"></span>
          <strong>
            Vous devez obligatoirement déposer un dossier de déclaration Loi sur l'eau, en plus de la demande de permis de
            construire ou d'aménager.
          </strong>
        </p>
        <p>
          Le dossier de déclaration Loi sur l'eau est traité par le service police de l'eau de la DDT(M) (Direction Départementale des Territoires et
          de la Mer).
        </p>
        <p>
          Il est à déposer au guichet unique de l'environnement du département où
          se situe le projet. <a href="https://entreprendre.service-public.fr/vosdroits/R62929"
    target="_blank"
    rel="noopener">Le dépôt peut se faire numériquement, via une procédure en ligne.</a>
        </p>
        <p>
          Il suit une procédure d'instruction spécifique, distincte de la demande de permis de construire, avec ses
          délais propres.
        </p>
        <p class="fr-highlight">
          Son appellation « Déclaration » <strong>ne signifie pas qu'il s'agit d'une procédure
          déclarative sans obligation associée</strong>. Au contraire, elle déclenche une
          véritable instruction sur le fond du projet, qui peut aboutir :
        </p>
        <ul>
          <li>à un accord ;</li>
          <li>
            à un accord sous conditions, sous la forme d'un arrêté de prescriptions particulières qui devront être
            respectées
             ;
          </li>
          <li>à un refus, sous la forme d'un arrêté d'opposition à la déclaration.</li>
        </ul>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn"
                aria-expanded="false"
                aria-controls="accordion-instruction">
          <span>Comment se passe l'instruction du dossier Loi sur l'eau ? Quels sont les délais ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-instruction">
        <p>La procédure Loi sur l’eau est distincte de la procédure de permis de construire, et porte ses délais propres.</p>
        <p class="fr-highlight">
          <span class="fr-fi-error-warning-line" aria-hidden="true"></span>
          <strong>
            Le délai d'instruction d'un dossier de déclaration Loi sur l'eau est de 2 mois, extensible en cas de demande de compléments.
          </strong>
        </p>
        <p>
          <strong>Dans les 15 jours</strong> après dépôt de votre dossier, vous recevez un premier retour :
        </p>
        <ul>
          <li>Si le dossier est complet, un récépissé de déclaration ;</li>
          <li>Si le dossier est incomplet, une demande de pièces complémentaires.</li>
        </ul>
        <p>
          Si des compléments au dossier sont nécessaires, vous avez alors 3 mois pour apporter les pièces
          complémentaires, sans quoi le projet est rejeté automatiquement.
        </p>
        <p>Le délai d'instruction de 2 mois redémarre à la date de réception des compléments par la DDT(M).</p>
        <p>
          <strong>Dans les 2 mois</strong> après réception du récépissé, vous recevez la décision du préfet :
        </p>
        <ul>
          <li>il peut s'opposer à la déclaration ;</li>
          <li>il peut l'accepter, et peut imposer des prescriptions spécifiques à la réalisation du projet.</li>
        </ul>
        <p>Vous ne pouvez pas démarrer les travaux avant d'avoir reçu une réponse de la préfecture.</p>
        <p>
          Il est recommandé de se rapprocher du service Police de l'eau de votre département pour obtenir les
          informations qui doivent figurer dans le dossier Loi sur l'eau, et ainsi éviter de déposer un dossier
          incomplet et d'allonger les délais d'instruction.
        </p>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn"
                aria-expanded="false"
                aria-controls="accordion-permis_construire">
          <span>Quel est le lien entre la déclaration Loi sur l'eau et le permis de construire ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-permis_construire">
        <p>
          Les procédures Loi sur l'eau sont des procédures spécifiques, à effectuer en plus de la demande de permis de
          construire ou d'aménager.
        </p>
        <p class="fr-highlight">
          Si votre projet est soumis à la Loi sur l'eau, <strong>il vous faut donc bien articuler les deux procédures
          d'instruction</strong> (Permis de construire ou d'aménager / Loi sur l'eau) qui peuvent <strong>s'influencer l'une
          l'autre</strong>.
        </p>
        <p class="fr-mb-0">
          Dans les formulaires de demande de permis, l'un des cadres sert à déclarer les démarches menées au titre d'autres réglementations,
          telles que celle du code de l'environnement. En particulier, si le projet est soumis à déclaration Loi sur l'eau :
        </p>

        <ul>
          <li>
            <strong>Permis de construire une maison individuelle (PCMI) : cadre n°7</strong>. Répondre « oui » à la deuxième question
            si une déclaration a été déposée, et préciser « déclaration Loi sur l'eau »
          </li>
          <li>
            <strong>Permis de construire, hors maison individuelle (PC) : cadre n°7</strong>. Répondre « oui » à la première question,
            et préciser « déclaration Loi sur l'eau » le cas échéant
          </li>
          <li>
            <strong>Permis d'aménager (PA) : cadre n°8</strong>. Répondre « oui » à la première question,
            et préciser « déclaration Loi sur l'eau » le cas échéant
            <figure class="fr-content-media"
                    role="group"
                    aria-label="Pensez à cocher la case appropriée si votre projet est soumis à la Loi sur l'eau">
              <img src="{% static 'images/capture_cerfa.png' %}?v20240125"
                   class="fr-responsive-img"
                   alt="Extrait du formulaire Cerfa 13409*15, cadre 8. La première case est cochée." />
              <figcaption class="fr-content-media__caption">
                Cadre n°8 dans le formulaire de demande de permis d'aménager. Pensez à cocher la case appropriée si votre projet est
                soumis à la Loi sur l'eau.
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button id="title-travaux_avant_reponse"
                class="fr-accordion__btn"
                aria-expanded="false"
                aria-controls="accordion-travaux_avant_reponse">
          <span>Puis-je commencer les travaux avant d'avoir reçu une réponse de la préfecture ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-travaux_avant_reponse">
        <p>Vous ne pouvez pas démarrer les travaux avant d'avoir reçu une réponse de la préfecture.</p>
        <p>
          S'il s'avère que le projet est réalisé sans autorisation du préfet, le responsable s'expose à des sanctions
          administratives et pénales pouvant comprendre une
          <strong>obligation de remettre le terrain en son état initial, avec une astreinte jusqu'à 1 500 € par
          jour.</strong>
        </p>
        <p>
          Toutefois, dans certains cas, le récepissé de déclaration mentionne explicitement la possibilité de démarrer
          les travaux.
        </p>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button id="title-travaux_avant_reponse"
                class="fr-accordion__btn"
                aria-expanded="false"
                aria-controls="accordion-modification">
          <span>Je modifie ou je réalise des travaux sur un projet existant ayant déjà fait l'objet d'un dossier Loi sur l'eau. Que déclarer ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-modification">
        <p>Toute modification apportée à un projet déjà déclaré, qui :</p>
        <ul class="fr-mb-1w">
          <li>entraîne un changement de la description du projet par rapport au dossier Loi sur l'eau initial,</li>
          <li>ou est susceptible d'avoir à elle seule des impacts sur l’environnement,</li>
        </ul>
        <p>
          constitue une <strong>« modification notable »</strong> du projet. Elle doit être notifiée à la DDT(M) au moyen d'une formalité appelée un <strong>porter-à-connaissance</strong>.
        </p>
        <p>
          Le dossier de porter-à-connaissance doit indiquer de façon précise les modifications du projet par rapport à ce qui était prévu initialement, ainsi que les incidences de ces modifications sur l’environnement (en phase travaux et en phase exploitation).
        </p>
        <p>Après instruction du dossier par ses services, le préfet pourra si nécessaire :</p>
        <ul>
          <li>imposer des prescriptions complémentaires aux prescriptions existantes, ou modifier ces dernières ;</li>
          <li>
            considérer que la modification de l'existant est plus importante que présenté (on parle alors de « modification substantielle ») et demander alors le dépôt d'un nouveau dossier Loi sur l'eau, donnant lieu à une nouvelle procédure.
          </li>
        </ul>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn"
                aria-expanded="false"
                aria-controls="accordion-consequences_omission">
          <span>Quelles sont les conséquences en cas d'omission ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-consequences_omission">
        <p>
          Un contrôle par la police de l'eau peut avoir lieu avant, pendant les travaux, ou après la réalisation du
          projet. Une tierce partie (riverain, association, collectivité) peut déclencher un recours auprès de la
          préfecture.
        </p>
        <p>
          S'il s'avère que le projet est réalisé sans autorisation du préfet, le responsable s'expose à des sanctions
          administratives et pénales, qui peuvent aller jusqu'à :
        </p>
        <ul>
          <li>
            <strong>obligation de remettre le terrain en son état initial, avec une astreinte jusqu'à 1 500 € par
              jour (<a href="https://www.legifrance.gouv.fr/codes/section_lc/LEGITEXT000006074220/LEGISCTA000025136610/#LEGISCTA000025141893"
   target="_blank"
   rel="noopener">article L.171-7 du code de
            l'environnement</a>) ;</strong>
          </li>
          <li>
            un an d'emprisonnement et 75 000 € d'amende (<a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042779617/"
   target="_blank"
   rel="noopener">article L.173-1 du code de
            l'environnement</a>).
          </li>
        </ul>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn"
                aria-expanded="false"
                aria-controls="accordion-autorisation-environnementale">
          <span>Que faire si mon projet est soumis à Autorisation Environnementale ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-autorisation-environnementale">
        <p class="fr-highlight">
          <strong>
            Vous devez obligatoirement déposer une demande d'Autorisation Environnementale, en plus de la demande de permis de
            construire.
          </strong>
        </p>
        <p>Une procédure d’Autorisation Environnementale dure en moyenne de 9 à 12 mois.</p>
        <p>
          La demande est à déposer au guichet unique de l'environnement du département où
          se situe le projet. <a href="https://entreprendre.service-public.fr/vosdroits/R57779"
    target="_blank"
    rel="noopener">Le dépôt peut se faire numériquement, via une procédure en ligne.</a>
        </p>
        <p>
          <a href="https://entreprendre.service-public.fr/vosdroits/F33414"
             target="_blank"
             rel="noopener">Retrouvez plus d’informations sur la procédure à ce lien.</a>
        </p>
      </div>
    </section>
  </div>
{% endblock %}
{% block extra_js %}
  <script defer src="{% static 'js/libs/accordion_analytics.js' %}"></script>
  <script defer src="{% static 'js/libs/anchor_redirection_adjustment.js' %}"></script>
  <script>
    window.addEventListener('load', function() {
      const elt = document.getElementById('faq-accordion');
      const accordion = new AccordionAnalytics(elt);
      accordion.init();
    });
  </script>
{% endblock %}
