{% extends "pages/faq/index.html" %}
{% load static %}

{% block title %}Questions fréquentes : Natura 2000{% endblock %}

{% block faq_content %}
  <h1>Questions fréquentes : Natura 2000</h1>

  <p class="fr-text--lead">Natura 2000</p>

  <div id="faq-accordion">

    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-natura_2000">
          <span>
            Qu'est-ce que Natura 2000 ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-natura_2000">
        <p>
          Bla bla bla
        </p>
      </div>
    </section>

    <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-natura_2000">
          <span>
            Quels projets sont concernés par le dispositif Natura 2000 ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-natura_2000">
        <p>
          Bla bla bla
        </p>
      </div>
    </section>

    <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-natura_2000">
          <span>
            Comment déterminer si mon projet est soumis à évaluation des incidences Natura 2000 (EIN) ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-natura_2000">
        <p>
          Bla bla bla
        </p>
      </div>
    </section>


    <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-natura_2000">
          <span>
            Mon projet est hors d’un site Natura 2000 : peut-il être soumis à évaluation des incidences Natura 2000 ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-natura_2000">
        <p>
          Bla bla bla
        </p>
      </div>
    </section>

    <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-natura_2000">
          <span>
            Que faire si mon projet de construction ou d’aménagement est soumis à EIN ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-natura_2000">
        <p>
          Bla bla bla
        </p>
      </div>
    </section>

    <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-natura_2000">
          <span>
            Comment se passe l'instruction du dossier Natura 2000 ? Quels sont les délais ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-natura_2000">
        <p>
          Bla bla bla
        </p>
      </div>
    </section>

    <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-natura_2000">
          <span>
            Quelles sont les conséquences en cas d'omission ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-natura_2000">
        <p>
          Bla bla bla
        </p>
      </div>
    </section>
    

  </div>
{% endblock %}

{% block extra_js %}
  <script defer src="{% static 'js/libs/accordion_analytics.js' %}"></script>
  <script>
    window.addEventListener('load', function() {
      const elt = document.getElementById('faq-accordion');
      const accordion = new AccordionAnalytics(elt);
      accordion.init();
    });
  </script>

{% endblock %}
