{% extends "pages/faq/index.html" %}
{% load static %}

{% block title %}Questions fréquentes : Natura 2000{% endblock %}

{% block faq_content %}
  <h1>Questions fréquentes : Natura 2000</h1>

  <p class="fr-text--lead">Natura 2000</p>

  <div id="faq-accordion">

    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-natura_2000">
          <span>
            Qu'est-ce que Natura 2000 ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-natura_2000">
      <p>Natura 2000 est un dispositif européen visant à la protection d’espèces animales et végétales fragiles,
        et de leurs habitats.</p>

      <p>En France, il consiste en :</p>
      <ul>
        <li>un ensemble d’aires protégées – <strong>les sites Natura 2000</strong> – qui abritent une faune et une flore à protéger ;</li>
        <li>un dispositif réglementaire — <strong>l’évaluation des incidences Natura 2000</strong> — qui s’applique aux projets pouvant avoir des impacts sur ces sites protégés ;
          ainsi qu’à certains projets aux impacts potentiellement importants, <em>même hors des sites Natura 2000</em>.</li>
      </ul>
        
      <p>La France compte près de 1 800 sites Natura 2000, couvrant près de 13 % du territoire terrestre métropolitain.</p>

      <p>Ces sites Natura 2000 sont répartis en deux catégories :</p>
      <ul>
        <li>les zones spéciales de conservation (ZSC), à protéger car ils abritent certaines espèces fragiles (faune ou flore) ;</li>
        <li>les zones de protection spéciale (ZPS) qui concernent des espèces d’oiseaux vulnérables, et les lieux de leur survie ou de leur reproduction.</li>
      </ul>

      <p>Les textes réglementaires Natura 2000 sont conçus pour que les projets menés dans ces sites garantissent la préservation à long terme des espèces et des habitats.</p>

      </div>
    </section>

    <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-natura_2000">
          <span>
            Quels projets sont concernés par le dispositif Natura 2000 ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-natura_2000">
      <p>Les projets concernés par le dispositif Natura 2000 sont listés dans plusieurs textes réglementaires s’appliquant au niveau national, départemental, ou à l’échelle d’une façade maritime.</p>

      <p>Ces textes sont les suivants :</p>
      <ul>

        <li>
          <p>à l’échelle nationale, la « <strong>liste nationale</strong> » fixée par <a href="https://www.legifrance.gouv.fr/codes/id/LEGISCTA000022090322/" target="_blank" rel="noopener">l'article R.414-19 du code de l'environnement</a>.
            </br>
            Elle concerne les projets déjà encadrés administrativement. Par exemple, tout projet soumis à la Loi sur l’eau, à examen au cas par cas, ou à étude d’impact, est concerné.
            </br>
            Elle s’applique à ces projets <em>même s’ils se situent hors d’un site Natura 2000</em>.
          </p>
          <p></p>
        </li>

        <li>
          <p>une « <strong>liste locale 1</strong> » à l’échelle du département ou de la région, fixée par arrêté préfectoral.
          </br>
          Elle reprend les points de la liste nationale, mais prend en compte les spécificités locales et s’applique uniquement à des projets qui se situent à l’intérieur ou à proximité d’un site Natura 2000.
        </p>
        <p></p>
        </li>

        <li>
          <p>une « <strong>liste locale 2</strong> », à l’échelle départementale ou régionale également.
          </br>
          Cette liste concerne des types de projets qui peuvent être très variés, différentes des listes nationale et locale 1 ;
          elle est établie selon les spécificités des sites Natura 2000 du territoire.
          </br>
          Cette liste établit ce qu’on appelle le « régime propre » de Natura 2000, qui est plus restrictif que les listes ci-dessus.
          </p>
          <p></p>
        </li>
      </ul>
        
      <p>Si un projet est concerné par l’une des listes Natura 2000, il lui est imposé de mener une étude préalable
        — l’évaluation des incidences Natura 2000 — et de la soumettre à l’administration.</p>

      </div>
    </section>

    <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-natura_2000">
          <span>
            Comment déterminer si mon projet est soumis à évaluation des incidences Natura 2000 (EIN) ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-natura_2000">
        <p>
          Bla bla bla
        </p>
      </div>
    </section>


    <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-natura_2000">
          <span>
            Mon projet est hors d’un site Natura 2000 : peut-il être soumis à évaluation des incidences Natura 2000 ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-natura_2000">
        <p>
          Bla bla bla
        </p>
      </div>
    </section>

    <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-natura_2000">
          <span>
            Que faire si mon projet de construction ou d’aménagement est soumis à EIN ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-natura_2000">
        <p>
          Bla bla bla
        </p>
      </div>
    </section>

    <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-natura_2000">
          <span>
            Comment se passe l'instruction du dossier Natura 2000 ? Quels sont les délais ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-natura_2000">
        <p>
          Bla bla bla
        </p>
      </div>
    </section>

    <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-natura_2000">
          <span>
            Quelles sont les conséquences en cas d'omission ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-natura_2000">
        <p>
          Bla bla bla
        </p>
      </div>
    </section>
    

  </div>
{% endblock %}

{% block extra_js %}
  <script defer src="{% static 'js/libs/accordion_analytics.js' %}"></script>
  <script>
    window.addEventListener('load', function() {
      const elt = document.getElementById('faq-accordion');
      const accordion = new AccordionAnalytics(elt);
      accordion.init();
    });
  </script>

{% endblock %}
