{% extends "pages/faq/index.html" %}
{% load static %}
{% block title %}Questions fréquentes : Natura 2000{% endblock %}
{% block faq_content %}
  <h1>Questions fréquentes : Natura 2000</h1>
  <p class="fr-text--lead">
    Natura 2000 est un dispositif réglementaire visant la protection d'espèces animales et végétales fragiles, et de leur habitat.
    Retrouvez ici les questions les plus fréquemment posées quant à l'application du dispositif Natura 2000 aux projets de construction et d'aménagement.
  </p>
  <div id="faq-accordion">
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn"
          aria-expanded="false"
          aria-controls="accordion-n2000">
          <span>Qu'est-ce que Natura 2000 ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-n2000">
        <p>
          Natura 2000 est un dispositif européen visant à la protection d’espèces animales et végétales fragiles,
          et de leurs habitats.
        </p>
        <p>En France, il consiste en :</p>
        <ul>
          <li>
            un ensemble d’aires protégées – <strong>les sites Natura 2000</strong> – qui abritent une faune et une flore à protéger ;
          </li>
          <li>
            un dispositif réglementaire — <strong>l’évaluation des incidences Natura 2000</strong> — qui s’applique aux projets pouvant avoir des impacts sur ces sites protégés ;
            ainsi qu’à certains projets aux impacts potentiellement importants, <em>même hors des sites Natura 2000</em>.
          </li>
        </ul>
        <p>La France compte près de 1 800 sites Natura 2000, couvrant près de 13 % du territoire terrestre métropolitain.</p>
        <p>Ces sites Natura 2000 sont répartis en deux catégories :</p>
        <ul>
          <li>
            les zones spéciales de conservation (ZSC), à protéger car ils abritent certaines espèces fragiles (faune ou flore) ;
          </li>
          <li>
            les zones de protection spéciale (ZPS) qui concernent des espèces d’oiseaux vulnérables, et les lieux de leur survie ou de leur reproduction.
          </li>
        </ul>
        <p>
          Les textes réglementaires Natura 2000 sont conçus pour que les projets menés dans ces sites garantissent la préservation à long terme des espèces et des habitats.
        </p>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn"
          aria-expanded="false"
          aria-controls="accordion-quels_projets">
          <span>Quels projets sont concernés par le dispositif Natura 2000 ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-quels_projets">
        <p>
          Les projets concernés par le dispositif Natura 2000 sont listés dans plusieurs textes réglementaires s’appliquant au niveau national, départemental, ou à l’échelle d’une façade maritime.
        </p>
        <p>Ces textes sont les suivants :</p>
        <ul>
          <li>
            <p>
              à l’échelle nationale, la « <strong>liste nationale</strong> » fixée par <a href="https://www.legifrance.gouv.fr/codes/id/LEGISCTA000022090322/"
                target="_blank"
                rel="noopener">l'article R.414-19 du code de l'environnement</a>.
              <br>
              Elle concerne les projets déjà encadrés administrativement. Par exemple, tout projet soumis à la Loi sur l’eau, à examen au cas par cas, ou à étude d’impact, est concerné.
              <br>
              Elle s’applique à ces projets <em>même s’ils se situent hors d’un site Natura 2000</em>.
            </p>
          </li>
          <li>
            <p>
              une « <strong>liste locale 1</strong> » à l’échelle du département ou de la région, fixée par arrêté préfectoral.
              <br>
              Elle reprend les points de la liste nationale, mais prend en compte les spécificités locales et s’applique uniquement à des projets qui se situent à l’intérieur ou à proximité d’un site Natura 2000.
            </p>
          </li>
          <li>
            <p>
              une « <strong>liste locale 2</strong> », à l’échelle départementale ou régionale également.
              <br>
              Cette liste concerne des types de projets qui peuvent être très variés, différentes des listes nationale et locale 1 ;
              elle est établie selon les spécificités des sites Natura 2000 du territoire.
              <br>
              Cette liste établit ce qu’on appelle le « régime propre » de Natura 2000, qui est plus restrictif que les listes ci-dessus.
            </p>
          </li>
        </ul>
        <p>
          Si un projet est concerné par l’une des listes Natura 2000, il lui est imposé de mener une étude préalable
          — l’évaluation des incidences Natura 2000 — et de la soumettre à l’administration.
        </p>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn"
          aria-expanded="false"
          aria-controls="accordion-savoir_si_mon_projet_est_soumis">
          <span>Comment déterminer si mon projet est soumis à évaluation des incidences Natura 2000 (EIN) ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-savoir_si_mon_projet_est_soumis">
        <p>
          S’il s’agit d’un projet d’aménagement ou de construction, le <a href="{% url 'moulinette_home' %}">simulateur EnvErgo</a> vous permet en quelques clics de vérifier si le projet est soumis à Natura 2000 — ainsi qu’aux autres réglementations environnementales (Loi sur l’eau, évaluation environnementale…).
          C'est un service public numérique gratuit, fourni par le Ministère de la Transition Écologique.
          Il fonctionne pour l'instant en Loire-Atlantique, dans le Morbihan et en Vendée, et sera prochainement étendu à un territoire plus large.
        </p>
        <p>De façon générale, un projet peut être soumis à EIN :</p>
        <ul>
          <li>
            s’il est soumis à une procédure administrative de type déclaration ou autorisation, par exemple Loi sur l’eau (IOTA) ou Installation classée (ICPE),
            même s’il se situe hors d’un site Natura 2000.
          </li>
          <li>ou s’il se situe dans un site Natura 2000 et est concerné par les listes locales du département concerné.</li>
        </ul>
        <p>
          Pour déterminer avec certitude si votre projet est soumis à évaluation des incidences Natura 2000 (EIN), il est conseillé :
        </p>
        <ul>
          <li>
            <p>
              <strong>De contacter l’animateur du site Natura 2000 concerné, dès la conception du projet</strong>
            </p>
            <p>
              Chaque site Natura 2000 dispose d’une structure en charge de son « animation »,
              dont le rôle est de vous informer quant aux obligations de protection du lieu,
              et de vous accompagner pour concilier les exigences du projet avec la minimisation de ses impacts sur le site.
            </p>
            <p>
              La liste des animateurs est publiée sur les <a href="https://lannuaire.service-public.fr/navigation/prefecture"
                target="_blank"
                rel="noopener">sites internet des préfectures</a> dans chaque département.
            </p>
            <p>En l’absence d’un animateur, vous pouvez vous rapprocher de la DDT(M) du site concerné.</p>
          </li>
          <li>
            <p>
              <strong>D’avoir recours aux formulaires simplifiés d’évaluation des incidences</strong>
            </p>
            <p>
              Ces formulaires sont élaborés dans chaque département pour accompagner la réflexion du porteur
              sur les impacts du projet mentionnés dans les listes locales Natura 2000.
              Ils sont disponibles sur les <a href="https://lannuaire.service-public.fr/navigation/prefecture"
                target="_blank"
                rel="noopener">sites internet des préfectures</a>.
            </p>
            <p>
              Ils permettent d’évaluer, le plus tôt possible dans la conception de son projet,
              si certains impacts devront faire l’objet d’une évaluation avancée,
              et d’un travail rapproché entre le porteur et ses maîtres d’œuvre, l’animateur du site, et les services de l’État.
            </p>
          </li>
          <li>
            <p>
              <strong>De se rapprocher d'un bureau d'études disposant d'une expertise environnementale</strong>
            </p>
            <p>Le bureau d’études environnemental vous permet :</p>
            <ul>
              <li>
                d’évaluer si votre projet de construction ou d’aménagement est soumis à évaluation des incidences Natura 2000 ou à d’autres règlementations environnementales ;
              </li>
              <li>de vous accompagner dans la réduction des impacts de votre projet ;</li>
              <li>et de constituer les dossiers à déposer à l'administration.</li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn"
          aria-expanded="false"
          aria-controls="accordion-projet_hors_site_n2000">
          <span>Mon projet est hors d’un site Natura 2000 : peut-il être soumis à évaluation des incidences Natura 2000 ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-projet_hors_site_n2000">
        <p>
          Oui. Si le projet est déjà soumis à une procédure administrative, par exemple Loi sur l’eau, examen au cas par cas, déclaration au titre des installations classées (ICPE),
          l’EIN est obligatoire, même si le projet est hors d’un site Natura 2000.
        </p>
        <p>
          Par ailleurs, dans certains départements, la seule proximité à un site est motif d’entrée en procédure.
          En effet, des impacts sur un site protégé peuvent être induits par le projet (bruit, effluents, activité humaine…), même s’il n’est pas strictement dans le périmètre.
        </p>
        <p>
          Le <a href="{% url 'moulinette_home' %}">simulateur EnvErgo</a>, pour déterminer si un projet de construction ou d’aménagement est soumis à Natura 2000,
          prend en compte les listes locales et la doctrine DDT(M) de chaque département.
        </p>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn"
          aria-expanded="false"
          aria-controls="accordion-que_faire">
          <span>Que faire si mon projet de construction ou d’aménagement est soumis à EIN ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-que_faire">
        <p class="fr-highlight">
          <span class="fr-fi-error-warning-line" aria-hidden="true"></span>
          <strong>
            Vous devez obligatoirement déposer une évaluation des incidences Natura 2000,
            en plus de la demande de permis de construire ou d’aménager.
          </strong>
        </p>
        <p>L’administration à qui déposer le dossier d’EIN dépend des autres procédures auxquelles est soumis le dossier :</p>
        <ul>
          <li>
            Si le projet est également soumis à autre une procédure administrative (par exemple Loi sur l’eau, examen au cas par cas, ou au titre des installations classées), l’EIN est attachée au dossier déposé à la DDT(M) ;
          </li>
          <li>sinon l’EIN est jointe à la demande de permis de construire ou d’aménager déposée en mairie.</li>
        </ul>
        <p>
          Le <a href="{% url 'moulinette_home' %}">simulateur EnvErgo</a> permet de déterminer à la fois si votre projet est soumis à EIN,
          et la procédure associée pour déposer le dossier.
        </p>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn"
          aria-expanded="false"
          aria-controls="accordion-instruction">
          <span>Comment se passe l'instruction du dossier Natura 2000 ? Quels sont les délais ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-instruction">
        <p>
          Quand l’évaluation des incidences Natura 2000 est jointe à une demande d’autorisation (dossier Loi sur l'eau ou demande de PC ou de PA),
          ce qui est le cas le plus fréquent pour un projet de construction ou d'aménagement,
          l'EIN est instruite en même temps que celle-ci, de façon transparente pour le porteur de projet.
        </p>
        <p>La présence d'une EIN ne modifie pas le délai de la demande de rattachement :</p>
        <ul>
          <li>2 mois pour un dossier de déclaration Loi sur l’eau ;</li>
          <li>2 mois pour une demande de permis de construire ;</li>
          <li>3 mois pour une demande de permis d’aménager.</li>
        </ul>
        <p>
          De façon transparente pour le porteur de projet, l’EIN est transmise au service en charge de la biodiversité, au sein de la DDT(M) du département concerné ;
          c’est lui qui en mène l’instruction.
        </p>
        <p>
          Le service instructeur peut vous demander des compléments
          si le dossier n’apparaît pas suffisamment explicite ou si des mesures d’atténuation des incidences semblent manquer.
        </p>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn"
          aria-expanded="false"
          aria-controls="accordion-consequences_omission">
          <span>Quelles sont les conséquences en cas d'omission ?</span>
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-consequences_omission">
        <p>
          Votre demande de permis de construire ou d’aménager peut être rejetée
          si vous n'avez pas réalisé et déposé d’évaluation des incidences Natura 2000 et que vous y étiez tenu.
        </p>
        <p>
          Un contrôle par la police de l’environnement peut avoir lieu avant, pendant les travaux, ou après la réalisation du projet.
          Une tierce partie (riverain, association, collectivité) peut déclencher un recours auprès de l’administration.
        </p>
        <p>S'il s'avère que le projet est réalisé :</p>
        <ul>
          <li>sans évaluation des incidences alors qu’il y était soumis,</li>
          <li>sans avoir obtenu l'accord pour la déclaration ou l’autorisation associée,</li>
          <li>ou sans tenir compte des prescriptions éventuelles de celui-ci,</li>
        </ul>
        <p>le responsable s'expose à des sanctions administratives et pénales, qui peuvent aller jusqu'à :</p>
        <ul>
          <li>
            obligation de remettre le terrain en son état initial, avec une astreinte jusqu'à 1 500 € par jour (articles <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000025142210"
              target="_blank"
              rel="noopener">L.414-5</a>
            et <a href="https://www.legifrance.gouv.fr/codes/section_lc/LEGITEXT000006074220/LEGISCTA000025136610/#LEGISCTA000025141893"
              target="_blank"
              rel="noopener">L.171-7 du code de l’environnement</a>) ;
          </li>
          <li>
            un an d'emprisonnement et 60 000 € d'amende (article <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000033031804/"
              target="_blank"
              rel="noopener">L.415-7 du code de l'environnement</a>).
          </li>
        </ul>
      </div>
    </section>
  </div>
{% endblock %}
{% block extra_js %}
  <script defer src="{% static 'js/libs/accordion_analytics.js' %}"></script>
  <script>
    window.addEventListener('load', function() {
      const elt = document.getElementById('faq-accordion');
      const accordion = new AccordionAnalytics(elt);
      accordion.init();
    });
  </script>
{% endblock %}
