fieldset.recipients {
  margin-bottom: 1rem;
}

.module ul.rr-preview {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    margin: 0;
  }
}

.rr-content {
  margin-top: 0.5rem;

  .mail-content {
    width: 800px;
    max-width: 800px;
    margin: auto;
  }
}

ul.messagelist li ul {
  padding-left: 1rem;

  li {
    margin: 0;
    padding: 0;
    background: unset;
    background-size: unset;
    color: inherit;
  }
}

/* stylelint-disable-next-line */
.vTextField,
.long-field input {
  width: 40em !important;
}

a.disabled {
  pointer-events: none;
  background-color: #ababab !important;
}

#id_demarche_simplifiee_pre_fill_config_helptext {
  ul {
    margin-left: 1.5em;

    li {
      list-style: initial;
    }
  }
}

form .aligned .hedge ul {
  margin-left: 1em;
  list-style-type: inherit;
}

fieldset.module.recipients:has(input[type="checkbox"]:checked)
  #no-recipients-message {
  display: none;
}

/* Users *
 * */

a#add_id_departments {
  display: none;
}

/* Petition project */

/* Disable delete button

  to avoid unwanted project suppression when they only want to delete invited accounts
  */

.model-petitionproject.change-form .submit-row {
  &::after {
    content: "Le bouton supprimer est désactivé pour éviter de supprimer un projet si on souhaite seulement supprimer des comptes invités. À réactiver dans l'inspecteur de code.";
    font-style: italic;
    flex-basis: 100%;
    text-align: right;
    font-size: 0.875rem;
  }

  a.deletelink {
    pointer-events: none;
    cursor: default;
    opacity: 0.4;
  }
}

.model-criterion.change-list {
  td.field-regulation {
    white-space: normal;
  }

  td.field-regulation,
  td.field-perimeter_list,
  th.field-backend_title {
    min-width: 12em;
  }

  td.field-validity_column {
    min-width: 9em;
  }

  td.field-evaluator_column {
    min-width: 10em;
  }
}
