$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;


.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

article {

  p,
  ul {
    // Reset some faulty design system margins
    --xl-block: 0;
    margin-bottom: 1.5rem;
  }
}

.probability {
  text-transform: uppercase;
  font-weight: bold;
}

#probability-gauge {
  position: relative;
  margin-bottom: 1.5rem;

  figure {
    padding: 0;
    margin: 0;
  }

  svg {
    background-color: white;
    padding: .75rem;
  }

  #meter {
    width: 100%;
    height: 100%;
  }

  circle {
    fill: none;
  }
}
