$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

:root {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

// Prevent  scrolling when a dialog is open
body:has(dialog[open]) {
  overflow: hidden;
}

html.nojs .js {
  display: none !important;
}

html.noclipboard .clipboard {
  display: none !important;
}

// Make sure the :target element is not hidden behind the sticky header
// Note: not all pages have a sticky header, but fortunately, right now,
// all pages with target links do.
@media (width >= 62em) {
  html {
    /* height of sticky header */
    scroll-padding-top: 3rem;
  }
}

/**
* Useful components
 */
.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.cta-group {
  display: flex;
  justify-content: space-between;
}

.color-text-light {
  color: var(--text-mention-grey);
}

hr.separator {
  background: none;
  border: none;
  border-top: 1px solid var(--border-action-high-blue-france);

  &--lignt {
    border-top: 1px solid var(--border-default-grey);
  }
}

.text-center {
  text-align: center;
}

/**
 * Update some margins for paragraphs and lists
 */
article {
  --li-bottom: 0.5rem;
  --text-spacing: 0 0 1rem;

  padding-bottom: 3rem;

  ul {
    margin-bottom: 1rem;
  }

  li p {
    margin-bottom: 0.5rem;
  }
}

.probability {
  text-transform: uppercase;
  font-weight: bold;
  color: black;

  &.probability-non_soumis,
  &.probability-non_concerne,
  &.probability-dispense,
  &.probability-1 {
    background-color: #b1f0bd;
  }

  &.probability-non_disponible,
  &.probability-non_applicable,
  &.probability-non_active,
  &.probability-2 {
    background-color: #d5dbef;
  }

  &.probability-action_requise,
  &.probability-a_verifier,
  &.probability-iota_a_verifier,
  &.probability-3 {
    background-color: #fee7a0;
  }

  &.probability-soumis,
  &.probability-systematique,
  &.probability-derogation_inventaire,
  &.probability-derogation_simplifiee,
  &.probability-4 {
    background-color: #ffb7a5;
  }

  &.probability-cas_par_cas,
  &.probability-5 {
    background-color: #ffd3a6;
  }

  &.probability-interdit,
  &.probability-6 {
    background-color: #ff5150;
    color: white;
  }

  &.probability-missing {
    background-color: purple;
  }
}

#probability-gauge {
  margin-bottom: 1.5rem;

  svg {
    background-color: white;
    padding: 0.75rem;
  }

  circle {
    fill: none;
  }
}

#moulinette-container {
  #form-col {
    order: 2;
  }

  #content-col {
    order: 1;
  }

  @media (width >= 48em) {
    #form-col {
      order: 1;
    }

    #content-col {
      order: 2;
      max-width: 720px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  article > img {
    max-height: 11.25rem;
    margin: 0 auto 1.5rem;
    display: block;
  }

  button[type="submit"] {
    margin-right: 1rem;
  }

  .share-btn {
    text-align: center;
  }

  .submit-feedback-hint-text {
    white-space: nowrap;
    display: inline;
  }

  .fr-hint-text a {
    color: var(--text-default-info);
  }
}

nav#evaluation-summary {
  ul {
    list-style-type: none;
    padding: 0;
  }

  li:not(:last-child) > .summary-link {
    border-bottom: 1px solid var(--border-default-grey);
  }

  li {
    span.regulation-result,
    a {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    span.regulation-result {
      width: 100%;
    }

    span.regulation-result,
    span.regulation-result span.fr-tag {
      flex-direction: column;
    }

    span.regulation-result span.fr-tag {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    a {
      background-image: none;
      padding: 0.25rem 0;
      color: var(--text-action-high-grey);

      &:hover {
        background-color: var(--hover);
      }

      .action-link {
        margin-left: 1.5rem;
        white-space: nowrap;
      }

      .fr-link {
        text-decoration: underline;
        font-weight: 500;
      }

      .undertitle {
        font-size: 0.875rem;
        line-height: 1.5rem;
      }
    }
  }

  @media (width >= 36em) {
    li:not(:last-child) > .summary-link {
      border-bottom: none;
    }

    li {
      span.regulation-result,
      span.regulation-result span.fr-tag {
        flex-direction: row;
      }

      span.regulation-result span.fr-tag {
        margin-top: unset;
      }
    }
  }
}

#moulinette-form {
  counter-reset: steps;

  #form-group-address label,
  label.step {
    &::before {
      counter-increment: steps;
      content: counter(steps) " "; /* stylelint-disable-line */
      font-size: 2rem;
      font-weight: bold;
      margin-right: 0.25rem;
    }
  }

  p.hint-header {
    color: var(--text-default-info);
  }

  .form-section {
    margin-bottom: 1.5rem;
    background-color: var(--background-default-grey);
    padding: 1.25rem;
    border-radius: 5px;

    .fr-fieldset:last-child {
      margin-bottom: 0;
    }
  }

  #form-group-created_surface,
  #form-group-final_surface {
    & > label {
      font-weight: 600;

      .fr-hint-text {
        font-weight: initial;
        font-size: 1rem;
        color: inherit;
      }
    }
  }

  #form-section-coords .label-content {
    font-weight: normal !important;
  }

  #form-section-map {
    padding-bottom: 0;
  }

  #form-group-address .optional-tag,
  #form-group-final_surface .optional-tag {
    display: none;
  }

  #additional-forms.unbound {
    background-color: var(--blue-france-950-100-hover);
    padding: 1rem;

    .fr-input-group--error {
      &::before {
        background-image: none;
      }

      .fr-fieldset--error,
      .fr-fieldset__legend {
        background-image: none;
        color: var(--text-default-grey);
      }

      .fr-label {
        color: var(--text-default-grey);

        --border-plain-error: var(--background-action-high-blue-france);
      }

      .fr-error-text {
        display: none;
      }

      .fr-input {
        box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
      }
    }
  }

  #optional-forms {
    padding: 0;

    /* Accordion */
    &.fr-accordion::before {
      box-shadow: none;
    }

    .fr-accordion__btn {
      color: inherit;
      font-weight: normal;
      padding: 1.25rem 1.25rem 0.25rem;

      &[aria-expanded="true"] {
        background-color: var(--background-default-grey);
      }

      &::after {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    #option-count-wrapper {
      padding: 0.5rem 1.25rem;
      display: block;

      &.no-options {
        padding-bottom: 0.25rem;

        .fr-badge--blue-ecume {
          color: transparent;
          background-color: transparent;
          font-size: 0;
        }
      }
    }

    &.fr-accordion .fr-collapse--expanded {
      padding: 1.25rem;
    }

    label small {
      font-style: italic;
      color: var(--text-mention-grey);
    }

    .optional-form {
      .fr-input-group[id$="activate"] span.label-content {
        font-weight: bold;
      }

      & > .fr-fieldset {
        display: none;
        margin-left: 0;
        padding-left: 2rem;

        .fr-input-group:not(:last-child) {
          border-bottom: 1px solid var(--border-default-grey);

          & > .fr-fieldset {
            margin-bottom: 1rem;
          }
        }
      }

      &:not(:last-child) {
        & > .fr-fieldset {
          margin-bottom: 1rem;
        }
      }

      &.active > fieldset {
        display: inherit !important;
      }
    }
  }
}

section.regulation {
  h2 {
    display: flex;
    align-items: end;
    flex-wrap: wrap;

    span.content {
      margin-right: 0.5em;

      .undertitle {
        font-weight: normal;
        font-size: 65%;
      }
    }

    span.fr-tag {
      white-space: nowrap;
      margin-bottom: -0.125rem;
    }
  }

  button.read-more-btn {
    display: block;
    text-decoration: underline;
    padding-left: 0;
  }

  .fr-content-media__caption {
    div.sources {
      display: inline;
    }

    ul.source-list {
      margin: 0;
      padding: 0;
      display: inline;

      li {
        display: inline;
        list-style-type: none;
        padding-bottom: 0;
      }

      li + li::before {
        content: ", ";
      }
    }
  }

  .fr-accordion {
    .fr-accordion__btn {
      flex-flow: row wrap;
      color: inherit;
      justify-content: space-between;

      span.title .perimeter {
        font-weight: 300;
        color: var(--grey-925-100);
      }
    }

    @media (width < 36em) {
      .fr-accordion__btn {
        flex-direction: column;
      }
    }

    .fr-accordion__btn[aria-expanded="true"] {
      background-color: var(--hover-tint);

      --hover: inherit;
      --active: inherit;

      &:hover {
        background-color: var(--active-tint);
      }
    }
  }

  .more.fr-collapse > *:first-child {
    margin-top: 1.5rem;
  }

  &.regulation-disabled {
    h2,
    p {
      color: var(--text-disabled-grey);
    }
  }

  // Increase size contrast for titles hierarchy
  h3 {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  // Cadre lila en pleine largeur sur simu et AR pour petits écrans
  div.alt {
    padding: 1rem !important;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  @media (width >= 48em) {
    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    h4 {
      font-size: 1.375rem;
      line-height: 1.75rem;
    }
  }

  @media (width >= 42em) {
    div.alt {
      padding: unset;
      margin-left: unset;
      margin-right: unset;
    }
  }

  figcaption {
    text-align: left;
  }

  div.criteria {
    h3 {
      padding-left: 1.5rem;
    }

    figure {
      margin-bottom: 0;
    }

    .fr-tag.probability-non_disponible {
      visibility: hidden;
    }
  }
}

section.debug {
  h3 small {
    font-size: 1rem;
    font-weight: normal;
    color: var(--text-mention-grey);
  }
}

/**
 * Forms
 **/
form {
  fieldset {
    border: none;
    padding: 0;

    legend {
      width: 100%;
      padding: 0;
    }
  }

  i.optional-tag {
    font-size: 0.75rem;
    color: var(--text-mention-grey);
  }

  .formset {
    & + .formset {
      margin-top: 2rem;
    }

    .formset-header {
      margin-bottom: 0;
      background-color: var(--bf100-g750);
      color: var(--g700);
      box-shadow: 0 1px 0 0 var(--g300);
      padding: 0.5rem 1rem;
    }

    .formset-field {
      padding-top: 0;
    }
  }

  // Custom input[type=file] styling
  // See https://codepen.io/Scribblerockerz/pen/qdWzJw
  div.input-file-box {
    position: relative;

    input[type="file"] {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      opacity: 0;
    }

    div.input-file-widget {
      max-height: unset;
      padding: 1.5rem;

      .icon {
        display: block;
        float: left;
        margin-right: 1rem;
      }

      label.box-msg {
        display: block;
      }

      #success-box-msg {
        display: none;
      }
    }

    input[type="file"]:focus + div.input-file-widget {
      outline-color: var(--focus);
      outline-offset: 2px;
    }

    // When a file has been selected
    input[type="file"]:valid + div.input-file-widget {
      #default-box-msg {
        display: none;
      }

      #success-box-msg {
        display: block;
      }
    }
  }
}

/**
 * Custom display of the evaluation request contact form
 */
form#request-evaluation-form {
  fieldset legend {
    color: #666;
  }

  div.right-button {
    text-align: right;
  }

  #form-group-additional_files {
    .fr-hint-text {
      color: var(--info-425-625);
      margin-bottom: 1rem;
    }
  }

  &[data-user-type="instructor"] {
    &[data-send-eval="false"] {
      .only-if-send-eval-checked {
        display: none;
      }
    }
  }

  &[data-user-type="petitioner"] {
    fieldset#instructor-fieldset {
      display: none;
    }

    fieldset#petitioner-fieldset legend,
    #element-send_eval_to_project_owner,
    #send-eval-hint {
      display: none;
    }
  }

  #id_send_eval_to_project_owner + .fr-label .fr-hint-text {
    color: var(--info-425-625);
  }

  #id_send_eval_to_project_owner:checked + .fr-label .if-unchecked {
    display: none;
  }

  #id_send_eval_to_project_owner:not(:checked) + .fr-label .if-checked {
    display: none;
  }
}

/**
 * Autocomplete fields
 */
.fr-label + div > .autocomplete__wrapper {
  margin-top: 0.5rem;
}

.autocomplete__wrapper .autocomplete__input {
  border: 0;
  border-radius: space(1v) space(1v) 0 0; /* stylelint-disable-line */
  color: var(--text-label-grey);

  --blend: var(--background-contrast-grey-blend);

  background-color: var(--background-contrast-grey);
  box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
  border-radius: 0.25rem 0.25rem 0 0;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  appearance: none;
  outline-offset: 2px;
  outline-width: 2px;
}

.autocomplete__wrapper .autocomplete__input--focused {
  outline-color: #0a76f6;
}

.autocomplete__wrapper .autocomplete__menu {
  width: calc(100% + 8px);
  border: 2px solid #0a76f6;
  border-top: none;
  margin-top: 4px;
  left: -4px;
}

.fr-input-group--error .autocomplete__wrapper .autocomplete__input {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-error);
}

/**
 * Misc stuff
 */

/**
 * Stupid little helpers
 */

// Smart little trick to fix the aspect ratio of an element
// See https://css-tricks.com/aspect-ratio-boxes/
.ratio-1x1,
.ratio-4x3,
.ratio-2x3,
.ratio-4x5,
.ratio-sm-2x3,
.ratio-sm-4x5,
.ratio-2x1,
.ratio-16x9 {
  width: 100%;
  position: relative;

  &::before {
    content: "";
    display: block;
  }

  .ratio-content {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.ratio-2x3 {
  &::before {
    padding-bottom: 150%;
  }
}

.ratio-4x5 {
  &::before {
    padding-bottom: 125%;
  }
}

.ratio-1x1 {
  &::before {
    padding-bottom: 100%;
  }
}

.ratio-4x3 {
  &::before {
    padding-bottom: 75%;
  }
}

.ratio-16x9 {
  &::before {
    padding-bottom: 56.25%;
  }
}

.ratio-2x1 {
  &::before {
    padding-bottom: 50%;
  }
}

@media (width < 767px) and (aspect-ratio < 2/3) {
  .ratio-sm-2x3 {
    &::before {
      padding-bottom: 150%;
    }
  }

  .ratio-sm-4x5 {
    &::before {
      padding-bottom: 125%;
    }
  }
}

figcaption.fr-content-media__caption .fr-link[target="_blank"]::after {
  margin-left: 0.25rem;
}

div.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;

  div.search-control {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    width: 80%;

    input {
      background-color: white;
    }
  }

  // Fix issue with dsfr adding styles to every single links and thus breaking
  // a lot of stuff.
  // See https://github.com/GouvernementFR/dsfr/issues/264
  div.leaflet-control-zoom a {
    background-image: unset;
    background-size: unset;
    transition: none;
  }

  div.leaflet-control-layers a {
    background-size: 26px 26px;
    transition: none;
  }

  .info {
    padding: 6px 8px;
    background: white;
    background: rgb(255 255 255 / 80%);
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
    border-radius: 5px;
  }

  .info h4 {
    margin: 0 0 5px;
    color: #777;
  }

  .legend {
    line-height: 18px;
    color: #555;
  }

  .legend span {
    display: block;
    margin-bottom: 5px;
  }

  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.alt {
  background-color: var(--background-alt-blue-france);
}

ul.roomy {
  --li-bottom: 1rem;
}

/**
 * Design system issues quickfixes
 **/
.fr-modal {
  textarea {
    resize: vertical;
  }
}

main > .fr-notice {
  .fr-notice__body {
    &::before {
      display: none;
    }

    text-align: center;

    .fr-notice__title {
      font-weight: normal;
    }
  }
}

.img-icon {
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: 0.25rem;

  --icon-size: 1.5rem;
}

button .img-icon {
  --icon-size: 1rem;
}

/**
 * Custom class for an accordion without a "+" button
 */
.fr-accordion {
  &.fr-accordion--no-icon {
    padding-bottom: 0.25rem;

    .fr-accordion__btn::after {
      display: none;
    }

    .read-more-btn {
      padding: 0.75rem 1rem;
    }

    .fr-accordion__btn {
      align-items: baseline;
      flex-direction: row-reverse;
    }

    .fr-accordion__btn span.fr-tag {
      white-space: nowrap;
    }

    .fr-accordion__title span.title {
      margin-right: 1rem;
    }
  }
}

button[data-fr-js-collapse-button="true"] {
  &[aria-expanded="false"] span.expanded-label {
    display: none;
  }

  &[aria-expanded="true"] span.concealed-label {
    display: none;
  }
}

// Don't force a 16:9 ratio on images
.fr-content-media {
  .fr-responsive-img {
    aspect-ratio: unset;
  }
}

// Remove double margins below images with captions
figcaption :last-child {
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}

.fr-alert--soft-warning {
  box-shadow:
    inset 0 0 0 1px #fcc63a,
    inset 2.5rem 0 0 0 #ffca00;

  &.fr-alert--sm p:last-child {
    margin-bottom: inherit;
  }
}

.fr-stepper {
  margin-bottom: 3rem;
}

// Sometimes, you cannot set the `fr-callout__text` class on a `p` tag
// so you have to wrap it around a `div` tag.
div.fr-callout__text {
  p {
    font-size: inherit;
    line-height: inherit;
  }
}

/**
 * Dropzone bad css design fixes
 *
 * The dropzone lib makes it difficult to style a upload field
 * inside a complete dropzone form.
 */
form.dropzone {
  min-height: unset;
  border: unset;
  border-radius: none;
  padding: unset;

  &.dz-drag-hover {
    border-style: none;
  }

  div#has-errors-warning {
    display: none;
  }

  &.has-errors {
    div#has-errors-warning {
      display: inherit;
    }
  }

  #max-files-exceeded-alert {
    display: none;
  }

  &.dz-max-files-reached {
    #max-files-exceeded-alert {
      display: inherit;
    }

    .dz-button {
      display: none;
    }

    .dropzone {
      pointer-events: none;
      cursor: default;
      border-color: var(--border-disabled-grey);

      .dz-preview {
        pointer-events: auto;
        cursor: auto;
      }
    }
  }

  div.dz-error .dz-image {
    border: 2px dashed red;
  }

  .dz-preview .dz-error-message {
    top: 150px !important;
  }

  .dz-preview .dz-remove {
    background-image: none;
  }

  .dz-preview .dz-progress {
    top: 70%;
  }

  .dz-clickable .dz-button .fr-link {
    text-decoration: underline;
  }

  .dz-clickable .dz-button .fr-link:hover {
    font-weight: bold;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner::before {
  display: inline-block;
  animation: spinner 2s linear infinite;
}

.card-steps {
  .fr-card__desc {
    margin-top: 0;
  }
}

div.hero-alt {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 1.5rem;
}

// moulinette result page styles
$content-max-width: 40rem;

.moulinette-result-body {
  #content {
    display: flex;
    flex-flow: column;
  }

  #after_result_content {
    order: 2;
  }

  #action-banner {
    @media (height > 20rem) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1000;
    }
  }

  .fr-sr-only {
    position: fixed; // to avoid the element to break the whole scroll flow in Chrome
  }

  #project-summary {
    background-color: var(--info-975-75);
    padding-top: 3rem;
    padding-bottom: 5rem;

    & > section {
      max-width: 36rem;
      margin: 0 auto;
      padding: 0 1em;
    }

    .button-container {
      text-align: left;
      margin-left: -1rem;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    #moulinette-form figure.fr-content-media {
      position: relative;
    }

    #map-refresh-button {
      transition: opacity 0.4s ease-in-out 0s;
      opacity: 0;
      pointer-events: none;
      z-index: 1000;
      position: absolute;
      right: 1.5em;
      top: 13em;
      background-color: var(--grey-1000-50);
    }

    #map-refresh-button.display {
      opacity: 1;
      pointer-events: auto;
    }

    #map-refresh-button:hover:not(:disabled) {
      background-color: var(--background-default-grey-hover);
    }
  }

  #project-result,
  #after_result_content {
    & > section {
      max-width: $content-max-width;
      margin: 0 auto;
    }

    .fr-btns-group {
      margin: 0;
    }
  }

  footer#footer {
    padding-bottom: 5rem;
  }

  // Crisp chat button
  a.cc-1m2mf {
    border: 2px solid var(--background-default-grey) !important;
  }
}

@media only screen and (width > 991px) {
  // compute some variables for big screen layout
  $fr-container-max-width: 78rem;
  $sidebar-width: min(calc(400% / 12), calc($fr-container-max-width / 3));
  $main-column-width: min(
    calc(800% / 12),
    calc(2 * $fr-container-max-width / 3)
  );
  $result-width: min($main-column-width, $content-max-width);
  $container-margin-x: max(calc((100vw - $fr-container-max-width) / 2), 0rem);
  $main-column-margin-left: calc($container-margin-x + $sidebar-width);
  $result-margin-left: calc(
    $main-column-margin-left + ($main-column-width - $result-width) / 2
  );

  .moulinette-result-body {
    height: 100%;
    padding-bottom: 5rem;

    main {
      height: 100%;
      position: relative;
    }

    #project-result {
      & > section#project-result-top-bar {
        margin-left: $main-column-margin-left;
        max-width: inherit;
      }

      & > section#project-result-content {
        margin: 0 0 0 $result-margin-left;
      }
    }

    #project-summary {
      margin-left: $container-margin-x;
      width: $sidebar-width;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      padding-top: 5rem;
    }

    #after_result_content {
      margin-left: $main-column-margin-left;

      & > section {
        margin-left: 6rem;
      }

      div.fr-follow {
        max-width: 52rem;
      }
    }

    footer#footer {
      margin-left: $main-column-margin-left;
      max-width: $main-column-width;
      padding-bottom: 5rem;
    }

    #project-summary,
    #project-result {
      height: 100%;
      overflow-y: scroll;
      flex-wrap: nowrap;
      scroll-behavior: smooth;
    }
  }
}

// For print, move the project summary above the project result
@media only print {
  .moulinette-result-body #content {
    display: flex;
    flex-flow: column;

    #project-summary {
      order: 1;
    }

    #project-result {
      order: 2;
    }
  }
}

footer {
  padding-top: 0;
  box-shadow: initial;
  z-index: 1000; // to be above the leaflet map
}

#action-banner {
  background-color: var(--blue-france-sun-113-625);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;

  @media print {
    display: none;
  }

  .banner-item {
    flex: 0 1 auto;
    text-align: left;
  }

  #feedback-form {
    display: flex;
    align-items: center;
    justify-content: center;

    > p {
      color: #fff;
      margin: 0 1em 0 0;
    }
  }

  #copy-btn-container {
    #copy-btn {
      position: relative;
    }

    #btn-clicked-message {
      position: absolute;
      top: 9px;
      right: -70%;
      color: #fff;
      align-items: center;
      transition: opacity 0.5s ease-out;
      opacity: 0;

      img {
        height: 1em;
      }
    }
  }
}

/**
 * Impression
 */

.print-only {
  display: none;
}

@media print {
  // Reduce font size to a more compact print
  :root {
    font-size: 85%;
  }

  // Use the entire page width
  #main-container article {
    width: 100%;
    max-width: 100%;
    flex: 1;
  }

  // Hide common template elements
  body > header,
  body > footer,
  #top-bar,
  .hide-print {
    display: none;
  }

  // Make sure accordion content is visible
  .fr-accordion__title .fr-accordion__btn {
    font-weight: bold;
  }

  .fr-collapse {
    --collapse-max-height: 0;
    --collapse: auto;
    --collapser: "";

    overflow: auto;
    max-height: auto;
    max-height: inherit;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .fr-collapse::before {
    display: none;
  }

  .fr-collapse:not(.fr-collapse--expanded) {
    visibility: visible;
  }

  .fr-collapse:not(.fr-collapse--expanded)::before {
    margin-top: 0;
  }

  // Some little quirks
  section.regulation button.read-more-btn {
    display: none;
  }

  // Prevent map and images to take up the entire page
  .fr-content-media {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  // Hide the useless arrow icon for external links
  .fr-link[target="_blank"]::after {
    display: none;
  }

  // Underline links in pdf
  a {
    text-decoration: underline;
  }

  // for all links but anchors : display in blue with the url in parenthesis
  a:not([href^="#"]) {
    color: linktext;
  }

  a:not([href^="#"], .no-href-print)::after {
    content: " (" attr(href) ") ";
  }

  a:not([href^="#"])::after {
    // these styles are necessary to override some dsfr styles
    mask-size: auto;
    mask-image: none;
    background-color: inherit;

    --icon-size: inherit;

    display: inherit;
  }

  // Make sure leaflet controls are not printed
  .leaflet-control {
    display: none;
  }

  // Enforce background color for tags
  .fr-tag {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print-only {
    display: inherit;
  }

  .moulinette-result-body {
    .fr-grid-row {
      display: block;
    }

    .fr-grid-row > div {
      width: unset;
      max-width: unset;
    }

    #moulinette-result-container {
      overflow: inherit;
    }

    #map-container .leaflet-control-container {
      display: none;
    }
  }
}

.fr-header {
  @media (width >= 62em) {
    .fr-header__logo {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  img.fr-header__brand-top {
    width: 100%;
    max-width: 6rem;
    flex: 1;
    padding: 0.25rem;
    margin-right: 1rem;
    min-width: 3.5rem;
  }

  .fr-header__service {
    margin-left: 0;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .fr-nav__link,
  .fr-nav__btn {
    padding: 0.75rem 1rem;
    min-height: 2rem;
  }

  .fr-header__brand-top {
    width: auto;
  }

  &.header-slim {
    .fr-nav__btn {
      // slimify nav buttons
      min-height: 1rem;
      padding: 0 1rem;
    }

    @media (width >= 62em) {
      .fr-header__body-row {
        // padding 0 because this class is used in both Envergo and Haie Header-Slim
        padding: 0;
        line-height: 1rem;
      }

      .fr-btns-group {
        // padding 0.5 for fr-btns-group in Envergo Slim-Header
        padding: 0.5rem 0;
      }

      .fr-header__service {
        padding: 0.625rem 1rem;
      }

      img {
        max-height: 2rem;
      }
    }

    /**
     * The main cta must be displayed like a classic button.
     */
    .fr-btn.main-cta {
      background-color: var(--background-action-high-blue-france);
      color: var(--text-inverted-blue-france);

      --hover: var(--background-action-high-blue-france-hover);
      --active: var(--background-action-high-blue-france-active);

      &:hover {
        background-color: var(--hover-tint);
      }

      &:active {
        background-color: var(--active-tint);
      }
    }
  }

  // Makes the header stick at the top of the page
  &.header-sticky {
    position: sticky;
    top: 0;
    z-index: 2000;

    .fr-btn:not(.fr-btn--menu) {
      // Dsfr style for this selector is weirdly specific
      // So !important is necessary to override it
      font-size: 0.875rem !important;
      line-height: 1.5rem !important;
      min-height: 2rem !important;
      padding: 0.25rem 0.75rem !important;
    }
  }

  // Makes a new header show when the page is crolled down
  // and the top header leaves the viewport
  &.header-popup {
    // We can't use `display: none` here because this messes with the
    // smooth scrolling behavior.
    // Displaying a new element in the middle of a scroll animation interrupts it

    // Since the header also "pops" into existence when the user scrolls, we use
    // `position: fixed` instead of `position: sticky` to avoir content jumping
    // effects and smooth-scrolling issues
    position: fixed;
    top: 0;
    transform: translate3d(0, -200%, 0);
    visibility: hidden;
    transition: all 0.2s ease-in-out;

    @media (width >= 62em) {
      &.displayed {
        top: 0;
        transform: translate3d(0, 0, 0);
        visibility: visible;

        &.hidden-downscroll {
          // only displayed when up scroll
          transform: translate3d(0, -100%, 0);
        }
      }
    }
  }
}

.fr-callout.evaluation-comment {
  .fr-callout__title {
    font-size: 1.375rem;
  }

  .fr-callout__text {
    font-size: inherit;
    line-height: inherit;
  }
}

// Home page styles
main.home {
  div#before-content.fr-mt-5w {
    margin-top: 0 !important;
  }

  section#hero {
    background-color: var(--background-alt-grey);

    .fr-container {
      padding-top: 2rem;
      padding-bottom: 2rem;

      &::after {
        content: "";
        display: block;
        clear: both;
      }

      @media (width >= 48em) {
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      @media (width >= 48em) {
        padding-top: 4rem;
        padding-bottom: 4rem;
      }
    }

    .home-illustration {
      width: 100%;
      max-width: 420px;
      margin: 0 auto;

      img {
        max-width: 100%;
      }

      @media (width >= 48em) {
        float: right;
        max-width: 320px;
        margin-left: 2rem;
        margin-top: -2.5rem;
      }

      @media (width >= 62em) {
        max-width: 420px;
        margin-left: 2.5rem;
        margin-top: 0;
      }

      @media (width >= 78em) {
        max-width: 480px;
        margin-left: 3rem;
      }
    }
  }

  section#decouvrir {
    abbr {
      text-decoration-style: dotted;
      text-decoration-color: var(--text-mention-grey);
      text-decoration-thickness: 2px;
    }

    a.fr-icon-arrow-down-line::before {
      margin-right: 0.5rem;
    }

    @media (width >= 78em) {
      div.fr-col:first-child {
        padding-right: 4.5rem !important;
      }

      div.fr-col:last-child {
        padding-left: 4.5rem !important;
      }
    }
  }

  section#simulateur {
    background-color: var(--info-950-100);

    h2 {
      text-align: center;
      color: var(--blue-france-sun-113-625);
      margin-bottom: 3rem;
    }

    #liability-warning {
      padding: 0 1rem;
    }
  }
}

// Geometricians landing page styles
:root[data-fr-theme="dark"] main.geometricians {
  section#hero {
    background: linear-gradient(248deg, #1b1b35 100%, #4a4a7d 100%);
  }
}

main.geometricians {
  img {
    max-width: 100%;
  }

  section#hero {
    background: linear-gradient(248deg, #000091 0%, #6a6af4 100%);

    h1,
    .fr-text {
      color: #fff;
    }

    .fr-btn--secondary {
      background-color: var(--grey-1000-50);
    }

    .fr-btn--secondary:hover {
      background-color: var(--background-default-grey-hover);
    }

    #rounded-hero {
      display: block;
      margin-top: -10%;

      path {
        fill: var(--grey-1000-50);
      }
    }

    #geometrician-illustration {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
    }
  }

  section#simulateur {
    background-color: var(--info-950-100);
  }

  h2 {
    text-align: center;
  }

  section#advantages h2 {
    text-align: inherit;
  }

  section#webinar {
    background-color: var(--grey-975-100);

    #webinar-img-container {
      text-align: center;
    }

    img {
      max-width: 100%;
      max-height: 20em;
      border-radius: 0.3em;
    }
  }

  section#faq-section {
    .fr-callout {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--background-contrast-grey);
    }

    .fr-callout:hover {
      background-color: var(--background-contrast-grey-hover);
    }

    span {
      color: var(--blue-france-sun-113-625-hover);
    }

    #faq-link {
      display: block;
      margin: 0 auto;
    }
  }

  section#properties {
    .fr-grid-row--center div {
      text-align: center;

      img {
        margin: 0 auto;
      }
    }
  }
}

.moulinette {
  .fr-input,
  .autocomplete__input {
    --background-contrast-grey: var(--grey-975-100);
  }

  // Single column moulinette form layout
  .fr-input-group-map {
    figure {
      margin-top: 0;
      margin-bottom: 0;
    }

    @media (width >= 62em) {
      #map-container {
        margin-left: -5rem;
        margin-right: -5rem;
        width: calc(100% + 10rem);
      }
    }
  }

  div.submit-section {
    button {
      display: block;
      margin: 3rem auto 0;
    }

    .submit-feedback-hint-text {
      display: block;
      margin: 1rem auto 0;
      text-align: center;
    }
  }
}

li.btn-link {
  margin-left: auto;
  display: flex;
  justify-content: center;
}

// Missing classes from the dsfr
@media (width >= 62em) {
  .fr-ml-lg-0 {
    margin-left: 0 !important;
  }
}

img.moulinette-incentive-img {
  max-height: 120px;
}

@media (width >= 48em) {
  .card--horizontal-1-5 .fr-card__header {
    width: 20%;
    flex: 0 0 20%;
  }

  img.moulinette-incentive-img {
    max-height: unset;
  }
}

.responsive-img,
.fr-card--horizontal .fr-card__img img.responsive-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

.fr-label--warning {
  color: var(--text-default-warning);
}

.fr-icon-hourglass-2-fill::before {
  mask-image: url("/static/images/hourglass-2-fill.svg");
}

.dark-only {
  display: none !important;
}

:root[data-fr-theme="dark"] {
  .dark-only {
    display: inherit !important;
  }

  .light-only {
    display: none !important;
  }
}

.centered {
  text-align: center;
}

main.contrast-bg {
  background-color: var(--info-950-100);
}

#top-bar {
  filter: drop-shadow(var(--raised-shadow));

  .fr-notice__title {
    flex: 1;
  }
}

.title-line {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

#self-declaration-cta {
  margin: 3rem auto;

  div.fr-notice__body {
    padding-right: 0;

    p {
      font-weight: normal;
      font-size: 90%;
    }
  }
}

main.demos {
  span.fr-tag.surface {
    font-family: Graduate, monospace;
  }

  .info {
    padding: 6px 8px;
    font:
      14px/16px Arial,
      Helvetica,
      sans-serif;
    background: white;
    background: rgb(255 255 255 / 80%);
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
    border-radius: 5px;
  }

  .info h4 {
    margin: 0 0 5px;
    color: #777;
  }

  .legend {
    line-height: 18px;
    color: #555;
  }

  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }

  .share-btn {
    text-align: center;
  }
}

// Some dsfr related fixes
.fr-hint-text a.fr-link:has(+ span.fr-tooltip) {
  font-size: inherit;
}

// Fix issues with the leaflet icon detection
// This is code copied from the https://github.com/ghybs/leaflet-defaulticon-compatibility plugin
.leaflet-default-icon-icon {
  background-image:
    url("/static/images/marker-icon.png"),
    url("/static/images/marker-icon-2x.png");

  /* normal[, Retina] */
  cursor:
    url("/static/images/marker-icon.png"),
    url("/static/images/marker-icon-2x.png"), auto;

  /* normal[, Retina], auto for compliance with cursor syntax */
  width: 25px;
  height: 41px;
  margin: -41px -12px;

  /* margin top and left to reversely position iconAnchor */
}

.leaflet-default-icon-shadow {
  background-image: url("/static/images/marker-shadow.png");

  /* normal[, Retina] */
  cursor: url("/static/images/marker-shadow.png"), auto;

  /* normal[, Retina], auto */
  width: 41px;
  height: 41px;
  margin: -41px -12px;

  /* margin top and left to reversely position shadowAnchor */
}

.leaflet-default-icon-popup {
  margin: -34px 1px;

  /* margin top and left to position popupAnchor */
}

.leaflet-default-icon-tooltip {
  margin: -28px 16px;

  /* margin top and left to position tooltipAnchor, even if direction 'bottom' or 'right' */
}

/**
  * Handle the form display, along with the help sidebars
  */
#content {
  height: 100%;

  .help-sidebar-label {
    display: flex;
    align-items: center;
  }

  .help-sidebar-button {
    display: none; // TODO remove to reactivate the feature
    max-width: 2rem;
    max-height: 2rem;

    --help-sidebar-btn-color: #6a6af4;
    --hover-tint: transparent;
    --active-tint: transparent;

    &:hover {
      --help-sidebar-btn-color: #000091;
    }

    &:active {
      --help-sidebar-btn-color: #000091;
    }

    &::before {
      --icon-size: 1.2em;

      color: var(--help-sidebar-btn-color);
    }
  }

  .help-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--background-raised-grey);
    padding: 1.5rem;
    height: 100%;
    overflow-y: scroll;
    border: none;
    margin-right: 0;
    filter: drop-shadow(var(--raised-shadow));
    z-index: 3000;

    // Prevent the main body to scroll when we scroll the sidebar
    // This way, we have two sections than can scroll independently
    overscroll-behavior: contain;

    .sidebar-content {
      max-width: 440px;

      // This is a hack
      // The `overscroll-behavior` property prevents the main body to scroll,
      // but it only works when there is a scrollbar on the sidebar.
      // So we force a height > 100% to make sure the content overflows and a
      // scrollbar appears.
      // (I'm feeling like a mad genius right now.)
      min-height: calc(100% + 1px);

      img {
        max-width: 100%;
      }
    }

    @media (width >= 36em) {
      width: 50%;
    }

    @media (width >= 48em) {
      width: 40%;
    }
  }
}

#moulinette-grid {
  display: flex;

  #moulinette-col {
    display: flex;
    justify-content: center;

    #moulinette,
    #triage {
      max-width: 36rem;

      @media (width < 20em) {
        #map-container {
          &::before {
            // switch from ratio 16x9 to ratio 4x3 when width < 320px/20em
            padding-bottom: 75%;
          }
        }
      }
    }
  }

  &:not(.sidebar-open) {
    justify-content: center;
  }

  &.sidebar-open {
    #moulinette-col {
      @media (width >= 48em) {
        max-width: 60%;
        padding-right: 1.5rem;
      }
    }
  }
}

#evaluation-eligibility {
  background-color: var(--grey-975-100);

  > div {
    display: flex;
    margin-top: 1rem;

    div {
      margin-right: 1rem;
    }
  }

  .items-list {
    line-height: 1.25rem;
    margin-bottom: 0;

    li:last-child {
      padding-bottom: 0;
    }
  }
}

.green-check {
  color: var(--success-425-625);
}

#moulinette-title {
  max-width: 600px;
  margin: 1.5rem auto;
}

#moulinette-subtitle {
  max-width: 700px;
  margin: 2rem auto;
}

#demarche-simplifiee-form {
  color: var(--text-inverted-blue-france);
  min-width: 360px;
}

#demarche-simplifiee-banner-btn {
  box-shadow: inset 0 0 0 1px var(--blue-france-975-75);
}

#department-search-title {
  color: var(--blue-france-sun-113-625);
}

#contacts_and_links {
  background-color: var(--grey-975-100);
}

// override the dsfr styles for the newsletter form
.fr-follow {
  .fr-follow__newsletter .fr-label {
    position: static;
    width: auto;
    height: auto;
    padding: initial;
    margin: initial;
    overflow: visible;
    clip: auto;
    white-space: normal;
    border: initial;
    display: block;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .fr-grid-row > :first-child:last-child > div {
    justify-content: space-around;
  }

  .fr-follow__newsletter form {
    width: 350px;
    max-width: 100%;

    button {
      margin-left: auto;
      display: block;
    }
  }
}

.inline-button {
  cursor: pointer;
  text-decoration: var(--text-decoration);
  color: inherit;

  --hover-tint: var(--idle);
  --active-tint: var(--active);

  background-image: var(--underline-img), var(--underline-img);
  background-position:
    var(--underline-x) 100%,
    var(--underline-x) calc(100% - var(--underline-thickness));
  background-repeat: no-repeat, no-repeat;
  transition: background-size 0s;
  background-size:
    var(--underline-hover-width) calc(var(--underline-thickness) * 2),
    var(--underline-idle-width) var(--underline-thickness);
}

.inline-button:hover,
.inline-button:active {
  --underline-hover-width: var(--underline-max-width);
}

article#evaluation {
  max-width: 38rem;
}

.icon-spinner {
  &::before,
  &::after {
    animation: rotate-spinner 1200ms linear infinite;
    mask-image: url("../icons/sun.svg");

    @keyframes rotate-spinner {
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.fr-badge.icon-only-badge::before {
  margin: 0;
}

.fr-badge.badge--lg {
  font-size: 1rem;
  line-height: 1.75rem;
  padding: 0 0.75rem;
}

section#actions-to-take {
  .actions-to-take-title {
    display: flex;
    align-items: center;
  }

  hr {
    margin: 1.5rem 0;
    padding-bottom: 1px;
  }

  #self-declaration-cta {
    margin: auto;
    background-color: transparent;
    padding: 0;

    .fr-container {
      padding: 0;
    }
  }

  .fr-tabs {
    border-bottom: 1px solid var(--border-default-grey);

    &::before {
      background-color: var(--background-default-grey);
    }
  }

  .action-section-title {
    display: none;
  }

  div.action-wrapper:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  p,
  div {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  section.action-to-take {
    .action-pc-list {
      font-size: 12px;
    }

    .action-btn {
      font-weight: normal;
      background-color: var(--background-action-low-blue-france);
      min-height: unset;
      padding: 0 0.5rem;
      text-align: left;
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin: var(--text-spacing);
    }
  }

  // Display all tabs for print
  @media only print {
    background-color: inherit;
    padding: 0;

    .fr-tabs {
      display: block;
      overflow: inherit;
      position: static;
      height: auto;

      &::before {
        content: "";
        display: inline;
      }

      hr,
      &__list,
      .action-learn-more-link {
        display: none;
      }

      .action-section-title {
        display: block;
        color: var(--text-active-blue-france);
      }

      &__panel {
        position: static;
        padding: 1rem;

        &:not(.fr-tabs__panel--selected) {
          visibility: visible;
        }

        &--direction-end {
          transform: translate(0);
        }
      }

      section#actions-to-take hr {
        margin: 0;
      }
    }
  }
}

.alt-light {
  background-color: var(--yellow-tournesol-975-75);
}

.form-actions {
  text-align: right;
}
