fieldset.recipients {
  margin-bottom: 1rem;
}

.module ul.rr-preview {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    margin: 0;
  }
}

.rr-content {
  margin-top: .5rem;

  .mail-content {
    width: 800px;
    max-width: 800px;
    margin: auto;
  }
}

ul.messagelist li ul {
  padding-left: 1rem;

  li {
    margin: 0;
    padding: 0;
    background: unset;
    background-size: unset;
    color: inherit;
  }
}

.vTextField {
  width: 40em !important;
}
