$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

:root {
  // Bump default font size from 16 to 18px.
  font-size: 112.5%;
  scroll-behavior: smooth;
}

html.nojs .js {
  display: none !important;
}

// Make sure the :target element is not hidden behind the sticky header
// Note: not all pages have a sticky header, but fortunately, right now,
// all pages with target links do.
@media (min-width: 62em) {
  html {
    scroll-padding-top: 4rem;
    /* height of sticky header */
  }
}

/**
 * Useful components
 */
.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

/**
 * Update some margins for paragraphs and lists
 */
article {
  --li-bottom: .5rem;
  --text-spacing: 0 0 1rem;

  ul {
    margin-bottom: 1rem;
  }

  li p {
    margin-bottom: .5rem;
  }
}

.probability {
  text-transform: uppercase;
  font-weight: bold;
  color: black;

  &.probability-non_soumis,
  &.probability-non_concerne,
  &.probability-1 {
    background-color: #b1f0bd;
  }

  &.probability-non_disponible,
  &.probability-non_applicable,
  &.probability-non_active,
  &.probability-2 {
    background-color: #d5dbef;
  }

  &.probability-action_requise,
  &.probability-a_verifier,
  &.probability-iota_a_verifier,
  &.probability-3 {
    background-color: #fee7a0;
  }

  &.probability-soumis,
  &.probability-systematique,
  &.probability-4 {
    background-color: #ffb7a5;
  }

  &.probability-cas_par_cas {
    background-color: #ffd3a6;
  }

  &.probability-interdit {
    background-color: #ff5150;
    color: white;
  }

  &.probability-missing {
    background-color: purple;
  }
}

#probability-gauge {
  margin-bottom: 1.5rem;

  svg {
    background-color: white;
    padding: .75rem;
  }

  circle {
    fill: none;
  }
}

#moulinette-container {

  max-width: none;

  div.fr-grid-row {
    justify-content: flex-start;
  }

  #form-col {
    width: 100%;
    order: 2;
  }

  #content-col {
    order: 1;
  }

  article>img {
    max-height: 11.25rem;
    margin: 0 auto 1.5rem auto;
    display: block;
  }

  #feedback-form {
    position: sticky;
    top: 3rem;

    #feedback-trigger {
      .callout-buttons {
        text-align: right;
      }
    }
  }


  .share-btn {
    text-align: center;
  }

  @media (min-width: 1144px) {

    #form-col {
      flex: 0 0 calc(400% / 12);
      width: calc(400% / 12);
      max-width: 520px;
      padding: 0 16px 0 8px;
      order: 1;
    }

    #content-col {
      flex: 0 0 calc(800% / 12);
      width: calc(800% / 12);
      max-width: 820px;
      padding: 0 8px 0 16px;
      order: 2;
    }
  }

  @media (min-width: 1248px) {
    padding: 0 3rem;

    #form-col {
      padding: 0 24px;
      max-width: 548px;
    }

    #content-col {
      padding: 0 24px;
      max-width: 723px;
      margin: 0 auto;
    }
  }

}

nav#evaluation-summary {
  li a {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-image: none;
    padding: .25rem 0;
    color: var(--text-action-high-grey);

    &:hover {
      background-color: var(--hover);
    }

    .action-link {
      margin-left: 1.5rem;
      white-space: nowrap;
    }

    .fr-link {
      text-decoration: underline;
      font-weight: 500;
    }
  }
}

#moulinette-form {

  counter-reset: steps;

  label.step,
  label[for=id_address] {

    &::before {
      counter-increment: steps;
      content: counter(steps) " ";
      font-size: 2rem;
      font-weight: bold;
      margin-right: .25rem;
    }
  }

  p.hint-header {
    color: var(--text-mention-grey);
  }

  #form-group-created_surface,
  #form-group-final_surface {
    &>label {
      font-weight: 600;

      .fr-hint-text {
        font-weight: initial;
        font-size: 1rem;
        color: inherit;
      }
    }
  }

  #form-group-address .optional-tag,
  #form-group-final_surface .optional-tag {
    display: none;
  }

  #additional-forms.unbound {
    background-color: #fef7da;
    padding: 1rem;

    .fr-input-group--error {

      &::before {
        background-image: none;
      }

      .fr-fieldset--error,
      .fr-fieldset__legend {
        background-image: none;
        color: var(--text-default-grey);
      }

      .fr-label {
        color: var(--text-default-grey);
        --border-plain-error: var(--background-action-high-blue-france);
      }

      .fr-error-text {
        display: none;
      }

      .fr-input {
        box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
      }
    }
  }
}

section.regulation {

  h2 {
    display: flex;
    align-items: center;

    &:before {
      content: "• ";
    }

    span.content {
      margin-right: .5em;
      white-space: nowrap;
    }

    span.fr-tag {
      margin-top: .75em;
      white-space: nowrap;
    }
  }

  button.read-more-btn {
    display: block;
    text-decoration: underline;
    padding-left: 0;
  }

  .fr-content-media__caption {
    div.sources {
      display: inline;
    }

    ul.source-list {
      margin: 0;
      padding: 0;
      display: inline;

      li {
        display: inline;
        list-style-type: none;
        padding-bottom: 0;
      }

      li+li::before {
        content: ", ";
      }
    }
  }

  .fr-accordion {
    .fr-accordion__btn {
      color: inherit;
    }

    .fr-accordion__btn[aria-expanded="true"] {
      background-color: var(--hover-tint);
      --hover: inherit;
      --active: inherit;

      &:hover {
        background-color: var(--active-tint);
      }
    }
  }

  .more.fr-collapse>*:first-child {
    margin-top: 1.5rem;
  }

  &.regulation-disabled {

    h2,
    p {
      color: var(--text-disabled-grey);
    }
  }

  // Increase size contrast for titles hierarchy
  h3 {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @media (min-width: 48em) {
    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    h4 {
      font-size: 1.375rem;
      line-height: 1.75rem;
    }
  }

  figcaption {
    text-align: left;
  }

  div.criteria {

    h3 {
      padding-left: 1.5rem;
    }

    figure {
      margin-bottom: 0;
    }

    .fr-tag.probability-non_disponible {
      visibility: hidden;
    }
  }
}

section.debug {
  h3 small {
    font-size: 1rem;
    font-weight: normal;
    color: var(--text-mention-grey);
  }
}

/**
 * Forms
 **/
form {
  fieldset {
    border: none;
    padding: 0;

    legend {
      width: 100%;
      padding: 0;
    }
  }

  i.optional-tag {
    font-size: 0.75rem;
    color: var(--text-mention-grey);
  }

  .formset {

    &+.formset {
      margin-top: 2rem;
    }

    .formset-header {
      margin-bottom: 0;
      background-color: var(--bf100-g750);
      color: var(--g700);
      box-shadow: 0 1px 0 0 var(--g300);
      padding: .5rem 1rem;
    }

    .formset-field {
      padding-top: 0;
    }
  }

  // Custom input[type=file] styling
  // See https://codepen.io/Scribblerockerz/pen/qdWzJw
  div.input-file-box {
    position: relative;

    input[type=file] {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
    }

    div.input-file-widget {
      max-height: unset;
      padding: 1.5rem;

      .icon {
        display: block;
        float: left;
        margin-right: 1rem;
      }

      label.box-msg {
        display: block;
      }

      #success-box-msg {
        display: none;
      }
    }

    input[type=file]:focus+div.input-file-widget {
      outline-color: var(--focus);
      outline-offset: 2px;
      outline-width: 2px;
      outline-style: solid;
    }

    // When a file has been selected
    input[type=file]:valid+div.input-file-widget {
      #default-box-msg {
        display: none;
      }

      #success-box-msg {
        display: block;
      }
    }
  }
}

/**
 * Custom display of the evaluation request contact form
 */
form#request-evaluation-form {}

/**
 * Autocomplete fields
 */
.fr-label+div>.autocomplete__wrapper {
  margin-top: .5rem;
}

.autocomplete__wrapper .autocomplete__input {
  border: 0;
  border-radius: space(1v) space(1v) 0 0;
  color: var(--text-label-grey);
  --blend: var(--background-contrast-grey-blend);
  background-color: var(--background-contrast-grey);
  box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
  border-radius: 0.25rem 0.25rem 0 0;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline-offset: 2px;
  outline-width: 2px;
}

.autocomplete__wrapper .autocomplete__input--focused {
  outline-color: #0a76f6;
}

.autocomplete__wrapper .autocomplete__menu {
  width: calc(100% + 8px);
  border: 2px solid #0a76f6;
  border-top: none;
  margin-top: 4px;
  left: -4px;
}

.fr-input-group--error .autocomplete__wrapper .autocomplete__input {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-error);
}

/**
 * Misc stuff
 */


/**
 * Stupid little helpers
 */


// Smart little trick to fix the aspect ratio of an element
// See https://css-tricks.com/aspect-ratio-boxes/
.ratio-1x1,
.ratio-4x3,
.ratio-2x1,
.ratio-16x9 {
  width: 100%;
  position: relative;

  &:before {
    content: "";
    display: block;
  }

  .ratio-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.ratio-1x1 {
  &:before {
    padding-bottom: 100%;
  }
}

.ratio-4x3 {
  &:before {
    padding-bottom: 75%;
  }
}

.ratio-16x9 {
  &:before {
    padding-bottom: 56.25%;
  }
}

.ratio-2x1 {
  &:before {
    padding-bottom: 50%;
  }
}


figcaption.fr-content-media__caption .fr-link[target=_blank]::after {
  margin-left: .25rem;
}

div.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;

  div.search-control {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    z-index: 9999;
    width: 80%;

    input {
      background-color: white;
    }
  }

  div.leaflet-control a {
    background-image: unset;
    background-size: unset;
    transition: none;
  }

  .info {
    padding: 6px 8px;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  .info h4 {
    margin: 0 0 5px;
    color: #777;
  }

  .legend {
    line-height: 18px;
    color: #555;
  }

  .legend span {
    display: block;
    margin-bottom: 5px;
  }

  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.alt {
  background-color: var(--background-alt-blue-france);
}

ul.roomy {
  --li-bottom: 1rem;
}

/**
 * Design system issues quickfixes
 **/
.fr-modal {
  textarea {
    resize: vertical;
  }
}

main>.fr-notice {
  .fr-notice__body {
    &:before {
      display: none;
    }

    text-align: center;

    .fr-notice__title {
      font-weight: normal;
    }
  }
}

/**
 * Custom class for an accordion without a "+" button
 */
.fr-accordion {
  &.fr-accordion--no-icon {
    padding-bottom: .25rem;

    .fr-accordion__btn::after {
      display: none;
    }

    .read-more-btn {
      padding: 0.75rem 1rem;
    }

    .fr-accordion__btn {
      align-items: baseline;
      flex-direction: row-reverse;
    }

    .fr-accordion__btn span.fr-tag {
      white-space: nowrap;
      margin-left: auto;
    }

    .fr-accordion__title span.title {
      margin-right: 1rem;
    }
  }
}

button[data-fr-js-collapse-button="true"] {
  &[aria-expanded="false"] span.expanded-label {
    display: none;
  }

  &[aria-expanded="true"] span.concealed-label {
    display: none;
  }
}

// Don't force a 16:9 ratio on images
.fr-content-media {
  .fr-responsive-img {
    aspect-ratio: unset;
  }
}

// Remove double margins below images with captions
figcaption :last-child {
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}


.fr-alert--warning {
  box-shadow: inset 0 0 0 1px #fcc63a, inset 2.5rem 0 0 0 #FFCA00;

  &.fr-alert--sm p:last-child {
    margin-bottom: inherit;
  }
}

.fr-stepper {
  margin-bottom: 3rem;
}

// Sometimes, you cannot set the `fr-callout__text` class on a `p` tag
// so you have to wrap it around a `div` tag.
div.fr-callout__text {
  p {
    font-size: inherit;
    line-height: inherit;
  }
}

/**
 * Dropzone bad css design fixes
 *
 * The dropzone lib makes it difficult to style a upload field
 * inside a complete dropzone form.
 */
form.dropzone {
  min-height: unset;
  border: unset;
  border-radius: none;
  padding: unset;

  &.dz-drag-hover {
    border-style: none;
  }

  div#has-errors-warning {
    display: none;
  }

  &.has-errors {
    div#has-errors-warning {
      display: inherit;
    }
  }

  #max-files-exceeded-alert {
    display: none;
  }

  &.dz-max-files-reached {

    #max-files-exceeded-alert {
      display: inherit;
    }

    .dz-button {
      display: none;
    }

    .dropzone {
      pointer-events: none;
      cursor: default;
      border-color: var(--border-disabled-grey);

      .dz-preview {
        pointer-events: auto;
        cursor: auto;
      }
    }
  }

  div.dz-error .dz-image {
    border: 2px dashed red;
  }

  .dz-preview .dz-error-message {
    top: 150px !important;
  }

  .dz-preview .dz-remove {
    background-image: none;
  }

  .dz-preview .dz-progress {
    top: 70%;
  }

  .dz-clickable .dz-button .fr-link {
    text-decoration: underline;
  }

  .dz-clickable .dz-button .fr-link:hover {
    font-weight: bold;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner::before {
  display: inline-block;
  animation: spinner 2s linear infinite;
}

.card-steps {
  .fr-card__desc {
    margin-top: 0;
  }
}

div.hero-alt {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 1.5rem;
}


/**
 * Impression
 */
@media print {

  // Reduce font size to a more compact print
  :root {
    font-size: 85%;
  }

  // Use the entire page width
  #main-container article {
    width: 100%;
    max-width: 100%;
    flex: 1;
  }

  // Hide common template elements
  body>header,
  body>footer,
  #top-bar,
  .hide-print {
    display: none;
  }


  // Make sure accordion content is visible
  .fr-accordion__title .fr-accordion__btn {
    font-weight: bold;
  }

  .fr-collapse {
    --collapse-max-height: 0;
    --collapse: auto;
    --collapser: "";
    overflow: auto;
    max-height: auto;
    max-height: inherit;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .fr-collapse::before {
    display: none;
  }

  .fr-collapse:not(.fr-collapse--expanded) {
    visibility: visible;
  }

  .fr-collapse:not(.fr-collapse--expanded)::before {
    margin-top: 0;
  }

  // Some little quirks
  section.regulation button.read-more-btn {
    display: none;
  }

  // Prevent map and images to take up the entire page
  .fr-content-media {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  // Hide the useless arrow icon for external links
  .fr-link[target="_blank"]::after {
    display: none;
  }

}

.fr-header {
  .fr-header__logo {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }

  .fr-nav__link,
  .fr-nav__btn {
    padding: 0.75rem 1rem;
    min-height: 2rem;
  }

  &.header-slim {

    .fr-header__body-row {
      padding: .75rem 0;
      line-height: 1rem;

      img {
        max-height: 2rem;
      }
    }

    .fr-header__service {
      padding: .75rem 1rem;
    }
  }

  // Makes the header stick at the top of the page
  &.header-sticky {
    position: sticky;
    top: 0px;
    z-index: 2000;

    .fr-btn {
      // Dsfr style for this selector is weirdly specific
      // So !important is necessary to override it
      font-size: 0.875rem !important;
      line-height: 1.5rem !important;
      min-height: 2rem !important;
      padding: 0.25rem 0.75rem !important;
    }
  }

  // Makes a new header show when the page is crolled down
  // and the top header leaves the viewport
  &.header-popup {
    display: none;

    @media (min-width: 62em) {
      &.displayed {
        display: block;
      }
    }
  }
}

.fr-callout.evaluation-comment {

  .fr-callout__title {
    font-size: 1.375rem;
  }

  .fr-callout__text {
    font-size: inherit;
    line-height: inherit;
  }
}

main.home {
  div#before-content.fr-mt-5w {
    margin-top: 0 !important;
  }

  section.hero {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(237, 238, 238, 0.3) 100%);

    .fr-container {
      padding-top: 2rem;
      padding-bottom: 2rem;

      &::after {
        content: "";
        display: block;
        clear: both;
      }

      @media (min-width: 48em) {
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      @media (min-width: 48em) {
        padding-top: 4rem;
        padding-bottom: 4rem;
      }
    }


    img.home-illustration {
      width: 100%;
      max-width: 420px;
      display: block;
      margin: 0 auto;

      @media (min-width: 48em) {
        float: right;
        max-width: 320px;
        margin-left: 2rem;
        margin-top: -2.5rem;
      }

      @media (min-width: 62em) {
        max-width: 420px;
        margin-left: 2.5rem;
        margin-top: 0;
      }

      @media (min-width: 78em) {
        max-width: 480px;
        margin-left: 3rem;
      }
    }
  }

  section.moulinette {
    background-color: #E8EDFF;

    h2 {
      text-align: center;
      color: #000091;
      margin-bottom: 3rem;
    }

    form {
      display: flex;

      div.first-section {
        flex: 1;
        padding: 0 3rem 0 6rem;
      }

      div.last-section {
        flex: 1;
        padding: 0 6rem 0 3rem;

        button {
          display: block;
          margin: 3rem auto 0 auto;
        }
      }
    }
  }
}

li.btn-link {
  margin-left: auto;
  display: flex;
  justify-content: center;

  a {}
}
