section#simulateur,
div#moulinette {
  h2 {
    text-align: left;
  }

  fieldset .fr-fieldset__legend.fr-text--regular {
    font-weight: bold !important;
  }
}

main.home {
  section#simulateur {
    background-color: var(--blue-france-850-200);
  }
}

.fr-header {
  .fr-btns-group .account .fr-btn {
    margin-bottom: 0;
  }

  .account__email {
    font-size: 0.875rem;
    color: var(--text-mention-grey);
    padding: 0.25rem 0.75rem 0.25rem 0;
    margin: 0 0.25rem 0 0.5rem;
  }
}

html.saisie {
  height: 100%;

  body > footer {
    display: none;
  }

  // Make the main part of the app full height
  body {
    display: flex;
    flex-direction: column;
    height: 100%;

    main {
      flex: 1;
      height: 100%;
    }
  }
}

.hedge {
  stroke-width: 6px;
  filter: drop-shadow(white 1px 1px 0) drop-shadow(white -1px 1px 0)
    drop-shadow(white 1px -1px 0) drop-shadow(white -1px -1px 0);

  &.to-remove {
    stroke: #f00;
    stroke-dasharray: 12 10;
    stroke-linecap: square;
  }

  &.to-plant {
    stroke: #0f0;
  }
}

div#app {
  height: 100%;
  display: flex;
  flex-direction: column;

  &[v-cloak] {
    visibility: hidden;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    background-color: var(--background-alt-blue-france);
    border-top: 2px solid var(--border-plain-blue-france);
  }

  div#saisie-ui {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    min-width: 768px; // size md
    position: relative;
    overflow: hidden;

    #map {
      flex: 1;
      font-family: Marianne, arial, sans-serif;

      .leaflet-control-layers-toggle {
        background-image: url("/static/icons/stack-line.svg");
      }
    }

    #tooltip {
      display: none;
      position: absolute;
      background: white;
      color: black;
      border-radius: 0.75rem;
      z-index: 1000;
      font-size: 14px;
      padding: 2px 6px;
      border: 1px solid black;
    }

    #controls-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 10px;
      padding-right: 10px;
      width: calc(
        100% - 26rem - 20px
      ); // 26rem = width of sidebar ; 20px = 2*10px = margins

      .leaflet-control {
        margin-bottom: 10px;
        white-space: nowrap;
      }
    }

    div.controls {
      &.inline-controls {
        .leaflet-control {
          clear: none;
        }
      }

      button.fr-btn--secondary {
        background-color: white;

        &:hover {
          background-color: #f6f6f6;
        }
      }

      .fr-search-bar {
        .autocomplete__wrapper {
          margin-top: 0;

          .autocomplete__option {
            font-size: 0.875rem;
            line-height: 1.5rem;
            font-family: inherit;
          }
        }

        .fr-input,
        .autocomplete__input {
          font-size: 0.875rem;
          line-height: 1.5rem;
          min-height: 2rem;
          max-height: 2rem;
          height: 2rem;
          width: 20rem;
        }

        .fr-btn {
          line-height: 1.5rem;
          padding: 0.25rem 0.75rem;
          width: 2.2rem;
          min-height: 2rem;
          max-height: 2rem;
          height: 2rem;

          &::before,
          &::after {
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }

    .hedge.to-plant {
      &:hover,
      &.hovered {
        stroke-width: 8px;
      }
    }

    .hedge.to-remove {
      &:hover,
      &.hovered {
        stroke-width: 8px;
      }
    }

    .leaflet-draw-guide {
      stroke: #fff;
      stroke-width: 2px;
    }

    .help-bubble {
      position: absolute;
      bottom: 1rem;
      left: 4rem;
      z-index: 1000;
      background-color: white;
      color: var(--text-default-info);
      padding: 0.25rem 1rem;
      font-size: 1rem;
      border-radius: 0.75rem;
      max-width: calc(100% - 8rem);

      &.hidden {
        display: none;
      }
    }

    .leaflet-vertex-icon {
      margin-left: -8px !important;
      margin-top: -8px !important;
      width: 16px !important;
      height: 16px !important;
      border-radius: 50%;
      opacity: 1;
      border: 2px solid #333;
    }

    .leaflet-middle-icon {
      margin-left: -6px ip !important;
      margin-top: -6px ip !important;
      width: 12px ip !important;
      height: 12px ip !important;
      border-radius: 50%;
      opacity: 0.8 !important;
      border: 1px solid #333;
    }

    #id_address {
      background-color: var(--grey-1000-50);
    }

    #sidebar {
      bottom: 0;
      overflow-y: auto;
      width: 26rem;
      margin-bottom: 0;

      div#compensation {
        p.rate strong {
          font-weight: 500;
        }
      }

      div#hedge-lists {
        padding: 16px 0;

        --title-spacing: 0 0 0.5rem 0;

        h3 {
          padding: 0 16px;
          font-weight: 500 !important;
          font-size: 16px !important;
          display: flex;
          align-items: center;

          img {
            margin-left: 0;
          }

          .fr-tag {
            margin-left: auto;
          }
        }

        hr {
          margin: 1rem 0;
          padding-bottom: 3px;
        }

        p.fr-text--light {
          font-size: 14px;
          padding: 0 16px;
        }

        table {
          border-collapse: collapse;
          width: 100%;

          tr {
            padding: 0.2rem 1rem;
            cursor: pointer;

            td,
            th {
              width: 1px;
              font-size: 14px;
            }

            th {
              text-align: left;
              font-weight: 900;
              padding-left: 16px;
              white-space: nowrap;

              span.fr-badge {
                display: inline;
                margin-left: 0.75rem;
              }
            }

            td {
              text-align: center;
            }

            td:last-child {
              text-align: right;
              padding-right: 16px;
            }

            button {
              margin-left: auto;
              font-size: 14px;
              padding: 0.5rem;

              --hover-tint: var(--background-alt-grey-hover);
              --active-tint: var(--background-alt-grey-active);
            }

            &:hover,
            &.hovered {
              background-color: #f5f5f5;
            }

            &:active {
              background-color: #ebebeb;
            }
          }
        }
      }
    }
  }
}

// override leaflet cursor
div#app div#saisie-ui #map.leaflet-grab {
  cursor: default;
}

.leaflet-dragging div#app div#saisie-ui #map.leaflet-grab {
  cursor: grabbing;
}

div#app div#saisie-ui #sidebar div#hedge-conditions,
section#section-plantation-evaluation div#hedge-conditions {
  .tile-header {
    background-color: var(--blue-france-925-125);
    color: var(--blue-france-sun-113-625);

    .fr-badge::before {
      background: none;
      width: 0;
      height: 0;
    }
  }

  h3,
  h4 {
    margin: 0;
    font-weight: 500 !important;
    font-size: 16px !important;
  }

  div#conditions {
    &.loading {
      --text-title-grey: var(--text-disabled-grey);

      color: var(--text-disabled-grey);
    }

    .fr-badge {
      margin-top: 0.2em;

      &::before {
        margin: 0;
      }
    }

    .fr-badge--error {
      color: var(--grey-625-425);
      background-color: var(--background-contrast-grey);
    }

    span.fr-icon {
      line-height: 1.75rem;
      color: var(--grey-625-425);
    }

    span.fr-icon.success {
      color: var(--success-425-625);
    }

    p {
      line-height: 1.2rem;
      font-size: 14px;
      margin: 0;
    }

    h6 {
      margin: 0;
      font-weight: 500 !important;
      font-size: 16px !important;
    }

    .condition-content {
      display: flex;
      margin-top: 1rem;

      div {
        margin-right: 0.8rem;
      }
    }
  }
}

dialog#hedge-input-modal {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  overscroll-behavior: contain;
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;

  &.loaded #loading-indicator {
    display: none;
  }

  #loading-indicator {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

dialog.hedge-data-dialog {
  #form-group-removal-type_haie label span.label-content,
  #form-group-plantation-type_haie label span.label-content {
    display: flex;
    justify-content: space-between;
  }

  fieldset#id_removal-type_haie,
  fieldset#id_plantation-type_haie {
    div.fr-grid-row {
      align-items: center;
    }

    div.fr-fieldset__element {
      display: flex;
      flex-direction: column;
      align-self: stretch;

      .fr-radio-rich {
        flex-grow: 1;

        input[type="radio"] {
          // hacky: virtually inflate the input element to avoid the scroll jump when clicking on the label
          height: 300px;
          width: 300px;
          scroll-behavior: smooth;
          z-index: -1;

          @supports (selector(:has(*))) {
            // remove the bottom border of the label when the input is checked
            &:checked {
              + label {
                background-image:
                  linear-gradient(
                    0deg,
                    var(--border-active-blue-france),
                    var(--border-active-blue-france)
                  ),
                  linear-gradient(
                    0deg,
                    var(--border-active-blue-france),
                    var(--border-active-blue-france)
                  ),
                  linear-gradient(0deg, transparent, transparent),
                  linear-gradient(
                    0deg,
                    var(--border-active-blue-france),
                    var(--border-active-blue-france)
                  ),
                  radial-gradient(
                    transparent 6px,
                    var(--border-active-blue-france) 7px,
                    transparent 8px
                  ),
                  radial-gradient(
                    var(--background-active-blue-france) 3px,
                    transparent 4px
                  );
              }

              ~ .fr-radio-rich__pictogram {
                background-image:
                  linear-gradient(
                    0deg,
                    var(--background-action-high-blue-france),
                    var(--background-action-high-blue-france)
                  ),
                  linear-gradient(0deg, transparent, transparent),
                  linear-gradient(
                    0deg,
                    var(--background-action-high-blue-france),
                    var(--background-action-high-blue-france)
                  ),
                  linear-gradient(
                    0deg,
                    var(--border-default-grey),
                    var(--border-default-grey)
                  );
              }
            }
          }
        }

        @supports (selector(:has(*))) {
          // on checked add the border on the image label too
          &:has(input[type="radio"]) ~ label {
            cursor: pointer;
            border: solid var(--border-default-grey);
            border-width: 0 1px 1px;
          }

          &:has(input[type="radio"]:checked) ~ label {
            border: solid var(--border-active-blue-france);
            border-width: 0 1px 1px;
          }
        }
      }

      .fr-radio-rich__pictogram {
        padding: 16px;
        width: 0;
        min-width: 0;

        img {
          width: 24px;
        }
      }

      img.hedge-radio-img {
        max-width: 100%;
        height: 100%;
      }

      @supports (selector(:has(*))) {
        // apply the hover behavior on the image label too
        &:has(> label:hover) > .fr-radio-rich label {
          background-color: var(--hover);

          & + .fr-radio-rich__pictogram {
            background-color: var(--hover);
          }
        }
      }
    }
  }

  &.read-only div.fr-fieldset__element:has(input[type="radio"]:not(:checked)) {
    display: none !important;
  }
}

div#group-haies-content {
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;

    th,
    td {
      font-weight: normal;
      padding: 0.5rem 0;
    }

    thead tr th {
      text-align: right;
    }

    tbody tr th {
      text-align: left;
    }

    tbody tr td {
      text-align: right;
    }

    tbody tr {
      border-top: 1px solid #ddd;
    }

    tbody tr:last-child {
      border-bottom: 1px solid #ddd;
    }
  }

  div#compensation {
    border-left: 2px solid var(--border-plain-info);
    padding-left: 0.5rem;

    p {
      margin-bottom: 0;
    }

    p.info {
      color: var(--text-default-info);
    }

    &.success {
      border-left-color: var(--border-plain-success);

      p.info {
        color: var(--text-default-success);
      }
    }
  }
}

div#form-group-haies {
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

div#demarches-simplifiees-modal-btns {
  display: flex;
}

div#go-to-ds-btn {
  display: flex;
  justify-content: flex-end;
}

button#project-summary-hedge-input-open-btn {
  background-color: var(--grey-1000-50);
}

div#project-specifications-instructor {
  container-type: inline-size;

  i.optional-tag {
    display: none;
  }

  ul#moulinette_fields {
    list-style-type: none;
    padding: 0;
  }
}

div#instructor-view-side-menu {
  .fr-sidemenu__list.fr-btns-group button.fr-btn,
  .fr-sidemenu__list.fr-btns-group a.fr-btn {
    justify-content: start;
    text-align: left;
  }
}

.department-doctrine-cta {
  font-weight: bold;
  color: var(--blue-france-sun-113-625);

  a {
    color: var(--blue-france-sun-113-625);
  }
}

/**
 * Page project list
 */
.fr-segmented {
  &.fr-segmented--sm {
    a {
      text-decoration: none;
      background-image: none;
      align-items: center;
      border-radius: 0.25rem;
      display: inline-flex;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.5rem;
      max-height: none;
      max-width: 100%;
      min-height: 2rem;
      overflow: initial;
      padding: 0.25rem 0.75rem;
      white-space: nowrap;
      width: 100%;

      &:hover {
        background-color: var(--hover);
      }
    }
  }

  &__element a.active {
    box-shadow: inset 0 0 0 1px var(--border-active-blue-france);
    color: var(--text-active-blue-france);
  }
}

.project-list__table,
.procedure-history__table {
  caption {
    font-weight: lighter;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .fr-table__footer {
    justify-content: center;
  }
}

/* Instructor followers */

.dossier--followers {
  .has-followers {
    color: var(--text-active-blue-france);
  }
}

/**
 * Page instructor
 */

.project-inner-content {
  max-width: 42em;

  &.paused {
    #due-date-container {
      color: var(--text-mention-grey);

      .alt-light {
        display: inline-block;
        min-width: 24rem;

        b {
          color: var(--text-title-grey);
        }
      }
    }
  }
}

#form-group-instructor_free_mention .label-content {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

#normandie_plantation_table {
  .fr-table__content table tfoot {
    th {
      background-color: var(--background-alt-grey);
      font-weight: 700;
      background-size:
        100% 1px,
        1px 100%;
      background-repeat: no-repeat, no-repeat;
      background-position:
        0 100%,
        100% 0;

      --idle: transparent;
      --hover: var(--background-alt-grey-hover);
      --active: var(--background-alt-grey-active);

      background-image:
        linear-gradient(
          0deg,
          var(--border-contrast-grey),
          var(--border-contrast-grey)
        ),
        linear-gradient(
          0deg,
          var(--border-plain-grey),
          var(--border-plain-grey)
        );
    }

    td {
      font-weight: 700;
    }
  }
}

ul.instructor-view-list {
  list-style-type: none;
  padding: 0;
}

.section-ds {
  border-top: 1px solid var(--border-default-grey);
}

.ds-files {
  .fr-content-media {
    margin: 1rem 0;
  }

  .fr-content-media__caption {
    align-items: start;
    margin-top: 0;
  }
}

/* Instructeur Messagerie */

.dj-messages {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.ds-message {
  background-color: var(--background-alt-grey);
  border-left: 3px solid var(--grey-425-625);
  padding: 2rem;

  &__exp {
    font-weight: bold;
  }

  &--instructor {
    border-color: var(--blue-france-main-525);
  }

  &--petitioner {
    border-color: var(--yellow-tournesol-850-200);
  }
}

@media (width >=48em) {
  .fr-sidemenu {
    padding-right: 0;
  }

  main.header-slim-displayed div#instructor-view-side-menu {
    padding-top: 3rem; // 0.5rem + height of slim-header : line-height: 1rem  + 2 * padding-top/botton: 0.75rem);
  }

  .ds-message {
    &--instructor,
    &--automatic {
      margin-left: 5rem;
    }
  }
}

div#invitation-token-email-wrapper {
  background-color: var(--background-contrast-grey);
  padding: 1rem 2rem;
  font-size: 0.875rem;

  --text-spacing: 0 0 1rem;
  --xl-block: 0;

  p {
    font-size: 0.875rem;
  }

  ul {
    margin-bottom: 1rem;
  }

  .fr-btn.fr-btn--tertiary {
    font-size: 0.875rem;
  }
}

div#invitation-token-email-html,
pre#invitation-token-email-text {
  display: none;
}

ul#instruction-summary-list {
  list-style-type: none;
  padding: 0;
}

.fr-icon-haie::before,
.fr-icon-haie::after {
  mask-image: url("/static/icons/haie.svg");
}

div.title-with-link-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
}

#table-dossier-list,
.procedure-history__table {
  td,
  th {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  th {
    line-height: 1.2rem;
  }

  td {
    max-width: 200px;

    @supports (selector(:has(*))) {
      &:has(.more.fr-collapse--expanded) .ellipsis {
        display: none;
      }
    }

    a,
    button {
      font-size: 0.875rem;
    }
  }

  tbody tr {
    &:hover td {
      background-color: var(--background-default-grey-hover);
    }

    td {
      .fr-btn--secondary:not(:hover) {
        background-color: var(--background-default-grey);
      }
    }
  }

  td.messagerie-col.unread {
    color: var(--blue-france-sun-113-625);
  }
}

div#alternative-notice {
  filter: drop-shadow(var(--raised-shadow));

  .fr-notice__body {
    display: block;
  }

  p {
    --text-spacing: 0 0 8px 0;
  }
}

#faq-dropdown-btn {
  width: 20rem;
}

section#moulinette-regulation-result {
  section.instruction-infos {
    --text-spacing: 0 0 1rem;

    h6 {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

.procedure-history__table td span.described-by-tooltip {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: bottom;
}

div#project-header-container {
  display: flex;
  align-items: start;

  form {
    margin-left: 2em;
  }
}

.due-date {
  color: var(--text-mention-grey);

  span.fr-icon-hourglass-2-fill,
  span.orange {
    color: var(--orange-terre-battue-main-645);
  }

  span.fr-icon-warning-fill,
  span.red {
    color: var(--artwork-minor-red-marianne);
  }
}

.days-left {
  font-style: italic;
  color: var(--text-mention-grey);
  font-size: 0.75rem;
}

.stage-objective {
  display: none;
}

#id_stage.fr-select.fr-input--error {
  box-shadow: inset 0 -2px 0 0 var(--border-plain-error);
}

button.hide-expanded[aria-expanded="true"] {
  display: none;
}

#alternative-simulations-table {
  form {
    display: inline;
    margin: 0;
  }

  .status-col {
    .fr-badge + form {
      margin-left: 0.25rem;
    }
  }

  .comment-col {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  }

  .actions-col {
    .action + .action {
      margin-left: 0.25rem;
    }

    a {
      text-decoration: none;
      background-image: none;

      &::after {
        display: none;
      }
    }

    a:not(:disabled),
    button:not(:disabled) {
      color: var(--text-title-blue-france);
    }

    button {
      padding: 0;
    }
  }
}

#sites-proteges-hedges-table {
  width: calc(100cqw - 1rem);

  @media (width >=48em) {
    width: calc(100cqw - 5rem);
  }

  .fr-text {
    font-weight: normal;
  }

  .total-row {
    th {
      background-size:
        100% 2px,
        1px 100%;
    }

    td {
      background-size:
        100% 2px,
        0 100%;
    }
  }
}
