section#simulateur,
div#moulinette {
  h2 {
    color: var(--text-action-high-blue-france);
  }

  fieldset .fr-fieldset__legend.fr-text--regular {
    font-weight: bold !important;
  }
}

html.saisie {
  height: 100%;

  body > footer {
    display: none;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100%;

    main {
      flex: 1;
    }
  }
}

div#app {
  height: 100%;

  div#saisie-ui {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    min-width: 62em; // size lg

    #map {
      flex: 1;
      height: 100%;

      .hedge.to-plant {
        stroke: #58c5cf;
        stroke-width: 5;
        stroke-opacity: 0.75;

        &:hover,
        &.hovered {
          stroke: #58c5cf;
          stroke-width: 7;
          stroke-opacity: 0.95;
        }
      }

      .hedge.to-remove {
        stroke: #ca0020;
        stroke-width: 5;
        stroke-opacity: 0.75;

        &:hover,
        &.hovered {
          stroke: #ca0020;
          stroke-width: 7;
          stroke-opacity: 0.95;
        }
      }
    }

    #sidebar {
      min-width: 30em;
      max-width: 40em;

      div#actions {
        margin-bottom: 1.5rem;
        padding: 1rem;
      }

      div#statistics {
        background-color: #f6f6f6;
        padding: 0.5rem 1rem;

        table {
          width: 100%;
          border-collapse: collapse;
          margin-bottom: 0.5rem;

          th,
          td {
            font-weight: normal;
            padding: 0.5rem 0;
          }

          thead tr th {
            text-align: right;
          }

          tbody tr th {
            text-align: left;
          }

          tbody tr td {
            text-align: right;
          }

          tbody tr {
            border-top: 1px solid #ddd;
          }

          tbody tr:last-child {
            border-bottom: 1px solid #ddd;
          }
        }

        div#compensation {
          border-left: 2px solid var(--border-plain-info);
          padding-left: 0.5rem;

          p {
            margin-bottom: 0;
          }

          p.info {
            color: var(--text-default-info);
          }

          &.success {
            border-left-color: var(--border-plain-success);

            p.info {
              color: var(--text-default-success);
            }
          }
        }
      }

      div#hedge-lists {
        padding: 1rem;

        div.title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1.5rem;

          h3 {
            margin-bottom: 0;
          }
        }

        .hedge-list {
          margin: 0;
          padding: 0;

          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.2rem 1rem;
            margin-left: -1rem;
            margin-right: -1rem;
            cursor: pointer;

            button {
              visibility: hidden;
            }

            &:hover,
            &.hovered {
              button {
                visibility: visible;
              }
            }
          }

          &.to-plant {
            li:hover,
            li.hovered {
              background-color: #58c5cf1f;
            }

            li:active {
              background-color: #58c5cf40;
            }
          }

          &.to-remove {
            li:hover,
            li.hovered {
              background-color: #ca00201f;
            }

            li:active {
              background-color: #ca002040;
            }
          }
        }
      }
    }
  }
}
