#rr-preview {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    margin: 0;
  }
}

.rr-content {
  margin-top: .5rem;

  .mail-content {
    width: 800px;
    max-width: 800px;
    margin: auto;
  }
}
