section#simulateur,
div#moulinette {
  h2 {
    text-align: left;
  }

  fieldset .fr-fieldset__legend.fr-text--regular {
    font-weight: bold !important;
  }
}

main.home {
  section#simulateur {
    background-color: var(--blue-france-850-200);
  }
}

html.saisie {
  height: 100%;

  body > footer {
    display: none;
  }

  // Make the main part of the app full height
  body {
    display: flex;
    flex-direction: column;
    height: 100%;

    main {
      flex: 1;
      height: 100%;
    }
  }
}

div#app {
  height: 100%;

  div#saisie-ui {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    min-width: 62em; // size lg
    position: relative;

    #map {
      flex: 1;

      div.controls {
        position: absolute;
        z-index: 1000;

        &.top {
          top: 1rem;
        }

        &.bottom {
          bottom: 1rem;
        }

        &.left {
          left: 1rem;
        }

        &.right {
          right: 1rem;
        }

        button {
          background-color: white;
          margin: 0 0.5rem;

          &:hover {
            background-color: #f6f6f6;
          }
        }
      }

      .hedge.to-plant {
        stroke: #58c5cf;
        stroke-width: 5;
        stroke-opacity: 0.75;

        &:hover,
        &.hovered {
          stroke: #58c5cf;
          stroke-width: 7;
          stroke-opacity: 0.95;
        }
      }

      .hedge.to-remove {
        stroke: #ca0020;
        stroke-width: 5;
        stroke-opacity: 0.75;

        &:hover,
        &.hovered {
          stroke: #ca0020;
          stroke-width: 7;
          stroke-opacity: 0.95;
        }
      }

      .help-bubble {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        z-index: 1000;
        background-color: white;
        color: var(--text-default-info);
        padding: 0.25rem 1rem;
        font-size: 1rem;
        border-radius: 0.75rem;

        &.hidden {
          display: none;
        }
      }
    }

    #sidebar {
      bottom: 0;
      overflow-y: scroll;
      min-width: 30em;
      max-width: 40em;

      div#statistics {
        background-color: #f6f6f6;
        padding: 0.5rem 1rem;

        table {
          width: 100%;
          border-collapse: collapse;
          margin-bottom: 0.5rem;

          th,
          td {
            font-weight: normal;
            padding: 0.5rem 0;
          }

          thead tr th {
            text-align: right;
          }

          tbody tr th {
            text-align: left;
          }

          tbody tr td {
            text-align: right;
          }

          tbody tr {
            border-top: 1px solid #ddd;
          }

          tbody tr:last-child {
            border-bottom: 1px solid #ddd;
          }
        }

        div#compensation {
          border-left: 2px solid var(--border-plain-info);
          padding-left: 0.5rem;

          p {
            margin-bottom: 0;
          }

          p.info {
            color: var(--text-default-info);
          }

          &.success {
            border-left-color: var(--border-plain-success);

            p.info {
              color: var(--text-default-success);
            }
          }
        }
      }

      div#hedge-lists {
        padding: 1rem;

        --title-spacing: 0 0 0.5rem 1.5rem;

        h3 img {
          margin-left: -2.25rem;
        }

        p {
          padding-left: 1.5rem;
        }

        hr {
          margin: 1rem 0;
          padding-bottom: 3px;
        }

        table {
          border-collapse: collapse;
          width: 100%;

          tr {
            padding: 0.2rem 1rem;
            cursor: pointer;

            td,
            th {
              width: 1px;
            }

            th {
              text-align: left;
              padding: 0 2rem 0 1.5rem;
              min-width: 6rem;
            }

            td {
              text-align: right;
            }

            td:first-of-type {
              min-width: 3rem;
            }

            td:last-child {
              width: 100%;
            }

            button {
              visibility: hidden;
              margin-left: auto;
            }

            &:hover,
            &.hovered {
              button {
                visibility: visible;
              }
            }
          }
        }

        .to-plant {
          tr:hover,
          tr.hovered {
            background-color: #58c5cf1f;
          }

          tr:active {
            background-color: #58c5cf40;
          }
        }

        .to-remove {
          tr:hover,
          tr.hovered {
            background-color: #ca00201f;
          }

          tr:active {
            background-color: #ca002040;
          }
        }
      }
    }

    div.actions {
      padding: 1.5rem;
    }
  }
}

dialog#hedge-input-modal {
  width: 100%;
  height: 100%;
}
