section#simulateur,
div#moulinette {
  h2 {
    text-align: left;
  }

  fieldset .fr-fieldset__legend.fr-text--regular {
    font-weight: bold !important;
  }
}

main.home {
  section#simulateur {
    background-color: var(--blue-france-850-200);
  }
}

html.saisie {
  height: 100%;

  body > footer {
    display: none;
  }

  // Make the main part of the app full height
  body {
    display: flex;
    flex-direction: column;
    height: 100%;

    main {
      flex: 1;
      height: 100%;
    }
  }
}

div#app {
  height: 100%;
  display: flex;
  flex-direction: column;

  &[v-cloak] {
    visibility: hidden;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    background-color: var(--background-alt-blue-france);
    border-top: 2px solid var(--border-plain-blue-france);
  }

  div#saisie-ui {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    min-width: 768px; // size md
    position: relative;
    overflow: hidden;

    #map {
      flex: 1;
      font-family: Marianne, arial, sans-serif;

      .leaflet-control-layers-toggle {
        background-image: url("/static/icons/stack-line.svg");
      }
    }

    #controls-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 10px;
      padding-right: 10px;
      width: calc(
        100% - 26rem - 20px
      ); // 26rem = width of sidebar ; 20px = 2*10px = margins

      .leaflet-control {
        margin-bottom: 10px;
        white-space: nowrap;
      }
    }

    div.controls {
      &.inline-controls {
        .leaflet-control {
          clear: none;
        }
      }

      button.fr-btn--secondary {
        background-color: white;

        &:hover {
          background-color: #f6f6f6;
        }
      }

      .fr-search-bar {
        .autocomplete__wrapper {
          margin-top: 0;

          .autocomplete__option {
            font-size: 0.875rem;
            line-height: 1.5rem;
            font-family: inherit;
          }
        }

        .fr-input,
        .autocomplete__input {
          font-size: 0.875rem;
          line-height: 1.5rem;
          min-height: 2rem;
          max-height: 2rem;
          height: 2rem;
          width: 20rem;
        }

        .fr-btn {
          line-height: 1.5rem;
          padding: 0.25rem 0.75rem;
          width: 2.2rem;
          min-height: 2rem;
          max-height: 2rem;
          height: 2rem;

          &::before,
          &::after {
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }

    .hedge.to-plant {
      stroke: #0f0;
      stroke-width: 6px;
      filter: drop-shadow(#fff 1px 1px 0) drop-shadow(#fff -1px 1px 0)
        drop-shadow(#fff 1px -1px 0) drop-shadow(#fff -1px -1px 0);

      &:hover,
      &.hovered {
        stroke-width: 8px;
      }
    }

    .hedge.to-remove {
      stroke: #f00;
      stroke-width: 6px;
      stroke-dasharray: 12 10;
      stroke-linecap: square;
      filter: drop-shadow(white 1px 1px 0) drop-shadow(white -1px 1px 0)
        drop-shadow(white 1px -1px 0) drop-shadow(white -1px -1px 0);

      &:hover,
      &.hovered {
        stroke-width: 8px;
      }
    }

    .leaflet-draw-guide {
      stroke: #fff;
      stroke-width: 2px;
    }

    .help-bubble {
      position: absolute;
      bottom: 1rem;
      left: 4rem;
      z-index: 1000;
      background-color: white;
      color: var(--text-default-info);
      padding: 0.25rem 1rem;
      font-size: 1rem;
      border-radius: 0.75rem;
      max-width: calc(100% - 8rem);

      &.hidden {
        display: none;
      }
    }

    #sidebar {
      bottom: 0;
      overflow-y: auto;
      width: 26rem;
      margin-bottom: 0;

      div#compensation {
        p.rate strong {
          font-weight: 500;
        }
      }

      div#hedge-lists {
        padding: 16px 0;

        --title-spacing: 0 0 0.5rem 0;

        h3 {
          padding: 0 16px;
          font-weight: 500 !important;
          font-size: 16px !important;
          display: flex;
          align-items: center;

          img {
            margin-left: 0;
          }

          .fr-tag {
            margin-left: auto;
          }
        }

        hr {
          margin: 1rem 0;
          padding-bottom: 3px;
        }

        p.fr-text--light {
          font-size: 14px;
          padding: 0 16px;
        }

        table {
          border-collapse: collapse;
          width: 100%;

          tr {
            padding: 0.2rem 1rem;
            cursor: pointer;

            td,
            th {
              width: 1px;
              font-size: 14px;
            }

            th {
              text-align: left;
              font-weight: 900;
              padding-left: 16px;
              white-space: nowrap;

              span.fr-badge {
                display: inline;
                margin-left: 0.75rem;
              }
            }

            td {
              text-align: center;
            }

            td:last-child {
              text-align: right;
              padding-right: 16px;
            }

            button {
              visibility: visible; // Styles for touch UIs

              @media (hover: hover) {
                /* Styles for mouse UIs */
                visibility: hidden;
              }

              margin-left: auto;
              font-size: 14px;
              padding: 0.5rem;

              --hover-tint: var(--background-alt-grey-hover);
              --active-tint: var(--background-alt-grey-active);
            }

            &:hover,
            &.hovered {
              background-color: #f5f5f5;

              button {
                visibility: visible;
              }
            }

            &:active {
              background-color: #ebebeb;
            }
          }
        }
      }

      div#hedge-quality {
        h3 {
          margin: 0;
          font-weight: 500 !important;
          font-size: 16px !important;
          background-color: var(--blue-france-925-125);
          color: var(--blue-france-sun-113-625);
        }

        div#conditions {
          .fr-badge {
            margin-top: 0.2em;

            &::before {
              margin: 0;
            }
          }

          .fr-badge--error {
            color: var(--grey-625-425);
            background-color: var(--background-contrast-grey);
          }

          span.fr-icon {
            line-height: 1.75rem;
            color: var(--grey-625-425);
          }

          span.fr-icon.success {
            color: var(--success-425-625);
          }

          p {
            line-height: 1rem;
            font-size: 14px;
            margin: 0;
          }

          h6 {
            margin: 0;
            font-weight: 500 !important;
            font-size: 16px !important;
          }

          > div {
            display: flex;
            margin-top: 1rem;

            div {
              margin-right: 0.8rem;
            }
          }
        }
      }
    }

    #id_address {
      background-color: var(--grey-1000-50);
    }
  }
}

dialog#hedge-input-modal {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  overscroll-behavior: contain;
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
}

dialog.hedge-data-dialog {
  #form-group-removal-hedge_type label span.label-content,
  #form-group-plantation-hedge_type label span.label-content {
    display: flex;
    justify-content: space-between;
  }
}

div#statistics {
  background-color: var(--grey-975-100);
  padding: 16px;

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;

    th,
    td {
      font-weight: normal;
      padding: 0.5rem 0;
    }

    thead tr th {
      text-align: right;
    }

    tbody tr th {
      text-align: left;
    }

    tbody tr td {
      text-align: right;
    }

    tbody tr {
      border-top: 1px solid #ddd;
    }

    tbody tr:last-child {
      border-bottom: 1px solid #ddd;
    }
  }

  div#compensation {
    border-left: 2px solid var(--border-plain-info);
    padding-left: 0.5rem;

    p {
      margin-bottom: 0;
    }

    p.info {
      color: var(--text-default-info);
    }

    &.success {
      border-left-color: var(--border-plain-success);

      p.info {
        color: var(--text-default-success);
      }
    }
  }
}

div#form-group-haies {
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

div#demarches-simplifiees-modal-btns {
  display: flex;
}

div#go-to-ds-btn {
  display: flex;
  justify-content: flex-end;
}

button#project-summary-hedge-input-open-btn {
  background-color: var(--grey-1000-50);
}

div#project-specifications-instructor {
  i.optional-tag {
    display: none;
  }
}

/**
 * Page instructor
 */

.ds-item > .fr-sidemenu__link::after {
  content: "";
  background-image: url("/static/images/logo_demarches_simplifiees.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  display: block;
  width: 64px;
  height: 64px;
}

.section-ds {
  border-top: 1px solid var(--border-default-grey);
}

div#project-dossier-no {
  border-bottom: solid 1px var(--border-default-grey);
}

@media (width >= 48em) {
  .fr-sidemenu--sticky {
    top: 2.5rem; // height of slim-header : line-height: 1rem  + 2 * padding-top/botton: 0.75rem);
  }

  // Apply border grey on main instead of sidemenu to have it full height
  // Don't use sticky-full-height because side menu scroll up at the end of the page but too early
  .fr-sidemenu__inner {
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    box-shadow: none;
  }

  div#project-specifications-instructor {
    padding-left: 1.5rem;
    border-left: solid 1px var(--border-default-grey);
  }

  div#project-dossier-no {
    border-bottom: solid 1px var(--border-default-grey);
  }
}
