{% extends 'base.html' %}

{% block title %}Votre identité est confirmée{% endblock %}

{% block article %}
  <h1>Votre identité est confirmée</h1>

  <p>
    Si vous avez reçu un lien d’invitation à un dossier par e-mail, vous pouvez désormais cliquer dessus pour avoir accès au dossier concerné.
  </p>

  <p class="lead">
    Sinon, si vous demandez un accès à l’ensemble des dossiers de votre département, votre compte instructeur doit d’abord être validé par l’équipe du guichet unique de la haie.
  </p>

  <p>Vous recevrez alors une confirmation par e-mail dans les 24h ouvrées.</p>

  <p>
    N’hésitez pas à <a href="{{ contact_url }}">nous contacter</a> si vous n’obtenez pas de réponse dans ce délai.
  </p>

{% endblock %}
