{% extends 'demos/_hedge_density_base.html' %}

{% load static evaluations moulinette %}

{% block article_id %}hedge-density-demo{% endblock %}

{% block article_heading %}Calcul de densité de haie : démonstrateur{% endblock %}

{% block map_column %}
  <form method="get" action="">
    {{ form.lng.as_hidden }}
    {{ form.lat.as_hidden }}
    <label class="step">
      Double-cliquez ou déplacez le marqueur sur la carte pour ajuster
      l'emplacement du projet.
    </label>

    <div class="ratio-4x3 ratio-sm-4x5 fr-my-3w">
      <div class="ratio-content">
        <div id="map"></div>
        <div id="controls-container"
             class="leaflet-top leaflet-left inline-controls">
          <div class="controls inline-controls">
            <div class="leaflet-control fr-search-bar fr-search-bar--sm fr-mr-1w"
                 role="search">
              <label class="fr-label" for="id_address">Rechercher un lieu</label>
              <input class="fr-input"
                     placeholder="Rechercher un lieu"
                     type="search"
                     id="id_address"
                     name="address">
              <button class="fr-btn fr-btn--sm" type="button" title="Rechercher un lieu">Rechercher un lieu</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="fr-btn">Valider</button>
  </form>
{% endblock %}
{% block table %}
  <table>
    <caption>Résultat du calcul</caption>
    <thead>
      <tr>
        <th></th>
        <th>Rayon 400 m</th>
        <th>Rayon 5 km</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Linéaire (L)</th>
        <td>{{ length_400|floatformat:"0g" }} ml</td>
        <td>{{ length_5000|floatformat:"0g" }} ml</td>
      </tr>
      <tr>
        <th scope="row">Surface (S)</th>
        <td>{{ area_400_ha|floatformat:"g" }} ha</td>
        <td>{{ area_5000_ha|floatformat:"g" }} ha</td>
      </tr>
      <tr>
        <th scope="row">Densité (L / S)</th>
        <td>{{ density_400|floatformat:"g" }} ml/ha</td>
        <td>{{ density_5000|floatformat:"g" }} ml/ha</td>
      </tr>
    </tbody>
  </table>
{% endblock %}

{% block no_result %}
  {% if form.is_bound %}
    <h2 class="fr-h4">Département non disponible</h2>
    <p>Le calcul de densité de haie n'est pas encore disponible dans ce département.</p>
  {% else %}
    <h2 class="fr-h4">Essayez notre démonstrateur</h2>
    <p>Sélectionnez un point sur la carte et lancez la simulation.</p>
  {% endif %}
{% endblock %}

{% block feedback %}
  <h2 class="fr-h4">Pour améliorer ce démonstrateur</h2>

  <p>
    Nous sommes preneurs de tous vos retours, positifs et critiques : contactez-nous à <a href="mailto:contact@haie.beta.gouv.fr">contact@haie.beta.gouv.fr</a>
  </p>

  <p>
    Merci de joindre des exemples concrets qui fonctionnent ou ne fonctionnent pas, en utilisant le bouton
    ci-dessous : il vous permet de partager avec nous une simulation.
  </p>
{% endblock %}

{% block extra_body %}
  {% include '_share_url_modal.html' with shorten_url=True share_url=share_btn_url analytics_event_name="DemoDensite" %}
{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet"
        href="{% static 'accessible-autocomplete/dist/accessible-autocomplete.min.css' %}" />
{% endblock %}

{% block extra_js %}
  <script>var IS_MAP_INTERACTIVE = true;</script>
  <script>var ADDRESS_AUTOCOMPLETE_FIELD_NAME = 'address';</script>
  {{ block.super }}
  <script defer
          src="{% static 'accessible-autocomplete/dist/accessible-autocomplete.min.js' %}"></script>
  <script defer src="{% static 'js/libs/address_autocomplete.js' %}"></script>
{% endblock %}
