{% extends 'demos/_hedge_density_base.html' %}

{% block article_id %}hedge-density-buffer-demo{% endblock %}

{% block article_heading %}Densité bocagère du projet{% endblock %}
{% block table %}
  <table>
    <caption>Résultat du calcul</caption>
    <tbody>
      <tr>
        <th scope="row">Linéaire (L)</th>
        <td>{{ length_400|floatformat:"0g" }} ml</td>
      </tr>
      <tr>
        <th scope="row">Surface (S)</th>
        <td>{{ area_400_ha|floatformat:"g" }} ha</td>
      </tr>
      <tr>
        <th scope="row">Densité (L / S)</th>
        <td>{{ density_400|floatformat:"g" }} ml/ha</td>
      </tr>
    </tbody>
  </table>
{% endblock %}

{% block no_result %}
  <p>Ce démonstrateur fonctionne pour des haies provenant des données d'une simulation.</p>
{% endblock %}

{% block extra_body %}
  {% include '_share_url_modal.html' with shorten_url=True share_url=share_btn_url analytics_event_name="DemoDensiteProjet" %}
{% endblock %}
