{% extends 'base.html' %}

{% load static l10n evaluations moulinette %}

{% block title %}Démonstrateur densité de haie{% endblock %}

{% block main-classes %}demos{% endblock %}

{% block content-title %}Densité bocagère du projet{% endblock %}

{% block content-demo-map %}
  <form method="get" action="">
    {{ form.haies.as_hidden }}

    <div class="ratio-4x3 ratio-sm-4x5 fr-my-3w">
      <div class="ratio-content">
        <div id="map"></div>
      </div>
    </div>

  </form>
{% endblock %}

{% block content-demo-results %}
  {% if result_available %}
    <h2 class="fr-h4 fr-my-3w">Résultat du calcul</h2>

          <table class="demo-hedge-density-buffer">
            <thead>
              <tr>
                <th colspan="2">Distance 400 m</th>
              </tr>
            </thead>

      <tbody>
        <tr>
          <th scope="row">Linéaire</th>
          <td>{{ length_400|floatformat:"0g" }} ml</td>
        </tr>
        <tr>
          <th scope="row">Surface</th>
          <td>{{ area_400_ha|floatformat:"g" }} ha</td>
        </tr>
        <tr>
          <th scope="row">Densité</th>
          <td>{{ density_400|floatformat:"g" }} ml/ha</td>
        </tr>
      </tbody>
    </table>

  {% else %}
    <p>Ce démonstrateur fonctionne pour des haies provenant des données d'une simulation.</p>
  {% endif %}

  {% if debug %}
    <h2 class="fr-h4">Données de calcul</h2>

    {% if values %}
      <table class="fr-table">
        {% for row in values %}
          <tr>
            {% for value in row %}<td>{{ value }}</td>{% endfor %}
          </tr>
        {% endfor %}
      </table>
    {% elif flat_values %}
      {% for value in flat_values %}<span>{{ value }}&nbsp;</span>{% endfor %}
    {% endif %}

  {% endif %}

{% endblock %}

{% block extra_js %}
  {{ super }}
  <script defer src="{% static 'js/demos/hedge_density_map.js' %}"></script>


  <script>
    var DISPLAY_MARKER = {{ display_marker|yesno:'true,false' }};
    var CENTER_MAP = {lng: {{ center_map.0|unlocalize }}, lat: {{ center_map.1|unlocalize }}};
    var DEFAULT_ZOOM = {{ default_zoom }};
    var LAT_FIELD_ID = 'id_lat';
    var LNG_FIELD_ID = 'id_lng';
    var POLYGONS = {{ polygons|default:"[]"|safe }};
    var ENVELOPE = {{ envelope|default:"{}"|safe }};
    var DEBUG = {{ debug|yesno:'true,false' }};
    var LEGEND = [];

    window.addEventListener('load', function () {
      const options = {
        displayMarker: DISPLAY_MARKER,
        centerMap: CENTER_MAP,
        defaultZoom: DEFAULT_ZOOM,
        latFieldId: LAT_FIELD_ID,
        lngFieldId: LNG_FIELD_ID,
        polygons: POLYGONS,
        envelope: ENVELOPE,
        legend: LEGEND,
        debug: DEBUG,
      }

      let map = new DemoMap(options);
    });
  </script>

{% endblock %}
