{% extends base_template %}

{% block title %}Changer le mot de passe{% endblock %}

{% block article %}
  <h1>Changez votre mot de passe EnvErgo</h1>

  <p class="fr-text fr-text--lead">Utilisez ce formulaire pour définir un nouveau mot de passe pour EnvErgo.</p>

  <form method="post" action="" novalidate class="fr-mb-3w">
    {% csrf_token %}
    {% include '_form_snippet.html' with form=form %}

    <button type="submit" class="fr-btn">Changer le mot de passe</button>
  </form>

{% endblock %}
