{% extends base_template %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block article %}
  <h1>Nous vous avons envoyé un e-mail de réinitialisation de mot de passe</h1>

  <p class="fr-text fr-text--lead">
    <span class="fr-fi-mail-fill" aria-hidden="true"></span>
    Consultez votre messagerie et cliquez sur le lien contenu dans l'e-mail pour vous connecter.
    Vous pourrez alors réinitialiser votre mot de passe EnvErgo.
  </p>

  <p>Si au bout de quelques secondes, vous ne recevez pas d'e-mail de réinitialisation, vous pouvez :</p>

  <ul>
    <li>vérifier dans vos spams ;</li>
    <li>
      retenter une demande de réinitialisation <strong>en vérifiant bien que l'adresse saisie correspond à un compte EnvErgo existant</strong> ;
    </li>
    <li>
      <a href="{% url 'contact_us' %}">nous contacter</a>.
    </li>
  </ul>

  <p>L'équipe EnvErgo.</p>

{% endblock %}
