{% extends 'base.html' %}

{% block title %}Succès{% endblock %}

{% block article %}
  <h1>Votre espace doit être activé</h1>

  <p class="fr-text fr-text--lead">
    Votre espace EnvErgo a été créé, il vous reste à l'activer.
  </p>

  <p>Pour ce faire, cliquez sur le lien d'activation que vous allez recevoir par email.</p>

  <p>Si au bout de quelques secondes, vous ne recevez pas d'email d'activation, vous pouvez :</p>

  <ul>
    <li>vérifier dans vos spams ;</li>
    <li>retenter de créer un espace en vérifiant bien la validité de l'adresse saisie ;</li>
    <li><a href="{% url 'contact_us' %}">nous contacter</a>.</li>
  </ul>

  <p>Merci de votre intérêt,<br />
    l'équipe EnvErgo.</p>

{% endblock %}
