version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "04:00"
      timezone: "Europe/Paris"
    cooldown:
      default-days: 7
      semver-major-days: 60
      semver-minor-days: 30
      semver-patch-days: 7

  - package-ecosystem: "pip"
    directory: "/requirements"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "04:00"
      timezone: "Europe/Paris"
    cooldown:
      default-days: 7
      semver-major-days: 60
      semver-minor-days: 30
      semver-patch-days: 7
