<p>
  Le projet est dispensé de la procédure de demande de dérogation au titre de la réglementation sur les espèces protégées.
</p>

<p>
  En effet, la destruction ne concerne que des portions de haie de moins de 10 mètres. En Normandie, ces projets peuvent être acceptés sans exigeance de compensation.
</p>

<p>
  ⚠️ <em>Attention, le nombre de brèches est limité à deux par parcelles.</em> Si votre projet dépasse ce nombre, le service instructeur le considérera comme une destruction nécessitant une compensation, et pourra le refuser.
</p>
