<p>
  Le projet est interdit au titre de la réglementation sur les espèces protégées car il ne prévoit pas de plantation d’une haie en compensation des impacts engendrés.
</p>

<p class="fr-mb-1w">Options pour rendre le projet autorisable :</p>

<ul>
  <li>prévoir de planter une autre haie</li>
</ul>

{% if not is_read_only %}
  <p>
    Vous pouvez <a href="{{ edit_url }}">modifier votre projet dans le simulateur</a> en répondant « Oui, en plantant une haie à un autre endroit ».
  </p>
{% endif %}

{% include 'moulinette/_read_more_btn.html' with aria_controls=criterion.unique_slug %}

<div class="more fr-collapse" id="read-more-{{ criterion.unique_slug }}">

  <p>
    Tout projet de destruction de haie est soumis à la réglementation sur les espèces protégées. Pour être autorisé, il doit généralement obtenir une dérogation des services de l’État.
  </p>

  <p>Pour qu’une dérogation puisse être délivrée, le porteur de projet doit prouver :</p>

  <ul>
    <li>que le projet est réalisé pour des motifs impérieux ;</li>
    <li>
      que toutes les mesures ont été prises pour éviter les impacts du projet sur les espèces protégées (réduire le linéaire détruit ou détruire les haies les moins riches en biodiversité) ;
    </li>
    <li>et en dernier lieu, que les impacts inévitables sont compensés.</li>
  </ul>

  <p>
    La plantation de haies en compensation de la haie détruite est exigée pour toutes les destructions de plus de 10 mètres de linéaire.
  </p>

  <p>
    La procédure mise en place en Normandie pour la prise en compte des espèces protégées dans les demandes de travaux sur haies est décrite dans
    <a href="https://equatorial-red-4c6.notion.site/Normandie-prise-en-compte-des-esp-ces-prot-g-es-pour-les-demandes-de-travaux-sur-haies-2e9fe5fe4766819bb55af564fd39b782"
       target="_blank"
       rel="noopener">cette page d'information</a>.
  </p>

  {% if protected_species %}
    <p>
      <strong>Cortège-type d'espèces protégées présentes dans les haies à détruire&nbsp;:</strong>
    </p>
    <p class="fr-mb-1w">Cette liste est indicative et non exhaustive.</p>
    {% include 'hedges/_species_table.html' with species=protected_species %}
  {% endif %}
</div>
