<p>
  Au vu des caractéristiques et de la localisation des haies à détruire, le projet n'est pas soumis à la procédure de demande de dérogation au titre de la réglementation sur les espèces protégées.
</p>

{% include 'moulinette/_read_more_btn.html' with aria_controls=criterion.unique_slug %}

<div class="more fr-collapse" id="read-more-{{ criterion.unique_slug }}">
  <p>
    <strong>Cortège-type d'espèces protégées présentes dans les haies à détruire :</strong>
  </p>
  <p class="fr-mb-1w">Cette liste est indicative et non exhaustive.</p>
  {% include 'hedges/_species_table_ru.html' with species=protected_species %}
  <p class="fr-mt-1w"><i>Le cortège-type d'espèces est établi à dire d'expert à l'échelle départementale selon les caractéristiques des haies à détruire. Les espèces à plus fort enjeu et répertoriées dans les environ du projet vous seront communiquées lors de l'instruction du dossier.</i></p>
</div>
