<p>
  Le simulateur fonctionne à partir des déclarations du demandeur, qui indique si les linéaires sont situés sur parcelle PAC.
</p>

<h3 class="fr-h6">Avant l'entrée en vigueur du régime unique</h3>

<p>
  Le service instructeur est invité à vérifier les pièces justificatives afférentes aux motifs autorisés BCAE8,
  ainsi que les déclarations du demandeur, en particulier :
</p>

<ul>
  <li>
    que les linéaires déclarés comme « alignements d'arbres » dans le simulateur en sont bien, sur la base des <a href="{% url 'petition_project_instructor_dossier_complet_view' petition_project.reference %}">photos jointes au dossier</a> et d'images satellite (<a href="{{ ign_url }}" target="_blank" rel="noopener">IGN</a>, <a href="{{ google_maps_url }}" target="_blank" rel="noopener">Google</a>) ;
  </li>
  <li>que les haies sur parcelles PAC ont correctement été marquées « sur parcelle PAC » dans le simulateur ;</li>
  <li>
    si les haies à détruire représentent moins de 2% du linéaire total de l'exploitation déclaré par le demandeur, que cette valeur est correcte.
  </li>
</ul>


<h3 class="fr-h6">Une fois le régime unique entré en vigueur</h3>

<p>
  Dans le cadre du régime unique de la haie, l'instruction au titre des règles de conditionnalité PAC ne fait pas
  basculer le projet en autorisation. Durant l'instruction de la déclaration, le service coordonnateur du guichet unique
  consulte le service compétent pour avis simple, avec un délai de réponse de 45 jours. Silence vaut accord.
</p>

<p>
  Afin de vérifier le respect du maintien 1:1 du linéaire de haie sur parcelle PAC, le service instructeur
  est invité à vérifier :
</p>

<ul>
  <li>
    que les linéaires déclarés comme « alignements d'arbres » dans le simulateur en sont bien, sur la base des
    <a href="{% url 'petition_project_instructor_dossier_complet_view' petition_project.reference %}">photos jointes au dossier</a>
    et d'images satellite (<a href="{{ ign_url }}" target="_blank" rel="noopener">IGN</a>, <a href="{{ google_maps_url }}" target="_blank" rel="noopener">Google</a>) ;
  </li>
  <li>que les haies sur parcelles PAC (à détruire et à planter) ont correctement été marquées « sur parcelle PAC » dans
    le simulateur ;</li>
</ul>

