<p>Dans ce site Natura 2000, la destruction de haies est soumise à évaluation des incidences Natura 2000.</p>

<p>
  Le porteur de projet doit se rapprocher de l'animateur du site – voir la
  <a title="liste des animateurs Natura 2000 - ouvre une nouvelle fenêtre"
     href="{{ config.natura2000_coordinators_list_url }}"
     target="_blank"
     rel="noopener external">liste des animateurs Natura 2000</a> dans le département {{ department }}.
</p>

<p>
  Dans son dossier, il devra prouver que son projet ne dégrade ni ne perturbe une espèce protégée d'intérêt européen ou l'habitat de celle-ci.
</p>
