{% load static %}

<div id="action-banner" class="fr-py-1w hide-print">
  <div class="fr-container">
    <div class="fr-grid-row  fr-grid-row--gutters fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-4">
        <a href="{% url 'moulinette_home' %}?{{ request.GET.urlencode }}"
           class="fr-btn fr-btn--icon-left fr-icon-arrow-left-line"
           data-event-category="Content"
           data-event-action="Edit"
           data-event-name="Main">Modifier le projet</a>
      </div>
      {% if is_admin %}
        <div id="copy-btn-container" class="fr-col-12 fr-col-md-4">
          <button id="copy-btn" class="fr-btn fr-btn--icon-left fr-icon-link">
            Copier le lien
            <span id="btn-clicked-message" class="flex-box fr-ml-2w">
              <img id="btn-clicked-image"
                   src="{% static 'images/done.gif' %}"
                   alt="République française">
              Lien copié !
            </span>
          </button>
        </div>

        <div class="fr-col-12 fr-col-md-4">
          <a class="fr-btn fr-btn--icon-left fr-icon-settings-5-line"
             href="{{ debug_url }}">Voir le débug</a>
        </div>
      {% else %}
        {% if display_feedback_form %}
          <div id="feedback-form" class="flex-box fr-col-12 fr-col-md-8">
            <p>💡 Cette simulation vous est-elle utile ?</p>
            <button class="fr-btn fr-btn--icon-left fr-icon-thumb-up-fill"
                    data-fr-opened="false"
                    data-feedback="Oui"
                    aria-controls="feedback-form-useful-dialog">Oui</button>

            <button class="fr-btn fr-btn--icon-left fr-icon-thumb-down-fill"
                    data-fr-opened="false"
                    data-feedback="Non"
                    aria-controls="feedback-form-useless-dialog">Non</button>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
