{% load utils %}

<form class="fr-mb-3w" method="post" novalidate autocomplete="off" action="" id="moulinette-form">
  {% csrf_token %}

  {% include '_form_header.html' with form=form %}

  {% if additional_forms and moulinette.has_missing_data %}
    <div class="fr-alert fr-alert--warning fr-mb-3w">
      <p class="fr-alert__title">
        Question(s) complémentaire(s)
      </p>
      <p>
        À compléter en bas du formulaire 👇
      </p>
    </div>
  {% endif %}

  <div id="form-group-coords" class="fr-input-group hide-print">

    {{ form.lng.as_hidden }}
    {{ form.lat.as_hidden }}

    {% include '_field_snippet.html' with field=form.address %}

    <label class="step">
      Double-cliquez ou déplacez le marqueur sur la carte pour ajuster
      l'emplacement du projet.
    </label>

    <div class="ratio-4x3 fr-mt-1w fr-mb-2w">
      <div class="ratio-content">
        <div class="leaflet-container">
          <div id="map"></div>
        </div>
      </div>
    </div>

    {% if form.lat.errors or form.lng.errors %}
      <p class="fr-error-text">
        ↑
        Les coordonnées saisies sont incorrectes
        ↑
      </p>

    {% endif %}

  </div>

  <div class="fr-mb-3w">
    <label class="step">Complétez les informations décrivant le projet</label>
  </div>

  <p>
    <span class="fr-icon-info-fill" aria-hidden="true"></span>
    Surfaces à prendre en compte : bâti, voirie, espaces verts, remplais et bassins — impacts définitifs et temporaires (travaux).
  </p>

  {% include '_field_snippet.html' with field=form.created_surface %}

  <div class="fr-alert fr-alert--warning fr-alert--sm fr-mb-1w">
    <p><strong>Interface modifiée !</strong><br/>
      Le champ « surface existante » est remplacé par « état final ».</p>
  </div>

  {% include '_field_snippet.html' with field=form.project_surface %}

  {% if additional_forms %}
    <hr />

    <p><strong>Question(s) complémentaire(s)</strong></p>

    {% for field_name, field in additional_fields.items %}
      {% if field|is_checkbox %}
        {% include '_checkbox_snippet.html' with field=field %}
      {% elif field|is_radio %}
        {% include '_radio_snippet.html' with field=field %}
      {% elif field|is_input_file %}
        {% include '_input_file_snippet.html' with field=field %}
      {% else %}
        {% include '_field_snippet.html' with field=field %}
      {% endif %}
    {% endfor %}

  {% endif %}

  <div class="hide-print">
    {% if moulinette and moulinette.has_missing_data %}
      <button type="submit" class="fr-btn">Compléter l'évaluation</button>
    {% elif moulinette %}
      <button type="submit" class="fr-btn">Renouveler l'évaluation</button>
    {% else %}
      <button type="submit" class="fr-btn">Démarrer l'évaluation</button>
    {% endif %}
  </div>
</form>
