{% load utils %}

<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col fr-col-lg-8 fr-col-xl-6">
    <h1 class="fr-h2 centered">Simulez votre projet en phase amont !</h1>
    <div id="moulinette" class="moulinette fr-pt-5w">
      <div class="fr-container">
        <form class="fr-mb-3w"
              method="post"
              novalidate
              autocomplete="off"
              action="{% url "moulinette_result" %}"
              id="moulinette-form">
          {% csrf_token %}

          {% include '_form_header.html' with form=form %}

          <div id="form-groups">
            <div id="form-group-coords" class="moulinette-col first-section">

              {{ form.lng.as_hidden }}
              {{ form.lat.as_hidden }}

              {% include '_field_snippet.html' with field=form.address %}

              <div class="fr-input-group fr-input-group-map">
                <label class="step">
                  Double-cliquez ou déplacez le marqueur sur la carte pour ajuster
                  l'emplacement du projet.
                </label>
                <figure class="fr-content-media">
                  <div id="map-container" class="ratio-4x3 fr-mt-1w fr-mb-2w fr-raw-link">
                    <div class="ratio-content">
                      <div class="leaflet-container">
                        <div id="map"></div>
                      </div>
                    </div>
                  </div>
                </figure>

                {% if form.lat.errors or form.lng.errors %}
                  <p class="fr-error-text">
                    ↑
                    Les coordonnées saisies sont incorrectes
                    ↑
                  </p>

                {% endif %}
              </div>
            </div>

            <div class="moulinette-col last-section">
              <div class="fr-mb-3w">
                <label class="step">Complétez les informations décrivant le projet</label>
              </div>
              <p class="hint-header">
                <span class="fr-icon-info-fill" aria-hidden="true"></span>
                Surfaces à prendre en compte : bâti, voirie, espaces verts, remblais et bassins — impacts définitifs et temporaires (travaux).
              </p>
              {% include '_field_snippet.html' with field=form.created_surface %}
              {% include '_field_snippet.html' with field=form.final_surface %}
              {% if additional_forms %}
                <hr />
                <div id="additional-forms"
                     class="{{ additional_forms_bound|yesno:"bound,unbound" }}">
                  <h4>
                    <strong>Question(s) complémentaire(s)</strong>
                  </h4>
                  <p>
                    Les caractéristiques du projet nécessitent de compléter les informations ci-dessous pour poursuivre votre demande.
                  </p>

                  {% for field_name, field in additional_fields.items %}
                    {% if field|is_checkbox %}
                      {% include '_checkbox_snippet.html' with field=field %}
                    {% elif field|is_radio %}
                      {% include '_radio_snippet.html' with field=field %}
                    {% elif field|is_input_file %}
                      {% include '_input_file_snippet.html' with field=field %}
                    {% else %}
                      {% include '_field_snippet.html' with field=field %}
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}

              {% if optional_forms %}
                <div id="optional-forms">
                  <p>
                    <strong>Questions optionnelles</strong>
                    <small>(admin uniquement)</small>
                  </p>
                  {% for form in optional_forms %}

                    <div class="optional-form">
                      {% include '_checkbox_snippet.html' with field=form.activate %}

                      <fieldset>
                        {% for field in form %}
                          {% if field.name != "activate" %}
                            {% if field|is_checkbox %}
                              {% include '_checkbox_snippet.html' with field=field %}
                            {% elif field|is_radio %}
                              {% include '_radio_snippet.html' with field=field %}
                            {% elif field|is_input_file %}
                              {% include '_input_file_snippet.html' with field=field %}
                            {% else %}
                              {% include '_field_snippet.html' with field=field %}
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      </fieldset>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}

              <div class="hide-print">
                {% if not moulinette %}
                  <button type="submit" class="fr-btn">Démarrer la simulation</button>
                {% elif additional_forms and moulinette.has_missing_data %}
                  <button type="submit" class="fr-btn">Démarrer la simulation</button>
                {% else %}
                  <button type="submit" class="fr-btn">Renouveler la simulation</button>
                {% endif %}
              </div>
            </div>
            <p id="liability-warning" class="fr-message fr-mt-2w">
              EnvErgo est un service d'information. Il ne se substitue pas aux positions de l'administration.
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
