{% load utils %}

{% if optional_forms %}
  <section id="optional-forms" class="fr-accordion form-section">
    <h4 class="fr-accordion__title">
      <button class="fr-accordion__btn"
              type="button"
              aria-expanded="{{ expand_optional_forms|yesno:"true,false" }}"
              aria-controls="accordion-optional-forms">
        <span class="label-wrapper">
          <label class="step">
            Caractéristiques du projet <small>– facultatif</small>
          </label>
          <br>
          <span id="option-count-wrapper" class="no-options">
            <span class="fr-badge fr-badge--blue-ecume">
              <span id="option-count"></span>
            </span>
          </span>
        </span>
      </button>
    </h4>
    <div class="fr-collapse {% if expand_optional_forms %}fr-collapse--expanded{% endif %}"
         id="accordion-optional-forms">
      {% for form in optional_forms %}

        <div class="optional-form">
          {% render_field form.activate %}

          <fieldset class="fr-fieldset">
            {% for field in form %}
              {% if field.name != "activate" %}
                {% render_field field %}
              {% endif %}
            {% endfor %}
          </fieldset>
        </div>
      {% endfor %}

    </div>
  </section>
{% endif %}

{% if additional_forms %}
  <hr />
  <section id="additional-forms"
           class="form-section {{ additional_forms_bound|yesno:"bound,unbound" }}">
    <h4>
      <strong>Questions complémentaires</strong>
    </h4>

    <p>
      Les caractéristiques du projet nécessitent de compléter les informations ci-dessous pour poursuivre votre demande.
    </p>

    {% for field_name, field in additional_fields.items %}
      {% render_field field %}
    {% endfor %}
  </section>
{% endif %}

{% block submit-section %}
  <div class="hide-print submit-section">
    <button type="submit" class="fr-btn">Démarrer la simulation</button>
  </div>
{% endblock %}
