{% load static l10n %}

<script defer src="{% static 'leaflet/dist/leaflet.js' %}"></script>
<script defer src="{% static 'leaflet/draw/leaflet.draw.js' %}"></script>
<script defer src="{% static 'js/libs/leaflet-icon-fix.js' %}"></script>
<script defer
        src="{% static 'accessible-autocomplete/dist/accessible-autocomplete.min.js' %}"></script>
<script defer src="{% static 'js/libs/address_autocomplete.js' %}"></script>
<script defer src="{% static 'js/libs/moulinette_map.js' %}"></script>
<script defer src="{% static 'js/libs/map_widget_events.js' %}"></script>
<script defer src="{% static 'js/libs/form_submit_feedback.js' %}"></script>
<script defer src="{% static 'js/libs/optional_forms.js' %}"></script>
