{% load static l10n %}

<script>
  const ADDRESS_AUTOCOMPLETE_FIELD_NAME = 'address';
  const BIZOU_COORDS = {lat: 48.4961953, lng: 0.7504093};  // Église de Bizou
  const LAT_FIELD_ID = 'id_lat';
  const LNG_FIELD_ID = 'id_lng';
  {% if moulinette %}
    const DEFAULT_LAT_LNG = {lat: {{ moulinette.data.lat|unlocalize }}, lng: {{ moulinette.data.lng|unlocalize }}};
  {% else %}
    const DEFAULT_LAT_LNG = BIZOU_COORDS;
  {% endif %}
</script>
<script defer src="{% static 'leaflet/leaflet.js' %}"></script>
<script defer src="{% static 'leaflet/draw/leaflet.draw.js' %}"></script>
<script defer src="{% static 'accessible-autocomplete/dist/accessible-autocomplete.min.js' %}"></script>
<script defer src="{% static 'js/libs/address_autocomplete.js' %}"></script>
<script defer src="{% static 'js/libs/moulinette_map.js' %}"></script>
