{% load static l10n %}

<script defer src="{% static 'leaflet/leaflet.js' %}"></script>
<script defer src="{% static 'leaflet/draw/leaflet.draw.js' %}"></script>
<script defer src="{% static 'accessible-autocomplete/dist/accessible-autocomplete.min.js' %}"></script>
<script defer src="{% static 'js/libs/address_autocomplete.js' %}"></script>
<script defer src="{% static 'js/libs/moulinette_map.js' %}"></script>
<script defer src="{% static 'js/libs/feedback_form.js' %}"></script>
<script defer src="{% static 'js/libs/map_widget_events.js' %}"></script>
