{% load moulinette %}

{{ perimeters|length }}

{% if perimeters|length == 1 %}
  <p>
    {% perimeter_long_name regulation perimeters.0 as perimeter_name %}
    {% if perimeter.url %}
      Le projet se trouve dans le périmètre <a href="{{ perimeter.url }}" target="_blank" rel="noopener">{{ perimeter_name }}</a>.
    {% else %}
      Le projet se trouve dans le périmètre {{ perimeter_name }}.
    {% endif %}
  </p>
{% else %}
  <p>
    Le projet se trouve dans plusieurs périmètres :
    {% for perimeter in perimeters %}
      {% if perimeter.url %}
        <a href="{{ perimeter.url }}" target="_blank" rel="noopener">{{ perimeter_name }}</a>.
      {% else %}
        {{ perimeter_name }}.
      {% endif %}
    {% endfor %}
  </p>
{% endif %}
