<dialog aria-labelledby="save-modal-title" role="dialog" id="save-modal" class="fr-modal">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-link--close fr-link" title="Fermer la modale d'enregistrement" aria-controls="save-modal">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <h1 id="save-modal-title" class="fr-modal__title">✋ Cette fonctionnalité est en cours de développement</h1>

            <p>Vous souhaitez enregistrer une évaluation : <a href="https://startupdetat.typeform.com/to/s20UN20W" target="_blank" rel="noopener">voulez-vous nous en dire plus ?</a> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>

<script>
  window.SAVE_MODAL_DIALOG_ID = 'save-modal';
</script>
