<dialog aria-labelledby="share-modal-title" role="dialog" id="share-modal" class="fr-modal">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-link--close fr-link" title="Fermer la modale de partage" aria-controls="share-modal">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <h1 id="share-modal-title" class="fr-modal__title"><span class="fr-fi-arrow-right-line fr-fi--lg"></span>Partager cette évaluation</h1>
            <p class="fr-mb-3w">Copiez-collez le lien ci-dessous dans un e-mail adressé à votre destinataire.</p>

            <div id="form-group-share-modal-email" class="fr-input-group">
              <input class="fr-input" type="url" name="share-modal-email" value="{{ current_url }}"/>
            </div>

            <button type="submit" class="fr-btn fr-mb-3w">Copier le lien dans le presse-papier</button>

            <p>Avec ce lien le destinataire pourra directement consulter cette
              page web avec :
            </p>
            <ul class="fr-mb-0w">
              <li>les mêmes caractéristiques de projet (localisation et surfaces) ;</li>
              <li>les mêmes résultats de simulation.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>

<script>
  window.SHARE_MODAL_DIALOG_ID = 'share-modal';
</script>
