{% extends 'base.html' %}

{% load evaluations static l10n %}

{% block title %}Simulation réglementaire du projet{% endblock %}

{% block extra_css %}
  {% include 'moulinette/_form_styles.html' %}

{% endblock %}

{% block extra_js %}
  <script>
    var FEEDBACK_MODAL_DIALOGS = '.feedback-dialog';
    var FEEDBACK_BUTTONS = '.feedback-buttons button';
    var FEEDBACK_RESPOND_URL = '{% url "feedback_respond" %}';
    var VISITOR_ID = '{{ visitor_id }}';
    var CSRF_TOKEN = '{{ csrf_token }}';
    var ADDRESS_AUTOCOMPLETE_FIELD_NAME = 'address';
    var DISPLAY_MARKER = {{ display_marker|yesno:'true,false' }};
    var CENTER_MAP = {lng: {{ center_map.0|unlocalize }}, lat: {{ center_map.1|unlocalize }}};
    var DEFAULT_ZOOM = {{ default_zoom }};
    var LAT_FIELD_ID = 'id_lat';
    var LNG_FIELD_ID = 'id_lng';
    var IS_MAP_STATIC = {{ is_map_static|yesno:'true,false' }};
    var EVENTS_URL = "{% url 'events' %}";
    {% if moulinette_summary %}
      var MOULINETTE_DATA = {{ moulinette_summary|safe }};
    {% endif %}
    var SIMULATION_FORM_ID = "moulinette-form";
  </script>
  {% include 'moulinette/_form_scripts.html' %}

{% endblock %}
