{% extends "moulinette/base.html" %}

{% load leaflet_tags static %}

{% block title %}Accueil{% endblock %}

{% block main-classes %}contrast-bg{% endblock %}

{% block container %}
  <div id="main-container" class="fr-container fr-pt-6w fr-pb-8w">
    <div class="fr-grid-row fr-grid-row--center">
      <article class="fr-col fr-col-lg-9">

        <h1 class="centered">Simulez votre projet en phase amont</h1>

        <section id="moulinette" class="moulinette moulinette-columns fr-pt-5w">
          <div class="fr-container">{% include 'moulinette/_form.html' with form=form %}</div>
        </section>
      </article>
    </div>
  </div>
{% endblock %}
