{% extends "base.html" %}
{% load leaflet_tags static %}

{% block title %}Demandez une évaluation pour un projet{% endblock %}

{% block breadcrumbs %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="/">Accueil</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Moulinette</a>
        </li>
      </ol>
    </div>
  </nav>
{% endblock %}


{% block article %}
  <h1>Saisissez les caractéristiques de votre projet</h1>

  {% include 'moulinette/_form.html' with form=form %}
{% endblock %}

{% block extra_css %}
  {% include 'moulinette/_form_styles.html' %}
{% endblock %}

{% block extra_js %}
  {% include 'moulinette/_form_scripts.html' %}
{% endblock %}
