{% extends 'moulinette/base_result.html' %}

{% load evaluations static %}

{% block header %}
  <header role="banner" class="fr-header header-sticky header-slim">
    {% include '_slim_header.html' %}

  </header>
{% endblock %}

{% block result %}

  <h1 class="fr-mb-5w fr-h2">La simulation nécessite des informations complémentaires</h1>

  <p>
    Complétez le formulaire en répondant aux questions complémentaires pour
    obtenir votre simulation réglementaire.
  </p>

{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script>var MATOMO_CUSTOM_URL = "{{ matomo_custom_url }}";</script>
{% endblock %}
