{% if is_active %}
  <div id="top-bar"
       class="fr-notice fr-notice--info fr-hidden fr-unhidden-lg">
    <div class="fr-container">
      <div class="fr-notice__body">
        <p class="fr-notice__title">{{ message|safe }}</p>
        <button class="fr-btn--close fr-btn"
                title="Masquer le message"
                onclick="hideTopBar()">Masquer le message</button>
      </div>
    </div>
  </div>
{% endif %}
{% if ENV_NAME == "teaching" %}
  <div id="top-bar-teaching" class="fr-notice fr-notice--warning">
    <div class="fr-container">
      <div class="fr-notice__body">
        <p class="fr-notice__title">Environnement de formation.</p>
        <p class="fr-notice__desc">
          Ce portail est réservé à la formation des instructeurs. Les données présentées sont factices et peuvent être effacées.
        </p>
      </div>
    </div>
  </div>
{% endif %}
