<dialog id="{{ dialog_id }}"
        aria-labelledby="{{ dialog_id }}-title"
        role="dialog"
        class="fr-modal hedge-data-dialog{% if dialog_mode != mode %} read-only{% endif %}">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 {% if dialog_mode != mode %}fr-col-md-8 fr-col-lg-6{% else %}fr-col-md-10 fr-col-xl-9{% endif %}">
        <div class="fr-modal__body">
          {% if dialog_mode != mode %}
            {% include "hedges/_hedge_data_dialog_readonly.html" %}
          {% else %}
            <form method="dialog" @submit.prevent="saveHedgeData('{{ dialog_mode }}')">
              <div class="fr-modal__content fr-pt-4w">
                {% include "hedges/_hedge_data_dialog_header.html" %}
                {% include '_form_with_fieldsets_snippet.html' with form=form %}
              </div>

              <div class="fr-modal__footer">
                <button type="submit" class="fr-btn">Enregistrer</button>
              </div>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</dialog>
