{# Title, categories and length of the hedge displayed by the dialog, see `selectedHedge` in hedge_input/app.js #}
<div class="hedge-data-dialog-header">
  <h1 id="{{ dialog_id }}-title" class="fr-modal__title fr-mb-1w">
    Description de la haie <span>[[ selectedHedge?.id ]]</span>
  </h1>
  {% if config.single_procedure %}
    <div class="fr-mb-1w">
      <span class="fr-badge {{ HedgeCategory.hru.badge_modifier_class }} fr-badge--sm"
            v-show="selectedHedge?.category() === 'hru'">{{ HedgeCategory.hru.badge_label }}</span>
      <span class="fr-badge {{ HedgeCategory.l350_3.badge_modifier_class }} fr-badge--sm"
            v-show="selectedHedge?.category() === 'l350_3'">{{ HedgeCategory.l350_3.badge_label }}</span>
    </div>
  {% endif %}
</div>
<p class="fr-tag fr-mb-3w">
  Longueur : <span>[[ selectedHedge?.length.toFixed(0) ]]</span> m
</p>
