{% load utils %}

<div class="fr-table fr-table--bordered hedge-summary-table"
     id="hedges-summary-table">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table>
          {% if caption %}
            <caption>
              <div class="fr-table__caption__desc">
                <strong>{{ caption }}</strong>
              </div>
            </caption>
          {% endif %}
          <thead>
            <tr>
              <th class="fr-cell--fixed" role="columnheader">Type</th>
              <th colspan="2">{{ to_remove_header|default:"À détruire" }}</th>
              <th colspan="2">{{ to_plant_header|default:"À planter" }}</th>
            </tr>
          </thead>
          <tbody>
            {% for choice in hedge_types reversed %}
              {% if choice.value != hedge_types.ALIGNEMENT %}
                {% with filtered_hedges=hedges|get_attr:choice.value %}
                  <tr>
                    <th class="fr-cell--fixed" scope="row">{{ choice.label }}</th>
                    <td>{{ filtered_hedges.to_remove.length|floatformat:"0g" }} m</td>
                    <td>{{ filtered_hedges.to_remove.names|default:"-" }}</td>
                    <td>{{ filtered_hedges.to_plant.length|floatformat:"0g" }} m</td>
                    <td>{{ filtered_hedges.to_plant.names|default:"-" }}</td>
                  </tr>
                {% endwith %}
              {% endif %}
            {% endfor %}
            <tr class="total-row">
              <th class="fr-cell--fixed" scope="row">Linéaire total de haies</th>
              <td colspan="2">{{ hedges.n_alignement.to_remove.length|floatformat:"0g" }} m</td>
              <td colspan="2">{{ hedges.n_alignement.to_plant.length|floatformat:"0g" }} m</td>
            </tr>
            {% if hedge_types.ALIGNEMENT in hedge_types %}
              <tr>
                <th class="fr-cell--fixed" scope="row">{{ hedge_types.ALIGNEMENT.label }}</th>
                <td>{{ hedges.alignement.to_remove.length|floatformat:"0g" }} m</td>
                <td>{{ hedges.alignement.to_remove.names|default:"-" }}</td>
                <td>{{ hedges.alignement.to_plant.length|floatformat:"0g" }} m</td>
                <td>{{ hedges.alignement.to_plant.names|default:"-" }}</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
