<div class="fr-table fr-table--no-caption">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table>
          <caption>Liste des espèces protégées potentiellement présentes</caption>
          <thead>
            <tr>
              <th>Groupe</th>
              <th>Nom commun</th>
              <th>Nom scientifique</th>
            </tr>
          </thead>
          <tbody>
            {% for s in species %}
              <tr>
                <td>{{ s.get_group_display }}</td>
                <td>{{ s.common_name }}</td>
                <td>
                  <i>{{ s.scientific_name }}</i>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
