{% extends 'base.html' %}

{% load static %}

{% block title %}Saisie haie{% endblock %}

{% block html-classes %}saisie{% endblock %}

{% block header %}{% endblock %}

{% block main %}

  <div id="app"
       v-cloak
       data-mode="{{ mode|default:'removal' }}"
       data-save-url="{% url 'input_hedges' department=department mode=mode %}"
       data-conditions-url="{{ hedge_conditions_url }}"
       data-hedges-data='{{ hedge_data_json|safe }}'
       data-minimum-length-to-plant="{{ minimum_length_to_plant|default:0 }}">
    {% if is_alternative %}
      <div class="fr-notice fr-notice--info">
        <div class="fr-notice__body fr-ml-2w">
          <p>
            <span class="fr-icon-edit-fill" aria-hidden="true"></span>
            <span><b>Simulation alternative</b> pour ce dossier</span>
          </p>
        </div>
      </div>
    {% endif %}
    <div id="saisie-ui">
      <div id="map">

        <div v-if="helpBubble" class="help-bubble">
          <span class="fr-icon-info-fill fr-mr-2v" aria-hidden="true"></span>
          <span v-if="helpBubble === 'drawingHelp'">Cliquez pour ajouter un autre point. Double-cliquez pour terminer le tracé.</span>
          <span v-else-if="helpBubble === 'initHedgeHelp'">Cliquez sur un premier point pour commencer le tracé</span>
          <span v-else-if="helpBubble === 'initialHelp'">Commencez par rechercher une commune puis zoomer sur l’emplacement des haies</span>
        </div>
      </div>
      <div id="tooltip" style="display: none"></div>
      {% comment %}
      There is an awfully weird bug here: if we keep the search control inside the `map` div, then leaflet steals the click event, making the search widget usable with a keyboard only. The only way I could find to fix this issue is to move this control section outside the map.
      {% endcomment %}
      <div id="controls-container"
           class="leaflet-top leaflet-left inline-controls">
        <div class="controls inline-controls">
          <div class="leaflet-control fr-search-bar fr-search-bar--sm fr-mr-1w"
               role="search">
            <label class="fr-label" for="id_address">Rechercher une commune ou une adresse</label>
            <input class="fr-input"
                   placeholder="Rechercher une commune ou une adresse"
                   type="search"
                   id="id_address"
                   name="address"
                   :disabled="hedgeBeingDrawn">
            <button class="fr-btn fr-btn--sm"
                    title="Rechercher"
                    :disabled="hedgeBeingDrawn">Rechercher</button>
          </div>

          <template v-if="hedges.TO_REMOVE.hasCompletedHedge || hedges.TO_PLANT.hasCompletedHedge">
            <div class="leaflet-control">
              <button class="fr-btn fr-btn--sm fr-btn--secondary"
                      @click="zoomOut"
                      :disabled="hedgeBeingDrawn">
                <img class="img-icon" src="{% static 'icons/focus-mode.svg' %}" alt="">
                Vue d'ensemble
              </button>
            </div>
          </template>

        </div>
        <div id="drawing-controls" class="controls">
          <button v-if="mode === 'removal'"
                  class="leaflet-control fr-btn fr-btn--sm fr-btn--secondary fr-mr-1w"
                  @click="startDrawingToRemove"
                  :disabled="hedgeBeingDrawn">
            <img class="img-icon" src="{% static 'icons/arracher.svg' %}" alt="">
            Tracer une haie à détruire
          </button>
          <button v-if="mode === 'plantation'"
                  class="leaflet-control fr-btn fr-btn--sm fr-btn--secondary"
                  @click="startDrawingToPlant"
                  :disabled="hedgeBeingDrawn">
            <img class="img-icon" src="{% static 'icons/planter.svg' %}" alt="">
            Tracer une haie à planter
          </button>
          <button v-if="hedgeBeingDrawn"
                  class="leaflet-control fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-close-line"
                  @click="cancelDrawing">Annuler le tracé en cours</button>
        </div>
      </div>

      <div id="sidebar" class="fr-text--sm">
        <div id="hedge-lists">
          <div class="hedge-list to-remove">
            <h3>
              <img class="img-icon" src="{% static 'icons/à_arracher.svg' %}" alt="">
              Haies à détruire
              <span class="fr-tag fr-tag--sm">Total : [[ Math.ceil(hedges.TO_REMOVE.totalLength) ]] m</span>
            </h3>
            <template v-if="hedges.TO_REMOVE.hasCompletedHedge">
              <table>
                <tbody>
                  <tr v-for="(hedge, index) in hedges.TO_REMOVE.completelyDrawn()"
                      :key="index"
                      :class="{ hovered: hedge.isHovered }"
                      @mouseover="hedge.handleMouseOver()"
                      @mouseout="hedge.handleMouseOut()"
                      @click="hedge.centerOnMap()">
                    <th>
                      [[ hedge.id ]]
                      <span v-if="!hedge.isValid()"
                            class="fr-badge fr-badge--warning fr-badge--sm">À compléter</span>
                    </th>
                    <td>
                      <button class="fr-btn fr-btn--tertiary-no-outline"
                              @click.stop="showHedgeModal(hedge, hedge.type)"
                              :disabled="hedgeBeingDrawn">
                        [[ mode === 'removal' ? 'Description' : 'Voir la description' ]]
                      </button>
                    </td>
                    <td v-if="mode === 'removal'">
                      <button class="fr-btn fr-btn--tertiary-no-outline"
                              @click.stop="hedge.remove()"
                              :disabled="hedgeBeingDrawn">Supprimer</button>
                    </td>
                    <td>[[ Math.ceil(hedge.length) ]] m</td>
                  </tr>
                </tbody>
              </table>
            </template>
            <template v-else>
              <p class="fr-text--light">Aucune haie tracée</p>
            </template>
          </div>
          <hr>
          <div v-if="mode !== 'removal' && (mode === 'plantation' || hedges.TO_PLANT.count > 0)"
               class="hedge-list to-plant">
            <h3>
              <img class="img-icon" src="{% static 'icons/à_planter.svg' %}" alt="">
              Haies à planter
              <span class="fr-tag fr-tag--sm">Total : [[ Math.ceil(hedges.TO_PLANT.totalLength) ]] m</span>
            </h3>
            <template v-if="hedges.TO_PLANT.hasCompletedHedge">
              <table>
                <tbody>
                  <tr v-for="(hedge, index) in hedges.TO_PLANT.completelyDrawn()"
                      :key="index"
                      :class="{ hovered: hedge.isHovered }"
                      @mouseover="hedge.handleMouseOver()"
                      @mouseout="hedge.handleMouseOut()"
                      @click="hedge.centerOnMap()">
                    <th>
                      [[ hedge.id ]]
                      <span v-if="!hedge.isValid()"
                            class="fr-badge fr-badge--warning fr-badge--sm">À compléter</span>
                    </th>
                    <td>
                      <button class="fr-btn fr-btn--tertiary-no-outline"
                              @click.stop="showHedgeModal(hedge, hedge.type)"
                              :disabled="hedgeBeingDrawn">
                        [[ mode === 'plantation' ? 'Description' : 'Voir la description' ]]
                      </button>
                    </td>
                    <td>
                      <button v-if="mode === 'plantation'"
                              class="fr-btn fr-btn--tertiary-no-outline"
                              @click.stop="hedge.remove()"
                              :disabled="hedgeBeingDrawn">Supprimer</button>
                    </td>
                    <td>[[ Math.ceil(hedge.length) ]] m</td>
                  </tr>
                </tbody>
              </table>
            </template>
            <template v-else>
              <p class="fr-text--light">Aucune haie tracée</p>
            </template>
          </div>
          <div v-else-if="hedges.TO_PLANT.count > 0" class="hedge-list to-plant">
            <h3>
              <img class="img-icon" src="{% static 'icons/à_planter.svg' %}" alt="">
              Haies à planter
            </h3>
            <p class="fr-text--light">À modifier à l'étape suivante</p>
          </div>
        </div>

        <div id="hedge-conditions"
             v-if="mode === 'plantation' || mode === 'read_only'">
          <div class="alt fr-m-2w" id="tile-16">
            <div class="tile-header fr-p-1w">
              <h3>Conditions à respecter pour la plantation</h3>
              <div v-if="conditions.status === 'ok' && hedges.TO_PLANT.count > 0">
                <span :class="{ 'fr-badge--success': conditions.result, 'fr-badge--warning': !conditions.result }"
                      class="fr-badge">
                  <span v-if="conditions.result">Plantation adéquate</span>
                  <span v-if="!conditions.result">Plantation insuffisante</span>
                </span>
              </div>
              <div v-if="conditions.status === 'loading'"
                   class="fr-px-1w fr-pt-2w fr-pb-1w">Calcul en cours…</div>
            </div>
            <div id="conditions"
                 :class="conditions.status"
                 class="fr-px-1w fr-pb-2w "
                 v-if="conditions.conditions.length > 0">
              <div class="condition-hint" v-for="condition in conditions.conditions">
                <p class="fr-my-1w"
                   v-if="condition.label === 'Type de haie plantée' && condition.hint">
                  <span v-html="condition.hint"></span>
                </p>
              </div>

              <div class="condition-content" v-for="condition in conditions.conditions">
                <div>
                  <p :class="{ 'fr-badge--success': condition.result, 'fr-badge--error': !condition.result} "
                     class="fr-badge"></p>
                </div>
                <div>
                  <h6>[[ condition.label ]]</h6>
                  <p v-if="condition.hint && condition.label !== 'Type de haie plantée'">
                    <span class="fr-hint-text fr-mb-1w" v-html="condition.hint"></span>
                  </p>
                  <p v-html="condition.text"></p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      {% include 'hedges/_hedge_data_dialog.html' with form=hedge_to_plant_data_form dialog_id="plantation-hedge-data-dialog" dialog_mode="plantation" %}
      {% include 'hedges/_hedge_data_dialog.html' with form=hedge_to_remove_data_form dialog_id="removal-hedge-data-dialog" dialog_mode="removal" %}

      <dialog id="cancel-modal" class="fr-modal" role="dialog">
        <div class="fr-container fr-container--fluid fr-container-md">
          <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
              <div class="fr-modal__body">
                <div class="fr-modal__content fr-pt-4w">
                  <p>
                    Souhaitez-vous vraiment quitter la carte de localisation des haies ? Vos modifications ne seront pas
                    enregistrées.
                  </p>
                </div>
                <div class="fr-modal__footer">
                  <div class="fr-btns-group fr-btns-group--left fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                    <button id="btn-back-to-map" class="fr-btn">Rester sur la carte</button>
                    <button id="btn-quit-without-saving" class="fr-btn fr-btn--secondary">Quitter sans enregistrer</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </dialog>

      <dialog id="save-modal" class="fr-modal" role="dialog">
        <div class="fr-container fr-container--fluid fr-container-md">
          <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
              <div class="fr-modal__body">
                <div class="fr-modal__header">
                  <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale">Fermer</button>
                </div>

                <div class="fr-modal__content">
                  <h1 class="fr-modal__title">Complétez la description des haies pour pouvoir poursuivre</h1>
                  <p>
                    Pour que le simulateur détermine les réglementations qui s’appliquent au projet, toutes les haies
                    doivent être décrites complètement.
                  </p>
                  <p>Ces haies sont incomplètes : [[ invalidHedges ]]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </dialog>
    </div>

    <footer>
      <button v-if="mode == 'read_only'"
              class="fr-btn fr-btn--secondary fr-ml-13w fr-btn--icon-left fr-icon-arrow-left-s-line"
              @click="cancel">Retour</button>
      <button v-if="mode !== 'read_only'"
              class="fr-btn fr-btn--secondary fr-ml-13w"
              @click="cancel">Quitter sans enregistrer</button>
      <button v-if="mode !== 'read_only'"
              class="fr-btn fr-btn--primary fr-mr-13w fr-btn--icon-right fr-icon-arrow-right-s-line"
              @click="saveData">Enregistrer</button>
    </footer>
  </div>
{% endblock %}

{% block extra_body %}{% endblock %}

{% block footer %}{% endblock %}

{% block bottom_js %}
  {{ block.super }}
  <script>var ADDRESS_AUTOCOMPLETE_FIELD_NAME = 'address';</script>
  <script defer src="{% static 'leaflet/dist/leaflet.js' %}"></script>
  <script defer src="{% static 'leaflet-editable/src/Leaflet.Editable.js' %}"></script>
  <script defer src="{% static 'js/libs/leaflet-icon-fix.js' %}"></script>
  <script defer
          src="{% static 'accessible-autocomplete/dist/accessible-autocomplete.min.js' %}"></script>
  <script defer src="{% static 'js/libs/address_autocomplete.js' %}"></script>

  <script defer src="{% static 'vue/dist/vue.global.prod.js' %}"></script>
  <script defer type="module" src="{% static 'hedge_input/app.js' %}"></script>
{% endblock %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'leaflet/dist/leaflet.css' %}" rel="stylesheet">
  <link rel="stylesheet"
        href="{% static 'accessible-autocomplete/dist/accessible-autocomplete.min.css' %}" />

{% endblock %}
