<p>
  Le projet ne concerne pas d’alignements d’arbres situés en bord de voie ouverte à la circulation du public. Il n’est
  donc pas soumis à cette réglementation (<a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000045213878"
   title="Texte de loi L350-3 du code de l’environnement - ouvre une nouvelle fenêtre"
   target="_blank"
   rel="noopener external">art. L350-3 du code de l’environnement</a>).
</p>
<p>
  Les allées et alignements d’arbres situés en bord de voie ouverte à la circulation du public sont protégés. Pour en
  savoir plus sur cette réglementation, le Cerema met à disposition <a title="Guide d'instruction alignement d'arbres - ouvre une nouvelle fenêtre"
    href="https://doc.cerema.fr/Default/doc/SYRACUSE/601129/allees-et-alignements-d-arbres-bordant-une-voie-ouverte-a-la-circulation-publique-appui-a-l-instruct?_lg=fr-FR"
    target="_blank"
    rel="noopener external">un guide d’instruction</a>.
</p>
