{% if icpe_regime == "inconnu" %}
  <p>
    La nature du dossier dépend du régime ICPE de l'installation.
    <a href="https://entreprendre.service-public.fr/vosdroits/F33414"
       target="_blank"
       rel="noopener">En savoir plus</a>
  </p>
{% elif icpe_regime == "declaration" %}
  <p>
    Une déclaration ICPE.
    <a href="https://entreprendre.service-public.fr/vosdroits/F33414"
       target="_blank"
       rel="noopener">En savoir plus</a>
  </p>
{% elif icpe_regime == "enregistrement" %}
  <p>
    Une demande d'enregistrement ICPE.
    <a href="https://entreprendre.service-public.fr/vosdroits/F33414"
       target="_blank"
       rel="noopener">En savoir plus</a>
  </p>
{% endif %}
