<p>

  {% if moulinette.loi_sur_leau.result == 'action_requise' %}
    Si le projet détruit ou affecte le fonctionnement de plus de 1 000 m² de zones humides, il est soumis à déclaration
    Loi sur l’eau.
  {% elif moulinette.loi_sur_leau.result == 'soumis' %}
    Les conclusions de l'inventaire doivent figurer dans le dossier Loi sur l'eau.
  {% endif %}
  <br />
  <a title="Voir le détail de la réglementation « Loi sur l'eau »"
     href="#criterion-loi_sur_leau__zone_humide"
     class="fr-link fr-text--sm action-learn-more-link">En savoir plus</a>
</p>
