<p>
  L'étude doit évaluer la surface du bassin versant intercepté par le projet.

  <br />
  Si cette surface, ajoutée à celle du projet, dépasse 1 ha, le projet est soumis à déclaration Loi sur l'eau.
  <br />
  <a title="Voir le détail de la réglementation « Loi sur l'eau »"
     href="#{% if moulinette.loi_sur_leau.ecoulement_avec_bv %}criterion-loi_sur_leau__ecoulement_avec_bv{% else %}criterion-loi_sur_leau__ecoulement_sans_bv{% endif %}"
     class="fr-link fr-text--sm action-learn-more-link">En savoir plus</a>
</p>
