{% if icpe_regime == "inconnu" %}
  <p>Ceci s'applique si le projet est soumis à enregistrement ICPE.</p>
{% elif icpe_regime == "enregistrement" %}
  <p>Le projet est soumis à enregistrement ICPE.</p>
{% endif %}
<p>
  L'arrêté municipal doit faire référence au fait que les travaux ne peuvent pas commencer avant l'accord
  préfectoral (conformément aux art.&nbsp;<a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000006074327"
   target="_blank"
   rel="noopener">L425-10</a>
  et <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000006819554"
    target="_blank"
    rel="noopener">R*424-6</a> du code de l'urbanisme).
</p>
