<p>
  Le projet franchit les seuils d'entrée en procédure Loi sur l'eau. Mais il concerne une installation
  classée (ICPE), et l'instruction Loi sur l'eau est embarquée dans la procédure ICPE.
</p>
<p>
  Il n'y a pas de dossier Loi sur l'eau à déposer, sauf exception (si les impacts sur les milieux
  aquatiques ne sont pas considérés comme « connexes » à l'installation classée) —
  <a title="Voir le détail de la réglementation « Loi sur l'eau »"
     href="#regulation_loi_sur_leau"
     class="fr-link fr-text--sm action-learn-more-link">En savoir plus</a>.
</p>
