{% if moulinette.natura2000.ein_out_of_n2000_site %}
  <p>
    Ceci s’applique <em>bien que le projet se situe hors d’un site Natura 2000</em>, parce qu'il est soumis à la Loi sur
    l'eau ou à examen au cas par cas. Il est donc soumis à évaluation des incidences Natura 2000 (EIN), conformément aux
    <a href='https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000046885095/2023-11-30/'
       target='_blank'>articles
      R414-19 I-2° et II du code de l’environnement</a>. Et l'EIN est une pièce obligatoire de la demande d'autorisation
      d'urbanisme.
    </p>
  {% endif %}
