{% if moulinette.natura2000.result == "soumis" %}
  <p>
    L'étude d'impact fait office d'évaluation des incidences Natura 2000, qui n'a donc pas à être exigée comme pièce complémentaire du dossier d'autorisation d'urbanisme.
  </p>
  <p>
    L'étude d'impact tient lieu d'EIN si elle permet d'établir l'absence d'incidences sur tout site Natura 2000. Le bureau d'études environnement en charge du dossier inclura dans son analyse les incidences du projet sur les sites Natura 2000.
  </p>
{% endif %}
