<p><strong>Action requise :</strong></p>

<p>Démontrer que le projet n'est pas soumis à la Loi sur l'eau (voir actions requises dans la section « Loi sur l’eau »)</p>

<p><strong>Pourquoi cette action est-elle requise ?</strong></p>

<p>Au vu des informations saisies, il est possible que le projet soit soumis à la Loi sur l’eau (voir section « Loi sur l’eau »). Il serait alors soumis à évaluation des incidences Natura 2000.</p>

<p>En effet, tout projet soumis à la Loi sur l’eau, qu’il soit dans un site Natura 2000 ou non, est automatiquement soumis à évaluation des incidences Natura 2000.</p>

<p><strong>Quel impact environnemental ?</strong></p>

<p>Les projets soumis à la Loi sur l'eau sont susceptibles d'avoir des impacts significatifs sur l’environnement.</p>
