<p>
  <strong>Pourquoi vérifier si le projet est soumis à la Loi sur l’eau ?</strong>
</p>

<p>
  Au vu des informations saisies, il est possible que le projet soit soumis à la Loi sur l’eau (<a href="#regulation_loi_sur_leau">voir section « Loi sur l’eau »)</a>.
</p>

{% if moulinette.natura2000.result != 'soumis' %}

  <p>Il serait alors soumis à évaluation des incidences Natura 2000 (EIN).</p>

  <p>
    En effet, tout projet soumis à la Loi sur l’eau, <em>qu’il soit dans un site Natura 2000 ou non</em>, est automatiquement soumis à EIN.
  </p>

{% endif %}

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  En raison de la surface qu’ils impactent et de la fragilité des milieux où ils s’insèrent, les projets soumis à la Loi sur l'eau sont susceptibles d'avoir des impacts significatifs sur des espèces fragiles et leurs habitats.
</p>
