<p><strong>Pourquoi le projet n'est-il pas concerné ?</strong></p>

<p>Au vu des informations saisies, le projet n'est pas soumis à la Loi sur l'eau (voir section « Loi sur l’eau »).</p>

<p>Tout projet soumis à la Loi sur l’eau, <em>qu’il soit dans un site Natura 2000 ou non</em>, est automatiquement soumis à évaluation des incidences Natura 2000. Cette disposition ne s’applique donc pas ici.</p>

<p><strong>Quel impact environnemental ?</strong></p>

<p>Les projets soumis à la Loi sur l'eau sont susceptibles d'avoir des impacts significatifs sur l’environnement.</p>
