<p>
  <strong>Pourquoi vérifier si le projet est soumis à la Loi sur l’eau ?</strong>
</p>

<p>
  Le projet est susceptible d'être soumis à la Loi sur l’eau (<a href="#regulation_loi_sur_leau">voir section « Loi sur l’eau »)</a>, et des études doivent être menées pour déterminer si c'est le cas.
</p>

<p>
  Or tout projet soumis à la Loi sur l’eau, <em>qu’il soit dans un site Natura 2000 ou non</em>, est automatiquement soumis à évaluation des incidences Natura 2000 (EIN).
</p>

<p>
  En conséquence, si les études déterminent que le projet doit déposer un dossier Loi sur l'eau, la réalisation d'une EIN sera nécessaire.
</p>

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  En raison de la surface qu’ils impactent et de la fragilité des milieux où ils s’insèrent, les projets soumis à la Loi sur l'eau sont susceptibles d'avoir des impacts significatifs sur des espèces fragiles et leurs habitats.
</p>
