<p><strong>Action requise :</strong></p>

<p>Démontrer que le projet n'est pas soumis à la Loi sur l'eau.</p>

<p>Pourquoi cette action est-elle requise ?</p>

<p>Si votre projet est soumis à la Loi sur l'eau, il sera alors soumis à évaluation des incidences Natura 2000.</p>

<p><strong>Quel impact environnemental ?</strong></p>

<p>Les sites Natura 2000 sont désignés pour protéger un certain nombre d'habitats et d'espèces représentatifs de la biodiversité.</p>

<p>Les projets étant soumis à la Loi sur l'eau sont susceptibles d'avoir des impacts significatifs sur les sites Natura 2000 qui doivent être évalués.</p>
