<p><strong>Pourquoi le projet est-il concerné ?</strong></p>

<p>Au vu des informations saisies, le projet est soumis à la Loi sur l’eau (<a href="#regulation_loi_sur_leau">voir section « Loi sur l’eau »</a>).</p>

<p>Or, tout projet soumis à la Loi sur l’eau, <em>qu’il soit dans un site Natura 2000 ou non</em>, est automatiquement soumis à évaluation des incidences Natura 2000.</p>

<p><strong>Quel impact environnemental ?</strong></p>

<p>Les projets soumis à la Loi sur l'eau sont susceptibles d'avoir des impacts significatifs sur l’environnement.</p>
