<p><strong>Pourquoi le projet n'est-il pas concerné ?</strong></p>

<p>Le projet est situé dans un site Natura 2000, mais il ne porte pas sur un lotissement.</p>

<p>Tout lotissement situé en tout ou partie dans un site Natura 2000 est soumis à évaluation des incidences Natura 2000. Cette disposition ne s’applique donc pas ici.</p>

<p><strong>Quel impact environnemental ?</strong></p>

<p>Les sites Natura 2000 abritent des espèces végétales et animales particulièrement menacées. Les règles qui y sont appliquées visent à assurer la survie à long terme de ces espèces et de leurs habitats.</p>

<p>Les lotissements sont susceptibles d'avoir des impacts significatifs sur l’environnement, particulièrement fragile sur les sites Natura 2000.</p>
