<p><strong>Pourquoi le projet est-il concerné ?</strong></p>

<p>Le projet est un lotissement, considéré comme se situant à proximité immédiate d’un site Natura 2000 (moins de 500 m, selon la doctrine DDTM 44).</p>

<p>Or, tout lotissement situé en tout ou partie dans un site Natura 2000 ou à proximité immédiate est soumis à évaluation des incidences Natura 2000.</p>

<p><strong>Quel impact environnemental ?</strong></p>

<p>Les sites Natura 2000 abritent des espèces végétales et animales particulièrement menacées. Les règles qui y sont appliquées visent à assurer la survie à long terme de ces espèces et de leurs habitats.</p>

<p>Les lotissements sont susceptibles d'avoir des impacts significatifs sur l’environnement, particulièrement fragile sur les sites Natura 2000.</p>
