<p><strong>Action requise :</strong></p>

<p>Démontrer que le projet n'impacte pas plus de 100 m² de zone humide.</p>

<p><strong>Pourquoi cette action est-elle requise ?</strong></p>

<p>
  Le projet se situe à proximité d'une zone humide référencée, et dans l’un des sites Natura 2000 listés dans l’arrêté.
  Au vu des informations saisies, le projet impacte une surface de plus de 100 m².
</p>

<p>Il est donc probable que plus de 100 m² de zone humide soient impactées par le projet, qui serait alors soumis à évaluation des incidences Natura 2000.</p>

<p><strong>Comment déterminer si le projet est en zone humide ?</strong></p>

<p>La recherche de zones humides se fait nécessairement par des études sur le terrain, confiées en pratique à des bureaux d'études spécialisés. Ils examinent les espèces végétales présentes, le type de sol, et le profil d'humidité sous la surface.</p>

<p><strong>Comment déterminer l'impact d'un projet sur une zone humide ?</strong></p>

<p>Les impacts pris en compte :</p>

<ul>
  <li>incluent les destructions mais aussi les modifications du fonctionnement de la zone humide ;</li>
  <li>qu'ils soient définitifs (construction, voirie) ou temporaires (remblais, drainage).</li>
</ul>

<p>Ce travail est généralement confié à des bureaux d'études spécialisés.</p>

<p><strong>Quel impact environnemental ?</strong></p>

<p>Les sites Natura 2000 abritent des espèces végétales et animales particulièrement menacées. Les règles qui y sont appliquées visent à assurer la survie à long terme de ces espèces et de leurs habitats.</p>

<p>Les zones humides ont un rôle primordial dans la préservation de la ressource en eau. Elles permettent le développement de la biodiversité ; elles préservent la qualité de l'eau en jouant un rôle de filtre ; et réduisent les impacts des inondations par leur effet « tampon » sur le niveau des rivières.</p>
