<p><strong>Pourquoi le projet n'est-il pas concerné ?</strong></p>

<p>Le projet est situé dans l’un des sites Natura 2000 listés dans l’arrêté, mais hors d’une zone inondable.</p>

<p><strong>Quel impact environnemental ?</strong></p>

<p>Les sites Natura 2000 abritent des espèces végétales et animales particulièrement menacées. Les règles qui y sont appliquées visent à assurer la survie à long terme de ces espèces et de leurs habitats.</p>

<p>En cas de débordement du cours d'eau, le bâti diminue la surface sur laquelle les eaux de la crue se répandent. Cela peut engendrer une augmentation des hauteurs d'eau et des vitesses d'écoulement, et ainsi rendre la crue plus destructrice.</p>
