<p>
  <strong>Pourquoi le projet est-il concerné ?</strong>
</p>

<p>
  Le projet est situé en zone inondable, dans l'un des sites Natura 2000 listés dans l'arrêté, et au vu des informations saisies, il impacte une surface supérieure à 200 m².
</p>

<p>
  <strong>Comment déterminer l'impact sur la zone inondable ?</strong>
</p>

<p>
  C'est le « lit majeur » du cours d'eau qui est considéré, c'est-à-dire la zone inondée en cas de la plus grande crue connue.
</p>

<p>
  Un calcul de la diminution de surface d'expansion des crues causée par le projet doit être réalisé. Si cette surface dépasse 200 m², le projet est soumis à évaluation des incidences Natura 2000.
</p>

<p>Cette tâche est généralement réalisée par un bureau d'études spécialisé.</p>

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  Les sites Natura 2000 abritent des espèces végétales et animales particulièrement menacées. Les règles qui y sont appliquées visent à assurer la survie à long terme de ces espèces et de leurs habitats.
</p>

<p>
  En cas de débordement du cours d'eau, le bâti diminue la surface sur laquelle les eaux de la crue se répandent. Cela peut engendrer une augmentation des hauteurs d'eau et des vitesses d'écoulement, et ainsi rendre la crue plus destructrice.
</p>
