{% extends 'emails/_base.html' %}

{% block email_title %}Activation compte Guichet unique de la haie{% endblock %}

{% block content %}

  <p>Bonjour,</p>

  <p>Vous venez de faire la demande d’une création de compte sur le « guichet unique de la haie ».</p>

  <p>Avant de pouvoir accéder aux dossiers, activez votre compte en cliquant sur le lien ci-dessous :</p>

  <p>
    <a href="{{ full_activate_url }}">J'active mon compte.</a>
  </p>

  <p>En cas de difficulté d’accès ou de problème avec votre compte, n’hésitez pas à contacter notre support.</p>

  <p>
    En cas de difficulté d’accès ou de problème avec votre compte, n’hésitez pas à contacter notre support :
    <a href="mailto:contact@haie.beta.gouv.fr">contact@haie.beta.gouv.fr</a>
  </p>

  <p>Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer cet email.</p>

  {% include 'haie/emails/_email_signature.html' %}

{% endblock %}
