<div id="liability-info" class="fr-alert fr-alert--info fr-my-5w">
  <p>
    Ce simulateur est mis à disposition par l'administration. Il est paramétré pour refléter les attendus de
    l'instruction de projets de destruction de haie. Cependant certains cas particuliers peuvent ne pas être
    anticipés par l'outil numérique.
  </p>

  {% if not is_read_only %}
    <p>
      Vous pouvez donc
      <span role="button"
            tabindex="0"
            class="inline-button"
            aria-controls="demarches-simplifiees-modal"
            data-fr-opened="false">déposer une demande d’autorisation.</span>
      Elle sera examinée, mais il est probable qu’un refus soit prononcé.
    </p>
  {% endif %}

  <p>
    N'hésitez pas à
    <a href="{% url 'contact_us' %}">contacter le guichet unique</a>
    pour discuter de votre projet et envisager d’autres façons de le réaliser.
  </p>
</div>
