<p>Le projet est soumis à déclaration préalable au titre de la conditionnalité PAC.</p>

<p>La destruction de haie est occasionnée par la création ou l'agrandissement d'un bâtiment d'exploitation justifié par un permis de construire, 
  ou par une opération d'aménagement foncier déclarée d'intérêt public.</p>

{% include 'moulinette/_read_more_btn.html' with aria_controls=criterion.unique_slug %}
<div class="more fr-collapse" id="read-more-{{ criterion.unique_slug }}">
  <p>Les pièces justificatives suivantes seront demandées :</p>

  <ul>
    <li>le permis de construire ou permis d’aménager</li>
    <li>s'il s'agit d'une opération d'aménagement foncier, la décision la déclarant d’utilité publique</li>
  </ul>
</div>
