<p>Le projet est soumis à déclaration préalable au titre de la conditionnalité PAC.</p>

<p>Les pièces justificatives suivantes seront demandées :</p>

<ul>
  <li>
    l’attestation de meilleur emplacement environnemental, délivrée par un organisme habilité à délivrer un conseil environnemental (la liste est <a href="https://www.telepac.agriculture.gouv.fr/telepac/pdf/conditionnalite/2024/technique/Conditionnalite-2024_fiche-technique_BCAE8_biodiversite.pdf"
    target="_blank"
    rel="noopener">en dernière page de la fiche BCAE 8</a>).
  </li>
</ul>
