<p>
  Le projet est interdit car le motif de la destruction de haie n’entre pas dans les cas prévus par les règles de conditionnalité PAC.
</p>

<p class="fr-mb-1w">Options pour rendre le projet autorisable :</p>

<ul>
  <li>
    pouvoir justifier d'une amélioration environnementale, en prévoyant la plantation d’une haie une haie de longueur au moins équivalente à la haie détruite, à un emplacement meilleur sur le plan environnemental. Ceci requiert la délivrance d'une attestation par un organisme habilité –
    (<a title="Liste des organismes habilités - ouvre une nouvelle fenêtre"
   target="_blank"
   rel="noopener external"
   href="{{ authorized_organizations_list_url }}">liste disponible à ce lien</a>. Dans le simulateur, choisir « amélioration environnementale » et « oui, en plantant une haie à un autre endroit ».
  </li>
  <li>prévoir de réimplanter une haie au même emplacement que la haie détruite</li>
</ul>

<p>
  Vous pouvez <a href="{{ edit_url }}">modifier votre projet</a> dans le simulateur.
</p>
