<p>
  Le projet est interdit car au titre de la conditionnalité PAC, la destruction de haie occasionnée par un aménagement n'est autorisable que si celui-ci a été déclaré d’utilité publique.
</p>

<p class="fr-mb-1w">Options pour rendre le projet autorisable :</p>

<ul>
  <li>
    pouvoir justifier d'une amélioration environnementale, en prévoyant la plantation d’une haie une haie de longueur au moins équivalente à la haie détruite, à un emplacement meilleur sur le plan environnemental. Ceci requiert la délivrance d'une attestation par un organisme habilité –
    <a title="Liste des organismes habilités - ouvre une nouvelle fenêtre"
       target="_blank"
       rel="noopener external"
       href="{{ authorized_organizations_list_url }}">liste disponible à ce lien</a>. Dans le simulateur, choisir « amélioration environnementale » et « oui, en plantant une haie à un autre endroit ».
  </li>
  <li>prévoir de réimplanter une haie au même emplacement que la haie détruite</li>
</ul>
