<p>
  Le projet est interdit car la destruction de haie pour amélioration des conditions agricoles ne remplit pas les critères prévus dans les règles de conditionnalité PAC.
</p>

<p>Options pour rendre le projet autorisable :</p>

<ul>
  <li>pouvoir justifier d’un transfert de parcelles récent ;</li>
  <li>
    se faire accompagner par un organisme habilité pour planifier la plantation d’une nouvelle haie à un emplacement meilleur sur le plan environnemental que celui de la haie détruite.
  </li>
</ul>
