<p>
  Le projet est interdit car le motif de la destruction de haie n’entre pas dans les cas prévus par les règles de conditionnalité PAC.
</p>

<p>Options pour rendre le projet autorisable :</p>

<ul>
  <li>prévoir de réimplanter une haie au même emplacement que la haie détruite ;</li>
  <li>
    se faire accompagner par un organisme habilité pour planifier la plantation d’une nouvelle haie à un emplacement meilleur sur le plan environnemental que celui de la haie détruite(la liste de ces organismes est <a title="Liste des organismes habilités - ouvre une nouvelle fenêtre"
    target="_blank"
    rel="noopener external"
    href="https://www.notion.so/Liste-des-organismes-habilit-s-d-livrer-une-attestation-de-meilleur-emplacement-environnemental-198fe5fe4766808996e5fb5b33a849b4">disponible à ce lien</a>).
  </li>
</ul>

<p>
  Vous pouvez <a href="{{ edit_url }}">modifier votre projet</a> dans le simulateur.
</p>
