<p>Le projet est soumis à déclaration préalable au titre de la conditionnalité PAC.</p>

<p>Il est autorisable car il dispose d’une attestation de meilleur emplacement environnemental.</p>

{% include 'moulinette/_read_more_btn.html' with aria_controls=regulation.slug %}
<div class="more fr-collapse" id="read-more-{{ regulation.slug }}">
  <p>Les pièces justificatives suivantes seront demandées :</p>

  <ul>
    <li>
      l’attestation de meilleur emplacement environnemental, délivrée par un organisme habilité à délivrer un conseil environnemental
      (la liste de ces organismes est <a title="Liste des organismes habilités - ouvre une nouvelle fenêtre"
    target="_blank"
    rel="noopener external"
    href="{{ authorized_organizations_list_url }}">disponible à ce lien</a>).
    </li>
  </ul>
</div>
