{% load moulinette %}

<ul class="instructor-view-list">
  {% include "haie/petitions/_item.html" with label="Motif" value=motif %}
</ul>
<h3 class="fr-h6 fr-mt-3w fr-mb-2w">Destruction</h3>
<ul class="instructor-view-list">
  {% include "haie/petitions/_item.html" with label="Alignements d'arbres à détruire marqués en bord de voie ouverte à la circulation du public" value=length_to_remove_aa_bord_voie|floatformat:"0g" unit="m" %}

  {% if length_to_remove_aa_bord_voie %}
    {% include "haie/petitions/_item_hedges_detail.html" with hedges_detail=aa_bord_voie_destruction_detail %}
  {% endif %}

  {% include "haie/petitions/_item.html" with label="Alignements d'arbres à détruire non marqués en bord de voie ouverte à la circulation du public" value=length_to_remove_aa_non_bord_voie|floatformat:"0g" unit="m" %}

  {% if length_to_remove_aa_non_bord_voie %}
    {% include "haie/petitions/_item_hedges_detail.html" with hedges_detail=aa_non_bord_voie_destruction_detail %}
  {% endif %}

  {% include "haie/petitions/_item.html" with label="Haies (non alignements d'arbres) à détruire et marquées en bord de voie ouverte à la circulation du public" value=length_to_remove_non_aa_bord_voie|floatformat:"0g" unit="m" %}

  {% if length_to_remove_non_aa_bord_voie %}
    {% include "haie/petitions/_item_hedges_detail.html" with hedges_detail=non_aa_bord_voie_destruction_detail %}
  {% endif %}

</ul>

<h3 class="fr-h6 fr-mt-3w fr-mb-2w">Plantation</h3>
<ul class="instructor-view-list">
  {% include "haie/petitions/_item.html" with label="Alignements d'arbres à planter marqués en bord de voie ouverte à la circulation du public" value=length_to_plant_aa_bord_voie|floatformat:"0g" unit="m" %}

  {% if length_to_plant_aa_bord_voie %}
    {% include "haie/petitions/_item_hedges_detail.html" with hedges_detail=aa_bord_voie_plantation_detail %}
  {% endif %}

</ul>
