<p>
  Les haies et alignements d'arbres peuvent être protégés par des dispositions locales (commune ou intercommunalité), au titre du code de l'urbanisme.
</p>

<p>
  Le simulateur n'intègre pas encore cette réglementation. C'est le service instructeur du guichet unique de la haie, en examinant votre demande, qui déterminera si des dispositions s'appliquent. Il vous informera des démarches à suivre auprès de votre mairie.
</p>

{% include 'moulinette/_read_more_btn.html' with aria_controls=criterion.unique_slug %}

<div class="more fr-collapse" id="read-more-{{ criterion.unique_slug }}">

  <p>
    Si l'un des linéaires est protégé, une déclaration préalable doit être déposée en mairie (<a href="https://equatorial-red-4c6.notion.site/Guide-au-remplissage-du-formulaire-de-d-claration-pr-alable-pour-une-destruction-de-haie-ou-d-aligne-2e9fe5fe47668173a2a1d4b83630a750"
   target="_blank"
   rel="noopener">voir notre page d’aide</a>). Son instruction dure 1 mois. L'absence de réponse de la mairie vaut accord.
  </p>

  <p>Pour connaître les éventuelles protections des haies ou alignements d’arbres à détruire, il est possible :</p>

  <ul>
    <li>
      de consulter le <a href="{{ geoportail_url }}" target="_blank" rel="noopener">géoportail de l'urbanisme</a> qui recense les protections (<a href="https://equatorial-red-4c6.notion.site/Comment-identifier-les-protections-sur-les-haies-et-alignements-d-arbres-dans-le-g-oportail-de-l-urb-2e9fe5fe47668126ba11eb2e1c74e6a6"
   target="_blank"
   rel="noopener">voir notre page d'aide</a>). Attention, toutes les dispositions ne sont pas systématiquement numérisées.
    </li>
    <li>
      ou de contacter la mairie où se situe le projet, ou le service instructeur des autorisations d'urbanisme de l’intercommunalité.
    </li>
  </ul>
</div>
