{% extends "base.html" %}

{% block title %}Page non trouvée (erreur 404){% endblock %}

{% block article %}
  <h1>Page non trouvée (erreur 404)</h1>

  <p class="fr-text--lead">
    La page à laquelle vous essayez d'accéder n'existe pas, ou plus.
  </p>
  <p>
    Peut-être avez-vous suivi un lien invalide ? Il peut aussi s'agir d'une erreur
    de notre part.
  </p>
  <p>
    Vous pouvez retourner à la page d'accueil.
    Si vous pensez qu'il s'agit d'une erreur,
    <a href="{% url 'contact_us' %}">n'hésitez pas à nous contacter.</a>
  </p>
{% endblock %}
