<script type="text/javascript">
  var _paq = window._paq = window._paq || [];

  {% if ANALYTICS.TRACKER_ENABLED %}
    if (typeof MATOMO_CUSTOM_URL === "string") {
      _paq.push(['setCustomUrl', MATOMO_CUSTOM_URL]);
    }

    {% if matomo_dimensions %}
      {% for dimension_id, dimension_value in matomo_dimensions %}
        _paq.push(['setCustomDimension', {{ dimension_id }}, '{{ dimension_value }}']);
      {% endfor %}
    {% endif %}

    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u = "{{ ANALYTICS.TRACKER_URL }}";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '{{ ANALYTICS.SITE_ID }}']);

      var d = document,
      g = d.createElement('script'),
      s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async = true;
      g.defer = true;
      g.src = u + 'matomo.js';
      s.parentNode.insertBefore(g, s);
    })();
  {% endif %}
</script>
