<div id="menu" class="fr-header__tools">
  <div class="fr-header__tools-links">
    <ul class="fr-links-group">
      <li>
        <a class="fr-link" href="{% url 'moulinette_home' %}">Simulateur</a>
      </li>
      <li>
        <a class="fr-link" href="{% url 'request_evaluation' %}">Éval. manuelle</a>
      </li>
      <li>
        <a class="fr-link" href="{% url 'faq' %}">Questions fréquentes</a>
      </li>
      <li>
        <a class="fr-link fr-fi-lock-line" href="{% url 'login' %}">Se connecter</a>
      </li>
      <li>
        <a class="fr-link fr-fi-account-line" href="{% url 'register' %}">Créer un compte</a>
      </li>
    </ul>
  </div>
</div>
