{% load utils %}

<div id="form-group-{{ field.name }}"
     class="fr-input-group{% if field.field.required %} required{% endif %}{% if field.errors %} fr-input-group--error{% endif %}">

  {% include '_label.html' %}

  <div id="dropzone-previews" class="dropzone-previews">
    <div class="dz-default dz-message">
      <button class="dz-button" type="button">
        <span class="fr-link">Cliquez</span> ou glissez-déposez vos fichiers ici.
      </button>
      <div id="max-files-exceeded-alert"
           class="fr-alert fr-alert--sm fr-alert--warning fr-mt-2w">
        <p>Vous avez atteint le nombre maximum de fichiers autorisés.</p>
      </div>
    </div>
  </div>
  <div id="{{ field.id_for_label }}-dropzone">

    {% if nest_field_class %}<div class="{{ nest_field_class }}">{% endif %}

      <div class="fallback">
        {% if field.errors %}
          {{ field }}
        {% else %}
          {{ field }}
        {% endif %}
      </div>

      {% if nest_field_class %}</div>{% endif %}

  </div>

  {% if field.errors %}
    <p class="fr-error-text">
      ↑
      {{ field.errors.0 }}
      ↑
    </p>
  {% endif %}

</div>
