<div id="form-group-{{ field.html_name }}-id"
     class="fr-input-group{% if field.field.required %} required{% endif %}{% if field.errors %} fr-input-group--error{% endif %}">

  {% include '_label.html' %}

  <input class="fr-upload"
         aria-describedby="{{ field.id_for_label }}-messages"
         type="file"
         id="{{ field.id_for_label }}-id"
         name="{{ field.html_name }}">
  <div class="fr-messages-group"
       id="{{ field.id_for_label }}-messages"
       aria-live="polite"></div>
</div>
