{% load utils %}

<div id="form-group-{{ field.name }}" class="fr-input-group{% if field.field.required %} required{% endif %}{% if field.errors %} fr-input-group--error{% endif %}">

  <label class="fr-label" for="{{ field.id_for_label }}">
    <span class="label-content">{{ field.label }}</span>
    {% if field.help_text %}
      <span class="fr-hint-text">{{ field.help_text|safe }}</span>
    {% endif %}
  </label>

  <div class="input-file-box fr-input">
    <span class="icon fr-fi--lg fr-fi-file-download-line" aria-hidden="true"></span>
    <div>
      {{ field }}

      <label for="{{ field.id_for_label }}" class="box-msg">
        Cliquez sur le bouton ou glissez / déposez directement votre fichier dans cette zone.
      </label>
    </div>
  </div>

  {% if field.errors %}
    <p class="fr-error-text">
      ↑
      {{ field.errors.0 }}
      ↑
    </p>
  {% endif %}
</div>
