<figure class="fr-content-media" role="group">
  <div class="ratio-4x3">
    <div class="ratio-content">
      <div class="leaflet-container">
        <div id="map-{{ map_id }}"></div>
      </div>
    </div>
  </div>
  {% if map.caption %}
    <figcaption class="fr-content-media__caption">
      {{ map.caption|safe }}

      {% if map.sources %}
        <div class="sources">
          Sources :
          <ul class="source-list">
            {% for source in map.sources %}
              <li>
                {% if source.source %}
                  <a class="fr-link"
                     href="{{ source.source }}"
                     target="_blank"
                     rel="noopener">{{ source.display_name|default:source.name }}</a>
                {% else %}
                  {{ source.display_name|default:source.name }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </figcaption>
  {% endif %}
</figure>

<script>
  window.MAPS = window.MAPS || {};
  window.MAPS['map-{{ map_id }}'] = {{ map.to_json|safe }};
</script>
