{% if messages %}
  <div class="dj-messages fr-py-5w">
    {% for message in messages %}
      <div class="dj-message fr-alert fr-alert--{{ message.tags|default:'info' }} fr-alert--sm">
        <p>{{ message|safe }}</p>
      </div>
    {% endfor %}
  </div>
{% endif %}

<div class="dj-messages fr-py-5w">
  <div class="dj-message fr-alert fr-alert--info fr-alert--sm">
    <p>test message 1</p>
  </div>
  <div class="dj-message fr-alert fr-alert--warning fr-alert--sm">
    <p>test message 1</p>
  </div>
</div>
