{% load utils %}

<nav role="navigation" class="fr-pagination" aria-label="Pagination">
  <ul class="fr-pagination__list">
    {% if page_obj.has_previous %}
      <li>
        <a href="{% querystring page=1 %}"
           class="fr-pagination__link fr-pagination__link--first"
           title="Première page">Première page</a>
      </li>
      <li>
        <a href="{% querystring page=page_obj.previous_page_number %}"
           class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label"
           title="Page précédente">Page précédente</a>
      </li>
    {% endif %}

    {% if page_obj.number == 1 %}
      <li>
        <a href="#"
           class="fr-pagination__link"
           aria-current="page"
           title="Page 1">1</a>
      </li>
    {% else %}
      <li>
        <a href="{% querystring page=1 %}"
           class="fr-pagination__link"
           title="Page 1">1</a>
      </li>
    {% endif %}

    {% if page_obj.number > 2 %}
      <li class="fr-hidden fr-unhidden-lg">
        <span class="fr-pagination__link">…</span>
      </li>
    {% endif %}

    {% if page_obj.number != 1 and page_obj.number != page_obj.paginator.num_pages %}
      <li>
        <a href="#"
           class="fr-pagination__link"
           aria-current="page"
           title="Page {{ page_obj.number }}">{{ page_obj.number }}</a>
      </li>
    {% endif %}

    {% if page_obj.has_next and page_obj.next_page_number != page_obj.paginator.num_pages %}
      <li class="fr-hidden fr-unhidden-lg">
        <span class="fr-pagination__link">…</span>
      </li>
    {% endif %}

    {% if page_obj.paginator.num_pages > 1 %}
      {% if page_obj.number == page_obj.paginator.num_pages %}
        <li>
          <a href="#"
             class="fr-pagination__link"
             aria-current="page"
             title="Page {{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        </li>
      {% else %}
        <li>
          <a href="{% querystring page=page_obj.paginator.num_pages %}"
             class="fr-pagination__link"
             title="Page {{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        </li>
      {% endif %}
    {% endif %}

    {% if page_obj.has_next %}
      <li>
        <a href="{% querystring page=page_obj.next_page_number %}"
           class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label"
           title="Page suivante">Page suivante</a>
      </li>
      <li>
        <a href="{% querystring page=page_obj.paginator.num_pages %}"
           class="fr-pagination__link fr-pagination__link--last"
           title="Dernière page">Dernière page</a>
      </li>
    {% endif %}
  </ul>
</nav>
