{% load static %}

{% if SENTRY_KEY %}
  <script>
    window.sentryOnLoad = function () {
      Sentry.init({
        environment: "{{ ENV_NAME }}",
        // Noise from browser extensions (privacy/anti-fingerprinting tools)
        // calling stale postMessage RPC handles. Not actionable on our end.
        // See sentry.incubateur.net/.../285185 (ENVERGO-1BE).
        ignoreErrors: [/Object Not Found Matching Id:\d+, MethodName:\w+, ParamCount:\d+$/],
      });
    };
  </script>
  <script src="https://sentry.incubateur.net/js-sdk-loader/{{ SENTRY_KEY }}.min.js"
          crossorigin="anonymous"></script>
{% endif %}
