{% load pages static %}

<div class="fr-header__body">
  <div class="fr-container">
    {% spaceless %}
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <img src="{% static 'images/marianne.svg' %}" alt="République française">
            </div>
          </div>
          <div class="fr-header__navbar">
            <button class="fr-btn--menu fr-btn"
                    data-fr-opened="false"
                    aria-controls="modal-menu-slim"
                    aria-haspopup="menu"
                    title="Menu">
              Menu
            </button>
          </div>
          <div class="fr-header__service">
            <a href="/">
              <p class="fr-header__service-title">EnvErgo</p>
            </a>
          </div>
        </div>

        <div id="slim-menu" class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-links-group">
              <li>
                <a class="fr-link" href="{% url 'moulinette_home' %}">Simulateur</a>
              </li>
              <li>
                <a class="fr-link" href="{% url 'request_evaluation' %}">Évaluation manuelle</a>
              </li>
              <li>
                <a class="fr-link" href="{% url 'faq' %}">Questions fréquentes</a>
              </li>

              {% if user.is_authenticated %}
                <li>
                  <a class="fr-link fr-fi-lock-line" href="{% url 'logout' %}">Se déconnecter</a>
                </li>
              {% else %}
                <li>
                  <a class="fr-link fr-fi-lock-line" href="{% url 'login' %}">Se connecter</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>

      </div>
    {% endspaceless %}
  </div>
</div>

<div class="fr-header__menu fr-modal" id="modal-menu-slim">
  <div class="fr-container">
    <button class="fr-btn--close fr-btn"
            aria-controls="modal-menu-slim"
            title="Fermer">
      Fermer
    </button>
    <div class="fr-header__menu-links"></div>
  </div>
</div>
