{% load static i18n compress%}
<!DOCTYPE html>
<html lang="fr" data-fr-theme>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% endblock title %} — EnvErgo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="Améliorer la prise en compte de l'environnement dans les projets d'urbanisme">
  <meta name="author" content="MTES">


  <link rel="apple-touch-icon" href="{% static '@gouvfr/dsfr/dist/favicons/apple-touch-icon.png' %}">
  <link rel="icon" href="{% static '@gouvfr/dsfr/dist/favicons/favicon.svg' %}" type="image/svg+xml">
  <link rel="shortcut icon" href="{% static '@gouvfr/dsfr/dist/favicons/favicon.ico' %}" type="image/x-icon">

  {% block css %}
  {% compress css %}
  <link href="{% static '@gouvfr/dsfr/dist/css/dsfr.css' %}" rel="stylesheet">
  <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
  {% endcompress %}
  {% block extra_css %}{% endblock %}
  {% endblock css %}

  {% block javascript %}
  <script defer type="module" src="{% static '@gouvfr/dsfr/dist/js/dsfr.module.min.js' %}"></script>
  <script defer type="text/javascript" nomodule src="{% static '@gouvfr/dsfr/dist/js/dsfr.nomodule.min.js' %}"></script>
  {% block extra_js %}{% endblock %}
  {% endblock javascript %}
  {% include '_analytics.html' %}
</head>

<body>

  {% include '_skiplinks.html' %}

  <header role="banner" class="fr-header">
    {% block header %}
    {% include '_header.html' %}
    {% endblock %}
  </header>

  <main role="main" id="contenu">
    {% block main %}
    <div id="contenu" class="fr-container fr-mt-5w fr-pb-6w">
      {% block breadcrumbs %}{% endblock %}
      {% block container %}
      <div class="fr-grid-row fr-grid-row--center">
        <article class="fr-col fr-col-md-8">
          {% block article %}{% endblock %}
        </article>
      </div>
      {% endblock %}
    </div>
    {% endblock %}
  </main>

  <footer role="contentinfo" class="fr-footer fr-mt-15w" id="footer">
    {% block footer %}
    {% include '_footer.html' %}
    {% endblock %}
  </footer>

  {% block bottom_js %}{% endblock %}
</body>

</html>
