{% load static i18n compress confs %}

<!DOCTYPE html>
<html lang="fr"
      data-fr-scheme="system"
      class="nojs noclipboard {% block html-classes %}{% endblock %}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="">
    <title>
      {% block app_title %}
        {% block title %}
        {% endblock title %}
      {% endblock app_title %}
    </title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description"
          content="{% block description %}{% endblock description %}">
    <meta name="author" content="MTES">

    <link rel="apple-touch-icon"
          href="{% static '@gouvfr/dsfr/dist/favicon/apple-touch-icon.png' %}">
    <link rel="icon"
          href="{% static '@gouvfr/dsfr/dist/favicon/favicon.svg' %}"
          type="image/svg+xml">
    <link rel="shortcut icon"
          href="{% static '@gouvfr/dsfr/dist/favicon/favicon.ico' %}"
          type="image/x-icon">
    {% block app_json_ld %}{% endblock %}
    {% block open_graph %}{% endblock %}
    {% block css %}
      {% compress css %}
        <link href="{% static '@gouvfr/dsfr/dist/dsfr.css' %}" rel="stylesheet">
        <link href="{% static '@gouvfr/dsfr/dist/utility/icons/icons.main.css' %}"
              rel="stylesheet">
        <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
      {% endcompress %}
      {% block site_css %}{% endblock %}
      {% block extra_css %}{% endblock %}
    {% endblock css %}

    {% block javascript %}
      {% include '_sentry.html' %}

      <script defer
              type="module"
              src="{% static '@gouvfr/dsfr/dist/dsfr.module.min.js' %}"></script>
      <script defer
              type="text/javascript"
              nomodule
              src="{% static '@gouvfr/dsfr/dist/dsfr.nomodule.min.js' %}"></script>
      <script defer src="{% static 'js/libs/spinner.js' %}"></script>

      <script>
        var EVENTS_URL = "{% url 'events' %}";
        var CSRF_TOKEN = '{{ csrf_token }}';
        var MAPPING_CREATE_URL = "{% url 'urlmapping_create' %}";
        {% if matomo_custom_url %}
          var MATOMO_CUSTOM_URL = "{{ matomo_custom_url }}";
        {% endif %}
      </script>

      {% block extra_js %}{% endblock %}
      {% include '_analytics.html' %}
      {% include '_chatbox.html' %}

    {% endblock javascript %}
    <script>
      // Add class to indicate that js is available
      let html = document.documentElement;
      html.classList.remove('nojs');
      html.classList.add('js');

      if (navigator.clipboard) {
        html.classList.remove('noclipboard');
      }
    </script>

    <script>
      // Quick and stupid fix for this DSFR issue:
      // https://github.com/GouvernementFR/dsfr/issues/515
      window.addEventListener('load', function() {
        let modals = document.querySelectorAll('.fr-modal');
        let root = document.documentElement;

        modals.forEach(function(modal) {
          modal.addEventListener('dsfr.disclose', function() {
            root.style.scrollBehavior = 'auto';
          });
          modal.addEventListener('dsfr.conceal', function() {
            setTimeout(function() {
              root.style.removeProperty('scroll-behavior');
            }, 300);
          });
        });
      });
    </script>

    <script>
      // Remove the top bar message, and set a cookie to not display it again
      function hideTopBar() {
        let topBar = document.getElementById('top-bar');
        if (topBar) {
          let parent = topBar.parentNode;
          parent.removeChild(topBar);

          let maxAge = 60 * 60 * 24 * 7 * 3; // Three weeks
          document.cookie = `hide_top_bar=true; path=/; samesite=lax; max-age=${maxAge};`;

          _paq.push(['trackEvent', 'AnnouncementBar', 'Close']);
        }
      }
    </script>

    <script>
      // Track Top bar link clicks to Matomo
      function trackTopBarLinkClicks() {
        let topBar = document.getElementById('top-bar');
        if (topBar) {
          let links = topBar.querySelectorAll('a');
          links.forEach(function(link) {
            link.addEventListener('click', function() {
              _paq.push(['trackEvent', 'AnnouncementBar', 'Click', link.href]);
            });
          });
        }
      }
      window.addEventListener('load', trackTopBarLinkClicks);
    </script>

    <script>
      // Detect print events
      window.addEventListener('beforeprint', function() {
        _paq.push(['trackEvent', 'Print', 'Before']);
      });
    </script>

    <script>
      // Setup the sticky slim header
      window.addEventListener("load", function() {
        const header = document.querySelector('.fr-header.header-legacy');
        const slimHeader = document.querySelector('.fr-header.header-popup');
        const main = document.querySelector('main');
        const options = {
          threshold: 0
        };

        const callback = ([entry], observer) => {
          const ratio = entry.intersectionRatio;
          slimHeader.classList.toggle('displayed', ratio <= 0);
          main.classList.toggle('header-slim-displayed', ratio <= 0);
        };

        if (header && slimHeader) {
          const observer = new IntersectionObserver(callback, options);
          observer.observe(header);
        }

        let lastScrollTop = 0;

        if(slimHeader) {
          // Hide slimHeader on scroll down
          window.addEventListener("scroll", function () {
            let st = window.pageYOffset || window.scrollY;
            slimHeader.classList.toggle('hidden-downscroll', st > lastScrollTop);
            lastScrollTop = st <= 0 ? 0 : st; // For Mobile or negative scrolling
          }, false);
        }
      });



    </script>
    {% block extra_head %}{% endblock %}
  </head>

  <body class="{% block body-classes %}{% endblock %}">

    {% include '_skiplinks.html' %}

    {% block header %}
      <header role="banner" class="fr-header header-legacy">
        {% block include_header %}{% endblock %}
      </header>

      <header role="banner"
              class="fr-header header-slim header-sticky header-popup">
        {% block include_slim_header %}{% endblock %}
      </header>
    {% endblock %}

    <main role="main" class="{% block main-classes %}{% endblock %}">
      {% block main %}

        {% if ENV_NAME == "teaching" %}
          <div id="top-bar-teaching" class="fr-notice fr-notice--warning">
            <div class="fr-container">
              <div class="fr-notice__body">
                <p class="fr-notice__title">Environnement de formation.</p>
                <p class="fr-notice__desc">
                  Ce portail est réservé à la formation des instructeurs. Les données présentées sont factices et peuvent être effacées.
                </p>
              </div>
            </div>
          </div>
        {% endif %}

        {% block top-bar %}
          {% top_bar %}
        {% endblock %}

        {% block before-content %}
          <div id="before-content" class="fr-container">
            {% block messages %}
              {% include '_messages.html' %}
            {% endblock %}
          </div>
        {% endblock %}

        <div id="content">
          {% block container %}
            <div id="main-container" class="fr-container fr-pt-5w">
              {% block content %}
                <div class="fr-grid-row fr-grid-row--center">
                  <article class="fr-col fr-col-md-8 fr-col-lg-7 fr-col-xl-6">
                    {% block article %}{% endblock %}
                  </article>
                </div>
              {% endblock %}
            </div>
          {% endblock %}

          {% block help-sidebar %}{% endblock %}
        </div>

        {% block after-content %}{% endblock %}

      {% endblock %}
    </main>

    <footer role="contentinfo" class="fr-footer" id="footer">
      {% block footer %}{% endblock %}
    </footer>

    {% block bottom_js %}{% endblock %}
    {% block extra_body %}{% endblock %}
  </body>

</html>
