<p>➔ Vous pouvez joindre l'équipe du portail numérique du guichet unique de la haie :</p>
<ul class="not-list">
  <li>
    <span class="fr-icon--sm fr-icon-crisp"></span>
    <strong>Par chat</strong> via le <a href="#contact-accordion-2-equipe" onclick="openCrispChat()">module de discussion</a> en bas à droite de cette page.
    Nous vous répondons au plus vite, maximum 24 h.
  </li>
  <li>
    <span class="fr-icon--sm fr-icon-phone-fill"></span>
    <strong>Par téléphone</strong> : <a href="tel:+33756898511">07 56 89 85 11</a>
    <ul>
      <li>du lundi au jeudi : 9h – 17h</li>
      <li>le vendredi : 9h – 12h30</li>
    </ul>
  </li>
  <li>
    <span class="fr-icon--sm fr-icon-mail-line"></span>
    <strong>Par email</strong> : <a href="mailto:contact@haie.beta.gouv.fr">contact@haie.beta.gouv.fr</a>. Nous vous répondons dans les 24 h.
  </li>
</ul>
