<p>Vous pouvez joindre l'équipe du guichet unique de la haie :</p>
<ul class="not-list">
  <li>
    <span class="fr-icon--sm fr-icon-crisp"></span>
    Par chat via le module de discussion en bas à droite de la page.
  </li>
  <li>
    <span class="fr-icon--sm fr-icon-phone-fill"></span>
    Par téléphone : <a href="tel:+33756898511">07 56 89 85 11</a>
    <ul>
      <li>Du lundi au jeudi : 9h - 17h</li>
      <li>Le vendredi : 9h - 12h30</li>
    </ul>
  </li>
  <li>
    <span class="fr-icon--sm fr-icon-mail-line"></span>
    Par email : <a href="mailto:contact@haie.beta.gouv.fr">contact@haie.beta.gouv.fr</a>. Nous vous répondons dans les 24 h.
  </li>
</ul>
