{% load pages static %}

<div class="fr-header__body">
  <div class="fr-container">
    <div class="fr-header__body-row">
      <div class="fr-header__brand fr-enlarge-link">
        <img class="fr-header__brand-top fr-hidden-md"
             src="{% static 'images/marianne.svg' %}"
             alt="République française">
        <div class="fr-header__brand-top fr-hidden fr-unhidden-md">
          <div class="fr-header__logo">
            <p class="fr-logo">
              République
              <br>
              Française
            </p>
          </div>
        </div>
        <div class="fr-header__service">
          <a href="/">
            <span class="fr-header__service-title">Guichet unique de la haie</span>
          </a>
        </div>
      </div>

      <div id="menu" class="fr-header__tools">
        <div class="fr-header__tools-links">
          <ul class="fr-btns-group">
            {% if user.is_authenticated %}
              <li>
                <a class="fr-btn fr-fi-lock-line" href="{% url 'logout' %}">Se déconnecter</a>
              </li>
            {% else %}
              <li>
                <a class="fr-btn fr-fi-lock-line" href="{% url 'login' %}">Administration</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-header__menu fr-modal" id="modal-menu">
  <div class="fr-container">
    <button class="fr-link--close fr-link" aria-controls="modal-menu">Fermer</button>
    <div class="fr-header__menu-links"></div>

    <nav class="fr-nav" role="navigation" aria-label="Menu principal">
      <ul class="fr-nav__list">
        <li class="fr-nav__item">{% menu_item 'home' "Accueil" %}</li>
        <li class="fr-nav__item">{% pilote_departments_menu %}</li>
        <li class="fr-nav__item">
          <a class="fr-nav__link"
             href="{{ HAIE_FAQ_URL }}"
             target="_blank"
             rel="noopener external">Questions fréquentes</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
