{% load pages static %}

<div class="fr-header__body">
  <div class="fr-container">
    <div class="fr-header__body-row">
      <div class="fr-header__brand fr-enlarge-link">
        <div class="fr-header__brand-top">
          <div class="fr-header__logo">
            <p class="fr-logo">
              République
              <br>
              Française
            </p>
          </div>
        </div>
        <div class="fr-header__service">
          <a href="/">
            <span class="fr-header__service-title">Guichet unique de la haie</span>
            <span class="fr-header__service-tagline fr-hidden fr-unhidden-sm">(en construction)</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-header__menu fr-modal" id="modal-menu">
  <div class="fr-container">
    <button class="fr-link--close fr-link" aria-controls="modal-menu">Fermer</button>
    <div class="fr-header__menu-links"></div>

    <nav class="fr-nav" role="navigation" aria-label="Menu principal">
      <ul class="fr-nav__list">
        <li class="fr-nav__item">{% menu_item 'home' "Accueil" %}</li>
        <li class="fr-nav__item">{% pilote_departments_menu %}</li>
      </ul>
    </nav>
  </div>
</div>
