{% for zone_id, ru_zone_config in ru_zone_configs.items %}
  {% if config.has_ru_zonage %}
    <p>
      <strong>Zone : « {{ zone_id }} »</strong>
    </p>
  {% endif %}
  <div class="fr-table fr-table--sm">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content">
          <table>
            <tbody>
              <tr>
                <th scope="col"></th>
                <th scope="col">
                  Densité haute
                  <br />
                  ≥ {{ ru_zone_config.X_densite|floatformat:"1g" }} ml/ha
                </th>
                <th scope="col">
                  Densité basse
                  <br />
                  < {{ ru_zone_config.X_densite|floatformat:"1g" }} ml/ha
                </th>
              </tr>
              <tr>
                <th scope="row">Buissonnante</th>
                <td>{{ ru_zone_config.R1_buissonnante_HD|floatformat:"1g" }}</td>
                <td>{{ ru_zone_config.R2_buissonnante_LD|floatformat:"1g" }}</td>
              </tr>
              <tr>
                <th scope="row">Arbustive</th>
                <td>{{ ru_zone_config.R3_arbustive_HD|floatformat:"1g" }}</td>
                <td>{{ ru_zone_config.R4_arbustive_LD |floatformat:"1g" }}</td>
              </tr>
              <tr>
                <th scope="row">Arborée</th>
                <td>{{ ru_zone_config.R5_arboree_HD|floatformat:"1g" }}</td>
                <td>{{ ru_zone_config.R6_arboree_LD|floatformat:"1g" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endfor %}
