{% load pages static %}

<div class="fr-header__body">
  <div class="fr-container">
    <div class="fr-header__body-row">
      <div class="fr-header__brand fr-enlarge-link">
        <img class="fr-header__brand-top"
             src="{% static 'images/marianne.svg' %}"
             alt="République française">
        <div class="fr-header__service">
          <a href="/">
            <span class="fr-header__service-title">Guichet unique de la haie</span>
          </a>
        </div>
      </div>
      <div id="slim-menu" class="fr-header__tools fr-nav">
        <div class="fr-header__tools-links">
          <ul class="fr-nav__list">
            {% if user.is_authenticated %}
              <li class="fr-nav__item">
                <a class="fr-nav__link" href="{% url 'petition_project_list' %}">Dossiers</a>
              </li>
              <li class="fr-nav__item">
                <button id="faq-dropdown-btn"
                        class="fr-nav__btn"
                        aria-expanded="false"
                        aria-controls="faq_slim_menu">Questions fréquentes</button>
                <div class="fr-collapse fr-menu" id="faq_slim_menu">
                  <ul class="fr-menu__list">
                    <li>
                      <a class="fr-nav__link"
                         href="{{ HAIE_INSTRUCTORS_FAQ_URL }}"
                         target="_blank"
                         rel="noopener external">Pour l'administration</a>
                    </li>
                    <li>
                      <a class="fr-nav__link"
                         href="{{ HAIE_FAQ_URL }}"
                         target="_blank"
                         rel="noopener external">Pour les usagers</a>
                    </li>
                  </ul>
                </div>
              </li>
            {% else %}
              <li>
                <a class="fr-nav__link"
                   href="{{ HAIE_FAQ_URL }}"
                   target="_blank"
                   rel="noopener external">Questions fréquentes</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fr-header__menu fr-modal" id="modal-menu-slim">
  <div class="fr-container">
    <button class="fr-btn--close fr-btn"
            aria-controls="modal-menu-slim"
            title="Fermer"
            aria-haspopup="slim-menu"
            title="Menu">Fermer</button>
    <div class="fr-header__menu-links"></div>
  </div>
</div>
