{% extends 'base.html' %}

{% load static %}

{% block html-classes %}saisie{% endblock %}

{% block container %}

  <div id="saisie-ui">
    <div id="map">toto</div>

    <div id="dashboard">tata</div>
  </div>

{% endblock %}

{% block header %}
  <header role="banner" class="fr-header header-sticky header-slim">
    {% include 'haie/_slim_header.html' %}

  </header>
{% endblock %}
{% block after-content %}{% endblock %}
{% block footer %}{% endblock %}

{% block bottom_js %}
  <script defer src="{% static 'leaflet/dist/leaflet.js' %}"></script>
  <script defer src="{% static 'leaflet/draw/leaflet.draw.js' %}"></script>
  <script defer src="{% static 'js/libs/leaflet-icon-fix.js' %}"></script>
  <script src="{% static 'haie/js/saisie.js' %}"></script>
{% endblock %}
