{% extends 'base.html' %}

{% load static %}

{% block title %}Saisie haie{% endblock %}

{% block html-classes %}saisie{% endblock %}

{% block container %}
  <div id="app">
    <div id="saisie-ui">
      <div id="map"></div>

      <div id="sidebar">

        <div id="actions">
          <button class="fr-btn fr-btn--secondary" @click="zoomOut">Vue d'ensemble</button>
        </div>

        <div id="statistics">
          <table>
            <thead>
              <tr>
                <th colspan="2">Total linéaire (m)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Haies à planter</th>
                <td>[[ hedges.TO_PLANT.totalLength.toFixed(0) ]] m</td>
              </tr>
              <tr>
                <th>Haies à arracher</th>
                <td>[[ hedges.TO_REMOVE.totalLength.toFixed(0) ]] m</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div id="hedge-lists">

          <div class="title">
            <h3 class="fr-h6">Haies à planter</h3>
            <button class="fr-btn fr-btn--secondary" @click="startDrawingToPlant">Tracer</button>
          </div>
          <template v-if="hedges.TO_PLANT.count > 0">
            <ul class="hedge-list to-plant">
              <li v-for="(hedge, index) in hedges.TO_PLANT"
                  :key="index"
                  :class="{ hovered: hedge.isHovered }"
                  @mouseover="hedge.handleMouseOver()"
                  @mouseout="hedge.handleMouseOut()"
                  @click="hedge.centerOnMap()">
                <strong>[[ hedge.id ]]</strong>
                <span>[[ hedge.length.toFixed(0) ]] m</span>
                <button class="fr-btn fr-btn--tertiary-no-outline fr-icon-close-line"
                        @click.stop="hedge.remove()">Supprimer</button>
              </li>
            </ul>
          </template>
          <template v-else>
            <p class="fr-text--light">Aucune haie à planter</p>
          </template>

          <div class="title">
            <h3 class="fr-h6">Haies à arracher</h3>
            <button class="fr-btn fr-btn--secondary" @click="startDrawingToRemove">Tracer</button>
          </div>
          <template v-if="hedges.TO_REMOVE.count > 0">
            <ul class="hedge-list to-remove">
              <li v-for="(hedge, index) in hedges.TO_REMOVE"
                  :key="index"
                  :class="{ hovered: hedge.isHovered }"
                  @mouseover="hedge.handleMouseOver()"
                  @mouseout="hedge.handleMouseOut()"
                  @click="hedge.centerOnMap()">
                <strong>[[ hedge.id ]]</strong>
                <span>[[ hedge.length.toFixed(0) ]] m</span>
                <button class="fr-btn fr-btn--tertiary-no-outline fr-icon-close-line"
                        @click.stop="hedge.remove()">Supprimer</button>
              </li>
            </ul>
          </template>
          <template v-else>
            <p class="fr-text--light">Aucune haie à arracher</p>
          </template>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block header %}
  <header role="banner" class="fr-header header-sticky header-slim">
    {% include 'haie/_slim_header.html' %}

  </header>
{% endblock %}
{% block after-content %}{% endblock %}
{% block footer %}{% endblock %}

{% block bottom_js %}
  {{ block.super }}
  <script defer src="{% static 'leaflet/dist/leaflet.js' %}"></script>
  <script defer src="{% static 'leaflet/draw/leaflet.draw.js' %}"></script>
  <script defer src="{% static 'leaflet-editable/src/Leaflet.Editable.js' %}"></script>
  <script defer src="{% static 'js/libs/leaflet-icon-fix.js' %}"></script>
  <script defer src="{% static 'vue/dist/vue.global.js' %}"></script>
  <script type="module" src="{% static 'saisie/app.js' %}"></script>
{% endblock %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'leaflet/dist/leaflet.css' %}" rel="stylesheet">
  <link href="{% static 'leaflet/draw/leaflet.draw.css' %}" rel="stylesheet">
{% endblock %}
