{% load static %}

<p>
  Ci-dessus, le présent avis réglementaire rend compte des impacts sur zone humide, sur zone inondable, et sur l'écoulement des eaux pluviales.
</p>

<p>Mais la Loi sur l'eau ne se réduit pas à ces trois catégories d'impact.</p>

<p>
  Le porteur de projet doit vérifier si le projet est concerné ou non par d'autres rubriques de la Loi sur l'eau. <a href="{% static 'pdfs/nomenclature_iota.pdf' %}"
    download="Nomenclature_Loi_sur_leau">La nomenclature complète est disponible à cette adresse (pdf).</a>
</p>

<p>En particulier, il peut s'agir d'impacts :</p>

<ul>
  <li>sur cours d'eau (rubriques commençant par 3.1) ;</li>
  <li>dûs à des forages (rubrique 1.1.1.0) ;</li>
  <li>ou sur les milieux marins, en cas de proximité à la côte (rubriques commençant par 4.1).</li>
</ul>
