<p>
  🔍 Le seuil de 1 ha est entendu comme la surface totale du projet, y compris l'existant, augmentée de l'aire du bassin versant dont il intercepte les écoulements. Ce n'est pas la surface de la parcelle qui est prise en compte, mais bien celle du projet.
</p>

<p>
  <strong>Pourquoi le projet est-il concerné ?</strong>
</p>

<p>
  Au vu des informations saisies, le projet a une surface totale supérieure à 10 000 m². Il franchit donc le seuil de déclaration pour cette rubrique de la Loi sur l'eau.
</p>

{% block extra_content %}{% endblock %}

<p>
  <strong>Quelles sont les exceptions ?</strong>
</p>
<p>Le projet n’est pas soumis à cette rubrique de la Loi sur l’eau dans les cas suivants :</p>
<ul>
  <li>
    si les eaux pluviales sont rejetées dans un réseau déjà autorisé au titre de la Loi sur l’eau, par exemple un réseau dans une commune disposant d’un plan de gestion des eaux pluviales ;
  </li>
  <li>
    si une autorisation ou déclaration Loi sur l'eau a déjà été délivrée pour le projet, ou pour une opération plus large dans laquelle il s'inscrit (par exemple une ZAC), et qu'elle prévoit déjà le volume d'eaux pluviales rejeté par celui-ci.
  </li>
</ul>

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  L'aménagement d'une surface (imperméabilisation, modification des pentes, génération d'obstacles à l'écoulement, etc.) peut amener à modifier l’absorption naturelle de l'eau pluviale dans le sol et/ou des écoulements provenant de l'amont. Les conséquences sont une plus grande quantité d'eau concentrée au point de rejet, entraînant une aggravation du risque d'inondation et de pollution.
</p>
