<p>
  🔍 Le seuil de 1 ha est entendu comme la surface totale du projet, y compris l'existant, augmentée de l'aire du bassin versant dont il intercepte les écoulements. Ce n'est pas la surface de la parcelle qui est prise en compte, mais bien celle du projet.
</p>

<p>
  <strong>Pourquoi le projet n'est-il pas concerné ?</strong>
</p>

<p>
  Au vu des informations saisies, la surface du projet est inférieure à 1 ha. Le projet n’est donc pas concerné par cette rubrique de la Loi sur l’eau.
</p>

<p>
  <strong>Quel impact environnemental ?</strong>
</p>
<p>
  Les panneaux photovoltaïques sont en général espacés, et permettent l’infiltration de l’eau dans le sol, cependant :
</p>

<ul>
  <li>
    le ruissellement au bas des panneaux peut engendrer la formation de couloirs d’écoulement, et augmente les risques
    d’érosion ;
  </li>
  <li>
    les impacts temporaires de la phase travaux (terrassement, tranchées pour l’enfouissement des câbles…) sur
    l’écoulement des eaux pluviales peuvent être significatifs.
  </li>
</ul>
