<p>
  🔍 Le seuil de 1 ha est entendu comme la surface totale du projet, y compris l'existant, augmentée de l'aire du bassin naturel dont il intercepte les écoulements. Ce n'est pas la surface de la parcelle qui est prise en compte, mais bien celle du projet.
</p>

<p>
  <strong>Action requise :</strong>
</p>

<p>Démontrer que le projet {{ criterion.required_action }}.</p>

<p>
  <strong>Pourquoi cette action est-elle requise ?</strong>
</p>

<p>
  Vu les informations saisies, la surface totale du projet à lui seul est proche de 10 000 m². En conséquence, il est possible qu'en y ajoutant l'aire d'écoulement d'eaux de pluie interceptée, le seuil de 10 000 m² soit franchi. Dans ce cas le projet serait soumis à la Loi sur l'eau.
</p>

<p>
  <strong>Comment l'aire du bassin naturel intercepté est-elle calculée ?</strong>
</p>

<p>
  Ce calcul est complexe, se fonde sur la topographie du lieu et la géométrie des bâtiments et aménagements créés et existants aux alentours. Ce travail est généralement confié à des géomètres ou des bureaux d'études spécialisés.
</p>

<p>
  <strong>Quelles sont les exceptions à cette obligation ?</strong>
</p>
<p>Le projet n’est pas soumis à cette rubrique de la Loi sur l’eau dans les cas suivants :</p>
<ul>
  <li>
    si les eaux pluviales sont rejetées dans un réseau déjà autorisé au titre de la Loi sur l’eau, par exemple un réseau dans une commune disposant d’un plan de gestion des eaux pluviales ;
  </li>
  <li>
    si une autorisation ou déclaration Loi sur l'eau a déjà été délivrée pour le projet, ou pour une opération plus large dans laquelle il s'inscrit (par exemple une ZAC), et qu'elle prévoit déjà le volume d'eaux pluviales rejeté par celui-ci.
  </li>
</ul>
<p>Dans ces cas uniquement, le porteur de projet n'est pas tenu de réaliser l'action requise mentionnée plus haut.</p>

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  L'aménagement d'une surface (imperméabilisation, modification des pentes, génération d'obstacles à l'écoulement, etc.) peut amener à modifier l’absorption naturelle de l'eau pluviale dans le sol et/ou des écoulements provenant de l'amont. Les conséquences sont une plus grande quantité d'eau concentrée au point de rejet, entraînant une aggravation du risque d'inondation et de pollution.
</p>
