<p>Le seuil de 1 ha est entendu comme la surface totale du projet, y compris l'existant, augmentée de l'aire du bassin naturel dont il intercepte les écoulements.</p>

<p><strong>Action requise :</strong></p>

<p>Démontrer que la surface du projet, augmentée de l'aire d'écoulement d'eaux de pluie interceptée, est inférieure à 1 ha</p>

<p><strong>Pourquoi cette action est-elle requise ?</strong></p>

<p>Vu les informations saisies, la surface totale du projet à lui seul est proche de 10 000 m². En conséquence, il est possible qu'en y ajoutant l'aire d'écoulement d'eaux de pluie interceptée, le seuil de 10 000 m² soit franchi. Dans ce cas le projet serait soumis à la Loi sur l'eau.</p>

<p><strong>Comment l'aire du bassin naturel intercepté est-elle calculée ?</strong></p>

<p>Ce calcul est complexe, se fonde sur la topographie du lieu et la géométrie des bâtiments et aménagements créés et existants aux alentours. Ce travail est généralement confié a des géomètres ou des bureaux d'études spécialisés.</p>

<p><strong>Quel impact environnemental ?</strong></p>

<p>Une surface imperméabilisée ne peut plus absorber l'eau pluviale et les écoulements provenant de l'amont. Les conséquences sont une plus grande quantité d'eau concentrée au point de rejet, entraînant une aggravation du risque d'inondation et de pollution.</p>
