<p>
  🔍 Le seuil de 1 ha est entendu comme la surface totale du projet, y compris l'existant, augmentée de l'aire du bassin naturel dont il intercepte les écoulements. Ce n'est pas la surface de la parcelle qui est prise en compte, mais bien celle du projet.
</p>

<p>
  <strong>Pourquoi le projet n'est-il pas concerné ?</strong>
</p>

<p>
  Vu les informations saisies, et si la topographie environnante est relativement plane, la surface totale du projet et du bassin versant intercepté n'excède probablement pas 1 ha.
</p>

<p>
  <strong>Comment l'aire du bassin naturel intercepté est-elle calculée ?</strong>
</p>

<p>
  Ce calcul est complexe, se fonde sur la topographie du lieu et la géométrie des bâtiments et aménagements créés et existants aux alentours. Ce travail est généralement confié à des géomètres ou des bureaux d'études spécialisés.
</p>

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  Une surface imperméabilisée ne peut plus absorber l'eau pluviale et les écoulements provenant de l'amont. Les conséquences sont une plus grande quantité d'eau concentrée au point de rejet, entraînant une aggravation du risque d'inondation et de pollution.
</p>
