<p>
  Le seuil de 1 ha est entendu comme la surface totale du projet, y compris l'existant, augmentée de l'aire du bassin naturel dont il intercepte les écoulements. Ce n'est pas la surface de la parcelle qui est prise en compte, mais bien celle du projet.
</p>

<p>
  <strong>Pourquoi le projet est-il concerné ?</strong>
</p>

<p>Vu les informations saisies, la surface totale du projet est au moins de 10 000 m², le seuil est donc franchi.</p>

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  Une surface imperméabilisée ne peut plus absorber l'eau pluviale et les écoulements provenant de l'amont. Les conséquences sont une plus grande quantité d'eau concentrée au point de rejet, entraînant une aggravation du risque d'inondation et de pollution.
</p>
