<p>
  <strong>Action requise :</strong>
</p>

<p>
  Démontrer que le projet n’impacte pas plus de 1 000 m² de l'une des zones humides référencées dans le règlement du SAGE Vie et Jaunay.
</p>



<p>
  <strong>Pourquoi cette action est-elle requise ?</strong>
</p>

<p>
  Le règlement du SAGE Vie et Jaunay, approuvé par arrêté préfectoral, interdit les projets impactant plus de 1 000 m² de certaines zones humides référencées.
</p>

<p>
  Le projet se situe à proximité de l'une de ces zones humides référencées ;
  et au vu des informations saisies, il impacte une surface de plus de 1 000 m².
</p>

<p>
  Il est donc possible que plus de 1 000 m² de la zone humide référencée soient impactés par le projet, qui serait alors <strong>interdit</strong>.
</p>


<p>
  <strong>Comment déterminer l'impact d'un projet sur une zone humide ?</strong>
</p>

<p>Les impacts pris en compte dans la Loi sur l'eau :</p>

<ul>
  <li>incluent les destructions mais aussi les modifications du fonctionnement de la zone humide</li>
  <li>qu'ils soient définitifs (construction, voirie) ou temporaires (remblais, drainage).</li>
</ul>

<p>Ce travail est généralement confié à des bureaux d'études spécialisés.</p>

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  Les zones humides ont un rôle primordial dans la préservation de la ressource en eau. Elles permettent le développement de la biodiversité ; elles préservent la qualité de l'eau en jouant un rôle de filtre ; et réduisent les impacts des inondations par leur effet « tampon » sur le niveau des rivières.
</p>
