<p>
  <strong>Action requise :</strong>
</p>

<p>Démontrer que le projet {{ criterion.required_action }}.</p>

<p>
  🔍 « Zone inondable » est ici entendue comme le lit majeur d'un cours d'eau, c'est-à-dire la zone atteinte par les eaux de la plus grande crue connue.
</p>

<p>
  <strong>Pourquoi cette action est-elle requise ?</strong>
</p>

<p>Le projet est situé dans une zone potentiellement inondable par débordement de cours d'eau.</p>

<p>
  Il est donc possible qu'il impacte une surface de plus de 400 m² dans une zone effectivement inondable, auquel cas le projet serait soumis à la Loi sur l'eau.
</p>

<p>
  <strong>Comment déterminer l'impact d'un projet sur une zone inondable ?</strong>
</p>

<p>
  Le porteur de projet doit déterminer si la zone d'implantation du projet est effectivement dans le lit majeur d'un cours d'eau.
</p>

<p>
  Si c'est le cas, un calcul de la diminution de surface d'expansion des crues causée par le projet doit être réalisé. Si cette surface dépasse 400 m², le projet est soumis à la Loi sur l'eau.
</p>

<p>Cette tâche est généralement confiée à un bureau d'études spécialisé.</p>

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  En cas de débordement du cours d'eau, le bâti diminue la surface sur laquelle les eaux de la crue se répandent. Cela peut engendrer une augmentation des hauteurs d'eau et des vitesses d'écoulement, et ainsi rendre la crue plus destructrice.
</p>
