<p>
  <strong>Action requise :</strong>
</p>

<p>Démontrer que le projet {{ criterion.required_action }}.</p>

<p>
  <strong>Pourquoi cette action est-elle requise ?</strong>
</p>

<p>
  Au vu des informations saisies, le projet impacte une surface de plus de 1 000 m² et se situe sur une zone humide potentielle.
  Il est donc possible que plus de 1 000 m² de zone humide soient impactés par le projet, qui serait alors soumis à la Loi sur l'eau.
</p>

<p>
  <strong>Comment déterminer si le projet est en zone humide ?</strong>
</p>

<p>
  La recherche de zones humides se fait nécessairement par des études sur le terrain, confiées en pratique à des bureaux d'études spécialisés. Ils examinent les espèces végétales présentes, le type de sol, et le profil d'humidité sous la surface.
</p>

<p>
  Les cartographies de zones humides potentielles servent d'alerte et d'aide aux porteurs de projet et administrations dans la recherche de zones humides.
</p>

<p>
  <strong>Comment déterminer l'impact d'un projet sur une zone humide ?</strong>
</p>

<p>Les impacts pris en compte dans la Loi sur l'eau :</p>

<ul>
  <li>incluent les destructions mais aussi les modifications du fonctionnement de la zone humide</li>
  <li>qu'ils soient définitifs (construction, voirie) ou temporaires (remblais, drainage).</li>
</ul>

<p>Ce travail est généralement confié à des bureaux d'études spécialisés.</p>

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  Les zones humides ont un rôle primordial dans la préservation de la ressource en eau. Elles permettent le développement de la biodiversité ; elles préservent la qualité de l'eau en jouant un rôle de filtre ; et réduisent les impacts des inondations par leur effet « tampon » sur le niveau des rivières.
</p>
