<p><strong>Action requise :</strong></p>

<p>Démontrer que le projet n'impacte pas plus de 400 m² de zone inondable.</p>

<p><strong>Pourquoi cette action est-elle requise ?</strong></p>

<p>Le projet est situé en zone inondable.
  Au vu des informations saisies, il semble possible que le projet impacte plus de 400 m² de zone inondable, auquel cas il serait soumis à la Loi sur l'eau.</p>

<p><strong>Quel impact environnemental ?</strong></p>

<p>En cas de débordement du cours d'eau, le bâti diminue la surface sur laquelle les eaux de la crue se répandent. Cela peut engendrer une augmentation des hauteurs d'eau et des vitesses d'écoulement, et ainsi rendre la crue plus destructrice.</p>

<p><strong>Comment déterminer l'impact sur la zone inondable ?</strong></p>

<p>Pour la Loi sur l'eau, c'est le « lit majeur » du cours d'eau qui est considéré, c'est-à-dire la zone inondée en cas de la plus grande crue connue.</p>

<p>Un calcul de la diminution de surface d'expansion des crues causée par le projet doit être fait. Si cette surface dépasse 400 m², le projet est soumis à la Loi sur l'eau.</p>

<p>Cette tâche est généralement réalisée par un bureau d'études spécialisé.</p>
