<p>
  <strong>Action requise :</strong>
</p>

<p>Démontrer que le projet n'impacte aucun m² de zone humide.</p>

<p>
  <strong>Pourquoi cette action est-elle requise ?</strong>
</p>

<p>
  Le règlement du SAGE GMRE, approuvé par arrêté préfectoral, interdit sur son périmètre tout projet impactant une zone humide,
  à l’exception de quelques cas précisés plus bas.
</p>

<p>Le projet se situe à proximité d'une zone humide référencée.</p>

<p>
  Il est donc possible qu’une zone humide soit impactée par le projet, qui serait alors <strong>interdit</strong>.
</p>

<p>
  <strong>Quelles sont les exceptions à cette interdiction ?</strong>
</p>

<p>Le projet peut être tout de même autorisé dans certains cas :</p>

<ul>
  <li>s’il s’agit d’une extension de bâtiments agricoles ;</li>
  <li>s’il a été déclaré d’utilité publique (DUP) ou présente un caractère d’intérêt général ;</li>
  <li>s’il répond à des enjeux de sécurité pour l’activité humaine ;</li>
  <li>et dans quelques autres cas hors du champ de l’aménagement et de la construction.</li>
</ul>

<p>
  Le porteur doit consulter le <a a
    target="_blank"
    rel="noopener"
    href="https://www.sagegmre.fr/proteger-lensemble-des-zones-humides,pa29.html">site du SAGE présentant cette règle en détail</a>.
</p>

<p>
  <strong>Comment déterminer si le projet est en zone humide ?</strong>
</p>

<p>
  Toute zone humide, <em>même non inventoriée</em>, est soumise à cette règle du SAGE GMRE.
</p>

<p>
  La recherche de zones humides se fait nécessairement par une étude de terrain, confiée en pratique à un bureau d'études spécialisé. Celui-ci examine les espèces végétales présentes, le type de sol, et le profil d'humidité sous la surface.
</p>

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  Les zones humides ont un rôle primordial dans la préservation de la ressource en eau. Elles permettent le développement de la biodiversité ; elles préservent la qualité de l'eau en jouant un rôle de filtre ; et réduisent les impacts des inondations par leur effet « tampon » sur le niveau des rivières.
</p>
