<p>
  🔍 « Zone inondable » est ici entendue comme le lit majeur d'un cours d'eau, c'est-à-dire la zone atteinte par les eaux de la plus grande crue connue.
</p>

<p>
  <strong>Pourquoi le projet est-il concerné ?</strong>
</p>

<p>Le projet est situé en zone inondable et il est d'une surface supérieure à 400 m².</p>

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  En cas de débordement du cours d'eau, le bâti diminue la surface sur laquelle les eaux de la crue se répandent. Cela peut engendrer une augmentation des hauteurs d'eau et des vitesses d'écoulement, et ainsi rendre la crue plus destructrice.
</p>

<p>
  <strong>Comment déterminer l'impact d'un projet sur une zone inondable ?</strong>
</p>

<p>
  Un calcul de la diminution de surface d'expansion des crues causée par le projet doit être fait. Si cette surface dépasse 400 m², le projet est soumis à la Loi sur l'eau.
</p>

<p>Cette tâche est généralement réalisée par un bureau d'études spécialisé.</p>
