<p>
  🔍 « Zone inondable » est ici entendue comme le lit majeur d'un cours d'eau, c'est-à-dire la zone atteinte par les eaux de la plus grande crue connue.
</p>

<p>
  <strong>Pourquoi le projet est-il concerné ?</strong>
</p>

<p>Le projet est situé en zone inondable et il impacte une surface supérieure à 400 m². Il franchit donc le seuil de déclaration pour cette rubrique de la Loi sur l'eau.</p>

<p>Il s'agit d'une modification d'un aménagement ou d'une construction existante.
  L'existant lui-même semble franchir le seuil de déclaration. Le projet devrait donc avoir déjà fait l'objet d'un dossier Loi sur l'eau.</p>

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  En cas de débordement du cours d'eau, le bâti diminue la surface sur laquelle les eaux de la crue se répandent. Cela peut engendrer une augmentation des hauteurs d'eau et des vitesses d'écoulement, et ainsi rendre la crue plus destructrice.
</p>

<p>
  <strong>Comment déterminer l'impact d'un projet sur une zone inondable ?</strong>
</p>

<p>
  Un calcul de la diminution de surface d'expansion des crues causée par le projet doit être fait. Si cette surface dépasse 400 m², le projet est soumis à la Loi sur l'eau.
</p>

<p>Cette tâche est généralement réalisée par un bureau d'études spécialisé.</p>
