{% extends 'base.html' %}

{% load static l10n evaluations moulinette %}

{% block title %}Démonstrateur 2150{% endblock %}

{% block main-classes %}demonstrateur_2150{% endblock %}

{% block content %}
  <article>
    <h1>Estimation de bassin versant : démonstrateur</h1>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-7">
        <form method="get" action="">
          {{ form.lng.as_hidden }}
          {{ form.lat.as_hidden }}
          <label class="step">
            Double-cliquez ou déplacez le marqueur sur la carte pour ajuster
            l'emplacement du projet.
          </label>

          <div class="ratio-4x3 fr-my-3w">
            <div class="ratio-content">
              <div id="map"></div>
            </div>
          </div>

          <button type="submit" class="fr-btn">Valider</button>
        </form>
      </div>
      <div class="fr-col-5">

        {% if result_available %}
          <h2 class="fr-h4">Résultat du calcul</h2>
          <p>
            Indicateur de bassin versant : <span class="fr-tag surface">{{ catchment_area_500 }}</span> m²
          </p>

          <h2 class="fr-h4">Ce que le simulateur EnvErgo pourrait répondre</h2>

          <p>
            Pour évaluer si un projet franchit ou non le seuil de 1 ha de la rubrique 2.1.5.0. de la Loi sur l'eau, le simulateur répondrait – selon la surface du projet :
          </p>

          <ul>
            {% if value_action_requise > 0 %}
              <li>
                projet qui artificialise entre 0 et <span class="fr-tag surface">{{ value_action_requise }}</span> m² :
                <span class="fr-tag probability probability-non_soumis">Non soumis</span>
              </li>
            {% endif %}

            {% if value_soumis > 0 %}
              <li>
                projet qui artificialise entre <span class="fr-tag surface">{{ value_action_requise }}</span> et <span class="fr-tag surface">{{ value_soumis }}</span> m² :
                <span class="fr-tag probability probability-action_requise">Action requise</span>
                <br />
                « le porteur doit mener les études pour déterminer si la surface du projet, ajoutée à celle de l'aire d'écoulement d'eaux pluviales interceptée, dépasse 10 000 m² »
              </li>

              <li>
                projet qui artificialise plus de <span class="fr-tag surface">{{ value_soumis }}</span> m² :
                <span class="fr-tag probability probability-soumis">Soumis</span>
              </li>
            {% else %}
              <li>
                tout projet quelle que soit sa surface :
                <span class="fr-tag probability probability-soumis">Soumis</span>
              </li>
            {% endif %}
          </ul>
        {% else %}
          {% if form.is_bound %}
            <h2 class="fr-h4">Département non disponible</h2>
          {% else %}
            <h2 class="fr-h4">Essayez notre démonstrateur</h2>
          {% endif %}
          <p>
            Le démonstrateur n'est disponible que pour les départements suivants : <a href="{% url '2150_debug' %}?lng=-4.03177&lat=48.38986">Finistère (29)</a> et <a href="{% url '2150_debug' %}?lng=5.63161&lat=45.24054">Isère (38)</a>.
          </p>
        {% endif %}

        <h2 class="fr-h4">Pour en savoir plus</h2>
        <p>
          Consultez <a href="https://docs.google.com/presentation/d/1O1Q4Z9Cj00v6gyuvoigPes2yX32vp7n1OMr_IVEU86g/edit#slide=id.p"
    target="_blank"
    rel="noopener">le document d'explication</a> (mode d'emploi et description de l'algorithme de calcul).
        </p>

        <div class="share-btn hide-print fr-my-8w">
          <button class="js fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-mail-fill share-btn"
                  data-fr-opened="false"
                  aria-controls="share-modal"
                  data-btn="bottom">Partager cette page par email</button>
        </div>
      </div>
    </div>
  </article>
{% endblock %}

{% block extra_body %}
  {% include '_share_url_modal.html' %}
{% endblock %}

{% block extra_css %}
  <link href="{% static 'leaflet/dist/leaflet.css' %}" rel="stylesheet">
  <link href="{% static 'leaflet/draw/leaflet.draw.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script defer src="{% static 'leaflet/leaflet.js' %}"></script>
  <script defer src="{% static 'leaflet/draw/leaflet.draw.js' %}"></script>
  <script defer src="{% static 'js/libs/2150_map.js' %}"></script>
  <script defer src="{% static 'js/libs/share_url_modal.js' %}"></script>


  <script>
    var DISPLAY_MARKER = {{ display_marker|yesno:'true,false' }};
    var CENTER_MAP = {lng: {{ center_map.0|unlocalize }}, lat: {{ center_map.1|unlocalize }}};
    var DEFAULT_ZOOM = {{ default_zoom }};
    var LAT_FIELD_ID = 'id_lat';
    var LNG_FIELD_ID = 'id_lng';
    var POLYGONS = {{ polygons|default:"[]"|safe }};
  </script>

{% endblock %}
