{% extends 'base.html' %}

{% load static l10n evaluations moulinette %}

{% block title %}Démonstrateur 2150{% endblock %}

{% block main-classes %}demonstrateur_2150{% endblock %}

{% block content %}
  <article>
    <h1>Démonstrateur 2.1.5.0</h1>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-7">
        <form method="get" action="">
          {{ form.lng.as_hidden }}
          {{ form.lat.as_hidden }}
          <label class="step">
            Double-cliquez ou déplacez le marqueur sur la carte pour ajuster
            l'emplacement du projet.
          </label>

          <div class="ratio-4x3 fr-my-3w">
            <div class="ratio-content">
              <div id="map"></div>
            </div>
          </div>

          <button type="submit" class="fr-btn">Valider</button>
        </form>
      </div>
      <div class="fr-col-5">
        {% if result_available %}
          <h2 class="fr-h4">Résultat du calcul</h2>
          <p>
            Indicateur de bassin versant : <span class="fr-tag surface">{{ catchment_area_500 }}</span> m²
          </p>

          <h2 class="fr-h4">Ce que le simulateur EnvErgo pourrait répondre</h2>

          <p>
            Pour évaluer si un projet franchit ou non le seuil de 1 ha de la rubrique 2150 de la Loi sur l'eau, selon la surface qu'il artificialise.
          </p>

          <ul>
            {% if value_action_requise > 0 %}
              <li>
                Pour un projet qui artificialise entre 0 et <span class="fr-tag surface">{{ value_action_requise }}</span> m² :
                <span class="fr-tag probability probability-non_soumis">Non soumis</span>
              </li>
            {% endif %}

            {% if value_soumis > 0 %}
              <li>
                Pour un projet qui artificialise entre <span class="fr-tag surface">{{ value_action_requise }}</span> et <span class="fr-tag">{{ value_soumis }}</span> m² :
                <span class="fr-tag probability probability-action_requise">Action requise</span>
                <br />
                « le porteur doit mener les études pour déterminer si la surface du projet, ajoutée à celle de l'aire d'écoulement d'eaux pluviales interceptée, dépasse 10 000m2 »
              </li>

              <li>
                Pour un projet qui artificialise plus de <span class="fr-tag surface">{{ value_soumis }}</span> m² :
                <span class="fr-tag probability probability-soumis">Soumis</span>
              </li>
            {% else %}
              <li>
                L'aire d'écoulement d'eaux pluviales interceptée est supérieure au seuil de 1 ha de la rubrique 2150 de la Loi sur l'eau :
                <span class="fr-tag probability probability-soumis">Soumis</span>
              </li>
            {% endif %}
          </ul>

          <section class="fr-accordion">
            <h3 class="fr-accordion__title">
              <button class="fr-accordion__btn"
                      aria-expanded="false"
                      aria-controls="accordion-detail">Détails du calcul</button>
            </h3>
            <div class="fr-collapse" id="accordion-detail">
              <table>
                <legend>Les surfaces d'écoulement calculées autour des coordonnées, sur une grille de 20m.</legend>
                {% for row in areas %}
                  <tr>
                    {% for number in row %}<td>{{ number|stringformat:"d" }}</td>{% endfor %}
                  </tr>
                {% endfor %}
              </table>
            </div>
          </section>
        </div>
      {% endif %}
    </div>
  </article>
{% endblock %}

{% block extra_css %}
  <link href="{% static 'leaflet/dist/leaflet.css' %}" rel="stylesheet">
  <link href="{% static 'leaflet/draw/leaflet.draw.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script defer src="{% static 'leaflet/leaflet.js' %}"></script>
  <script defer src="{% static 'leaflet/draw/leaflet.draw.js' %}"></script>
  <script defer src="{% static 'js/libs/2150_map.js' %}"></script>

  <script>
    var DISPLAY_MARKER = {{ display_marker|yesno:'true,false' }};
    var CENTER_MAP = {lng: {{ center_map.0|unlocalize }}, lat: {{ center_map.1|unlocalize }}};
    var DEFAULT_ZOOM = {{ default_zoom }};
    var LAT_FIELD_ID = 'id_lat';
    var LNG_FIELD_ID = 'id_lng';
    var POLYGONS = {{ polygons|safe }};
  </script>

{% endblock %}
