{% load utils %}

<div class="parcel-formset fr-col-12">
  <p class="formset-header">Parcelle</p>

  {% if form.non_field_errors %}
    <p class="fr-alert fr-alert--error error fr-mt-3w">{{ form.non_field_errors.0 }}</p>
  {% endif %}
</div>

<div class="formset-field fr-col-12 fr-col-md-6 fr-col-lg-3">
  {% render_field form.commune %}

</div>
<div class="formset-field fr-col-12 fr-col-md-6 fr-col-lg-3">
  {% render_field form.prefix %}

</div>
<div class="formset-field fr-col-12 fr-col-md-6 fr-col-lg-3">
  {% render_field form.section %}

</div>
<div class="formset-field fr-col-12 fr-col-md-6 fr-col-lg-3">
  {% render_field form.order %}

</div>
