<div class="parcel-formset fr-col-12">
  <p class="formset-header">Parcelle {{ counter }}</p>
</div>
<div class="formset-field fr-col-12 fr-col-md-6 fr-col-lg-3">
  {% include '_field_snippet.html' with field=form.commune %}
</div>
<div class="formset-field fr-col-12 fr-col-md-6 fr-col-lg-3">
  {% include '_field_snippet.html' with field=form.prefix %}
</div>
<div class="formset-field fr-col-12 fr-col-md-6 fr-col-lg-3">
  {% include '_field_snippet.html' with field=form.section %}
</div>
<div class="formset-field fr-col-12 fr-col-md-6 fr-col-lg-3">
  {% include '_field_snippet.html' with field=form.order %}
</div>
