{% load moulinette %}

<ul class="instructor-view-list">

  {% include "haie/petitions/_item.html" with label="Total linéaire à détruire sur site Natura 2000" value=l_n2000_hors_aa|default:0.0|floatformat:"0g" unit="m" comment="Hors linéaires déclarés comme « alignements d'arbres ».<br /> Uniquement sur les sites où l'arrachage de haies est soumis à EIN." %}

  {% if l_n2000_hors_aa > 0 %}
    <li>
      <span><b>Détail :</b></span>

      <span>
        {# djlint:off #}
        {% for hedge_id, length in n2000_hors_aa.items %}
          {{ hedge_id }} ({{ length|floatformat:"0g" }} m){% if not forloop.last %},{% endif %}
        {% endfor %}
        {# djlint:on #}
      </span>
    </li>
  {% endif %}

  {% include "haie/petitions/_item.html" with label="Total linéaire d'alignements d'arbres à détruire sur site Natura 2000" value=l_n2000_aa|default:0.0|floatformat:"0g" unit="m" %}

  {% if l_n2000_aa > 0 %}
    <li>
      <span><b>Détail :</b></span>

      <span>
        {# djlint:off #}
        {% for hedge_id, length in n2000_aa.items %}
          {{ hedge_id }} ({{ length|floatformat:"0g" }} m){% if not forloop.last %},{% endif %}
        {% endfor %}
        {# djlint:on #}
      </span>
    </li>

  {% endif %}
</ul>
