{% load moulinette %}
{% load static %}

{% if moulinette.actions_to_take %}
  <section id="actions-to-take" class="alt fr-container fr-py-2w">
    <h2 class="actions-to-take-title">
      <img src="{% static 'images/todo-light.svg' %}" alt="" class="light-only">
      Actions à mener
    </h2>
    <div class="fr-tabs">
      <ul class="fr-tabs__list" role="tablist" aria-label="Actions à mener">
        <li role="presentation">
          <button type="button"
                  id="storybook-tab-0"
                  class="fr-tabs__tab"
                  tabindex="0"
                  role="tab"
                  aria-selected="true"
                  aria-controls="storybook-tab-0-panel">Porteur de projet</button>
        </li>
        <li role="presentation">
          <button type="button"
                  id="storybook-tab-1"
                  class="fr-tabs__tab"
                  tabindex="-1"
                  role="tab"
                  aria-selected="false"
                  aria-controls="storybook-tab-1-panel">Instruction urbanisme</button>
        </li>
      </ul>
      <div id="storybook-tab-0-panel"
           class="fr-tabs__panel fr-tabs__panel--selected"
           role="tabpanel"
           aria-labelledby="storybook-tab-0"
           tabindex="0">

        {% if moulinette.actions_to_take.petitioner %}
          {% for action in moulinette.actions_to_take.petitioner %}
            <div {% if not forloop.last %}class="fr-mb-2w"{% endif %}>
              {% include 'evaluations/_action_to_take.html' with action=action %}
            </div>
          {% endfor %}
        {% else %}
          Aucune action à mener.
        {% endif %}

        {% if evaluation.is_eligible_to_self_declaration %}
          <hr>
          {% include 'evaluations/_self_declaration_cta.html' %}
        {% endif %}
      </div>
      <div id="storybook-tab-1-panel"
           class="fr-tabs__panel"
           role="tabpanel"
           aria-labelledby="storybook-tab-1"
           tabindex="0">
        {% if moulinette.actions_to_take.pc %}
          <section class="action-to-take fr-mb-2w">
            <button class="action-btn fr-btn fr-btn--tertiary-no-outline"
                    aria-expanded="false"
                    aria-controls="pieces-complementaires">
              <span class="fr-sr-only">
                <span class="fr-icon-arrow-right-line fr-icon--sm"></span>Pièces complémentaires à demander au pétitionnaire
              </span>

              <span aria-hidden="true" class="concealed-label">
                <span class="fr-icon-arrow-right-line fr-icon--sm"></span>
                Pièces complémentaires à demander au pétitionnaire
                <span class="fr-icon-arrow-down-s-line fr-icon--sm"></span></span>
                <span aria-hidden="true" class="expanded-label">
                  <span class="fr-icon-arrow-right-line fr-icon--sm"></span>
                  Pièces complémentaires à demander au pétitionnaire
                  <span class="fr-icon-arrow-up-s-line fr-icon--sm"></span></span>
                </button>
                <div class="fr-collapse fr-ml-5w" id="pieces-complementaires">
                  <ul>
                    {% for action in moulinette.actions_to_take.pc %}
                      <li>
                        {{ action.label }}
                        <span class="fr-ml-2w action-pc-list">{{ action.documents_to_attach|join:", " }}</span>
                        <div>{% render_action_to_take_details action.details %}</div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </section>

            {% else %}
              <div class="fr-mb-2w">
                Pas de pièce complémentaire à demander au titre des réglementations environnementales prises en compte dans
                cet avis : Loi sur l’eau, Évaluation environnementale, Règlement de SAGE, Natura 2000.
              </div>
            {% endif %}
            {% if moulinette.actions_to_take.instructor %}
              {% for action in moulinette.actions_to_take.instructor %}
                <div {% if not forloop.last %}class="fr-mb-2w"{% endif %}>
                  {% include 'evaluations/_action_to_take.html' with action=action %}
                </div>
              {% endfor %}
            {% else %}
              Aucune action à mener.
            {% endif %}
          </div>
        </div>
      </section>
    {% endif %}
