{% load moulinette %}
{% load static %}

<section id="actions-to-take" class="alt fr-container fr-py-2w">
  <h2 class="actions-to-take-title">
    <img src="{% static 'images/todo-light.svg' %}" alt="" class="light-only">
    Actions à mener
  </h2>
  <div class="fr-tabs">
    <ul class="fr-tabs__list" role="tablist" aria-label="Actions à mener">
      <li role="presentation">
        <button type="button"
                id="storybook-tab-0"
                class="fr-tabs__tab"
                tabindex="0"
                role="tab"
                aria-selected="true"
                aria-controls="storybook-tab-0-panel">Porteur de projet</button>
      </li>
      <li role="presentation">
        <button type="button"
                id="storybook-tab-1"
                class="fr-tabs__tab"
                tabindex="-1"
                role="tab"
                aria-selected="false"
                aria-controls="storybook-tab-1-panel">Instruction urbanisme</button>
      </li>
    </ul>
    <div id="storybook-tab-0-panel"
         class="fr-tabs__panel fr-tabs__panel--selected"
         role="tabpanel"
         aria-labelledby="storybook-tab-0"
         tabindex="0">

      {% if moulinette.actions_to_take.petitioner %}
        {% for action in moulinette.actions_to_take.petitioner %}
          {% include 'evaluations/_action_to_take.html' with action=action %}
        {% endfor %}
      {% else %}
        {# todo #}
      {% endif %}

      {% if evaluation.is_eligible_to_self_declaration %}
        <hr>
        {% include 'evaluations/_self_declaration_cta.html' %}
      {% endif %}
    </div>
    <div id="storybook-tab-1-panel"
         class="fr-tabs__panel"
         role="tabpanel"
         aria-labelledby="storybook-tab-1"
         tabindex="0">
      {% if moulinette.actions_to_take.pc %}
        <section class="action-to-take fr-mb-2w">
          <button class="action-btn read-more-btn  fr-btn fr-btn--tertiary-no-outline"
                  aria-expanded="false"
                  aria-controls="action-pc">
            <span class="fr-sr-only">
              <span class="fr-icon-arrow-right-line"></span>Pièces complémentaires à demander au pétitionnaire
            </span>

            <span aria-hidden="true" class="concealed-label">
              <span class="fr-icon-arrow-right-line"></span>
              Pièces complémentaires à demander au pétitionnaire
              <span class="fr-icon-arrow-down-s-line"></span></span>
              <span aria-hidden="true" class="expanded-label">
                <span class="fr-icon-arrow-right-line"></span>
                Pièces complémentaires à demander au pétitionnaire
                <span class="fr-icon-arrow-up-s-line"></span></span>
              </button>
              <div class="fr-collapse" id="action-pc">
                <ul>
                  {% for action in moulinette.actions_to_take.pc %}
                    <li>
                      {{ action.label }}
                      <div class="color-text-light">{{ action.documents_to_attach|join:", " }}</div>
                      <div class="color-text-light">{% render_action_to_take_details action.details %}</div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </section>

          {% else %}
            Pas de pièce complémentaire à demander au titre des réglementations environnementales prises en compte dans cet avis : Loi sur l’eau, Évaluation environnementale, Règlement de SAGE, Natura 2000.
          {% endif %}
          {% if moulinette.actions_to_take.instructor %}
            {% for action in moulinette.actions_to_take.instructor %}
              {% include 'evaluations/_action_to_take.html' with action=action %}
            {% endfor %}
          {% else %}
            {# todo #}
          {% endif %}
        </div>
      </div>
    </section>
