{% load moulinette %}

<section class="action-to-take">
  <button class="action-btn {% if action.details %}action-btn--collapsible{% endif %} fr-btn fr-btn--tertiary-no-outline"
          {% if action.details %}aria-expanded="false" aria-controls="action-{{ action.slug }}"{% endif %}>
    <span class="action-label">
      <span class="fr-icon-arrow-right-line fr-icon--sm">{{ action.label }}</span>
    </span>
  </button>
  <div class="fr-collapse action-details-container"
       id="action-{{ action.slug }}">
    {% if action.details %}
      <p class="fr-ml-5w fr-my-1w">{% include action.details %}</p>
    {% endif %}
  </div>
</section>
