{% load evaluations static moulinette %}

<h1>Avis réglementaire</h1>
<p class="fr-text--lead">
  Référence
  {{ evaluation }}
</p>
<ul class="fr-btns-group fr-btns-group--inline fr-btns-group--icon-left fr-btns-group--center hide-print">
  <li>
    <button class="js fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-mail-fill"
            data-fr-opened="false"
            aria-controls="share-modal"
            data-btn="bottom">Partager cette page par email</button>
  </li>
  <li>
    <button class="js fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-file-download-fill"
            onclick="window.print();">Imprimer cet avis</button>
  </li>
</ul>

<p class="fr-text print-only">
  Cet avis réglementaire est <a title="Partager l'avis réglementaire" href="{{ share_print_url }}" class="no-href-print" target="_blank" rel="noopener external">consultable en ligne</a><!--
--><a title="Partager l'avis réglementaire" href="{{ share_print_url }}" class="no-href-print" target="_blank" rel="noopener external">({{ evaluation_url }})</a>
</p>

<h2 class="fr-h3">Caractéristiques du projet</h2>

<div class="ratio-16x9 ratio-sm-4x5 fr-mt-1w fr-mb-2w">
  <div class="ratio-content">
    <div class="leaflet-container">
      <div id="map"></div>
    </div>
  </div>
</div>

{% include 'evaluations/_specifications.html' with params=evaluation.moulinette_params address=evaluation.address %}

<div class="fr-alert fr-alert--info fr-mt-3w fr-mb-5w">
  <p>
    Cet avis est adressé à titre informatif au porteur de projet. Il ne vaut pas position de l’administration. <a href="#liability-info" class="hide-print">En savoir plus.</a>
  </p>
</div>

<h2 class="fr-h3">Réglementations environnementales</h2>

{% include 'moulinette/_evaluation_summary.html' %}

{% if evaluation.is_icpe %}
  <div class="alt fr-p-3w fr-mb-5w">
    <p>
      ⚠️ Le projet semble être une <strong>Installation Classée pour la Protection de l’Environnement (ICPE)</strong>. Cela peut modifier les autres procédures environnementales auxquelles le projet est soumis. Envergo ne se prononce pas avec exactitude sur ces cas particuliers.
    </p>

    <p>
      <i> Les procédures à suivre décrites dans le présent avis pourraient être impactées. </i>
    </p>

    {% if config.dreal_department_unit_url %}
      <p>
        Le porteur doit se rapprocher de <a href="{{ config.dreal_department_unit_url }}"
    target="_blank"
    rel="noopener">l’Unité Départementale de la DREAL</a>, qui est en charge des instructions ICPE.
      </p>
    {% else %}
      <p>Le porteur doit se rapprocher de l’Unité Départementale de la DREAL, qui est en charge des instructions ICPE.</p>
    {% endif %}
  </div>
{% endif %}

{% if evaluation.display_actions_to_take %}
  {% include 'evaluations/_actions_to_take.html' %}
{% endif %}

{% if evaluation.details_html %}
  <div class="fr-callout evaluation-comment fr-mb-5w">
    <h3 class="fr-callout__title">Commentaire de l'équipe Envergo</h3>
    <div class="fr-callout__text">{{ evaluation.details_html|safe }}</div>
  </div>
{% endif %}

{% for regulation in moulinette.regulations %}
  {% include 'amenagement/moulinette/_result_regulation.html' with regulation=regulation %}
{% endfor %}

{% include 'moulinette/_additional_regulations.html' with moulinette=moulinette %}

<div id="liability-info" class="fr-alert fr-alert--info fr-my-5w">
  <p>
    Envergo est un service du Ministère de la Transition Écologique. Il vise à aider les acteurs de l'aménagement en phase amont de leurs projets.
  </p>
  <p>
    Les simulations sont établies à titre informatif, et ne valent pas position de l'administration. Elles ne couvrent pas l'exhaustivité des réglementations ni la spécificité de certains projets.
  </p>
  <p>
    Les porteurs doivent échanger directement avec les autorités administratives compétentes (collectivité en charge de l'urbanisme, DDT(M), DREAL…) pour obtenir une position officielle.
  </p>
</div>

<div class="fr-my-5w print-only">
  <h2>Nous contacter</h2>
  <p class="fr-text">Pour une question, remarque, suggestion…</p>
  {% include 'amenagement/_contact_means.html' %}
</div>
