{% load evaluations %}

<section class="fr-accordion">

  <h3 class="fr-accordion__title">
    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-{{ criterion.criterion }}">
      <span>
        {{ criterion.get_criterion_display }} —
        {% probability criterion.probability %}
      </span>
    </button>
  </h3>

  <div class="fr-collapse" id="accordion-{{ criterion.criterion }}">
    <p class="fr-text--light">Rubrique {{ criterion.get_law_code }} de la nomenclature Loi sur l'eau</p>

    {{ criterion.description_html|safe }}

  </div>
</section>
