<section class="fr-pt-8w">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col fr-col-md-8 fr-col-lg-7 fr-col-xl-6">

        <div class="fr-alert fr-alert--info fr-mb-5w">
          <p>EnvErgo est un service du ministère de la transition écologique. Il vise à aider les acteurs de l'aménagement en phase amont de leurs projets.</p>
          <p><i>Les avis rendus ne valent pas position de l'administration</i>. Ils ne couvrent pas l'exhaustivité des réglementations spécifiques à certains projets.</p>
        </div>

        <h2>Pour en savoir plus…</h2>

        <p>Consultez notre <a href="{% url 'faq' %}">page d'information sur la Loi sur l'eau</a>
          ou <a href="{% url 'contact_us' %}">contactez l'équipe EnvErgo</a>.</p>
      </div>
    </div>
  </div>
</section>
