{% if not version or version == 1 %}
  <section id="self-declaration-cta"
           class="hide-print fr-notice fr-notice--info">
    <div class="fr-container">
      <div class="fr-notice__body">
        <p class="fr-notice__title">
          Si vous avez déjà déposé un dossier ou réalisé les études environnementales nécessaires, vous pouvez nous
          l'indiquer via
          <a href="{% url 'self_declaration' evaluation.reference %}?source=page-ar&mtm_kwd={{ evaluation.reference }}"
             class="self-declaration-cta"
             data-sql-event-metadata='{ "request_reference": "{{ evaluation.reference }}", "version": "v1" }'>ce formulaire</a>
          (durée : 2 min)
        </p>
      </div>
    </div>
  </section>
{% else %}
  <section id="self-declaration-cta-v2"
           class="hide-print fr-tile fr-mt-2w fr-pl-4w fr-pr-2w fr-pt-0 fr-pb-2w">
    <div class="fr-tile__body">
      <button id="self-declaration-cta-close-btn"
              class="fr-icon-close-line fr-btn fr-btn--sm fr-btn--tertiary-no-outline fr-mt-1w fr-mb-n3v"
              title="Masquer le message"></button>
      <div class="fr-tile__content">
        <h6>Vous avez déjà déposé un dossier ou mené les études nécessaires ?</h6>
        <p>
          Indiquez-le nous ! Le projet sera classé comme « conforme » par Envergo et les emails
          de suivi cesseront.
        </p>
        <a href="{% url 'self_declaration' evaluation.reference %}?source=page-ar&mtm_kwd={{ evaluation.reference }}"
           class="self-declaration-cta fr-btn fr-mt-2w"
           data-sql-event-metadata='{ "request_reference": "{{ evaluation.reference }}", "version": "v2" }'>Déclarer les actions réalisées</a>
        <span class="fr-hint-text">Durée : 2 min</span>
      </div>
    </div>
  </section>
{% endif %}
