<section id="self-declaration-cta">
  <h2 class="fr-h6">
    <span class="icon">➡️</span> Vous connaissez déjà ces obligations ?
  </h2>
  <p>
    Si vous avez déjà déposé un dossier ou réalisé les études environnementales nécessaires, vous pouvez nous l'indiquer ici :
  </p>
  <p>
    <div class="button-with-help">
      <a href="{% url 'self_declaration' evaluation.reference %}?mtm_source=website&source=website&mtm_keyword={{ evaluation.reference }}"
         class="fr-btn">Mon projet est déjà conforme</a>
      <br />
      <span class="fr-text--sm">Durée : 3 min.</span>
    </div>
  </p>
</section>
