{% load l10n moulinette %}

<ul class="fr-mb-3w">
  {% if address %}
    <li>
      <strong>Adresse :</strong> {{ address }}
    </li>
  {% elif address_coords %}
    <li>
      <strong>Coordonnées GPS :</strong> {{ address_coords }}
    </li>
  {% endif %}
  {% if evaluation.application_number %}<li>Demande de permis n° {{ evaluation.application_number }}</li>{% endif %}

  {% if moulinette.main_form.created_surface %}
    <li>{% field_summary moulinette.main_form.created_surface %}</li>
  {% endif %}

  {% if moulinette.main_form.final_surface %}
    <li>{% field_summary moulinette.main_form.final_surface %}</li>
  {% endif %}

  {% include 'moulinette/_additional_specifications.html' %}
</ul>
