{% load l10n moulinette %}

<ul class="fr-mb-3w">
  {% if address %}
    <li>
      <strong>Adresse :</strong> {{ address }}
    </li>
  {% elif address_coords %}
    <li>
      <strong>Coordonnées GPS :</strong> {{ address_coords }}
    </li>
  {% endif %}
  {% if evaluation.application_number %}<li>Demande de permis n° {{ evaluation.application_number }}</li>{% endif %}

  <li>
    <strong>Surface nouvellement impactée par le projet :</strong> {{ params.created_surface|localize }} m²
    <br />
    <span class="fr-hint-text">Bâti, voirie, espaces verts, remblais et bassins — temporaires et définitifs</span>
  </li>

  {% if params.existing_surface %}
    <li>
      <strong>Surface déjà impactée avant le projet :</strong> {{ params.existing_surface|localize }} m²
      <br />
      <span class="fr-hint-text">Bâti, voirie, espaces verts, remblais et bassins</span>
    </li>
  {% endif %}

  {% if params.final_surface %}
    <li>
      <strong>Surface impactée totale, y compris l'existant :</strong> {{ params.final_surface|localize }} m²
      <br />
      <span class="fr-hint-text">Bâti, voirie, espaces verts, remblais et bassins — temporaires et définitifs</span>
    </li>
  {% endif %}

  {% include 'moulinette/_additional_specifications.html' %}
</ul>
