{% load l10n moulinette %}

<ul class="fr-mb-3w">
  {% if address %}
    <li>
      <strong>Adresse :</strong> {{ address }}
    </li>
  {% elif address_coords %}
    <li>
      <strong>Coordonnées GPS :</strong> {{ address_coords }}
    </li>
  {% endif %}
  {% if evaluation.application_number %}<li>Demande de permis n° {{ evaluation.application_number }}</li>{% endif %}

  <li>{% field_summary form.created_surface %}</li>

  {% if params.existing_surface %}
    <li>{% field_summary form.existing_surface %}</li>
  {% endif %}

  {% if params.final_surface %}
    <li>{% field_summary form.final_surface %}</li>
  {% endif %}

  {% for key, field in moulinette.additional_fields.items %}
    <li>{% field_summary field %}</li>
  {% endfor %}

  {% for form in moulinette.optional_forms %}
    {% if form.is_valid and form.is_activated %}
      {% for field in form %}
        {% if field.name != "activate" %}
          <li>{% field_summary field %}</li>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>
