{% extends 'base.html' %}
{% load evaluations %}

{% block title %}Consultez l'évaluation pour votre projet{% endblock %}

{% block breadcrumbs %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="/">Accueil</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'evaluation_search' %}">Évaluations</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Permis n°{{ evaluation.application_number }}</a>
      </li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block article %}
<h1>Évaluation Loi sur l'eau</h1>

<p class="fr-text--lead">
  Demande de permis n°
  {{ evaluation.application_number_display }}
</p>

<h3>Mon projet est-il soumis à la Loi sur l'eau ?</h3>

<ul>
  <li>Commune : {{ evaluation.commune }}</li>
  <li>Surface créée : {{ evaluation.created_surface }} m²</li>
  <li>Surface existante :
    {% if evaluation.existing_surface %}
    {{ evaluation.existing_surface }} m²
    {% else %}
    <abbr title="Non communiqué">NC</abbr>
    {% endif %}
  </li>
</ul>

<div id="probability-gauge">
  <figure role="group">
    <div>
      {% probability evaluation.global_probability as p_label %}
      {% include 'evaluations/_gauge.html' with probability=evaluation.global_probability %}
    </div>
    <figcaption>
      Il est {% probability evaluation.global_probability %} que votre projet soit soumis à Déclaration au titre de la
      Loi sur l'eau.
    </figcaption>
  </figure>
</div>

<p class="fr-callout">
  Au vu des informations renseignées dans le permis de construire, il est
  {% probability evaluation.global_probability %}
  que votre projet soit soumis à
  Déclaration au titre de la Loi sur l'eau.
</p>

<p class="fr-text--light">
  Cette estimation est une indication qui ne vaut pas position de l'administration.
  Ce document vise à vous guider dans les actions à engager pour établir avec certitude si votre projet est soumis à
  la
  Loi sur l'eau.
</p>

<h2>Sur quels éléments cette estimation se fonde-t-elle ?</h2>

<p>L'estimation a été établie en considérant les caractéristiques du projet :</p>

<ul>
  <li>sa localisation géographique ;</li>
  <li>la surface du projet et du bâti existant ;</li>
</ul>

<p>…par rapport aux différents impacts que la réglementation Loi sur l'eau vise à limiter.</p>

<ul class="fr-accordions-group">

  {% for criterion in criterions %}
  <li>
    {% include 'evaluations/_criterion.html' with criterion=criterion %}
  </li>
  {% endfor %}
  </li>
</ul>

<h2>Pour en savoir plus…</h2>

<p>Consultez notre <a href="{% url 'water_law' %}">page d'information sur la Loi sur l'eau</a>.</p>

{% endblock %}
