{% extends 'base.html' %}

{% block breadcrumbs %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="/">Accueil</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'evaluation_search' %}">Évaluations</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Permis n°{{ evaluation.application_number }}</a>
      </li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block container %}
<h1>Demande de permis n°{{ evaluation.application_number }}</h1>
<p class="fr-text--lead">
  <span class="fr-fi-checkbox-circle-fill" aria-hidden="true"></span>
  Votre évaluation Loi sur l'eau est disponible !
</p>

<a href="{{ evaluation.evaluation_file.url }}" rel="download" class="fr-btn">Consulter l'évaluation</a>

{% endblock %}
