{% extends 'base.html' %}
{% load static evaluations leaflet_tags %}

{% block title %}Test carto{% endblock %}

{% block breadcrumbs %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="/">Accueil</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'evaluation_search' %}">Évaluations</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Demandez une évaluation</a>
      </li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block container %}
<h1>Test de la carto</h1>


<form action="" method="post" id="request-evaluation-form" novalidate>
  {% csrf_token %}

  {% include '_form_header.html' with form=form %}

  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-md-6">
      <fieldset class="fr-mb-6w">
        <legend class="fr-h2"> Localisation de votre projet </legend>

        {% include '_field_snippet.html' with field=form.address %}

        {% include 'geodata/_parcel_formset.html' with formset=parcel_formset %}

        <div class="fr-input-group">
          <label for="id_parcel">Parcelle</label>
          <input type="text" id="id_parcel" name="parcel" value="34333000BV0068" />
        </div>

        <button type="button" class="fr-btn" id="test_btn">Test</button>

      </fieldset>
    </div>

    <div class="fr-col-md-6">
      <div class="ratio-4x3">
        <div class="ratio-content">
          {% leaflet_map 'cadastre_map' callback="window.mapInit" %}
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="fr-mt-6w fr-mb-3w fr-btn fr-fi-checkbox-circle-line fr-btn--icon-left">
    Envoyez votre demande évaluation
  </button>

</form>

{% endblock %}

{% block extra_css %}
{% leaflet_css %}
{% endblock %}

{% block extra_js %}
{% leaflet_js %}
<script defer src="{% static 'js/vendors/geojson-rewind.js' %}"></script>
<script>
  var map;
  var geojsonLayer;

  function mapClicked(e) {
    console.log("Map clicked " + e.latlng);

    var searchUrl =
      `https://geocodage.ign.fr/look4/parcel/reverse?searchGeom={"type":"Point","coordinates":[${e.latlng.lng},${e.latlng.lat}]}&returnTrueGeometry=true`;
    fetch(searchUrl)
      .then(response => {
        return response.json();
      })
      .then(response => {
        console.log(response);
        var parcel = response.features[0];
        var polygon = rewind(parcel.properties.trueGeometry);
        geojsonLayer.addData(polygon);
      });
  };

  function mapInit(newMap, options) {
    map = newMap;

    var layer = L.tileLayer(
      "https://wxs.ign.fr/parcellaire/geoportail/wmts?" +
      "&REQUEST=GetTile" +
      "&SERVICE=WMTS" +
      "&VERSION=1.0.0" +
      "&STYLE=PCI vecteur" +
      "&TILEMATRIXSET=PM" +
      "&FORMAT=image/png" +
      "&LAYER=CADASTRALPARCELS.PARCELLAIRE_EXPRESS" +
      "&TILEMATRIX={z}" +
      "&TILEROW={y}" +
      "&TILECOL={x}", {
        minZoom: 0,
        maxZoom: 18,
        attribution: "IGN-F/Geoportail",
        tileSize: 256 // les tuiles du Géooportail font 256x256px
      }
    );
    layer.addTo(newMap);
    geojsonLayer = L.geoJSON().addTo(map);

    newMap.on('click', mapClicked);
  };

</script>
{% endblock %}

{% block bottom_js %}
<script>
  var btn = document.getElementById('test_btn');
  var parcelInput = document.getElementById('id_parcel');
  btn.addEventListener('click', function (btn) {
    var parcelId = parcelInput.value;

    var searchUrl = `https://geocodage.ign.fr/look4/parcel/search?q=${parcelId}&returnTrueGeometry=true`;
    fetch(searchUrl)
      .then(response => {
        return response.json();
      })
      .then(response => {
        var features = response.features[0];
        var coordinates = features.geometry.coordinates;
        var geometry = features.properties.trueGeometry.coordinates[0][0];

        map.setView([coordinates[1], coordinates[0]], 18);

        var parcel = rewind(features.properties.trueGeometry);

        geojsonLayer.addData(parcel);
      });
  });

</script>
{% endblock %}
