{% extends 'base.html' %}

{% block title %}Cette évaluation n'est pas encore disponible{% endblock %}

{% block breadcrumbs %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">
      Voir le fil d'Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="/">Accueil</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'evaluation_search' %}">Évaluations</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Référence {{ reference }}</a>
        </li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block article %}
  <h1>Référence {{ reference }}</h1>
  <p class="fr-text--lead">
    <span class="fr-fi-alert-fill" aria-hidden="true"></span>
    Hélas, l'évaluation EnvErgo n'est pas encore disponible pour ce projet.
  </p>

  <p>
    Nous faisons le maximum pour répondre dans les 72 h ouvrables. N'hésitez pas
    <a href="{% url 'contact_us' %}">à nous contacter directement</a>
    pour toute demande ou en cas d'urgence.
  </p>

{% endblock %}
