{% extends 'base.html' %}

{% block title %}Avis réglementaire introuvable{% endblock %}

{% block breadcrumbs %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="/">Accueil</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'evaluation_search' %}">Avis réglementaires</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Référence {{ reference }}</a>
        </li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block article %}
  <h1>Référence {{ reference }}</h1>

  <p class="fr-text--lead">Hélas, l'avis réglementaire correspondant à cette référence est introuvable.</p>

  <p>Il se peut :</p>

  <ul>
    <li>que la demande correspondante n'ait pas encore été traitée ;</li>
    <li>ou bien que la référence ne corresponde à aucune demande.</li>
  </ul>

  <p>
    Notre équipe fait le maximum pour répondre dans les 72 h ouvrables. N'hésitez pas
    <a href="{% url 'contact_us' %}">à nous contacter directement</a>
    pour toute question ou en cas d'urgence.
  </p>

{% endblock %}
