{% extends 'base.html' %}

{% load evaluations %}

{% block title %}Votre demande d'avis réglementaire a été enregistrée{% endblock %}

{% block article %}
  <h1>Votre demande d'avis réglementaire a bien été enregistrée</h1>

  <div class="fr-alert fr-alert--success fr-mb-3w">
    <p class="fr-alert__title">Nous avons bien reçu votre demande d'avis réglementaire.</p>
    <p>Vous recevrez une réponse dans les trois jours ouvrés.</p>
  </div>

  <p>
    Si vous souhaitez apporter des modifications ou des compléments à votre
    demande, <a href="{% url 'contact_us' %}">n'hésitez pas à nous contacter</a>.
  </p>

  <a class="fr-btn" href="{% url 'request_evaluation' %}">Soumettre une nouvelle demande d'avis réglementaire</a>

{% endblock %}
