{% extends 'base.html' %}

{% load evaluations %}

{% block title %}Votre demande d'avis réglementaire a été enregistrée{% endblock %}

{% block article %}
  <h1>Votre demande d'avis réglementaire a bien été enregistrée</h1>

  <div class="fr-alert fr-alert--success fr-mb-5w">
    <p class="fr-alert__title">Nous avons bien reçu votre demande d'avis réglementaire.</p>
    <p>Un email de confirmation vous a été envoyé (pensez à vérifier le dossier de courrier indésirable).</p>
    <p>Vous recevrez une réponse à votre demande d'avis dans les trois jours ouvrés.</p>
  </div>

  <h5 class="fr-mb-2w">Modifier les documents</h5>
  <p>
    Vous pouvez à tout moment <a href="{{ evalreq.upload_files_url }}">ajouter, supprimer ou remplacer des documents dans votre demande</a>.
  </p>

  <p>
    Pour toute question,
    <a href="{% url 'contact_us' %}">n'hésitez pas à nous contacter</a>.
  </p>

  <div class="alt cta fr-p-3w fr-mt-5w centered">
    <p>D'autres projets à instruire qui aménagent plus de 1 000 m² ?</p>
    <a class="fr-btn" href="{% url 'request_eval_wizard_reset' %}">Soumettre une nouvelle demande d'avis réglementaire</a>
  </div>

{% endblock %}
