{% extends 'base.html' %}

{% load evaluations static utils %}

{% block title %}Demandez une avis réglementaire{% endblock %}

{% block article %}
  <h1>Demandez un avis réglementaire pour un projet</h1>

  <p class="fr-text--lead">
    Envergo vous aide à déterminer si un projet de construction
    est soumis à la Loi sur l'eau. Recevez une réponse dans les trois jours ouvrés.
  </p>

  <p>
    Vous connaissez déjà votre référence Envergo ? <a href="{% url 'evaluation_search' %}">Retrouvez votre avis réglementaire.</a>
  </p>

  <form action=""
        enctype="multipart/form-data"
        autocomplete="off"
        method="post"
        id="request-evaluation-form"
        novalidate>
    {% csrf_token %}

    {% include '_form_header.html' with form=form %}

    <fieldset class="fr-mb-6w">
      <legend class="fr-h2">Localisation du projet</legend>

      <div class="fr-mb-3w fr-alert fr-alert--info">
        <p>Elle est essentielle pour connaître les règles locales relatives à la Loi sur l'eau.</p>
      </div>

      {% render_field form.address %}

      <label class="fr-label fr-mb-3w">
        Renseignez la ou les parcelles cadastrales concernées par le projet.
        Vous pouvez utiliser <a href="https://cadastre.data.gouv.fr/map?style=vector"
    target="_blank"
    rel="noopener">cette
        carte cadastrale pour trouver les identifiants des parcelles</a>.
      </label>

      {% include 'geodata/_parcel_formset.html' with formset=parcel_formset %}

      <button type="button"
              id="btn-add-parcel"
              class="fr-btn fr-btn--secondary fr-mt-3w">Saisir une parcelle supplémentaire</button>

    </fieldset>

    <fieldset class="fr-mb-6w">
      <legend class="fr-h2">Caractéristiques du projet</legend>

      <div class="fr-mb-3w fr-alert fr-alert--info">
        <p>Ces paramètres nous permettront de réaliser l'avis réglementaire.</p>
      </div>

      {% render_field form.created_surface %}
      {% render_field form.existing_surface %}
      {% render_field form.application_number %}
      {% render_field form.project_description %}
      {% render_field form.additional_data %}

    </fieldset>

    <fieldset class="fr-mb-6w">
      <legend class="fr-h2">Informations de contact</legend>

      <div class="fr-mb-3w fr-alert fr-alert--info">
        <p>Nous enverrons l'avis réglementaire à ces coordonnées.</p>
      </div>

      {% render_field form.urbanism_department_emails %}
      {% render_field form.project_owner_emails %}
      {% render_field form.project_owner_phone %}
      {% render_field form.send_eval_to_project_owner %}

    </fieldset>

    <div class="fr-alert fr-alert--info fr-mt-8w">
      <p>
        En validant votre formulaire, vous acceptez que vos données soient traitées <a href="{% url 'legal_mentions' %}" target="_blank" rel="noopener">en accord avec notre politique de
        traitement des données</a>.
      </p>
    </div>

    <button type="submit"
            class="fr-mt-4w fr-btn fr-btn--lg fr-fi-checkbox-circle-line fr-btn--icon-left">
      Envoyer votre demande d'avis réglementaire
    </button>

  </form>

  <template id="tpl-form-parcel" class="form-template">
    {% include 'geodata/_parcel_line_form.html' with form=parcel_formset.empty_form counter='__prefix__' %}

  </template>

{% endblock %}

{% block extra_css %}
  <link rel="stylesheet"
        href="{% static 'accessible-autocomplete/dist/accessible-autocomplete.min.css' %}" />
{% endblock %}

{% block extra_js %}
  <script defer
          src="{% static 'accessible-autocomplete/dist/accessible-autocomplete.min.js' %}"></script>
  <script defer src="{% static 'js/libs/address_autocomplete.js' %}"></script>
  <script defer src="{% static 'js/libs/parcel_fieldset.js' %}"></script>
{% endblock %}
