{% extends 'base.html' %}

{% block breadcrumbs %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
            <li>
                <a class="fr-breadcrumb__link" href="/">Accueil</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" aria-current="page">Évaluations</a>
            </li>
        </ol>
    </div>
</nav>
{% endblock %}

{% block container %}
<h1>EnvErgo</h1>
<p class="fr-text--lead">Évaluez si un projet d'aménagement est soumis à la Loi sur l'eau</p>

<p>Saisissez votre n° de demande d'autorisation pour obtenir une évaluation
personnalisée de votre projet.</p>

<form method="post" action="" novalidate>
{% csrf_token %}
{% include '_form_snippet.html' with form=form %}
<button type="submit" class="fr-btn">Valider</button>
</form>


{% endblock %}
