{% extends 'base.html' %}

{% load evaluations static l10n %}

{% block title %}Avis réglementaire{% endblock %}

{% block article %}
  <h1>Déclarer des démarches déjà effectuées sur un projet</h1>

  <p>Référence EnvErgo : {{ reference }}</p>
  <p>
    <a href="{% url 'evaluation_detail' reference %}">→ Consultez l'avis réglementaire pour ce projet</a>
  </p>

  <noscript>
    <p>Cette page nécessite un navigateur avec Javascript activé.</p>
  </noscript>

  <iframe data-tally-src="https://tally.so/embed/{{ tally_form_id }}?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1&ref_envergo={{ reference }}&adresse={{ address }}&num_demande_permis={{ application_number }}"
          loading="lazy"
          width="100%"
          height="500"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          title="Déclarer des démarches déjà effectuées sur un projet"></iframe>
{% endblock %}

{% block bottom_js %}
  <script defer src="https://tally.so/widgets/embed.js"></script>
  <script>
    window.addEventListener("load", function() {
      Tally.loadEmbeds();
    });

    window.addEventListener('message', (e) => {
      if (e?.data?.includes('Tally.FormSubmitted')) {

        // We set a timeout before redirecting to the evaluation detail page
        // We had to do this because the form submission event could not be
        // tracked in time before the page was redirected.
        // Yes I know it's ugly.
        setTimeout(function() {
          window.location.href = "{{ redirect_url }}";
        }, 350);

        const payload = JSON.parse(e.data).payload;
        let url = EVENTS_URL;
        let token = CSRF_TOKEN;
        let headers = { "X-CSRFToken": token };
        let data = new FormData();
        data.append("category", "compliance");
        data.append("action", "form-submit");
        data.append("metadata", JSON.stringify({
          "reference": "{{ object.reference }}"
        }));
        fetch(url, { headers: headers, body: data, method: 'POST' });
      }
    });
  </script>
{% endblock %}
