{% extends 'base.html' %}
{% load evaluations static %}

{% block title %}Consultez l'évaluation pour votre projet{% endblock %}

{% block breadcrumbs %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="/">Accueil</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'evaluation_search' %}">Évaluations</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Référence {{ evaluation.reference }}</a>
        </li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block container %}
  <article>

    <section class="fr-container">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col fr-col-md-8">
          <h1>Notification Loi sur l'eau</h1>
          <p class="fr-text--lead">
            Référence
            {{ evaluation }}
          </p>
          <h3>Projet de construction</h3>
          <ul>
            <li>Adresse : {{ evaluation.address }}</li>
            {% if evaluation.application_number %}
              <li>
                Demande de permis n° {{ evaluation.application_number }}
              </li>
            {% endif %}
          </ul>
          <div role="alert" class="fr-alert fr-alert--warning fr-my-8w">
            <p class="fr-alert__title">Une action du porteur de projet est requise.</p>
            <p>D'après les informations dont nous disposons, ce projet est potentiellement
              <span class="fr-tag probability probability-4">soumis à la Loi sur l'eau</span>.</p>

            {% if required_actions %}
              <p>Le porteur de projet doit pouvoir démontrer que son projet :</p>

              <ul>
                {% for action in required_actions %}
                  <li>{{ action }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

    <section class="alt fr-py-8w fr-mb-5w">
      <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--center">
          <div class="fr-col fr-col-md-8">
            <h2>Marche à suivre recommandée</h2>
            <p>Au vu des caractéristiques du projet, il est fortement conseillé au porteur
              de projet de mener des études sur les points cités ci-dessus, afin d'évaluer
              si le projet est soumis à la Loi sur l'eau.</p>
            <p>Ainsi il convient de :</p>
            <p><strong>1/ Prendre contact avec un bureau d'études spécialisé Loi sur l'eau et lui communiquer ces éléments.</strong></p>

            <p>Si les études révèlent que le projet est soumis à la Loi sur l'eau, le dépôt d'un dossier Loi sur l'eau est obligatoire, sous peine de sanctions. </p>
            <p>Si les études révèlent que le projet n'est pas soumis à la Loi sur l'eau, le porteur peut choisir de les transmettre à l'administration en lui adressant un porté à connaissance. Cela réduira les risques de sanctions en cas de contrôle. </p>
            <p><strong>2/ Se rapprocher du service qui instruit les dossiers Loi sur l'eau.</strong> </p>
            {% if evaluation.contact_html %}
              <p>Le dossier Loi sur l'eau, ou le porté à connaissance, sont à adresser à :
              </p>
              <div class="fr-highlight fr-mb-3w">
                {{ evaluation.contact_html|safe }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

    <section class="fr-container fr-mb-5w">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col fr-col-md-8">

          <h2>Sanctions en cas d'omission</h2>

          <div role="alert" class="fr-alert fr-alert--info fr-mt-5w">

            <p>
              Si le projet est soumis à la Loi sur l'eau et réalisé sans autorisation du préfet, le responsable s'expose à des sanctions administratives et pénales, qui peuvent aller jusqu'à :
            </p>

            <ul class="fr-mb-0">
              <li>
                <strong>obligation de remettre le terrain en son état initial, avec une astreinte jusqu'à 1 500 € par
                  jour ;</strong>
              </li>
              <li>
                un an d'emprisonnement et 75 000 € d'amende (<a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042779617/" target="_blank" rel="noopener">article L.173-1 du code de
                  l'environnement</a>).
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="fr-container fr-mb-5w">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col fr-col-md-8">

          <h2>Sur quels éléments cette évaluation se fonde-t-elle ?</h2>

          <p>Cette évaluation se fonde sur les informations suivantes :</p>

          <ul>
            <li>
              Surface créée : {{ evaluation.created_surface }} m²<br />
              <span class="fr-text--light">
                Somme des emprises au sol de toutes les installations nouvelles (bâtiment, voirie, remblais, noue, serre, bassin…)
              </span>
            </li>

            {% if evaluation.existing_surface %}
              <li>
                Surface existante : {{ evaluation.existing_surface }} m²<br />
                <span class="fr-text--light">Somme des emprises au sol de toutes les installations existantes avant le projet (bâtiment, voirie, remblais, noue, serre, bassin…)</span>
              </li>
            {% endif %}

            {% if evaluation.request %}
              <li>Voir <a href="{{ evaluation.request.get_parcel_map_url }}">la carte des parcelles concernées</a></li>
            {% endif %}
          </ul>

          <p>Le projet <strong>a les impacts suivants</strong> (cliquez sur chaque élément pour voir les détails) :</p>

          <div id="evaluation-accordion" class="fr-mb-3w">
            {% for criterion in criterions %}
              {% include 'evaluations/_criterion.html' with criterion=criterion %}
            {% endfor %}
          </div>

          {% if evaluation.details_html %}
            {{ evaluation.details_html|safe }}
          {% endif %}

        </div>
      </div>
    </section>

    {% include 'evaluations/_share_by_email.html' %}

    <section class="fr-pt-8w">
      <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--center">
          <div class="fr-col fr-col-md-8">

            <h2>Pour en savoir plus…</h2>

            <p>Consultez notre <a href="{% url 'water_law' %}">page d'information sur la Loi sur l'eau</a>
              ou <a href="{% url 'contact_us' %}">contactez l'équipe EnvErgo</a>.</p>
          </div>
        </div>
      </div>
    </section>

  </article>

{% endblock %}

{% block extra_js %}
  <script defer src="{% static 'js/libs/accordion_analytics.js' %}"></script>
  <script>
    window.addEventListener('load', function() {
      const accordion = document.getElementById('evaluation-accordion');
      if (accordion) {
        new AccordionAnalytics(accordion);
      }
    });
  </script>

  <script defer src="{% static 'js/libs/link_target_blankifier.js' %}"></script>
  <script>
    window.addEventListener('load', function() {
      const accordion = document.getElementById('evaluation-accordion');
      if (accordion) {
        const blankifier = new LinkTargetBlankifier();
        blankifier.blankify(accordion);
      }
    });
  </script>

{% endblock %}
