{% extends 'base.html' %}

{% load evaluations static l10n %}

{% block title %}Consultez l'évaluation pour votre projet{% endblock %}

{% block article %}
  <h1>Notification réglementaire</h1>
  <p class="fr-text--lead">
    Référence
    {{ evaluation }}
  </p>

  <h2 class="fr-h3">Caractéristiques du projet</h2>

  <div class="ratio-16x9 fr-mt-1w fr-mb-2w">
    <div class="ratio-content">
      <div class="leaflet-container">
        <div id="map"></div>
      </div>
    </div>
  </div>

  <ul class="fr-mb-5w">
    <li>
      <strong>Adresse :</strong> {{ evaluation.address }}
    </li>
    {% if evaluation.application_number %}<li>Demande de permis n° {{ evaluation.application_number }}</li>{% endif %}

    <li>
      <strong>Surface nouvellement impactée par le projet :</strong> {{ evaluation.moulinette_params.created_surface|localize }} m²
      <br />
      <span class="fr-hint-text">Bâti, voirie, espaces verts, remblais et bassins — temporaires et définitifs</span>
    </li>

    {% if evaluation.moulinette_params.existing_surface %}
      <li>
        <strong>Surface déjà impactée avant le projet :</strong> {{ evaluation.moulinette_params.existing_surface|localize }} m²
        <br />
        <span class="fr-hint-text">Bâti, voirie, espaces verts, remblais et bassins</span>
      </li>
    {% endif %}

    {% if evaluation.moulinette_params.final_surface %}
      <li>
        <strong>Surface impactée totale, y compris l'existant :</strong> {{ evaluation.moulinette_params.final_surface|localize }} m²
        <br />
        <span class="fr-hint-text">Bâti, voirie, espaces verts, remblais et bassins — temporaires et définitifs</span>
      </li>
    {% endif %}

    {% if evaluation.moulinette_params.is_lotissement %}
      <li>
        <strong>Le projet concerne un lotissement :</strong> {{ evaluation.moulinette_params.is_lotissement|capfirst }}
      </li>
    {% endif %}

    {% if evaluation.moulinette_params.emprise %}
      <li>
        <strong>Emprise au sol créée par le projet :</strong>{{ evaluation.moulinette_params.emprise|localize }} m²
        <br />
        <span class="fr-hint-text">Projection verticale du volume de la construction nouvelle</span>
      </li>
    {% endif %}

    {% if evaluation.moulinette_params.zone_u %}
      <li>
        <strong>Le projet se situe en zone U dans le <abbr title="Plan Local d'Urbanisme">PLU</abbr> :</strong> {{ evaluation.moulinette_params.zone_u|capfirst }}
      </li>
    {% endif %}

    {% if evaluation.moulinette_params.surface_plancher_sup_thld %}
      <li>
        <strong>Le projet crée une surface plancher supérieure à 10 000 m² :</strong>
        {{ evaluation.moulinette_params.surface_plancher_sup_thld|capfirst }}
      </li>
    {% endif %}

    {% if evaluation.moulinette_params.terrain_assiette %}
      <li>
        <strong>Terrain d'assiette du projet :</strong>
        {{ evaluation.moulinette_params.terrain_assiette|localize }} m²
        <br />
        <span class="fr-hint-text">Ensemble des parcelles cadastrales concernées par le projet</span>
      </li>
    {% endif %}

  </ul>

  <h2 class="fr-h3">Réglementations environnementales</h2>

  {% include 'moulinette/_evaluation_summary.html' %}

  {% if evaluation.details_html %}
    <div class="fr-callout fr-mb-5w">
      <h3 class="fr-callout__title">Commentaire de l'équipe EnvErgo</h3>
      <div class="fr-callout__text">{{ evaluation.details_html|safe }}</div>
    </div>
  {% endif %}

  {% for regulation in moulinette.regulations %}
    {% include 'moulinette/_result_regulation.html' with regulation=regulation %}

  {% endfor %}

  <div class="fr-alert fr-alert--info fr-my-5w">
    <p>
      EnvErgo est un service du Ministère de la Transition Écologique. Il vise à aider les acteurs de l'aménagement en phase amont de leurs projets.
    </p>
    <p>
      <i>Les avis rendus ne valent pas position de l'administration</i>. Ils ne couvrent pas l'exhaustivité des réglementations spécifiques à certains projets.
    </p>
  </div>

{% endblock %}

{% block after-content %}
  <section class="fr-py-8w alt">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col fr-col-md-8 fr-col-lg-7 fr-col-xl-6">

          <h2>Besoin de partager cette évaluation à un contact ?</h2>

          <p>
            <button class="js fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-mail-fill share-btn"
                    data-fr-opened="false"
                    aria-controls="share-modal"
                    data-btn="bottom">
              Partager cette page par email
            </button>
          </p>
          <p>
            Le destinataire pourra consulter cette page web avec les mêmes caractéristiques de projet et les mêmes résultats de simulation.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block extra_body %}
  {% include 'moulinette/_share_modal.html' %}

{% endblock %}

{% block extra_css %}
  <link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet">
  <link href="{% static 'leaflet/draw/leaflet.draw.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script>
    var CSRF_TOKEN = '{{ csrf_token }}';
    var DISPLAY_MARKER = {{ display_marker|yesno:'true,false' }};
    var CENTER_MAP = {lng: {{ center_map.0|unlocalize }}, lat: {{ center_map.1|unlocalize }}};
    var DEFAULT_ZOOM = {{ default_zoom }};
    var LAT_FIELD_ID = 'id_lat';
    var LNG_FIELD_ID = 'id_lng';
    var IS_MAP_STATIC = {{ is_map_static|yesno:'true,false' }};
    var DEPARTMENT = "{{ department.department }}";
  </script>
  <script defer src="{% static 'leaflet/leaflet.js' %}"></script>
  <script defer src="{% static 'leaflet/draw/leaflet.draw.js' %}"></script>
  <script defer src="{% static 'js/libs/moulinette_map.js' %}"></script>
  <script defer src="{% static 'js/libs/map_widget_events.js' %}"></script>
  <script defer src="{% static 'js/libs/moulinette_result_maps.js' %}"></script>
  <script defer src="{% static 'js/libs/moulinette_share_modal.js' %}"></script>
  <script defer src="{% static 'js/libs/moulinette_analytics.js' %}"></script>
{% endblock %}
