{% extends 'base.html' %}

{% load evaluations static l10n moulinette %}

{% block title %}Avis réglementaire{% endblock %}

{% block article %}
  <h1>Avis réglementaire</h1>
  <p class="fr-text--lead">
    Référence
    {{ evaluation }}
  </p>

  <h2 class="fr-h3">Caractéristiques du projet</h2>

  <div class="ratio-16x9 fr-mt-1w fr-mb-2w">
    <div class="ratio-content">
      <div class="leaflet-container">
        <div id="map"></div>
      </div>
    </div>
  </div>

  <ul class="fr-mb-3w">
    <li>
      <strong>Adresse :</strong> {{ evaluation.address }}
    </li>
    {% if evaluation.application_number %}<li>Demande de permis n° {{ evaluation.application_number }}</li>{% endif %}

    <li>
      <strong>Surface nouvellement impactée par le projet :</strong> {{ evaluation.moulinette_params.created_surface|localize }} m²
      <br />
      <span class="fr-hint-text">Bâti, voirie, espaces verts, remblais et bassins — temporaires et définitifs</span>
    </li>

    {% if evaluation.moulinette_params.existing_surface %}
      <li>
        <strong>Surface déjà impactée avant le projet :</strong> {{ evaluation.moulinette_params.existing_surface|localize }} m²
        <br />
        <span class="fr-hint-text">Bâti, voirie, espaces verts, remblais et bassins</span>
      </li>
    {% endif %}

    {% if evaluation.moulinette_params.final_surface %}
      <li>
        <strong>Surface impactée totale, y compris l'existant :</strong> {{ evaluation.moulinette_params.final_surface|localize }} m²
        <br />
        <span class="fr-hint-text">Bâti, voirie, espaces verts, remblais et bassins — temporaires et définitifs</span>
      </li>
    {% endif %}

    {% for key, field in additional_fields.items %}
      <li>{% field_summary field %}</li>
    {% endfor %}

    {% for form in optional_forms %}
      {% if form.is_activated %}
        {% for field in form %}
          {% if field.name != "activate" %}
            <li>{% field_summary field %}</li>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>

  <div class="fr-alert fr-alert--info fr-mt-3w fr-mb-5w">
    <p>
      Cet avis est adressé à titre informatif au porteur de projet. Il ne vaut pas position de l’administration. <a href="#liability-info">En savoir plus.</a>
    </p>
  </div>

  <h2 class="fr-h3">Réglementations environnementales</h2>

  {% include 'moulinette/_evaluation_summary.html' %}

  {% if evaluation.is_icpe %}
    <div class="alt fr-p-3w fr-mb-5w">
      <p>
        ⚠️ Le projet semble être une <strong>Installation Classée pour la Protection de l’Environnement (ICPE)</strong>. Cela peut modifier les autres procédures environnementales auxquelles le projet est soumis. EnvErgo ne se prononce pas avec exactitude sur ces cas particuliers.
      </p>

      <p>
        <i> Les procédures à suivre décrites dans le présent avis pourraient être impactées. </i>
      </p>

      {% if config.dreal_department_unit_url %}
        <p>
          Le porteur doit se rapprocher de <a href="{{ config.dreal_department_unit_url }}"
    target="_blank"
    rel="noopener">l’Unité Départementale de la DREAL</a>, qui est en charge des instructions ICPE.
        </p>
      {% else %}
        <p>Le porteur doit se rapprocher de l’Unité Départementale de la DREAL, qui est en charge des instructions ICPE.</p>
      {% endif %}
    </div>
  {% endif %}

  {% if evaluation.details_html %}
    <div class="fr-callout evaluation-comment fr-mb-5w">
      <h3 class="fr-callout__title">Commentaire de l'équipe EnvErgo</h3>
      <div class="fr-callout__text">{{ evaluation.details_html|safe }}</div>
    </div>
  {% endif %}

  {% if evaluation.is_eligible_to_self_declaration %}
    {% include 'evaluations/_self_declaration_cta.html' %}
  {% endif %}

  {% for regulation in moulinette.regulations %}
    {% include 'moulinette/_result_regulation.html' with regulation=regulation %}
  {% endfor %}

  {% include 'moulinette/_additional_regulations.html' with moulinette=moulinette %}

  {% if evaluation.is_eligible_to_self_declaration %}
    {% include 'evaluations/_self_declaration_cta.html' %}
  {% endif %}

  <div id="liability-info" class="fr-alert fr-alert--info fr-my-5w">
    <p>
      EnvErgo est un service du Ministère de la Transition Écologique. Il vise à aider les acteurs de l'aménagement en phase amont de leurs projets.
    </p>
    <p>
      Les simulations sont établies à titre informatif, et ne valent pas position de l'administration. Elles ne couvrent pas l'exhaustivité des réglementations ni la spécificité de certains projets.
    </p>
    <p>
      Les porteurs doivent échanger directement avec les autorités administratives compétentes (collectivité en charge de l'urbanisme, DDT(M), DREAL…) pour obtenir une position officielle.
    </p>
  </div>

{% endblock %}

{% block after-content %}
  <section class="fr-py-8w alt">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col fr-col-md-8 fr-col-lg-7 fr-col-xl-6">

          <h2>Besoin de partager cet avis réglementaire à un contact ?</h2>

          <p>
            <button class="js fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-mail-fill share-btn"
                    data-fr-opened="false"
                    aria-controls="share-modal"
                    data-btn="bottom">Partager cette page par email</button>
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block extra_body %}
  {% include '_share_url_modal.html' with title="Partager cet avis réglementaire" %}

{% endblock %}

{% block extra_css %}
  <link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet">
  <link href="{% static 'leaflet/draw/leaflet.draw.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script>
    var CSRF_TOKEN = '{{ csrf_token }}';
    var DISPLAY_MARKER = {{ display_marker|yesno:'true,false' }};
    var CENTER_MAP = {lng: {{ center_map.0|unlocalize }}, lat: {{ center_map.1|unlocalize }}};
    var DEFAULT_ZOOM = {{ default_zoom }};
    var LAT_FIELD_ID = 'id_lat';
    var LNG_FIELD_ID = 'id_lng';
    var IS_MAP_STATIC = {{ is_map_static|yesno:'true,false' }};
    var DEPARTMENT = "{{ department.department }}";
  </script>
  <script defer src="{% static 'leaflet/leaflet.js' %}"></script>
  <script defer src="{% static 'leaflet/draw/leaflet.draw.js' %}"></script>
  <script defer src="{% static 'js/libs/moulinette_map.js' %}"></script>
  <script defer src="{% static 'js/libs/map_widget_events.js' %}"></script>
  <script defer src="{% static 'js/libs/moulinette_result_maps.js' %}"></script>
  <script defer src="{% static 'js/libs/moulinette_analytics.js' %}"></script>
  <script defer src="{% static 'js/libs/share_url_modal.js' %}"></script>
{% endblock %}
