{% extends 'base.html' %}

{% load static %}

{% block title %}Consultez l'évaluation pour votre projet{% endblock %}

{% block breadcrumbs %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">
      Voir le fil d'Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="/">Accueil</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'evaluation_search' %}">Évaluations</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Référence {{ evaluation.reference }}</a>
        </li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block container %}
  <article>

    <section class="fr-container">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col fr-col-md-8 fr-col-lg-7 fr-col-xl-6">
          <h1>Notification Loi sur l'eau</h1>
          <p class="fr-text--lead">
            Référence
            {{ evaluation }}
          </p>
          <h3>Projet de construction</h3>
          <ul>
            <li>Adresse : {{ evaluation.address }}</li>
            {% if evaluation.application_number %}<li>Demande de permis n° {{ evaluation.application_number }}</li>{% endif %}
          </ul>
          <div class="fr-alert fr-alert--success fr-my-8w">
            <p class="fr-alert__title">Projet non soumis à la Loi sur l'eau.</p>
            <p>
              D'après les informations dont nous disposons, ce projet est
              <span class="fr-tag probability probability-1">non soumis</span> à la Loi sur l'eau.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="fr-container fr-mb-5w">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col fr-col-md-8 fr-col-lg-7 fr-col-xl-6">

          <h2>Sur quels éléments cette évaluation se fonde-t-elle ?</h2>

          <p>Cette évaluation se fonde sur les informations suivantes :</p>

          <ul>
            <li>
              Surface créée : {{ evaluation.created_surface }} m²
              <br />
              <span class="fr-text--light">
                Somme des emprises au sol de toutes les installations nouvelles (bâtiment, voirie, remblais, noue, serre, bassin…)
              </span>
            </li>

            {% if evaluation.existing_surface %}
              <li>
                Surface existante : {{ evaluation.existing_surface }} m²
                <br />
                <span class="fr-text--light">Somme des emprises au sol de toutes les installations existantes avant le projet (bâtiment, voirie, remblais, noue, serre, bassin…)</span>
              </li>
            {% endif %}

            {% if evaluation.request %}
              <li>
                Voir <a href="{{ evaluation.request.get_parcel_map_url }}">la carte des parcelles concernées</a>
              </li>
            {% endif %}
          </ul>


          {% if criterions %}
            <p>
              Le projet <strong>a les impacts suivants</strong> (cliquez sur chaque élément pour voir les détails) :
            </p>

            <div id="evaluation-accordion" class="fr-mb-3w">
              {% for criterion in criterions %}
                {% include 'evaluations/_criterion.html' with criterion=criterion %}

              {% endfor %}
            </div>
          {% endif %}

          {% if evaluation.details_html %}{{ evaluation.details_html|safe }}{% endif %}

        </div>
      </div>
    </section>

    {% include 'evaluations/_share_by_email.html' %}


    {% include 'evaluations/_learn_more.html' %}


  </article>

{% endblock %}

{% block extra_js %}
  <script defer src="{% static 'js/libs/link_target_blankifier.js' %}"></script>
  <script>
    window.addEventListener('load', function() {
      const accordion = document.getElementById('evaluation-accordion');
      if (accordion) {
        const blankifier = new LinkTargetBlankifier();
        blankifier.blankify(accordion);
      }
    });
  </script>

{% endblock %}
