<p>
  Le projet, comme toute destruction de haie, doit faire l’objet d’une déclaration préalable unique (<a title="L412-22 - ouvre une nouvelle fenêtre"
   href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000051372211"
   target="_blank"
   rel="noopener external">art. L412-22 du code de l’environnement</a>).
</p>

<p>
  Cette déclaration se fait sur ce portail numérique, à l’issue de la simulation du projet. C’est le guichet unique de
  la haie du département qui examine la demande, au titre de l’ensemble des réglementations qui s’appliquent. Une
  décision unique est rendue : accord (avec ou sans exigences supplémentaires), ou opposition.
</p>
