{% load pages static %}

<div class="fr-header__body">
  <div class="fr-container">
    <div class="fr-header__body-row">
      <div class="fr-header__brand fr-enlarge-link">
        <div class="fr-header__brand-top">
          <div class="fr-header__logo">
            <p class="fr-logo">
              République
              <br>
              Française
            </p>
          </div>
          <div class="fr-header__navbar">
            <button class="fr-btn--menu fr-btn"
                    data-fr-opened="false"
                    aria-controls="modal-menu"
                    aria-haspopup="menu"
                    title="Menu">Menu</button>
          </div>
        </div>
        <div class="fr-header__service">
          <a href="/">
            <span class="fr-header__service-title">EnvErgo</span>
            <span class="fr-header__service-tagline fr-hidden fr-unhidden-sm">
               : la réglementation environnementale
              <br />
              pour les projets de construction et d'aménagement
            </span>
          </a>
        </div>
      </div>

      {% if user.is_authenticated %}
        {% include '_user_menu.html' %}
      {% else %}
        {% include '_anonymous_menu.html' %}
      {% endif %}
    </div>
  </div>
</div>

<div class="fr-header__menu fr-modal" id="modal-menu">
  <div class="fr-container">
    <button class="fr-link--close fr-link" aria-controls="modal-menu">Fermer</button>
    <div class="fr-header__menu-links"></div>

    <nav class="fr-nav" role="navigation" aria-label="Menu principal">
      <ul class="fr-nav__list">
        {% block menu_items %}
          <li class="fr-nav__item">{% menu_item 'home' "Accueil" %}</li>
          <li class="fr-nav__item">
            {% menu_item 'moulinette_home' "Simulateur" 'HomePage' 'SimulationClick' 'Nav' data_testid="simulateur_nav_btn" %}
          </li>
          <li class="fr-nav__item">{% project_owner_menu %}</li>
          <li class="fr-nav__item">{% evalreq_menu 'HomePage' 'RequestClick' 'Nav' %}</li>
          <li class="fr-nav__item">{% faq_menu %}</li>
          <li class="fr-nav__item ">{% evaluation_menu %}</li>
          <li class="fr-nav__item fr-hidden-lg">
            <a href="{% url 'request_evaluation' %}"
               class="fr-nav__link"
               data-event-category="HomePage"
               data-event-action="RequestClick"
               data-event-name="CTA">Demander un avis réglementaire</a>
          </li>

          <li class="fr-nav__item btn-link fr-hidden fr-unhidden-xl">
            <a href="{% url 'request_evaluation' %}"
               class="fr-btn fr-btn--sm"
               data-event-category="HomePage"
               data-event-action="RequestClick"
               data-event-name="CTA">Demander un avis réglementaire</a>
          </li>
        {% endblock menu_items %}
      </ul>
    </nav>
  </div>
</div>
