{% extends 'base.html' %}

{% block title %}Votre identité est confirmée{% endblock %}

{% block article %}
  <h1>Votre identité est confirmée</h1>

  <p>
    Vous pouvez <a href="{% url 'request_evaluation' %}">demander un avis réglementaire</a>.
  </p>

  <p>
    Vous pourrez retrouver la liste de vos demandes dans <a href="{% url 'dashboard' %}">votre tableau de bord</a>.
  </p>

  <p>
    N’hésitez pas à <a href="{% url 'contact_us' %}">nous contacter</a> pour toute question.
  </p>

{% endblock %}
