{% extends 'base.html' %}

{% load i18n %}

{% block title %}Changer le mot de passe{% endblock %}

{% block article %}
  <h1>Changez votre mot de passe</h1>

  <p class="fr-text fr-text--lead">Utilisez ce formulaire pour définir un nouveau mot de passe pour Envergo.</p>

  {% if validlink %}

    <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form method="post" action="" novalidate class="fr-mb-3w">
      {% csrf_token %}
      {% include '_form_snippet.html' with form=form %}

      <button type="submit" class="fr-btn">Changer le mot de passe</button>
    </form>

  {% else %}

    <p>
      {% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
    </p>

  {% endif %}

{% endblock %}
