<p>
  <strong>Pourquoi le projet n'est-il pas concerné ?</strong>
</p>

<p>
  Le règlement du SAGE « {{ regulation.perimeter }} », approuvé par arrêté préfectoral, interdit sur son périmètre les projets impactant plus de {{ criterion.evaluator_settings.threshold }} m² de zone humide.
</p>

<p>Au vu des informations saisies, le projet ne dépasse pas ce seuil de surface.</p>

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  Les zones humides ont un rôle primordial dans la préservation de la ressource en eau. Elles permettent le développement de la biodiversité ; elles préservent la qualité de l'eau en jouant un rôle de filtre ; et réduisent les impacts des inondations par leur effet « tampon » sur le niveau des rivières.
</p>
