{% load leaflet_tags moulinette %}

<p>
  <strong>Pourquoi le projet est-il interdit ?</strong>
</p>

{# djlint:off #}
  <p>
    Le règlement du SAGE « {{ regulation.perimeter }} » approuvé par arrêté préfectoral, interdit sur son périmètre tout projet impactant une zone humide s'il est soumis à la Loi sur l'eau{% if criterion.evaluator_settings.exceptions %}, à l'exceptions de quelques cas précisés ci-dessous{% endif %}.
  </p>

  <p>
    Au vu des informations saisies, le projet est soumis à la Loi sur l'eau (<a href="#regulation_loi_sur_leau">voir section « Loi sur l’eau »</a>), et il se situe dans une zone humide référencée. Il est donc interdit{% if criterion.evaluator_settings.exceptions %}, sauf s'il appartient aux cas ci-dessous{% endif %}.
  </p>
{# djlint:on #}

{% if criterion.evaluator_settings.exceptions %}
  <p>
    <strong>Quelles sont les exceptions à cette interdiction ?</strong>
  </p>

  <p>Le projet peut être tout de même autorisé dans certains cas, et en particulier :</p>

  {{ criterion.evaluator_settings.exceptions|safe }}

  {% if regulation.perimeter.rules_url %}
    <p>
      Le porteur doit consulter le <a href="{{ regulation.perimeter.rules_url }}"
    target="_blank"
    rel="noopener">texte officiel et complet du règlement du SAGE</a>.
    </p>
  {% endif %}
{% endif %}

{% if not criterion.evaluator.zh_strict %}
  <p>
    <strong>Comment déterminer si le projet est en zone humide ?</strong>
  </p>

  <p>
    Toute zone humide, <em>même non inventoriée</em>, est concernée par cette règle du SAGE.
  </p>

  <p>
    La recherche de zones humides se fait nécessairement par une étude de terrain, confiée en pratique à un bureau d'études spécialisé. Celui-ci examine les espèces végétales présentes, le type de sol, et le profil d'humidité sous la surface.
  </p>
{% endif %}

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  Les zones humides ont un rôle primordial dans la préservation de la ressource en eau. Elles permettent le développement de la biodiversité ; elles préservent la qualité de l'eau en jouant un rôle de filtre ; et réduisent les impacts des inondations par leur effet « tampon » sur le niveau des rivières.
</p>
