<p>
  <strong>Pourquoi le projet n'est-il pas concerné ?</strong>
</p>

<p>
  Au vu des informations saisies, le projet est hors des zones humides référencées à l'article 5 du SAGE Vie et Jaunay.
</p>

<p>
  <strong>Quel impact environnemental ?</strong>
</p>

<p>
  Les zones humides ont un rôle primordial dans la préservation de la ressource en eau. Elles permettent le développement de la biodiversité ; elles préservent la qualité de l'eau en jouant un rôle de filtre ; et réduisent les impacts des inondations par leur effet « tampon » sur le niveau des rivières.
</p>
