{% extends 'emails/_base.html' %}

{% block content %}
  <p>Bonjour,</p>

  <p>Vous recevez ce message car vous avez demandé la réinitiatisation de votre mot de passe sur EnvErgo.</p>

  <p>Veuillez vous rendre sur cette page pour vous connecter. Vous pourrez ensuite choisir un nouveau mot de passe.</p>

  <p>
    <a href="https://{{ domain }}{% url 'token_login' uidb64=uid token=token %}">
      https://{{ domain }}{% url 'token_login' uidb64=uid token=token %}
    </a>
  </p>

  {% include 'emails/_email_signature.html' %}

{% endblock %}
