<p>Bonjour,</p>

<p>
  Le projet semble être une ICPE, ce qui peut modifier les autres procédures environnementales auxquelles il est soumis.
</p>

<p>
  En conséquence, nous n’avons pas envoyé cet avis directement au porteur, car EnvErgo ne se prononce pas encore avec exactitude sur ces cas particuliers.
</p>

<p>Nous vous laissons le choix de lui transmettre tout de même, à titre informatif, si vous le souhaitez.</p>

<p>N’hésitez pas à nous contacter par retour d’email ou par téléphone pour toute question.</p>

<p>Bien cordialement,</p>

<p>L'équipe EnvErgo</p>
