{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}{{ block.super }}
  <script src="{% url 'admin:jsi18n' %}"></script>
  {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block content %}
  <form method="post" action="">
    {% csrf_token %}

    <fieldset class="module">
      <dl>
        <dt>From (expéditeur) :</dt>
        <dd>{{ email.from_email }}</dd>
        <dt>To (destinataires) :</dt>
        <dd>{{ email.to|join:", " }}</dd>
        <dt>CC (en copie) :</dt>
        <dd>{{ email.cc|join:", " }}</dd>
        <dt>BCC (copie cachée) :</dt>
        <dd>{{ email.bcc|join:", " }}</dd>
        <dt>Contenu :</dt>
        <dd>
          <div id="rr-content">
            <iframe id="mail-content" width="800px" height="1200px" srcdoc="{{ email_html|safe|force_escape }}">
            </iframe>
          </div>
        </dd>
      </dl>
    </fieldset>

    <div class="submit-row">
      <input type="submit" value="Envoyer le rappel réglementaire par email" class="default" name="_save">
    </div>
  </form>

{% endblock %}
