{% extends "admin/base_site.html" %}

{% load i18n static admin_urls %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% url 'admin:jsi18n' %}"></script>
  {{ media }}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    › <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    › <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    › <a href="{% url opts|admin_urlname:'change' evaluation.pk|admin_urlquote %}">{{ evaluation|truncatewords:"18" }}</a>
    › Rappel réglementaire
  </div>
{% endblock %}

{% block content %}
  <ul class="object-tools">
    <li>
      <a href="{% url 'admin:evaluations_evaluation_change' object_id %}"
         class="">Revenir à l'évaluation</a>
    </li>
  </ul>

  <form method="post" action="">
    {% csrf_token %}

    <fieldset class="module">
      <ul id="rr-preview">
        <li>
          <strong>Objet :</strong>
          {{ email.subject }}
        </li>
        <li>
          <strong>De :</strong>
          {{ email.from_email }}
        </li>
        <li>
          <strong>À :</strong>
          {{ email.to|join:", " }}
        </li>
        <li>
          <strong>Copie :</strong>
          {{ email.cc|join:", " }}
        </li>
        <li>
          <strong>Copie cachée :</strong>
          {{ email.bcc|join:", " }}
        </li>
        <li>
          <strong>Contenu (html) :</strong>
          <div class="rr-content">
            <iframe class="mail-content"
                    width="800px"
                    height="1200px"
                    srcdoc="{{ email_html|safe|force_escape }}">
            </iframe>
          </div>
        </li>
        <li>
          <strong>Contenu (txt) :</strong>
          <div class="rr-content">
            <iframe class="mail-content"
                    width="800px"
                    height="1200px"
                    srcdoc="{{ email_txt|linebreaksbr }}">
            </iframe>
          </div>
        </li>
      </ul>
    </fieldset>

    <div class="submit-row">
      <input type="submit"
             value="Envoyer le rappel réglementaire par email"
             class="default"
             name="_save">
    </div>
  </form>

{% endblock %}
