{% extends 'admin/change_form.html' %}

{% block object-tools-items %}
  {% if show_make_eval_button %}
    <li>
      <input type="submit"
             form="{{ opts.model_name }}_form"
             value="Créer un avis réglementaire"
             name="_make-evaluation">

    </li>
  {% endif %}
{% endblock %}

{% block submit_buttons_bottom %}

  <ul class="messagelist">
    <li class="warning">
      Une demande d'avis n'a pas vocation à être modifiée par l'admin. Pour ajouter des contacts ou compléter la description, il faut le faire dans l'avis.
    </li>
  </ul>

  {{ block.super }}
  <div class="submit-row">
    {% if show_make_eval_button %}
      <input type="submit"
             value="Créer un avis réglementaire"
             name="_make-evaluation">
    {% endif %}
    <input type="button"
           id="copy-upload-url-btn"
           class="button"
           style="padding: 10px 15px"
           value="Copier le lien de l'étape 3 de la demande">
  </div>
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script>window.addEventListener("load", function () {
    let button = document.getElementById("copy-upload-url-btn");
    button.addEventListener("click", function () {
      let btnText = button.value;

      // The `navigator.clipboard` API is only available on `https` urls
      if (navigator.clipboard != undefined) {
        navigator.clipboard.writeText('{{ upload_files_url }}');
        button.value = "Lien copié !";
      } else {
        button.value = "Impossible de copier le lien";
      }

      setTimeout(function () {
        button.value = btnText;
      }, 2000);
    });
  });
  </script>
{% endblock %}
