{% extends 'evaluations/admin/base_rr_email.html' %}

{% block detail %}
  <p>
    Au vu des informations qui nous ont été transmises, il apparaît qu'<strong style="font-weight: bold; background-color: #fee7a0">une action du porteur de projet est requise</strong>.
  </p>

  <p>Le porteur doit mener les études pour s'assurer que le projet :</p>

  {% if moulinette.loi_sur_leau.required_actions %}
    <ul>
      {% for action in moulinette.loi_sur_leau.required_actions %}<li>{{ action }}</li>{% endfor %}
    </ul>
  {% endif %}

  {% if rr_mention_html %}{{ rr_mention_html|safe }}{% endif %}

  <p>Nous vous conseillons de prendre contact avec un bureau d'études en lui transmettant ces éléments.</p>

  <p>Plus de détails sur cette évaluation et sur la procédure à suivre :</p>
{% endblock %}
