{% extends 'evaluations/admin/base_rr_email.html' %}

{% block detail %}
  <p>Au vu des informations qui nous ont été transmises, il apparaît qu'une action du porteur de projet est requise.</p>

  <p>Le porteur du projet doit déposer un dossier de déclaration Loi sur l'eau à la DDTM.</p>

  {% if additional_information %}{{ additional_information|linebreaks }}{% endif %}

  <p>Nous vous conseillons de prendre contact avec un bureau d'études en lui transmettant ces éléments.</p>

  <p>Plus de détails sur cette évaluation et sur la procédure à suivre :</p>
{% endblock %}
