<p>
  Le projet est soumis à la réglementation sur les réserves naturelles, car la destruction des linéaires envisagée peut
  porter atteinte à l'état ou à l’aspect de la réserve naturelle où il se situe.
</p>

<p>
  Au vu des informations saisies, l’intervention est prévue par un document de gestion de la réserve où il se
  situe.
</p>

{% if motif == "securite" %}
  <p>
    <b>Attention ! Si l’intervention a déjà eu lieu pour des raisons d’urgence,</b>
    le dépôt d’une demande est tout de même obligatoire. La décision de l’administration pourra être assortie de
    prescriptions complémentaires pour la compensation.
  </p>
{% endif %}

{% include 'moulinette/_read_more_btn.html' with aria_controls=criterion.unique_slug %}

<div class="more fr-collapse" id="read-more-{{ criterion.unique_slug }}">
  <p>
    Il est conseillé au porteur de projet de se rapprocher du gestionnaire de la réserve avant de déposer sa demande.
    Les coordonnées du gestionnaire sont identifiables sur le site <a href="https://reserves-naturelles.org/reserves-naturelles/"
    target="_blank"
    rel="noopener external">reserves-naturelles.org</a>
    (<a href="https://equatorial-red-4c6.notion.site/Comment-identifier-une-r-serve-naturelle-et-son-gestionnaire-2e9fe5fe476681608770efde43cf92c8"
   target="_blank"
   rel="noopener">voir notre page d’aide</a>).
  </p>

  <p>Les pièces justificatives suivantes seront demandées :</p>
  <ul>
    <li>un extrait du plan de gestion contenant le projet prévu</li>
    <li>
      les éléments prouvant qu’il respecte les objectifs de protection du site et ne porte pas atteinte aux milieux ou
      aux espèces ayant justifié le classement en réserve naturelle
    </li>
  </ul>
</div>
