{% load static %}

<dialog id="demarches-simplifiees-modal"
        class="fr-modal"
        role="dialog"
        aria-labelledby="demarches-simplifiees-modal-title">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-6">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-link--close fr-link"
                    aria-controls="demarches-simplifiees-modal">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <h3 id="demarches-simplifiees-modal-title" class="fr-modal__title">Confirmez le verrouillage de votre simulation</h3>
            <p>Vous souhaitez déposer votre dossier.</p>
            <p>
              <strong>Si vous continuez, votre simulation ne sera plus modifiable.</strong> Vous pourrez toujours la consulter.
            </p>
            <p>
              Vous allez accéder au formulaire de demande pour vous identifier,
              répondre à des questions plus détaillées sur le projet, et joindre des pièces justificatives.

            </p>
            <p>Souhaitez-vous continuer ?</p>
            <form id="demarche-simplifiee-form"
                  action="{% url 'petition_project_create' %}"
                  method="post">
              {% csrf_token %}
              <input type="hidden" name="moulinette_url" value="{{ moulinette_url }}" />
              <div id="demarches-simplifiees-modal-btns">
                <div>
                  <input type="button"
                         class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-line"
                         aria-controls="demarches-simplifiees-modal"
                         value="Revenir à la simulation" />
                </div>
                <div class="fr-ml-2w">
                  <button type="submit"
                          class="fr-btn demarche-simplifiee-btn fr-btn--icon-right fr-icon-external-link-line">
                    Poursuivre vers la demande
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
