{% extends 'haie/base.html' %}

{% load moulinette utils %}

{% block title %}
  Paramétrage {{ department }}
{% endblock title %}

{% block content %}
  <div class="fr-grid-row fr-mb-3w">
    <div class="fr-col fr-col-12 fr-col-offset-md-3 fr-col-md-6">
      <h1>Paramétrage du portail</h1>

      <p class="fr-text--lead">Département : {{ department }}</p>

      <h2>Configuration</h2>

      {% with vr=object.validity_range|display_validity_range %}
        {% if vr %}
          <p class="fr-mb-1w">
            <strong>Validité de la configuration :</strong> {{ vr }}
          </p>
        {% endif %}
      {% endwith %}
      <p class="fr-mb-1w">
        <strong>Simulateur activé pour le département :</strong> {{ object.is_activated|yesno }}
      </p>
      <p>
        <strong>Régime unique :</strong> {{ object.single_procedure|yesno }}
      </p>

      <h2 id="title-contact" class="fr-mb-4v">Informations de contact</h2>
      <div class="fr-callout">
        <p class="fr-text--sm">
          Les informations de contact ci-dessous sont affichées aux usagers pour les guider sur le portail.
        </p>
        <p>
          <a class="fr-btn fr-btn--secondary"
             href="{{ department_settings_form }}"
             target="_blank"
             rel="noopener">Modifier les informations de contact</a>
        </p>
      </div>

      <div class="fr-mt-4w fr-mb-4w fr-highlight fr-highlight--beige-gris-galet">{{ object.contacts_info|safe }}</div>

      <h2 id="title-cartes" class="fr-mb-4v">Cartes</h2>

      <div class="fr-callout">
        <p class="fr-text--sm">
          Ici sont recensées toutes les cartes utilisées dans le simulateur pour le département.
          Les fichiers sont téléchargeables pour vérification par les services (format QGIS).
        </p>
        <p>
          <a class="fr-btn fr-btn--secondary"
             href="{{ department_settings_form }}"
             target="_blank"
             rel="noopener">Signaler une erreur / transmettre une carte</a>
        </p>
      </div>

      <h3 class="fr-h5">Natura 2000</h3>

      <p>
        <em>Carte en cours d'import dans le portail.</em>
      </p>

      {% for regulation in regulation_list %}
        <h3 class="fr-h5">{{ regulation.title }}</h3>
        {% if regulation.regulation in grouped_criteria %}
          <ul class="fr-mb-3w">
            {% for criterion in grouped_criteria|get_item:regulation.regulation %}
              {% with map=criterion.activation_map %}
                <li class="fr-mb-2w">
                  <p class="fr-mb-1w">
                    <strong>{{ map.name }}</strong>
                  </p>
                  <p class="fr-text--sm fr-mb-1w">
                    <strong>Description :</strong> {{ map.description|safe|urlize_html|linebreaksbr }}
                  </p>
                  {% if map.file %}
                    <div class="fr-mb-1w">
                      <a class="fr-link fr-icon-download-line fr-link--icon-right"
                         target="_self"
                         href="{{ map.file.url }}">{{ map.file }}</a>
                    </div>
                  {% endif %}
                </li>
              {% endwith %}
            {% endfor %}

          </ul>
        {% else %}
          <p>
            <em>Aucune carte paramétrée.</em>
          </p>
        {% endif %}
      {% endfor %}

      <h3 class="fr-h5">Protection des captages</h3>

      <p>
        Données sensibles, non partageables. Pour consulter les données, se créer un compte sur l'application <a href="https://www.atlasante.fr/accueil/applications/carteaux"
    target="_blank"
    rel="noopener">Cart'eaux</a>.
      </p>

      <h2 id="title-aa-l3503" class="fr-mb-4v">Alignements d'arbres L350-3</h2>

      <p class="fr-mb-1w">
        <strong>Dépôt des dossiers L350-3 :</strong>

        {% if object.aa_l3503_handling == "portal" %}
          sur le portail du GUH.
        {% elif object.aa_l3503_handling == "third_party_form" %}
          sur un formulaire dématérialisé hors GUH – le portail du GUH indique le lien de dépôt.
        {% else %}
          le portail du GUH invite l’usager à contacter le service instructeur.
        {% endif %}
      </p>

      {% if object.aa_l3503_handling == "third_party_form" and object.aa_l3503_form_url %}
        <p class="fr-mb-1w">
          <strong>Lien de dépôt des dossiers L350-3 :</strong>
          <a href="{{ object.aa_l3503_form_url }}" target="_blank" rel="noopener">{{ object.aa_l3503_form_url }}</a>
        </p>
      {% endif %}

      {% if object.aa_l3503_handling == "not_handled" and object.aa_l3503_contact_info %}
        <p class="fr-mb-1w">
          <strong>Contacts et indications fournies à l’usager sur la procédure à suivre pour les travaux sur alignements d’arbres L350-3 :</strong>
        </p>
        <div class="fr-highlight fr-mb-3w">{{ object.aa_l3503_contact_info|safe }}</div>
      {% endif %}

      <h2 id="title-comptes" class="fr-mb-4v">Comptes</h2>

      <p>
        <a class="fr-btn fr-btn--secondary"
           href="{{ department_settings_form }}"
           target="_blank"
           rel="noopener">Ajouter / modifier les droits d'accès</a>
      </p>

      <div class="fr-mb-2w">
        <p class="fr-mb-1w">
          <strong>Liste des comptes ayant les droits de modification (services coordonnateurs) sur tous les dossiers du
          département :</strong>
        </p>

        {% if department_members.instructors_emails %}
          <ul>
            {% for member_email in department_members.instructors_emails %}<li>{{ member_email }}</li>{% endfor %}
          </ul>
        {% else %}
          <p>
            <em>Aucun compte</em>
          </p>
        {% endif %}
      </div>

      <div class="fr-mb-2w">
        <p class="fr-mb-1w">
          <strong>Liste des comptes ayant les droits de lecture sur tous les dossiers du département :</strong>
        </p>
        {% if department_members.invited_emails %}
          <ul>
            {% for member_email in department_members.invited_emails %}<li>{{ member_email }}</li>{% endfor %}
          </ul>
        {% else %}
          <p>
            <em>Aucun compte</em>
          </p>
        {% endif %}
      </div>
      <div class="fr-mb-2w">
        <p class="fr-mb-1w">
          <strong>Outre ceux listés ci-dessus, certains comptes peuvent avoir été invités en lecture sur des dossiers
            individuels. Ces accès sont gérés et consultables directement dans la vue « Services consultés » de
          chaque dossier.</strong>
        </p>
      </div>
    </div>
  </div>
{% endblock %}

{% block after-content %}{% endblock %}
