{% load utils %}

{% if display_title %}<h2 class="centered">Commencez à décrire votre projet de travaux sur haies</h2>{% endif %}
<div id="moulinette-grid">
  <div id="moulinette-col" class="fr-col">
    <div id="moulinette" class="moulinette">
      {% if display_title %}
        <p class="fr-text--lead">
          Ce simulateur vous permet de connaître instantanément les autorisations à obtenir de l’administration, les
          procédures et les délais.
          Il est anonyme et sans création de compte.
          Département : Indre (36)
        </p>
        <p class="fr-text--light">Tous les champs sont obligatoires.</p>
      {% endif %}
      <form class="fr-mb-3w"
            method="post"
            novalidate
            autocomplete="off"
            action="{% url "moulinette_result" %}"
            id="moulinette-form">
        {% csrf_token %}

        {% include '_form_header.html' with form=form %}

        <div class="form-section">
          {% include '_radio_snippet.html' with field=form.profil %}
          {% include '_radio_snippet.html' with field=form.motif %}
          {% include '_radio_snippet.html' with field=form.reimplantation %}
        </div>

        {% include 'haie/moulinette/_form_footer.html' %}
      </form>

    </div>
  </div>
</div>
