{% load utils humanize %}

<h2 id="moulinette-title" class="centered">Commencez à décrire votre projet de travaux sur haies</h2>

<div id="moulinette-grid">
  <div id="moulinette-col" class="fr-col">
    <div id="moulinette" class="moulinette">
      {% include 'haie/moulinette/_form_introduction.html' %}
      <p class="fr-text--light">Tous les champs sont obligatoires.</p>
      <form class="fr-mb-3w"
            method="post"
            novalidate
            autocomplete="off"
            action="{% url 'moulinette_home' %}?{{ request.GET.urlencode }}"
            id="moulinette-form">
        {% csrf_token %}

        {% include '_form_header.html' with form=form %}

        <!-- Include current query parameters as hidden fields to keep Triage inputs -->
        <input type="hidden"
               name="department"
               value="{{ request.GET.department|default:'' }}" />
        <input type="hidden"
               name="element"
               value="{{ request.GET.element|default:'' }}" />
        <input type="hidden"
               name="travaux"
               value="{{ request.GET.travaux|default:'' }}" />

        <div class="form-section">
          {% include '_radio_snippet.html' with field=form.profil %}
          {% include '_radio_snippet.html' with field=form.motif %}
          {% include '_radio_snippet.html' with field=form.reimplantation %}

          <div id="form-group-haies"
               class="hedges-input fr-input-group required {% if form.haies.errors %}fr-input-group--error{% endif %}">
            <label for="id_haies">Localisation des haies à détruire</label>
            {% with hedges_to_remove=form.cleaned_data.haies.hedges_to_remove %}
              {% if hedges_to_remove|length > 0 %}
                <div id="statistics-container" class="fr-mb-3w">
                  <div id="statistics" class="fr-mb-3w">
                    <p>
                      {# djlint:off #}{{ hedges_to_remove|length|intcomma }} tracé{% if hedges_to_remove|length > 1 %}s{% endif %}{# djlint:on #}
                    </p>
                    <p>
                      Linéaire total : <span id="length-to-remove">{{ form.cleaned_data.haies.length_to_remove|intcomma }}</span> m
                    </p>
                    {% if form.cleaned_data.haies.lineaire_detruit_pac_including_alignement > 0 %}
                      <p>
                        dont {{ form.cleaned_data.haies.lineaire_detruit_pac_including_alignement|floatformat:0|intcomma }} m situés sur des
                        parcelles PAC
                      </p>
                    {% else %}
                      <p id="lineaire-detruit-pac">Aucune haie située sur des parcelles PAC</p>
                    {% endif %}
                  </div>
                </div>
                <button id="hedge-input-open-btn"
                        class="fr-btn fr-btn--secondary fr-btn--icon-right fr-icon-arrow-right-line"
                        type="button"
                        data-fr-opened="false"
                        aria-controls="hedge-input-modal">Modifier les haies</button>
              {% else %}
                <div id="statistics-container" class="fr-mb-3w">
                  <p>
                    <i>Aucune haie renseignée</i>
                  </p>
                </div>
                <button id="hedge-input-open-btn"
                        class="fr-btn fr-btn--primary fr-btn--icon-right fr-icon-arrow-right-line"
                        type="button"
                        data-fr-opened="false"
                        aria-controls="hedge-input-modal">Localiser les haies</button>
              {% endif %}
            {% endwith %}
            {% if form.haies.errors %}
              <p class="fr-error-text">
                ↑
                {{ form.haies.errors.0 }}
                ↑
              </p>
            {% endif %}
          </div>

          {% include 'haie/moulinette/_form_footer.html' %}
        </div>
      </form>
    </div>
  </div>
</div>

{% include 'haie/moulinette/_hedge_input_modal.html' %}

<template id="hedge-data-statistics">
  <div id="statistics" class="fr-mb-3w">
    <p id="hedges-to-remove-count">Aucun tracé</p>
    <p>
      Linéaire total : <span id="length-to-remove">0</span> m
    </p>
    <p id="lineaire-detruit-pac">Aucune haie située sur des parcelles PAC</p>
  </div>
</template>

<script>
  window.addEventListener("load", function () {
    let btn = document.getElementById("hedge-input-open-btn");
    let modal = document.getElementById("hedge-input-modal");
    let hedgeIdField = document.getElementById("id_haies");
    let hedgeDataStatsTpl = document.getElementById("hedge-data-statistics");
    let statisticsContainer = document.getElementById("statistics-container");
    let hedgeInputOpenBtn = document.getElementById("hedge-input-open-btn");
    let hedgeIframe;

    // open the hedge input ui in a modal upon the button click
    btn.addEventListener("click", function () {
      let saveUrl = "{% url 'input_hedges' %}";
      let hedgeId = hedgeIdField.value;
      if (hedgeId) {
        saveUrl += hedgeId + "/";
      }
      hedgeIframe = window.open(saveUrl, "hedge-input-iframe");
      modal.showModal();
    });

    // When the input is saved, close the modal
    window.addEventListener("message", function (event) {
      if (event.origin !== window.location.origin) {
        return;
      }

      if (event.data.action === "cancel") {
        hedgeIframe.close();
        modal.close();
      }

      if (event.data.input_id) {
        if(event.data.length_to_remove === 0){
          statisticsContainer.innerHTML = "<p><i>Aucune haie renseignée</i></p>"

          hedgeInputOpenBtn.textContent = "Localiser les haies";
          hedgeInputOpenBtn.classList.remove('fr-btn--secondary');
          hedgeInputOpenBtn.classList.add('fr-btn--primary');
        }
        else {
          let statsContent = hedgeDataStatsTpl.content.cloneNode(true);
          let lengthToRemove = statsContent.getElementById("length-to-remove");
          let lineaireDetruitPac = statsContent.getElementById("lineaire-detruit-pac");
          let hedgesToRemoveCount = statsContent.getElementById("hedges-to-remove-count");
          lengthToRemove.textContent = Math.round(event.data.length_to_remove).toLocaleString('fr-FR');
          lineaireDetruitPac.textContent = event.data.lineaire_detruit_pac === 0 ? "Aucune haie située sur des parcelles PAC" : `dont ${Math.round(event.data.lineaire_detruit_pac).toLocaleString('fr-FR')} m situés sur des parcelles PAC`;
          hedgesToRemoveCount.textContent = `${event.data.hedges_to_remove === 0 ? "Aucun" : event.data.hedges_to_remove.toLocaleString('fr-FR')} tracé${event.data.hedges_to_remove > 1 ? "s" : ""}`;
          statisticsContainer.innerHTML = "";
          statisticsContainer.appendChild(statsContent);

          hedgeInputOpenBtn.textContent = "Modifier les haies";
          hedgeInputOpenBtn.classList.add('fr-btn--secondary');
          hedgeInputOpenBtn.classList.remove('fr-btn--primary');
        }

        hedgeIdField.value = event.data.input_id;
        hedgeIframe.close();
        modal.close();
      }
    });


  });
</script>
