{% extends "moulinette/home.html" %}

{% load static %}

{% block top-bar %}
  {{ block.super }}
  {% if is_alternative %}
    <div id="alternative-notice" class="fr-notice fr-notice--info">
      <div class="fr-container">
        <div class="fr-notice__body">
          <p>
            <span class="fr-icon-edit-fill" aria-hidden="true"></span>
            <b>Nouvelle simulation alternative</b> pour ce dossier.
          </p>

          {% if user.is_instructor %}
            <p>À la fin de la simulation, copiez le lien pour l'envoyer au demandeur ou l'ajouter au dossier.</p>
          {% elif user.is_authenticated %}
          {% else %}
            <p>
              Le Guichet unique de la haie vous invite a modifier votre simulation initiale, suivez les étapes jusqu'au bout. Vous obtiendrez un lien. <strong>Copiez le lien</strong> et collez-le dans un message de la messagerie Démarche numérique afin de transmettre la nouvelle simulation au Guichet unique de la haie.
            </p>

          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block extra_body %}
  {% include 'haie/moulinette/_department_doctrine_modal.html' %}
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script defer src="{% static 'js/libs/hedges_input.js' %}"></script>
{% endblock %}
