{% extends "moulinette/home.html" %}

{% load static %}

{% block extra_body %}
  {% include 'haie/moulinette/_department_doctrine_modal.html' %}
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script>var SIMULATION_FORM_ID = "moulinette-form";</script>
  <script defer src="{% static 'js/libs/form_submit_spinner.js' %}"></script>
  <script defer src="{% static 'js/libs/hedges_input.js' %}"></script>

  <script>
    window.addEventListener('load', function() {
      let form = document.getElementById("moulinette-form");
      let spinner = new SpinnerForm(form);
    });
  </script>
{% endblock %}
