{% extends "moulinette/home.html" %}

{% load static %}

{% block before-content %}

  {% if is_alternative %}
    <div class="fr-notice fr-notice--info">
      <div class="fr-container">
        <div class="fr-notice__body">
          <p>
            <span class="fr-notice__title">Simulation alternative - Dossier n° (TODO)</span>
          </p>

          {% if user.is_instructor %}
            <p>À la fin du parcours, vous pourrez enregistrer la simulation.</p>
          {% elif user.is_authenticated %}
            <p>À la fin du parcours, vous pourrez envoyer au service coordonnateur.</p>
          {% else %}
            <p>À la fin du parcours, vous pourrez envoyer la simulation au guichet unique.</p>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {{ super }}
{% endblock %}

{% block extra_body %}
  {% include 'haie/moulinette/_department_doctrine_modal.html' %}
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script defer src="{% static 'js/libs/hedges_input.js' %}"></script>
  <script defer src="{% static 'js/libs/eviter_reduire.js' %}"></script>
{% endblock %}
