{% extends 'haie/base.html' %}

{% load static %}

{% block result_title %}<h1 class="fr-mt-4w fr-mb-1w">Liste des dossiers</h1>{% endblock %}

{% block content %}
  <div class="fr-table--lg fr-table">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content">
          <table id="table-dossier-list">
            <caption>
              Tous les dossiers (statut brouillon)
            </caption>
            <thead>
              <tr>
                <th scope="col">N° dossier</th>
                <th scope="col">Créé le</th>
                <th scope="col">Linéaire à détruire</th>
                <th scope="col">Linéaire à planter</th>
              </tr>
            </thead>
            <tbody>
              {% for project in object_list %}
                <tr class="project">
                  <td>{{ project }}</td>
                  <td>{{ project.created_at|date:"SHORT_DATE_FORMAT" }}</td>
                  <td>{{ project.hedge_data.length_to_remove|floatformat:0 }}&nbsp;m</td>
                  <td>{{ project.hedge_data.length_to_plant|floatformat:0 }}&nbsp;m</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
