{% extends 'haie/moulinette/result_plantation.html' %}

{% load petitions %}

{% load static %}

{% block before-title-content %}
  <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--icon-left fr-btns-group--right fr-mb-3w hide-print">
    <li>{% include '_share_url_btn.html' %}</li>
    <li>
      <span id="go-to-ds-btn">
        <a class="fr-btn"
           href="{{ ds_url }}"
           target="_blank"
           rel="noopener external">Voir le dossier sur Démarches simplifiées</a>
      </span>
    </li>
  </ul>
{% endblock %}

{% block result_title %}
  <h1 class="fr-mt-4w fr-mb-1w">Dossier n° {{ demarches_simplifiees_dossier_number|format_ds_number }}</h1>
  <p class="fr-text--sm fr-hint-text">
    {% if demarches_simplifiees_date_depot %}
      <span class="fr-icon-calendar-line" aria-hidden="true"></span> Déposé le {{ demarches_simplifiees_date_depot|date:"DATE_FORMAT" }}
    {% else %}
      <span class="fr-icon-calendar-line" aria-hidden="true"></span> Créé le {{ created_at|date:"DATE_FORMAT" }}
    {% endif %}
  </p>
{% endblock %}

{% block result_header %}

  {% if user.is_instructor %}
    <h3 class="fr-mt-4w">Vous souhaitez faire une simulation alternative ?</h3>

    <p>Cette simulation n’est plus modifiable car elle a été prise en compte dans le dossier.</p>

    <p>
      <strong>Vous pouvez dupliquer cette version en démarrant une simulation alternative</strong>. Ceci permettra de :
    </p>

    <ul>
      <li>la modifier comme vous le souhaitez ;</li>
      <li>la sauvegarder dans votre espace d'instruction ;</li>
      <li>l'envoyer au demandeur pour validation ou correction ;</li>
      <li>l'activer pour mettre à jour le dossier.</li>
    </ul>

    <a class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-play-line spinner-link"
       href="{{ edit_url }}">Démarrer une simulation alternative</a>
  {% elif not user.is_authenticated %}
    <h3 class="fr-mt-4w">Vous souhaitez modifier votre simulation ?</h3>

    <p>
      Cette simulation n’est plus modifiable car elle a été pris en compte dans votre dossier.
      <br />
      <strong>Vous pouvez dupliquer cette version</strong>, la modifier comme vous le souhaitez puis recréer un dossier pour déposer votre demande.
    </p>

    <a class="fr-btn fr-btn--secondary spinner-link" href="{{ edit_url }}">Dupliquer cette simulation</a>

    <h3 class="fr-mt-4w">Besoin d’échanger sur votre projet ?</h3>

    <a class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-mail-line"
       href="{% url 'contact_us' %}">Contacter le guichet unique</a>
  {% endif %}

  <h3 class="fr-mt-4w">Résultats de la simulation réglementaire</h3>
  {{ block.super }}
{% endblock %}

{% block sensitive_areas %}{% endblock %}

{% block project_summary %}
  {{ block.super }}
  <button id="project-summary-hedge-input-open-btn"
          class="hedge-input-open-btn fr-btn fr-btn--secondary fr-btn--icon-right fr-icon-arrow-right-line"
          type="button"
          data-fr-opened="false"
          aria-controls="hedge-input-modal">Ouvrir la carte pour voir le détail</button>
{% endblock %}
