{% extends "moulinette/home.html" %}

{% load utils %}

{% block content %}
  <div id="moulinette-grid">
    <div id="moulinette-col" class="fr-col">
      <div id="triage">
        <h2 id="moulinette-title">Commencez à décrire votre projet de travaux sur haies</h2>
        <p class="fr-text--lead">
          Ce simulateur vous permet de connaître instantanément les autorisations à obtenir de l’administration, les
          procédures et les délais.
          <br />
          Il est anonyme et sans création de compte.
        </p>

        {% include 'haie/moulinette/_form_introduction.html' %}

        {% if department and department.department == '14' %}
          <div class="fr-alert fr-alert--info fr-mb-4w">
            <p>
              Pour transmettre un signalement, <a href="https://www.demarches-simplifiees.fr/commencer/gh14"
    rel="noopener"
    target="_blank">suivez ce lien</a>
            </p>
          </div>
        {% endif %}

        <form class="fr-mb-3w spinner-form" method="post" novalidate>

          {% csrf_token %}
          {{ form.department.as_hidden }}

          {% render_field form.element %}
          {% render_field form.travaux %}

          <div class="hide-print submit-section cta-group">
            <a href="{% url 'home' %}"
               class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-line">Revenir à l'accueil</a>
            <div>
              <button type="submit" class="fr-btn">Valider</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_body %}
  {% include 'haie/moulinette/_department_doctrine_modal.html' %}
{% endblock %}
