{% extends "moulinette/home.html" %}

{% load utils %}

{% block content %}
  <div id="moulinette-grid">
    <div id="moulinette-col" class="fr-col">
      <div id="triage">

        <form class="fr-mb-3w" method="post" novalidate>

          {% csrf_token %}
          {{ form.department.as_hidden }}
          {% include 'haie/moulinette/_form_header.html' with display_title=True %}

          {% include '_radio_snippet.html' with field=form.element %}
          {% include '_radio_snippet.html' with field=form.travaux %}

          <div class="hide-print submit-section">
            <button type="submit" class="fr-btn">Valider</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
