{% extends 'pages/contact_us.html' %}

{% block article %}
  <h1>Une question ?</h1>

  <div data-fr-group="true" class="fr-accordions-group">
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button type="button"
                class="fr-accordion__btn"
                aria-expanded="false"
                aria-controls="contact-accordion-1-faq">Questions les plus fréquentes</button>
      </h3>
      <div class="fr-collapse" id="contact-accordion-1-faq">
        <p>
          La FAQ répond aux principales questions sur le fonctionnement du service, la réglementation applicable et le dépôt d’un dossier.
        </p>
        <a href="{{ HAIE_FAQ_URLS.SERVICE_USERS }}"
           target="_blank"
           rel="noopener external"
           class="fr-btn fr-icon-icon-external-link-fill fr-btn--icon-right">Aller à la FAQ</a>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button type="button"
                class="fr-accordion__btn"
                aria-expanded="false"
                aria-controls="contact-accordion-2-equipe">Sur le fonctionnement du portail</button>
      </h3>
      <div class="fr-collapse" id="contact-accordion-2-equipe">
        <p>Pour toute question sur :</p>
        <ul>
          <li>L’utilisation du simulateur</li>
          <li>Un bug technique</li>
          <li>Le dépôt en ligne…</li>
        </ul>
        <div class="contact-means">{% include 'haie/_contact_means.html' %}</div>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button type="button"
                class="fr-accordion__btn"
                aria-expanded="false"
                aria-controls="contact-accordion-3-dossier">Sur votre dossier</button>
      </h3>
      <div class="fr-collapse" id="contact-accordion-3-dossier">
        <p>Pour toute question sur :</p>
        <ul>
          <li>Les règlementations applicables</li>
          <li>Les délais</li>
          <li>Les pièces complémentaires</li>
          <li>La décision finale…</li>
        </ul>
        <p>Vous pouvez contacter le guichet unique de la haie dans votre département :</p>

        <form action="#department-search" method="post">
          {% csrf_token %}
          <div class="fr-search-bar" role="search">
            <label class="fr-label" for="department">Department</label>

            <select class="fr-input"  name="department" id="department">
              <option value="" disabled>--- Choisir un département ---</option>
              {% for option in departments %}
                <option value="{{ option.id }}"
                        {% if option.id == department.id %}selected{% endif %}>{{ option }}</option>
              {% endfor %}
            </select>
            <button type="submit" class="fr-btn">Rechercher</button>
          </div>
        </form>

        {% if department %}
          {% if config and config.contacts_info %}
            <div id="contacts_info" class="fr-highlight fr-mt-4w fr-p-2w">{{ config.contacts_info|safe }}</div>
          {% else %}
            <p class="fr-text--sm fr-my-2w fr-error-text">
              Les coordonnées du guichet unique dans ce département ne sont pas encore disponibles.
            </p>
          {% endif %}
        {% endif %}
      </div>
    </section>
  </div>

{% endblock %}

{% block after-content %}{% endblock %}

{% block bottom_js %}
  {{ block.super }}
  <script type="text/javascript">
    /* Open chat */
    const openCrispChat = () => {
      if (!window.$crisp) {
        console.warn("Crisp is not loaded");
      } else {
        window.$crisp.push(["do", "chat:open"]);
      }
    }
  </script>
{% endblock %}
