{% extends 'haie/base.html' %}

{% load static l10n moulinette %}

{% block title %}
  Le point d'accès unique à la réglementation et aux démarches administratives sur les haies
{% endblock %}

{% block main-classes %}home{% endblock %}

{% block container %}

  <section id="hero" class="fr-mb-5w">
    <div class="fr-container">

      {% comment %}
    The main hero section illustration moves up and down the document depending on the screen width.

    Since a full css solution was getting really hackish and complicated, it's just much easier and cleaner to use three different img elements, and hide or display them using media queries.
      {% endcomment %}

      <div class="home-illustration fr-hidden fr-unhidden-lg">
        <img src="{% static 'images/haie_form.svg' %}" alt="" class="light-only">
        <img src="{% static 'images/haie_form_dark.svg' %}"
             alt=""
             class="dark-only">
      </div>

      <h1>Le point d'accès unique à la réglementation et aux démarches administratives sur les haies</h1>

      <div class="home-illustration fr-hidden fr-unhidden-md fr-hidden-lg fr-hidden fr-unhidden-md fr-hidden-lg">
        <img src="{% static 'images/haie_form.svg' %}" alt="" class="light-only">
        <img src="{% static 'images/haie_form_dark.svg' %}"
             alt=""
             class="dark-only">
      </div>

      <ul class="fr-badge-group fr-my-3w">
        <li>
          <p class="fr-badge fr-badge--blue-ecume">🐦 Dérogation espèces protégées</p>
        </li>
        <li>
          <p class="fr-badge fr-badge--blue-ecume">🚜 Conditionnalité PAC</p>
        </li>
      </ul>
      <p class="fr-text--lead">
        Le portail de l'administration qui simplifie pour tous les usagers l'information réglementaire encadrant les travaux sur haies, et permet le dépôt unique des demandes d'autorisation — <i>En construction</i>.
      </p>
      <a href="#simulateur"
         class="fr-btn fr-btn--lg fr-btn--icon-right fr-icon-arrow-down-line fr-mb-1w"
         data-event-category="HomePage"
         data-event-action="SimulationClick"
         data-event-name="Main">Simuler un projet</a>
      <br />
      <span>Accessible sans créer de compte</span>

      <div class="home-illustration fr-hidden-md fr-mt-3w fr-hidden-md fr-mt-3w">
        <img src="{% static 'images/haie_form.svg' %}" alt="" class="light-only">
        <img src="{% static 'images/haie_form_dark.svg' %}"
             alt=""
             class="dark-only">
      </div>
    </div>
  </section>

  <section id="quand-demander" class="fr-mb-5w">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col fr-col-lg-8 fr-col-xl-6 alt fr-p-3w">

          <h2 class="fr-h6">Quels types de projets ce simulateur couvre-t-il actuellement ?</h2>
          <hr>
          <p>
            <strong>Végétation concernée</strong>
            <br />
            ✔ Une haie
            <br />
            ❌ Un bosquet
            <br />
            ❌ Un alignement d’arbres
            <br />
          </p>
          <p>
            <strong>Nature du projet</strong>
            <br />
            ✔ Un arrachage
            <br />
            ❌ Un entretien
            <br />
          </p>
          <p>
            <strong>Localisation</strong>
            <br />
            Simulateur uniquement en expérimentation dans quelques departements
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="simulateur" class="fr-pt-8w fr-pb-5w">
    <div class="fr-container">
      <div id="moulinette-grid">
        <div id="moulinette-col">
          <div id="moulinette" class="moulinette">{% show_moulinette_form %}</div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block extra_js %}
  <script defer src="{% static 'js/libs/data_event_attributes_analytics.js' %}"></script>
{% endblock %}
