{% extends 'haie/base.html' %}

{% load static l10n moulinette %}

{% block app_title %}Guichet unique de la haie – Site officiel{% endblock %}

{% block main-classes %}home{% endblock %}

{% block container %}

  <section id="hero">
    <div class="fr-container">

      {% comment %}
    The main hero section illustration moves up and down the document depending on the screen width.

    Since a full css solution was getting really hackish and complicated, it's just much easier and cleaner to use three different img elements, and hide or display them using media queries.
      {% endcomment %}

      <div class="home-illustration fr-hidden fr-unhidden-lg">
        <img src="{% static 'images/haie_form.svg' %}" alt="" class="light-only">
        <img src="{% static 'images/haie_form_dark.svg' %}"
             alt=""
             class="dark-only">
      </div>

      <h1>Le point d'accès unique à la réglementation et aux démarches administratives sur les haies</h1>

      <div class="home-illustration fr-hidden fr-unhidden-md fr-hidden-lg fr-hidden fr-unhidden-md fr-hidden-lg">
        <img src="{% static 'images/haie_form.svg' %}" alt="" class="light-only">
        <img src="{% static 'images/haie_form_dark.svg' %}"
             alt=""
             class="dark-only">
      </div>

      <ul class="fr-badge-group fr-my-3w">
        <li>
          <p class="fr-badge fr-badge--blue-ecume">🐦 Espèces protégées</p>
        </li>
        <li>
          <p class="fr-badge fr-badge--blue-ecume">🚜 Conditionnalité PAC</p>
        </li>
        <li>
          <p class="fr-badge fr-badge--blue-ecume">🐸 Natura 2000</p>
        </li>
        <li>
          <p class="fr-badge fr-badge--blue-ecume">🏞️ Réserves naturelles</p>
        </li>
        <li>
          <p class="fr-badge fr-badge--blue-ecume">🖼️ Patrimoine et paysages</p>
        </li>
      </ul>
      <p class="fr-text--lead">
        Le portail de l'administration qui simplifie pour tous les usagers l'information réglementaire encadrant les travaux sur haies, et permet le dépôt unique des demandes d'autorisation.
      </p>
      <a href="#simulateur"
         class="fr-btn fr-btn--lg fr-btn--icon-right fr-icon-arrow-down-line fr-mb-1w"
         data-event-category="HomePage"
         data-event-action="SimulationClick"
         data-event-name="Main">Simuler un projet</a>
      <br />
      <span>Accessible sans créer de compte</span>

      <div class="home-illustration fr-hidden-md fr-mt-3w fr-hidden-md fr-mt-3w">
        <img src="{% static 'images/haie_form.svg' %}" alt="" class="light-only">
        <img src="{% static 'images/haie_form_dark.svg' %}"
             alt=""
             class="dark-only">
      </div>
    </div>
  </section>

  <section id="simulateur" class="fr-py-5w fr-mb-5w">
    <div class="fr-container">
      <h3>Simuler un projet</h3>
      <p>
        <span class="fr-text--lead">
          Vous envisagez des travaux sur vos haies ? Simulez ici votre projet pour connaître les règles de protection et la replantation attendue, puis déposez votre demande d'autorisation.
        </span>
        <br />
        <span class="fr-text fr-text--sm">Simulation gratuite et anonyme. Durée : 3 min.</span>
      </p>
      <div class="fr-grid-row">
        {% for department in activated_departments %}
          <div class="fr-col-12 fr-col-sm-6 fr-col-lg-2 fr-mb-2w">
            <div class="fr-tile fr-tile--sm fr-tile--horizontal fr-tile--no-icon fr-enlarge-link fr-mr-2w">
              <div class="fr-tile__body">
                <div class="fr-tile__content">
                  <h3 class="fr-tile__title">
                    <a href="{% url 'triage' %}?department={{ department.department }}">{{ department }}</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <hr id="department-search" class="separator fr-mt-4w" />
      <div class="fr-grid-row fr-grid-row--center">
        <span id="department-search-title" class="fr-text--lead">Dans quel département le projet est-il situé ?</span>
        <div class="fr-col-12 fr-grid-row fr-grid-row--center">
          <form action="#department-search" method="post">
            {% csrf_token %}
            <div class="fr-search-bar" role="search">
              <label class="fr-label" for="department">Department</label>

              <select class="fr-input"  name="department" id="department">
                <option value="" disabled>--- Choisir un département ---</option>
                {% for option in departments %}
                  <option value="{{ option.id }}"
                          {% if option.id == department.id %}selected{% endif %}>{{ option }}</option>
                {% endfor %}
              </select>
              <button type="submit" class="fr-btn">Rechercher</button>
            </div>
          </form>
        </div>
      </div>
      {% if department %}
        {% if config and config.contacts_and_links %}
          <div id="contacts_and_links" class="fr-mt-4w fr-p-2w">{{ config.contacts_and_links|safe }}</div>
          <div class="fr-py-2w">
            <p>
              Vous représentez la DDT(M) du département et souhaitez compléter ou modifier les informations affichées ici ?
              <a href="https://tally.so/r/w4Agpb" target="_blank" rel="noopener">Cliquez ici</a>.
            </p>
          </div>
        {% else %}
          <div class="fr-notice fr-notice--warning fr-mt-4w">
            <div class="fr-container">
              <div class="fr-notice__body">
                <p>
                  <span class="fr-notice__title"></span>
                  <span class="fr-notice__desc">{{ department }} : nous ne disposons pas encore d'information sur les contacts de l'administration en rapport avec la haie.</span>
                </p>
              </div>
            </div>
          </div>
          <div class="fr-py-2w">
            <p>
              Vous représentez la DDT(M) du département et souhaitez faire apparaître ici des informations de contact, des liens vers le site de votre préfecture,
              des ressources à présenter aux usagers ?
              <a href="https://tally.so/r/w4Agpb" target="_blank" rel="noopener">Cliquez ici</a>.
            </p>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </section>

  <section id="quand-demander" class="fr-mb-5w">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col fr-col-lg-8 fr-col-xl-6 alt fr-p-3w">

          <h2 class="fr-h6">Quels travaux le guichet unique de la haie couvre-t-il actuellement ?</h2>
          <hr>
          <p>
            <strong>Végétation concernée</strong>
            <br />
            <span class="green-check">✔</span> Les haies
            <br />
            <span class="green-check">✔</span> Les alignements d’arbres
            <br />
            ❌ Les bosquets
            <br />
          </p>
          <p>
            <strong>Nature du projet</strong>
            <br />
            <span class="green-check">✔</span> Une destruction
            <br />
            ❌ Un entretien
            <br />
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block extra_js %}
  <script defer src="{% static 'js/libs/data_event_attributes_analytics.js' %}"></script>
{% endblock %}
