{% extends 'base.html' %}

{% block title %}{{ _("Legal mentions") }}{% endblock %}

{% block top-bar %}{% endblock %}

{% block article %}
  <h1>Mentions légales</h1>

  <h2>Éditeurs</h2>

  <p>
    Le Guichet unique de la haie est édité par la Fabrique Numérique du
    Ministère de la transition écologique, de l’énergie, du climat et de la prévention des risques (Grande Arche de la Défense, 92055 La Défense CEDEX), avec l'appui de l'incubateur de services numériques Beta.gouv.fr de la direction interministérielle du numérique
    (DINUM).
  </p>

  <h2>Directeurs ou directrices de la publication</h2>

  <p>M. Philippe MAZENC, directeur général de l'aménagement, du logement et de la nature (DGALN).</p>

  <h2>Hébergeur</h2>

  <p>Scalingo SAS, 15 avenue du Rhin, 67100 Strasbourg, France.</p>

  <h2>Licence</h2>

  <p>
    Quelques icônes issues du projet <a href="https://remixicon.com" target="_blank" rel="noopener">Remix Icon par Remix Design</a>.
  </p>

{% endblock %}
