{% extends 'base.html' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block top-bar %}{% endblock %}

{% block article %}

  <h1>Traitement des données à caractère personnel</h1>

  <p>
    Le Portail numérique du Guichet unique de la haie (PGUH) traite certaines données à caractère personnel conformément à la réglementation prévue par le règlement (UE) n° 2016/679 dit « RGPD » et la loi n° 78-17 relative à l’informatique, aux fichiers et aux libertés.
  </p>

  <p>Le PGUH est un service numérique qui se propose :</p>

  <ul>
    <li>
      de simplifier pour les usagers l'accès à l'information réglementaire encadrant les travaux sur les haies et alignements d'arbres ;
    </li>
    <li>
      de faciliter les échanges avec l'administration en permettant le dépôt et le suivi des déclarations et demandes d’autorisation pour des projets de destruction de haie et d’alignements d’arbres.
    </li>
  </ul>

  <h2>I - Responsable du traitement</h2>

  <p>
    Les co-responsables du traitement de vos données à caractère personnel sont la Direction Générale de l'Aménagement, du Logement et de la Nature (DGALN) au sein du ministère en charge de l’environnement, et la Direction Générale de la Performance Économique et Environnementale des Entreprises (DGPE) du ministère en charge de l’agriculture.
  </p>

  <h2>II - Finalités</h2>

  <p>Le PGUH traite des données à caractère personnel pour les finalités suivantes :</p>

  <ul>
    <li>
      Utiliser un simulateur réglementaire pour connaître les réglementations et procédures environnementales applicables à un projet de traux sur des haies ;
    </li>
    <li>Déposer un dossier de déclaration ou de demande d'autorisation (usager) ;</li>
    <li>Créer un compte (instructeur) ;</li>
    <li>Consulter un dossier déposé (instructeur) ;</li>
  </ul>

  <h2>III - Catégories de données</h2>

  <p>Le PGUH traite les données à caractère personnel suivantes :</p>
  <ul>
    <li>
      <strong>Données relatives à la création d'un compte instructeur</strong> : nom, prénom, adresse électronique ;
    </li>
    <li>
      <strong>Données relatives à l'utilisation du simulateur</strong> : aucune donnée personnelle ;
    </li>
    <li>
      <strong>Données relatives au dépôt d'une déclaration ou demande d'autorisation</strong> : identité du demandeur, localisation et caractéristiques du projet ;
    </li>
  </ul>

  <h2>IV - Base légale</h2>

  <p>
    Le PGUH traite des données à caractère personnel en se basant sur l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable de traitement au sens de l'article 6-1 e) du RGPD.
  </p>

  <p>
    Le PGUH entend veiller au respect des intérêts publics suivants : la protection de l'environnement, des milieux naturels et de la biodiversité, à la préservation des haies et plus généralement au respect du code de l'environnement.
  </p>
  <p>Ces missions découlent de :</p>
  <ul>
    <li>
      L'article 2 III du décret n° 2022-832 du 1<sup>er</sup> juin 2022 relatif aux attributions du ministre de la Transition écologique et de la Cohésion des territoires,
    </li>
    <li>
      L'article 7 du décret n° 2008-680 du 9 juillet 2008 qui prévoit que la DGALN est en particulier chargée de concevoir, d'évaluer et de mettre en œuvre les politiques publiques en matière d'urbanisme, de construction, du logement, des paysages, de la biodiversité, de l'eau et des substances minérales non énergétiques.
    </li>
  </ul>

  <h2>V - Durée de conservation</h2>

  <table class="fr-table">
    <thead>
      <tr>
        <td>
          <p>Type de données</p>
        </td>
        <td>
          <p>Durée de la conservation</p>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Données de compte</td>
        <td>Jusqu'à la demande de suppression du compte ou 1 an à compter de la dernière connexion</td>
      </tr>
      <tr>
        <td>Données du simulateur</td>
        <td>Pas de données personnelles</td>
      </tr>
      <tr>
        <td>Dossier d'instruction</td>
        <td>2 ans à compter de l'émission de la réponse de l'administration</td>
      </tr>
      <tr>
        <td>Cookies</td>
        <td>13 mois</td>
      </tr>
    </tbody>
  </table>

  <h2>VI - Vos droits</h2>

  <p>Vous disposez :</p>

  <ul>
    <li>d'un droit d'information et d'un droit d'accès à vos données ;</li>
    <li>d'un droit de rectification ;</li>
    <li>d'un droit d'opposition ;</li>
    <li>d'un droit à la limitation du traitement.</li>
  </ul>

  <p>Pour les exercer, contactez-nous à : contact@haie.beta.gouv.fr</p>

  <p>
    Puisque ce sont des droits personnels, nous ne traiterons votre demande que si nous sommes en mesure de vous identifier. Dans le cas où nous ne parvenons pas à vous identifier, nous pouvons être amenés à vous demander une preuve de votre identité.
  </p>

  <p>
    Pour vous aider dans votre démarche, vous trouverez un modèle de courrier élaboré par la CNIL ici : <a href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces">https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces</a>
  </p>

  <p>
    Nous nous engageons à vous répondre dans un délai raisonnable qui ne saurait dépasser un mois à compter de la réception de votre demande.
  </p>

  <h2>VII - Destinataires</h2>

  <p>
    Les accès aux données sont strictement encadrés et juridiquement justifiés. Les personnes suivantes vont avoir accès aux données :
  </p>

  <table class="fr-table">
    <tr>
      <td>
        <p>Données</p>
      </td>
      <td>
        <p>Destinataires</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Données de création de compte</p>
      </td>
      <td>
        <p>Agents habilités de l'équipe du PGUH</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Données du dossier de déclaration ou demande d'autorisation</p>
      </td>
      <td>
        <p>
          Agents habilités de l'équipe du PGUH, agents instructeurs des services de l'Etat (notamment DDT(M), DREAL) ou des collectivités (notamment instructeurs droit des sols), pétitionnaire.
        </p>
      </td>
    </tr>
  </table>

  <h2>VIII - Mesures de sécurité</h2>

  <p>Nous mettons en place plusieurs mesures pour sécuriser les données :</p>
  <ul>
    <li>Stockage des données en base de données ;</li>
    <li>Cloisonnement des données ;</li>
    <li>Mesures de traçabilité ;</li>
    <li>Surveillance ;</li>
    <li>Protection contre les virus, malwares et logiciels espions ;</li>
    <li>Protection des réseaux ;</li>
    <li>Sauvegarde régulière ;</li>
    <li>Mesures restrictives limitant l’accès physique aux données à caractère personnel.</li>
  </ul>

  <h2>IX - Sous-traitant(s)</h2>

  <p>
    Certaines des données sont envoyées à d’autres acteurs, appelés « sous-traitants de données », pour qu’ils nous aident à les manipuler. Nous nous assurons qu’ils respectent strictement le RGPD et qu’ils apportent des garanties suffisantes en matière de sécurité.
  </p>

  <table class="fr-table">
    <thead>
      <tr>
        <td>Sous-traitant</td>
        <td>Pays destinataire</td>
        <td>Traitement réalisé</td>
        <td>Garanties</td>
      </tr>
    </thead>
    <tr>
      <td>Scalingo</td>
      <td>France</td>
      <td>Hébergeur</td>
      <td>
        <a href="https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles"
           target="_blank"
           rel="noopener">voir</a>
      </td>
    </tr>
    <tr>
      <td>Démarches simplifiées</td>
      <td>France</td>
      <td>Hébergement des données du dossier de demande d'autorisation</td>
      <td>
        <a href="https://doc.demarches-simplifiees.fr/politique-de-confidentialite"
           target="_blank"
           rel="noopener">voir</a>
      </td>
    </tr>
    <tr>
      <td>Crisp</td>
      <td>France</td>
      <td>Gestion du support utilisateur</td>
      <td>
        <a href="https://help.crisp.chat/en/article/whats-crisp-eu-gdpr-compliance-status-nhv54c/"
           target="_blank"
           rel="noopener"></a>
      </td>
    </tr>
    <tr>
      <td>Pipedrive</td>
      <td>Etats-Unis</td>
      <td>Gestion des relations avec les utilisateurs</td>
      <td>
        <a href="https://www-cms.pipedriveassets.com/documents/Complete_with_Docusign_DPA_Pipedrive_March.pdf"
           target="_blank"
           rel="noopener">voir</a>
      </td>
    </tr>
  </table>

  <h2>X - Cookies</h2>

  <p>
    Un cookie est un fichier déposé sur votre terminal lors de la visite d’un site. Il a pour but de collecter des informations relatives à votre navigation et de vous adresser des services adaptés à votre terminal (ordinateur, mobile ou tablette).
  </p>
  <p>
    En application de l’article 5(3) de la directive 2002/58/CE modifiée concernant le traitement des données à caractère personnel et la protection de la vie privée dans le secteur des communications électroniques, transposée à l’article 82 de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, les traceurs ou cookies suivent deux régimes distincts :
  </p>
  <ul>
    <li>
      Les cookies strictement nécessaires au service ou ayant pour finalité exclusive de faciliter la communication par voie électronique sont dispensés de consentement préalable au titre de l’article 82 de la loi n° 78-17 du 6 janvier 1978.
    </li>
    <li>
      Les cookies n’étant pas strictement nécessaires au service ou n’ayant pas pour finalité exclusive de faciliter la communication par voie électronique doivent être consentis par l’utilisateur.
    </li>
  </ul>
  <p>
    Ce consentement de la personne concernée pour une ou plusieurs finalités spécifiques constitue une base légale au sens du RGPD et doit être entendu au sens de l'article 6-1 a) du RGPD et à la libre circulation des données.
  </p>

  <p>Cookies recensés sur le PGUH :</p>

  <p>
    <strong>MATOMO</strong> une solution de mesure d’audience dans sa version anonymisée et exemptée de consentement et validée par la CNIL.
  </p>
  <p>Même si le suivi est anonyme, vous pouvez vous opposer au suivi de votre navigation sur ce site web.</p>

  <p>Vous pouvez choisir de ne pas transmettre d'informations à matomo :</p>

  <iframe id="stats-optout"
          style="width: 100%"
          src="//stats.beta.gouv.fr/index.php?module=CoreAdminHome&action=optOut&language=fr"></iframe>

  {% if visitor_id %}
    <p>
      Nous réalisons également un suivi statistique de certaines actions de navigation (par exemple les étapes d’utilisation du simulateur ou l’utilisation de l’outil de saisie du linéaire de haie) qui sont stockées de manière anonyme, afin de mieux comprendre l'utilisation du service.
    </p>

    <p>
      Vous avez la possibilité de refuser que les événements dont vous êtes à
      l'origine soient pris en compte. Votre refus sera à renouveler tous les 13 mois, durée de vie maximum du cookie.
    </p>

    <form class="fr-mb-3w"
          method="post"
          action="{% url 'disable_visitor_cookie' %}">
      {% csrf_token %}
      <button type="submit" class="fr-btn">Désactiver le cookie de suivi local</button>
    </form>
  {% endif %}

{% endblock %}
