{% extends 'base.html' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block top-bar %}{% endblock %}

{% block breadcrumbs %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="/">{{ _("Home") }}</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Données privées</a>
        </li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block article %}
  <h1>Traitement des données à caractère personnel</h1>

  <p>
    Envergo traite vos données à caractère personnel conformément à la réglementation prévue par le règlement (UE) n° 2016/679 dit « RGPD » et la loi n° 78-17 relative à l’informatique, aux fichiers et aux libertés.
  </p>

  <p>Envergo est un service numérique qui se propose :</p>

  <ul>
    <li>
      De sensibiliser et d’informer les utilisateurs à la réglementation et aux procédures environnementales applicables aux projets d’urbanisme ;
    </li>
    <li>
      <p>
        De permettre aux particuliers, aux agents des centres instructeurs urbanisme, aux professionnels de l’aménagement ou toutes personnes intéressées :
      </p>
      <ul class="fr-mb-0">
        <li>
          d’utiliser un « simulateur » pour connaître les réglementations et procédures prévues par le code de l’environnement applicables à un projet de construction ou d’aménagement,
        </li>
        <li>
          ou de solliciter un « avis réglementaire » afin de disposer dans les 3 jours ouvrés d’un avis spécifique à un projet de construction ou d’aménagement, contenant des informations indicatives sur les réglementations et procédures environnementales susceptibles de s’appliquer à son projet ;
        </li>
      </ul>
    </li>
    <li>
      D’accompagner les porteurs de projet dans la mise en conformité de leurs projets de construction ou d’aménagement.
    </li>
  </ul>

  <p>
    Le Service ne délivre que des informations indicatives qui ne se substituent en aucun cas à un examen par les services instructeurs compétents.
  </p>

  <h2>I - Responsable du traitement</h2>

  <p>
    Envergo est développé au sein de la Fabrique du Numérique du ministère de la Transition écologique et de la Cohésion des territoires.
  </p>

  <p>
    Le responsable de traitement est la Direction Générale de l'Aménagement, du Logement et de la Nature du ministère de la Transition écologique et de la Cohésion des territoires, représenté par Philippe MAZENC.
  </p>

  <h2>II - Finalités</h2>

  <p>Envergo traite des données à caractère personnel pour les finalités suivantes :</p>

  <ul>
    <li>Créer un compte ;</li>
    <li>
      Utiliser un "simulateur" pour connaître les réglementations et procédures environnementales applicables à un projet de construction ou d'aménagement ;
    </li>
    <li>
      Solliciter un "avis réglementaire" informatif sur les réglementations et procédures environnementales susceptibles de s'appliquer à son projet d'aménagement ou de construction ;
    </li>
    <li>Communiquer "l'avis réglementaire" aux personnes concernées par le projet de construction ou d'aménagement.</li>
  </ul>

  <h2>III - Catégories de données</h2>

  <p>Envergo traite les données à caractère personnel suivantes :</p>
  <ul>
    <li>
      <stronrg>Données relatives à la création d'un compte</stronrg> : nom, prénom, courrier électronique ;
    </li>
    <li>
      <strong>Données relatives à l'utilisation du simulateur</strong> : aucune donnée personnelle ;
    </li>
    <li>
      <stong>Données relatives à la demande d'avis réglementaire</stong> : adresses postale et électronique(s), numéro de téléphone, la demande d'autorisation d'urbanisme (numéro identifiant, Cerfa et pièces jointes dans les conditions prévues par le code de l'urbanisme) ;
    </li>
    <li>
      <strong>Données relatives au pétitionnaire (demandeur d'une autorisation individuelle d'urbanisme)</strong> : numéro de téléphone, adresses électroniques, la demande d'autorisation d'urbanisme (Cerfa et pièces jointes dans les conditions prévues par le code de l'urbanisme).
    </li>
  </ul>

  <h2>IV - Base légale</h2>

  <p>
    Envergo traite des données à caractère personnel en se basant sur l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable de traitement au sens de l'article 6-1 e) du RGPD.
  </p>
  <p>
    Envergo entend veiller au respect des intérêts publics suivants : la protection de l'environnement, des milieux naturels et de la ressource en eau, à la qualité et à la préservation des espaces naturels et plus généralement au respect du code de l'environnement.
  </p>
  <p>Ces missions découlent de :</p>
  <ul>
    <li>
      L'article 2 III du décret n° 2022-832 du 1<sup>er</sup> juin 2022 relatif aux attributions du ministre de la Transition écologique et de la Cohésion des territoires,
    </li>
    <li>
      L'article 7 du décret n° 2008-680 du 9 juillet 2008 qui prévoit que la DGALN est en particulier chargée de concevoir, d'évaluer et de mettre en œuvre les politiques publiques en matière d'urbanisme, de construction, du logement, des paysages, de la biodiversité, de l'eau et des substances minérales non énergétiques.
    </li>
  </ul>

  <h2>V - Durée de conservation</h2>
  <table class="fr-table">
    <thead>
      <tr>
        <td>
          <p>Type de données</p>
        </td>
        <td>
          <p>Durée de la conservation</p>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Données de compte</td>
        <td>Jusqu'à la demande de suppression du compte ou 1 an à compter de la dernière connexion</td>
      </tr>
      <tr>
        <td>Données du simulateur</td>
        <td>Pas de données personnelles</td>
      </tr>
      <tr>
        <td>Données relatives à l'avis réglementaire</td>
        <td>2 ans à compter de l'envoi de l'avis</td>
      </tr>
      <tr>
        <td>Données du pétitionnaire</td>
        <td>2 ans à compter de l'envoi de l'avis</td>
      </tr>
      <tr>
        <td>Cookies</td>
        <td>13 mois</td>
      </tr>
    </tbody>
  </table>

  <h2>VI - Vos droits</h2>

  <p>Vous disposez :</p>
  <ul>
    <li>D'un droit d'information et d'un droit d'accès à vos données ;</li>
    <li>D'un droit de rectification ;</li>
    <li>D'un droit d'opposition ;</li>
    <li>D'un droit à la limitation du traitement.</li>
  </ul>
  <p>
    Pour les exercer, contactez-nous à : <a href="mailto:contact@envergo.beta.gouv.fr">contact@envergo.beta.gouv.fr</a>
  </p>
  <p>
    Puisque ce sont des droits personnels, nous ne traiterons votre demande que si nous sommes en mesure de vous identifier. Dans le cas où nous ne parvenons pas à vous identifier, nous pouvons être amenés à vous demander une preuve de votre identité.
  </p>
  <p>
    Pour vous aider dans votre démarche, vous trouverez un modèle de courrier élaboré par la CNIL ici : <a href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces">https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces</a>
  </p>
  <p>
    Nous nous engageons à vous répondre dans un délai raisonnable qui ne saurait dépasser un mois à compter de la réception de votre demande.
  </p>

  <h2>VII - Destinataires</h2>

  <p>
    Les accès aux données sont strictement encadrés et juridiquement justifiés. Les personnes suivantes vont avoir accès aux données :
  </p>

  <table class="fr-table">
    <tr>
      <td>
        <p>Données</p>
      </td>
      <td>
        <p>Destinataires</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Données de création de compte</p>
      </td>
      <td>
        <p>Agents habilités de l'équipe Envergo</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Données de l'avis réglementaire et du pétitionnaire</p>
      </td>
      <td>
        <p>
          Agents habilités de l'équipe Envergo, agents instructeurs des autorisations du droit des sols en collectivité, et services déconcentrés de l'Etat (notamment DDT(M), DREAL), pétitionnaire
        </p>
      </td>
    </tr>
  </table>

  <h2>VIII - Mesures de sécurité</h2>

  <p>Nous mettons en place plusieurs mesures pour sécuriser les données :</p>
  <ul>
    <li>Stockage des données en base de données ;</li>
    <li>Cloisonnement des données ;</li>
    <li>Mesures de traçabilité ;</li>
    <li>Surveillance ;</li>
    <li>Protection contre les virus, malwares et logiciels espions ;</li>
    <li>Protection des réseaux ;</li>
    <li>Sauvegarde régulière ;</li>
    <li>Mesures restrictives limitant l’accès physique aux données à caractère personnel.</li>
  </ul>

  <h2>IX - Sous-traitant(s)</h2>

  <p>
    Certaines des données sont envoyées à d’autres acteurs, appelés « sous-traitants de données », pour qu’ils nous aident à les manipuler. Nous nous assurons qu’ils respectent strictement le RGPD et qu’ils apportent des garanties suffisantes en matière de sécurité.
  </p>

  <table class="fr-table">
    <thead>
      <tr>
        <td>Sous-traitant</td>
        <td>Pays destinataire</td>
        <td>Traitement réalisé</td>
        <td>Garanties</td>
      </tr>
    </thead>
    <tr>
      <td>Scalingo</td>
      <td>France</td>
      <td>Hébergeur</td>
      <td>
        <a href="https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles"
           target="_blank"
           rel="noopener">voir</a>
      </td>
    </tr>
    <tr>
      <td>Pipedrive</td>
      <td>Etats-Unis</td>
      <td>Gestion des relations avec les utilisateurs</td>
      <td>
        <a href="https://www-cms.pipedriveassets.com/documents/Complete_with_Docusign_DPA_Pipedrive_March.pdf"
           target="_blank"
           rel="noopener">voir</a>
      </td>
    </tr>
  </table>

  <h3>X - Cookies</h3>

  <p>
    Un cookie est un fichier déposé sur votre terminal lors de la visite d’un site. Il a pour but de collecter des informations relatives à votre navigation et de vous adresser des services adaptés à votre terminal (ordinateur, mobile ou tablette).
  </p>
  <p>
    En application de l’article 5(3) de la directive 2002/58/CE modifiée concernant le traitement des données à caractère personnel et la protection de la vie privée dans le secteur des communications électroniques, transposée à l’article 82 de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, les traceurs ou cookies suivent deux régimes distincts :
  </p>
  <ul>
    <li>
      Les cookies strictement nécessaires au service ou ayant pour finalité exclusive de faciliter la communication par voie électronique sont dispensés de consentement préalable au titre de l’article 82 de la loi n° 78-17 du 6 janvier 1978.
    </li>
    <li>
      Les cookies n’étant pas strictement nécessaires au service ou n’ayant pas pour finalité exclusive de faciliter la communication par voie électronique doivent être consentis par l’utilisateur.
    </li>
  </ul>
  <p>
    Ce consentement de la personne concernée pour une ou plusieurs finalités spécifiques constitue une base légale au sens du RGPD et doit être entendu au sens de l'article 6-1 a) du RGPD et à la libre circulation des données.
  </p>

  <p>Cookies recensés sur Envergo :</p>

  <p>
    <strong>MATOMO</strong> une solution de mesure d’audience dans sa version anonymisée et exemptée de consentement et validée par la CNIL.
  </p>
  <p>Même si le suivi est anonyme, vous pouvez vous opposer au suivi de votre navigation sur ce site web.</p>

  <p>Vous pouvez choisir de ne pas transmettre d'informations à matomo :</p>

  <iframe id="stats-optout"
          style="width: 100%"
          src="//stats.beta.gouv.fr/index.php?module=CoreAdminHome&action=optOut&language=fr"></iframe>

  {% if visitor_id %}
    <p>
      Nous réalisons également un suivi statistique de certaines actions de navigation (e.g. utilisation du simulateur) qui sont stockées de manière anonyme, afin de mieux comprendre l'utilisation du service.
    </p>

    <p>
      Vous avez la possibilité de refuser que les événements dont vous êtes à
      l'origine soient pris en compte. Votre refus sera à renouveler tous les 13 mois, durée de vie maximum du cookie.
    </p>

    <form class="fr-mb-3w"
          method="post"
          action="{% url 'disable_visitor_cookie' %}">
      {% csrf_token %}
      <button type="submit" class="fr-btn">Désactiver le cookie de suivi local</button>
    </form>
  {% endif %}

  <p>
    <strong>CRISP</strong>, un agent conversationnel de type chatbot dans une configuration ayant pour <a href="https://help.crisp.chat/en/article/crisp-chatbox-cookie-ip-policy-1147xor/">finalité exclusive de permettre ou faciliter la communication par voie électronique</a>.
  </p>

{% endblock %}
