<p>
  Le projet est soumis à la réglementation sur les espèces protégées. Pour être autorisé, il doit obtenir une dérogation des services de l'État.
</p>

<p>
  ⚠️ Au vu des caractéristiques du projet, aux impacts significatifs, <strong>un inventaire de terrain est nécessaire</strong> pour recenser les espèces protégées présentes dans les haies détruites.
</p>

<p>
  Pour bénéficier d’une procédure allégée et éviter la réalisation de l’inventaire de terrain, il est recommandé de réduire l’impact environnemental du projet :
</p>

<ul>
  <li>en réduisant le linéaire total de haies à détruire</li>
  <li>
    en ne détruisant pas les haies comportant des arbres de haut jet, plus riches écologiquement que les haies basses
  </li>
  <li>
    en ne détruisant pas les haies se situant dans une zone d’intérêt écologique (ZNIEFF I) – <a href="https://cartes.gouv.fr"
    rel="noopener external"
    target="_blank"
    title="cartes.gouv.fr - nouvelle fenêtre">voir sur cartes.gouv.fr</a>
  </li>
</ul>

{% include 'moulinette/_read_more_btn.html' with aria_controls=criterion.unique_slug %}

<div class="more fr-collapse" id="read-more-{{ criterion.unique_slug }}">
  {% include 'moulinette/ep/_species_cortege_ru.html' %}
</div>
