{% load utils %}

<h1 id="moulinette-title" class="fr-h2 centered">Réglementation environnementale : simuler un projet d'aménagement</h1>

<p id="moulinette-subtitle" class="fr-text--lead">
  En quelques clics, le simulateur Envergo vous indique les procédures à suivre pour planifier et sécuriser juridiquement un projet de construction ou d'aménagement.
</p>

<div id="moulinette-grid">
  <div id="moulinette-col" class="fr-col">
    <div id="moulinette" class="moulinette">
      <form class="fr-mb-3w spinner-form"
            method="post"
            novalidate
            autocomplete="off"
            action="{% url 'moulinette_form' %}?{{ request.GET.urlencode|safe }}"
            id="moulinette-form">
        {% csrf_token %}

        {% include '_form_header.html' with form=form %}

        <div id="form-section-coords" class="form-section">

          {{ form.lng.as_hidden }}
          {{ form.lat.as_hidden }}

          {% render_field form.address %}
        </div>

        <div id="form-section-map" class="form-section">
          <div class="fr-input-group fr-input-group-map">
            <div class="fr-mb-3w">
              <label class="step">
                Double-cliquez ou déplacez le marqueur sur la carte pour ajuster
                l'emplacement du projet.
              </label>
            </div>
            <figure class="fr-content-media">
              <div id="map-container"
                   class="ratio-16x9 ratio-sm-4x5 fr-mt-1w fr-raw-link">
                <div class="ratio-content">
                  <div class="leaflet-container">
                    <div id="map"></div>
                  </div>
                </div>
              </div>
            </figure>
            {% if not form.lat.data and form.lat.errors or not form.lng.data and form.lng.errors %}
              <p class="fr-error-text">
                ↑
                Aucune localisation indiquée. Veuillez indiquer l’emplacement du projet sur la carte en double-cliquant.
                ↑
              </p>
            {% elif form.lat.errors or form.lng.errors %}
              <p class="fr-error-text">
                ↑
                Les coordonnées saisies sont incorrectes
                ↑
              </p>
            {% endif %}
          </div>
        </div>

        <div id="form-section-surface" class="form-section">
          <div class="fr-mb-3w">
            <label class="step">Saisissez les surfaces aménagées par le projet</label>
          </div>
          <p class="hint-header">
            <span class="fr-icon-info-fill" aria-hidden="true"></span>
            Surfaces à prendre en compte : bâti, voirie, espaces verts, remblais et bassins — impacts définitifs et
            temporaires (travaux).
          </p>
          {% render_field form.created_surface %}
          {% render_field form.final_surface %}
        </div>
        {% include 'amenagement/moulinette/_form_footer.html' %}
      </form>

      {% include 'amenagement/moulinette/_form_help_sidebars.html' %}

    </div>
  </div>
</div>
