<div id="feedback-form" class="fr-mt-8w">
  <div id="feedback-trigger" class="fr-p-3w fr-callout fr-callout--blue-cumulus">
    <p class="fr-callout__text">💡 Nous aimerions savoir :</p>

    <p class="fr-callout__text"><strong>Cette évaluation vous est-elle utile ?</strong></p>

    <div class="feedback-buttons callout-buttons">

      <button class="fr-btn fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-thumb-up-fill" data-fr-opened="false" data-feedback="Oui" data-label="Une chose que vous appréciez particulièrement ?" aria-controls="feedback-form-dialog">
        Oui
      </button>

      <button class="fr-btn fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-thumb-down-fill" data-fr-opened="false" data-feedback="Non" data-label="Que pouvons-nous améliorer ?" aria-controls="feedback-form-dialog">
        Non
      </button>

    </div>
  </div>
</div>
