<dialog aria-labelledby="feedback-form-dialog-title" role="dialog" id="feedback-form-useful-dialog" class="fr-modal feedback-dialog">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
        <div class="fr-modal__body">
          <form action="{% url 'feedback_submit' %}" method="post">
            {% csrf_token %}

            <div class="fr-modal__header">
              <button class="fr-link--close fr-link" title="Fermer le formulaire de retour" aria-controls="feedback-form-dialog">Fermer</button>
            </div>

            <div class="fr-modal__content">
              <h1 id="feedback-form-dialog-title" class="fr-modal__title">En quoi cette simulation vous est-elle utile ?</h1>

              <div class="feedback-form" id="feedback-form">
                <p class="fr-mb-3w">Pour contribuer à améliorer ce service public et gratuit, vous pouvez nous en dire plus :</p>
                {% include '_form_snippet.html' with form=feedback_form_useful %}
              </div>
            </div>

            <div class="fr-modal__footer">
              <button type="submit" class="fr-btn">Envoyer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</dialog>
