<p>Le projet n’est pas soumis à déclaration préalable au titre de la conditionnalité PAC.</p>

<p>
  En effet, au vu des informations saisies, aucune des haies détruites ne se situe sur des parcelles déclarées à la PAC.
</p>

{% if lineaire_type_4_sur_parcelle_pac > 0 %}
  {% include 'moulinette/_read_more_btn.html' with aria_controls=criterion.unique_slug %}
  <div class="more fr-collapse" id="read-more-{{ criterion.unique_slug }}">
    <p>
      À noter : Les alignements d’arbres ne sont pas concernés par les règles de conditionnalité PAC. Ce simulateur tient compte de cet aspect de la réglementation.
    </p>
  </div>
{% endif %}
