
{% if logs %}
  <table id="sent_history">
    <thead>
      <tr>
        <td>Envoyé le</td>
        <td>Par</td>
        <td>Message</td>
        <td>Destinataires</td>
      </tr>
    </thead>
    <tbody>

      {% for log in logs %}
        <tr class="sent_history_row">
          <td>
            <a href="{% url 'admin:evaluations_regulatorynoticelog_change' log.id %}">
              {{ log.sent_at|date:'SHORT_DATETIME_FORMAT' }}
            </a>
          </td>
          <td>{{ log.sender }}</td>
          <td>
            <a href="{% url 'admin:evaluations_regulatorynoticelog_mail_body' log.id %}">Voir</a>
          </td>
          <td>
            {% if log.to %}
              <p>
                <strong>À :</strong> {{ log.to|join:", " }}
              </p>
            {% endif %}
            {% if log.cc %}
              <p>
                <strong>Cc :</strong> {{ log.cc|join:", " }}
              </p>
            {% endif %}
            {% if log.bcc %}
              <p>
                <strong>Bcc :</strong> {{ log.bcc|join:", " }}
              </p>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <span>Aucun envoi d'email jusqu'à maintenant</span>
{% endif %}
