
{% if logs %}
  <table>
    <thead>
      <tr>
        <td></td>
        <td>Envoyé le</td>
        <td>Par</td>
        <td>Message</td>
        <td>Ouvertures</td>
        <td>Clics</td>
        <td>Evts</td>
      </tr>
    </thead>
    <tbody>

      {% for log in logs %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            <a href="{% url 'admin:evaluations_regulatorynoticelog_change' log.pk %}">
              {{ log.sent_at|date:'SHORT_DATETIME_FORMAT' }}
            </a>
          </td>
          <td>{{ log.sender }}</td>
          <td>
            <a href="{% url 'admin:evaluations_regulatorynoticelog_mail_body' log.pk %}">Voir</a>
          </td>
          <td>
            {{ log.nb_opened }}
            {% if log.nb_opened > 0 %}({{ log.last_opened|date:'SHORT_DATETIME_FORMAT' }}){% endif %}
          </td>
          <td>
            {{ log.nb_clicked }}
            {% if log.nb_clicked > 0 %}({{ log.last_clicked|date:'SHORT_DATETIME_FORMAT' }}){% endif %}
          </td>
          <td>
            {% if log.mail_logs.all %}
              <table>
                <thead>
                  <tr>
                    <th>Évt</th>
                    <th>Date</th>
                    <th>À</th>
                  </tr>
                </thead>
                <tbody>
                  {% for event in log.mail_logs.all %}
                    <tr>
                      <td>{{ event.event }}</td>
                      <td>{{ event.date|date:'SHORT_DATETIME_FORMAT' }}</td>
                      <td>{{ event.recipient }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              Aucun événements
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <span>Il n'y a pas d'envoi associés</span>
{% endif %}
