
{% if logs %}
  <table id="sent_history">
    <thead>
      <tr>
        <td>Envoyé le</td>
        <td>Par</td>
        <td>Message</td>
        <td>Destinataires</td>
      </tr>
    </thead>
    <tbody>

      {% for log in logs %}
        <tr class="sent_history_row">
          <td>
            <a href="{% url 'admin:evaluations_regulatorynoticelog_change' log.id %}">
              {{ log.sent_at|date:'SHORT_DATETIME_FORMAT' }}
            </a>
          </td>
          <td>{{ log.sender }}</td>
          <td>
            <a href="{% url 'admin:evaluations_regulatorynoticelog_mail_body' log.id %}">Voir</a>
          </td>
          <td>
            {% if log.recipient_statuses.all %}
              <table>
                <thead>
                  <tr>
                    <th>Destinataire</th>
                    <th>Statut</th>
                    <th>Maj. statut</th>
                    <th>Nb ouverture</th>
                    <th>Dernière ouverture</th>
                    <th>Nb clics</th>
                    <th>Dernier clic</th>
                  </tr>
                </thead>
                <tbody>
                  {% for status in log.recipient_statuses.all %}
                    <tr class="sent_history_recipient_row{% if status.on_error %} error{% endif %}">
                      <td>{{ status.recipient }}</td>
                      {% if status.on_error %}
                        <td>
                          <abbr title="{{ status.status }} ({{ status.reject_reason|default:"raison inconnue" }})">❗️ Non délivré</abbr>
                        </td>
                      {% else %}
                        <td>{{ status.status }}</td>
                      {% endif %}
                      <td>{{ status.latest_status|date:'SHORT_DATETIME_FORMAT' }}</td>
                      <td>{{ status.nb_opened }}</td>
                      <td>{{ status.latest_opened|date:'SHORT_DATETIME_FORMAT' }}</td>
                      <td>{{ status.nb_clicked }}</td>
                      <td>{{ status.latest_clicked|date:'SHORT_DATETIME_FORMAT' }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <span>Aucun envoi d'email jusqu'à maintenant</span>
{% endif %}
