
{% if versions %}
  <table id="sent_history">
    <thead>
      <tr>
        <td>Créée le</td>
        <td>Par</td>
      </tr>
    </thead>
    <tbody>

      {% for version in versions %}
        <tr class="version_row">
          <td>
            <a href="">
              {{ version.created_at|date:'SHORT_DATETIME_FORMAT' }}
            </a>
          </td>
          <td>{{ version.created_by }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% else %}
  <span>Aucune version existante</span>
{% endif %}
