<p>
  Ce champ doit comporter un tableau au format json comportant une entrée pour chaque champ ou annotation privée à
  pré-remplir dans Démarches Simplifiées avec des données provenant du guichet unique de la haie.
  Chaque entrée comporte les clés suivantes :
</p>
<ul>
  <li>id : l'id du champ ou de l'annotation privée côté Démarches Simplifiées</li>
  <li>value : la source de la valeur côté guichet unique de la haie</li>
  <li>
    mapping (facultatif) : un tableau de correspondance entre les valeurs côté guichet unique de la haie et les
    valeurs côté Démarches Simplifiées
  </li>
</ul>

<h3>Exemple</h3>
<pre>
        [
          {
            "id" : "Q2hhbXAtNDU0Mzk2MQ==",
            "value": "profil",
            "mapping": {
              "autre": "Autre (collectivité, aménageur, gestionnaire de réseau, particulier, etc.)",
              "agri_pac": "Exploitant-e agricole bénéficiaire de la PAC"
            }
          },
          {
            "id" : "Q2hhbXAtNDU1OTU2Mw==",
            "value": "conditionnalite_pac.result",
            "mapping":
            {
              "non_soumis": false,
              "soumis": true
            }
          },
          {
            "id" : "Q2hhbXAtNDU0Mzk0Mw==",
            "value": "url_projet"
          }
        ]
        </pre>

<h3>Comment trouver les ids des champs ou des annotations privées ?</h3>
<p>
  Pour trouver les ids des champs ou des annotations privées, vous pouvez consulter le schéma json de votre démarche :
</p>
<ul>
  <li>
    Trouver le slug (version url du nom) de votre démarche.
    <br />
    Il est affiché à la fin de l'url de commencement dans la carte de votre démarche dans la liste suivante
    <a href="https://www.demarches-simplifiees.fr/admin/procedures"
       target="_blank"
       rel="noopener">https://www.demarches-simplifiees.fr/admin/procedures</a>
  </li>
  <li>
    Compléter puis consulter l'url suivante : https://www.demarches-simplifiees.fr/preremplir/{slug de la démarche}/schema
  </li>
  <li>Les ids des champs sont indiqués ici : revision > champDescriptors > index [0...n] > id</li>
  <li>Les ids des annotations sont indiqués ici : revision > annotationDescriptors > index [0...n] > id</li>
</ul>

<h3>Quelles sont les sources de valeurs autorisées ?</h3>
{% for title, set in sources.items %}
  <h5>{{ title }} :</h5>
  <ul>
    {% for key, label in set %}<li>{{ key }} ({{ label }})</li>{% endfor %}
  </ul>
{% endfor %}

<h3>Comment fonctionne le mapping ?</h3>

<p>
  Ce mapping est nécessaire dans le cas des questions de type choix (simple ou multiple) ou les questions de type
  checkbox. Il faut que la valeur du pré-remplissage soit
  rigoureusement la même que la valeur du label dans Démarches Simplifiées. Si ce n'est pas le cas, il faut utiliser
  le mapping pour faire correspondre les valeurs.
</p>
