{% extends 'base.html' %}

{% block title %}Déclaration d'accessibilité{% endblock %}

{% block breadcrumbs %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="/">Accueil</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Déclaration d'accessibilité</a>
        </li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block article %}
  <h1>Déclaration d'accessibilité</h1>
  <p>
    Cette déclaration d'accessiblité s'applique à envergo.beta.gouv.fr.
  </p>
  <h2>État de conformité</h2>
  <p>
    EnvErgo.beta.gouv.fr n'est pas conforme avec le RGAA 4.1. Étant en phase de
    construction, le site n'a pas encore été audité.
  </p>
{% endblock %}
