{% extends "base.html" %}
{% load static %}

{% block title %}Foire aux questions{% endblock %}

{% block article %}

<h1>Foire aux questions</h1>

<ul class="fr-accordions-group">

  <li>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-loi_sur_leau">
          <span>
            Qu'est-ce que la Loi sur l'eau ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-loi_sur_leau">
        <p>
          La Loi sur l'eau encadre tous les projets qui risquent d'impacter les milieux aquatiques.
        </p>
        <p>
          Si un projet se situe dans <strong>certaines zones de risque</strong> ou dépasse <strong>certains seuils de
            surface</strong> définis par la
          réglementation, le responsable de ce projet doit <strong>obligatoirement déposer un dossier Loi sur
            l'eau</strong>.
        </p>
        <p>
          La liste décrivant les projets soumis à la Loi sur l'eau se situe dans <a
            href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042075042/2020-09-01/">l'article R.214-1 du
            Code de
            l'Environnement</a>, aussi appelée <a
            href="http://www.driee.ile-de-france.developpement-durable.gouv.fr/IMG/pdf/nouvelle_nomenclature_tableau_detaille_complete_diffusable_fev_2021.pdf">nomenclature
            « IOTA » (pour Installations, Ouvrages, Travaux, Activités)</a>. Les
          impacts sur les milieux aquatiques y sont répartis en plusieurs rubriques : ruissellement d'eaux pluviales,
          construction en zone inondable, impact sur les zones humides, etc.
        </p>

        <p>Il y a deux seuils d'impact :</p>
        <ul>
          <li>
            Le seuil (D), pour Déclaration, correspond à des impacts moyens → vous devez faire une <strong>Déclaration
              Loi sur
              l'eau</strong> ;
          </li>
          <li>
            Le seuil (A), pour Autorisation, aux impacts les plus importants → vous devez disposer d'une
            <strong>Autorisation
              Environnementale</strong>.
          </li>
        </ul>
      </div>
    </section>
  </li>

  <li>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-consequences_omission">
          <span>
            Quelles conséquences en cas d'omission ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-consequences_omission">
        <p class="fr-highlight">
          <span class="fr-fi-error-warning-line" aria-hidden="true"></span>
          <strong>Votre demande de Permis de Construire peut être rejetée si vous n'avez pas déposé de dossier Loi sur
            l'eau.</strong>
        </p>
        <p>
          Le service urbanisme qui étudie votre demande est en droit de vous demander des pièces complémentaires, pour
          déterminer si vous avez ou non déposé un dossier Loi sur l'eau pour votre projet.
        </p>
        <p>
          Un contrôle par la police de l'eau peut avoir lieu avant, pendant les travaux, ou après la réalisation du
          projet. Une tierce partie (riverain, association, collectivité) peut déclencher un recours auprès de la
          préfecture.
        </p>
        <p>
          S'il s'avère que le projet est réalisé sans autorisation du préfet, le responsable s'expose à des sanctions
          administratives et pénales, qui peuvent aller jusqu'à :
        </p>

        <ul>
          <li>
            <strong>obligation de remettre le terrain en son état initial, avec une astreinte jusqu'à 1500 € par
              jour ;</strong>
          </li>
          <li>
            un an d'emprisonnement et 75000 € d'amende (<a
              href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042779617/">article L.173-1 du code de
              l'environnement</a>).
          </li>
        </ul>
      </div>
    </section>
  </li>

  <li>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-que_faire">
          <span>
            Que faire si mon projet est soumis à la Loi sur l'eau ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-que_faire">
        <p class="fr-highlight">
          <span class="fr-fi-error-warning-line" aria-hidden="true"></span>
          <strong>
            Vous devez obligatoire déposer un dossier Loi sur l'eau, en plus de la demande de permis de construire.
          </strong>
        </p>
        <p>
          Le dossier de Déclaration Loi sur l'eau est à déposer au guichet unique de l'environnement du département où
          se situe le projet.
        </p>
        <p>
          Ce dossier est traité par le service police de l'eau de la DDT/DDTM (Direction Départementale du Territoire et
          de la Mer).
        </p>
        <p>
          Il suit une procédure d'instruction spécifique, distincte de la demande de permis de construire, avec ses
          délais propres.
        </p>
      </div>
    </section>
  </li>

  <li>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-instruction">
          <span>
            Comment se passe l'instruction du dossier Loi sur l'eau ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-instruction">
        <p class="fr-highlight">
          <span class="fr-fi-error-warning-line" aria-hidden="true"></span>
          <strong>
            L'instruction de votre dossier Loi sur l'eau dure jusqu'à 2 mois.
          </strong>
        </p>
        <p><strong>Dans les 15 jours</strong>, vous recevez un premier retour :</p>
        <ul>
          <li>
            Si le dossier est complet, un récépissé de déclaration ;
          </li>
          <li>
            Si le dossier est incomplet, un accusé de réception demandant des pièces et informations complémentaires.
          </li>
        </ul>

        <p><strong>Dans les 2 mois</strong>, vous recevez la décision du préfet :</p>
        <ul>
          <li>
            il peut s'opposer à la déclaration ;
          </li>
          <li>
            il peut l'accepter, et peut imposer des prescriptions spécifiques à la réalisation du projet.
          </li>
        </ul>
        <p>
          S'il y a des compléments, <strong>ce délai de 2 mois démarre à la réception des pièces complémentaires par la
            préfecture.</strong>
        </p>
      </div>
    </section>
  </li>

  <li>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-reponse-prefecture">
          <span>
            Puis-je commencer les travaux avant d'avoir reçu une réponse de la préfecture ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-reponse-prefecture">
        <p>
          Vous ne pouvez pas démarrer les travaux avant d'avoir reçu une réponse de la préfecture.
        </p>
        <p>
          S'il s'avère que le projet est réalisé sans autorisation du préfet, le responsable s'expose à des sanctions
          administratives et pénales pouvant comprendre
          <strong>obligation de remettre le terrain en son état initial, avec une astreinte jusqu'à 1500 € par
            jour.</strong>
        </p>

      </div>
    </section>
  </li>

  <li>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false"
          aria-controls="accordion-savoir-si-mon-projet-est-soumis">
          <span>
            Comment déterminer si mon projet est soumis à la Loi sur l'eau ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-savoir-si-mon-projet-est-soumis">
        <p>
          Pour déterminer avec certitude si votre projet est soumis à la Loi sur l'eau, il est conseillé de se
          rapprocher :
        </p>

        <p><strong>1/ du service qui instruit les dossiers Loi sur l'eau</strong></p>

        <p>
          Rapprochez-vous de la <abbr title="Direction Départementale des Territoires et de la Mer">
            DDTM</abbr> (Direction Départementale des Territoires et de la Mer) de votre département.
        </p>

        <p><strong>2/ d'un bureau d'études disposant d'une expertise « dossier Loi sur l'eau »</strong></p>

        <p>Les échanges vous permettront de confirmer si votre projet de construction est soumis à la Loi sur l'eau, et
          s'il y a lieu de constituer un dossier et de le déposer aux services de la DDTM (Direction Départementale du
          Territoire et de la Mer).</p>

        <p><strong>3/ de l'équipe EnvErgo</strong></p>

        <p>
          Vous pouvez également <a href="{% url 'contact_us' %}">contacter l'équipe d'EnvErgo</a> – le présent service
          public numérique – afin d'obtenir une
          évaluation de votre dossier ou des précisions sur la procédure à suivre.
        </p>

      </div>
    </section>
  </li>

</ul>

{% endblock %}
