{% extends 'base.html' %}

{% block title %}{{ _("Legal mentions") }}{% endblock %}

{% block top-bar %}{% endblock %}

{% block breadcrumbs %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="/">{{ _("Home") }}</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">{{ _("Legal mentions") }}</a>
        </li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block article %}
  <h1>Mentions légales</h1>

  <h2>Éditeur de la plateforme</h2>

  <p>
    La Fabrique Numérique du Ministère de la Transition écologique et de la Cohésion des territoires (Grande Arche de la Défense, 92055 La Défense CEDEX), avec l'appui de l'incubateur de services numériques beta.gouv.fr de la direction interministérielle du numérique (DINUM).

  </p>

  <h2>Directeur ou directrice de la publication</h2>

  <p>Philippe MAZENC, directeur général de l'aménagement, du logement et de la nature (DGALN).</p>

  <h2>Hébergeur</h2>

  <p>Scalingo SAS, 15 avenue du Rhin, 67100 Strasbourg, France.</p>
{% endblock %}
