{% extends 'base.html' %}

{% load static evaluations leaflet_tags %}

{% block title %}Carte cadastrale{% endblock %}

{% block breadcrumbs %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="/">Accueil</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Carte du cadastre</a>
        </li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <article>
    <h1>Carte cadastrale</h1>

    <div id="errors" class="fr-mb-3w"></div>

    <template id="error-msg-tpl">
      <div class="fr-alert fr-alert--error fr-alert--sm">
        <p class="fr-alert__title">
          Impossible de récupérer des informations sur la parcelle
          <!-- djlint:off --> <i></i> <!-- djlint:on -->
        </p>
        <p class="error-msg"></p>
      </div>
    </template>

    <div class="ratio-4x3">
      <div class="ratio-content">{% leaflet_map 'cadastre_map' callback="window.mapInit" %}</div>
    </div>
  </article>
{% endblock %}

{% block extra_css %}
  {% leaflet_css %}
{% endblock %}

{% block extra_js %}
  {% leaflet_js %}
  <script defer src="{% static 'js/vendors/geojson-rewind.js' %}"></script>
  <script>
    var map;
    function mapInit(newMap, options) {
      map = newMap;

      var layer = L.tileLayer(
        "https://data.geopf.fr/wmts?" +
        "&REQUEST=GetTile" +
        "&SERVICE=WMTS" +
        "&VERSION=1.0.0" +
        "&STYLE=PCI vecteur" +
        "&TILEMATRIXSET=PM" +
        "&FORMAT=image/png" +
        "&LAYER=CADASTRALPARCELS.PARCELLAIRE_EXPRESS" +
        "&TILEMATRIX={z}" +
        "&TILEROW={y}" +
        "&TILECOL={x}", {
          minZoom: 0,
          maxZoom: 18,
          attribution: "IGN-F/Geoportail",
          tileSize: 256 // les tuiles du Géooportail font 256x256px
        }
      );
      layer.addTo(newMap);
      geojsonLayer = L.geoJSON().addTo(map);
    };

    function displayParcels() {
      const url = new URL(window.location.href);
      const params = url.searchParams;
      const parcels = params.getAll('parcel');

      parcels.map(displayParcel);
    };
    window.addEventListener('load', displayParcels);

    function displayParcel(parcelId) {
      var searchUrl = `https://geocodage.ign.fr/look4/parcel/search?q=${parcelId}&returnTrueGeometry=true`;
      fetch(searchUrl)
        .then(response => {
        let responseJson = response.json();

        if (!response.ok) {
          throw new Error(`L'API de l'IGN retourne cette erreur : « ${responseJson.detail[0]} »`);
        }

        return responseJson;
      })
        .then(response => {
        if (response.features.length == 0) {
          throw new Error("La parcelle est inconnue de l'API.");
        }
        var features = response.features[0];
        var coordinates = features.geometry.coordinates;
        var parcel = rewind(features.properties.trueGeometry);
        geojsonLayer.addData(parcel);

        map.setView([coordinates[1], coordinates[0]], 18);
      })
        .catch(error => {
        let errors = document.getElementById('errors');
        let errorTpl = document.getElementById('error-msg-tpl');
        let errorTplContent = document.importNode(errorTpl.content, true);
        let parcelSlot = errorTplContent.querySelector('i');
        parcelSlot.textContent = parcelId;
        let msgSlot = errorTplContent.querySelector('.error-msg');
        msgSlot.textContent = error.message;
        errors.appendChild(errorTplContent);
      });
    };
  </script>
{% endblock %}
