{% extends 'base.html' %}

{% block title %}Vérificateur de liens morts{% endblock %}

{% block content %}

  <h1>Vérification les liens morts</h1>
  <p class="fr-text--lead">Cet outil vérifie la validité des liens externes connus par Matomo.</p>

  <form action="" method="post">
    {% csrf_token %}

    <div class="fr-alert fr-alert--info fr-mb-3w">
      <h3 class="fr-alert__title">Soyez patient(e)</h3>
      <p>
        La vérification nécessite de générer une requête http vers chaque url du rapport. Quelques secondes de patience seront nécessaires.
      </p>
    </div>

    <button type="submit" class="fr-btn fr-btn-primary">Lancer la vérification</button>
  </form>

  {% if links %}
    <div class="fr-table fr-table--bordered">
      <table>
        <thead>
          <tr>
            <th>URL</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>
          {% for link in links %}
            <tr class="fr-highlight--{% if link.status == 200 %}green-emeraude{% else %}orange-terre-battue{% endif %}">
              <td>
                <a target="_blank" rel="noopener" href="{{ link.url }}">{{ link.label }}</a>
              </td>
              <td>
                <a href="https://developer.mozilla.org/fr/docs/Web/HTTP/Status/{{ link.status }}">{{ link.status }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {% if errors %}

    <h2>Erreurs d'analyse</h2>
    <p>Ces urls n'ont pas pu être analysées</p>
    <div class="fr-table fr-table--bordered">
      <table>
        <thead>
          <tr>
            <th>URL</th>
            <th>Erreur</th>
          </tr>
        </thead>
        <tbody>
          {% for error in errors %}
            <tr>
              <td>
                <a target="_blank" rel="noopener" href="{{ error.url }}">{{ error.label }}</a>
              </td>
              <td>{{ error.error }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
