{% extends 'base.html' %}
{% load static %}

{% block title %}Statistiques{% endblock %}

{% block article %}
  <h1>Nos statistiques publiques</h1>

  <div class="fr-container-fluid">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-md-6">
        <div class="fr-card fr-card--no-arrow ">
          <div class="fr-card__body">
            <p class="fr-card__desc fr-h1">10</p>
            <p class="fr-card__desc fr-h6 fr-mb-0">Collectivités ont déposé au moins un dossier</p>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-md-6">
        <div class="fr-card fr-card--no-arrow ">
          <div class="fr-card__body">
            <p class="fr-card__desc fr-h1">50</p>
            <p class="fr-card__desc fr-h6 fr-mb-0">Projets ont été analysés par l'équipe EnvErgo</p>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-md-6">
        <div class="fr-card fr-card--no-arrow ">
          <div class="fr-card__body">
            <p class="fr-card__desc fr-h1">6</p>
            <p class="fr-card__desc fr-h6 fr-mb-0">Projets soumis à la Loi sur l'eau ont été détectés</p>
          </div>
        </div>
      </div>
      <div class="fr-col-12 fr-col-md-6">
        <div class="fr-card fr-card--no-arrow ">
          <div class="fr-card__body">
            <p class="fr-card__desc fr-h1">175</p>
            <p class="fr-card__desc fr-h6 fr-mb-0">Litres de cafés ont été consommés</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
