{% extends 'base.html' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block top-bar %}{% endblock %}

{% block breadcrumbs %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="/">{{ _("Home") }}</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Conditions générales d'utilisation</a>
        </li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block article %}
  <h1>Conditions générales d'utilisation</h1>

  <h2>Article 1 - Champ d'application</h2>
  <p>
    Le présent document a pour objectif d'encadrer l'utilisation d'EnvErgo (ci-après le "Service") par les Utilisateurs.
  </p>
  <p>L'accès au Service est libre, facultatif et gratuit.</p>
  <p>
    Les présentes conditions d'utilisation (CGU) sont mises en œuvre conformément à l'article L. 112-9 du code des relations entre le public et l'administration. Elles s'imposent de plein droit aux Utilisateurs avec ou sans compte.
  </p>
  <h2>Article 2 - Objet</h2>
  <p>Le Service a pour objectifs de :</p>
  <ul>
    <li>
      Sensibiliser et d'informer les Utilisateurs aux règles et procédures environnementales applicables aux projets d'urbanisme;
    </li>
    <li>
      Permettre aux particuliers, aux agents des centres instructeurs ou toutes autres personnes intéressées d'obtenir des informations sur les procédures prévues par le code de l'environnement (ex : Loi sur l'eau, Natura 2000, évaluation environnementale...) susceptibles de s'appliquer à une parcelle ou tout projet de construction ou d'aménagement;
    </li>
    <li>
      Accompagner les Utilisateurs dans leurs démarches de mise en conformité de leur projet de construction ou d'aménagement.
    </li>
  </ul>
  <p>
    Le Service ne délivre que des informations indicatives qui ne se substituent en aucun cas à un examen par les services instructeurs compétents.
  </p>
  <h2>Article 3 - Définitions</h2>
  <p>
    "Utilisateur" : désigne toute personne (particulier, agent public, bureau d'études etc.) qui utilise le simulateur, demande un avis réglementaire ou consulte EnvErgo.
  </p>
  <p>"Service" : désigne toutes les fonctionnalités offertes par EnvErgo pour répondre à ses finalités.</p>
  <p>
    "L'Éditeur" : l'équipe d'EnvErgo rattachée à la Direction Générale de l'Aménagement, du Logement et de la Nature du Ministère de la Transition Écologique et de la Cohésion des territoires.
  </p>
  <h2>Article 4 - Fonctionnalités</h2>
  <p>L'accès aux fonctionnalités du Service est possible avec ou sans création d'un compte.</p>
  <h3>4.1 Création et connexion à un compte</h3>
  <p>
    La création du compte nécessite de renseigner les informations suivantes : nom, prénom et adresse électronique. L'Utilisateur se connecte en saisissant son adresse électronique et son mot de passe.
  </p>
  <h3>4.2 Consultation d'informations sur la réglementation environnement</h3>
  <p>
    L'Utilisateur dispose de ressources documentaires sur les réglementations environnementales applicables aux projets d'urbanisme (ex : Loi sur l'eau, Natura 2000, évaluation environnementale...).
  </p>
  <h3>4.3 Utilisation d'un simulateur</h3>
  <p>
    Le Service propose à tout Utilisateur via un simulateur de connaître la réglementation et les procédures environnementales applicables à un projet de construction ou d'aménagement, en fonction de sa localisation et de ses caractéristiques.
  </p>

  <p>
    Ce simulateur propose des informations à titre indicatif qui en aucune circonstance ne dispense l'Utilisateur de mener les études préalables, de déposer les dossiers administratifs auprès des services instructeurs compétents, ni de suivre les procédures réglementaires qui s'imposent à un projet dont les caractéristiques ont été saisies dans le simulateur demande.
  </p>
  <h3>4.4 Demande d'un "avis réglementaire"</h3>
  <p>
    L'Utilisateur en renseignant les caractéristiques précises d'un projet d'aménagement ou de construction (ex : localisation, documents descriptifs, Cerfa de demande d'autorisation d'urbanisme, etc.) peut obtenir en 3 jours ouvrés des informations indicatives sur les réglementations et procédures environnementales susceptibles de s'appliquer à son projet via un "avis réglementaire".
  </p>
  <p>
    Cet "avis réglementaire" ne constitue pas une autorisation, ni une décision administrative, ni une dispense de solliciter les services instructeurs compétents. Il s'agit d'une simple information qui n'est pas créatrice de droits, ni d'obligations.
  </p>
  <h2>Article 5 - Déploiement du Service</h2>
  <p>
    Le Service est en cours de déploiement sur le territoire français. La liste des départements dans lequel le service est opérationnel est disponible au lien suivant : <a href="https://envergo.beta.gouv.fr/foire-aux-questions/departments-disponibles/">https://envergo.beta.gouv.fr/foire-aux-questions/departments-disponibles/</a>
  </p>
  <h2>Article 6 - Responsabilités</h2>
  <h3>6.1 EnvErgo</h3>
  <p>
    Les sources des informations diffusées sur le Service sont réputées fiables mais le Service ne garantit pas qu'elles soient exemptes de défauts, d'erreurs ou d'omissions.
  </p>
  <p>
    Le Service ne délivre aucune autorisation ou décision administrative créatrice de droits pour les Utilisateurs. Il s'agit d'un portail que peuvent consulter les Utilisateurs à titre informatif.
  </p>
  <p>
    L'Editeur s'autorise à suspendre ou révoquer n'importe quel compte et toutes les actions réalisées par ce biais, s'il estime que l'usage réalisé du service porte préjudice à son image ou ne correspond pas aux exigences de sécurité.
  </p>
  <p>
    L'Editeur s'engage à la sécurisation du Service, notamment en prenant toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies. L'Éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu, sans contrepartie financière.
  </p>
  <p>
    Il se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, le Service pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.
  </p>
  <h3>6.2 L'Utilisateur</h3>
  <p>
    L'Utilisateur disposant d'un compte s'assure de garder ses identifiants de connexion (courrier électronique et mot de passe secret). Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il assume les risques liés à l'utilisation de son identifiant et mot de passe.
  </p>
  <p>
    L'Utilisateur déclare être pleinement informé et conscient que le Service ne délivre aucune autorisation ou décision administrative créatrice de droits pour les Utilisateurs. Il s'agit d'un portail que peuvent consulter les Utilisateurs à titre informatif.
  </p>
  <p>
    L'Utilisateur s'engage à communiquer des données strictement nécessaires au traitement de la demande "d'avis réglementaire". Il s'abstient en particulier de mentionner des informations "sensibles" au sens du RGPD (ex : opinions politiques, philosophiques, religieuses ou des données de santé) et plus globalement tout propos contraire à la loi (ex : injure, obscénité, diffamation…).
  </p>
  <p>
    L'Utilisateur est tenu de respecter les dispositions prévues par le règlement (UE) 2016/679 dit RGPD et loi n° 78-17 dite "informatique et liberté". L'Utilisateur a qualité de responsable de traitement à l'égard des données à caractère personnel collectées auprès de tiers qu'il importe dans le Service et veille notamment à informer les personnes du traitement de ces données dans le Service.
  </p>
  <p>
    Il s'engage à ne pas commercialiser les données reçues et à ne pas les communiquer à des tiers en dehors des cas prévus par la loi. Toute information transmise par l'Utilisateur est de sa seule responsabilité.
  </p>
  <p>
    Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s'expose, notamment, aux sanctions prévues à l'article 441-1 du code pénal, prévoyant des peines pouvant aller jusqu'à trois ans d'emprisonnement et 45 000 euros d'amende.
  </p>
  <h2>Article 7 - Mise à jour des conditions générales d'utilisation</h2>
  <p>
    Les termes des présentes conditions générales d'utilisation peuvent être amendés à tout moment, sans préavis, en fonction des modifications apportées au Service, de l'évolution de la législation ou pour tout autre motif jugé nécessaire.
  </p>

{% endblock %}
