{% extends "base.html" %}
{% load static %}

{% block title %}Qu'est-ce que la Loi sur l'eau ?{% endblock %}

{% block container %}
<div class="fr-grid-row fr-grid-row--center">
  <article class="fr-col fr-col-md-8">
    <h1 id="questcequelaloisurleau">Qu'est-ce que la Loi sur l'eau ?</h1>

    <p class="fr-text--lead">La Loi sur l'eau encadre tous les projets qui risquent d'impacter l'eau et les
      milieux aquatiques.</p>

    <p class="fr-highlight">Si un projet se situe dans <strong>certaines zones de risque</strong> ou dépasse
      <strong>certains seuils
        de surface</strong> définis par la réglementation, le responsable de ce projet doit
      <strong>obligatoirement déposer un dossier Loi sur l'eau</strong>. Il suit une procédure
      d'instruction spécifique, distincte de la demande de permis de construire, avec
      ses délais propres.</p>

    <p>La Loi sur l'eau est <a target="_blank" rel="noopener"
        href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042075042/2020-09-01/">inscrite dans l'article
        R
        214-1 du Code de l'Environnement</a>, et dans <a target="_blank" rel="noopener"
        href="http://www.driee.ile-de-france.developpement-durable.gouv.fr/IMG/pdf/nouvelle_nomenclature_tableau_detaille_complete_diffusable_fev_2021.pdf">la
        nomenclature dite « IOTA » (pour Installations, Ouvrages, Travaux, Activités)</a>. Les impacts sur les milieux
      aquatiques sont décrits dans plusieurs rubriques :</p>

    <ul>
      <li>modification du ruissellement d'eaux pluviales ;</li>

      <li>construction en zone inondable ;</li>

      <li>assèchement de zones humides ou impact sur un cours d'eau, etc.</li>
    </ul>

    <h2 id="quellesconsquencesencasdomission">Quelles conséquences en cas d'omission ?</h2>

    <p>Un contrôle spontané par la police de l'eau peut avoir lieu avant, pendant les
      travaux, ou après la réalisation du projet. Une tierce partie (riverain,
      association, collectivité) peut également déclencher un recours auprès de la
      préfecture.</p>

    <p>S'il s'avère que projet est réalisé sans autorisation du préfet, le responsable
      s'expose à des sanctions administratives et pénales, qui peuvent aller jusqu'à :</p>

    <ul>
      <li><strong>obligation de remettre le terrain en son état initial</strong> ;</li>

      <li>un an d'emprisonnement et 75000€ d'amende (<a target="_blank" rel="noopener"
          href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042779617/">article L.173-1 du code de
          l'environnement</a>)</li>
    </ul>

    <h2 id="quefautilsavoirsurlaprocdurededclarationloisurleau">Que faut-il savoir sur la procédure de déclaration Loi
      sur
      l'eau ?</h2>

    <h3 class="fr-h6">1/ C'est une procédure spécifique, à effectuer en plus de la demande de permis
      de construire</h3>

    <p>La déclaration Loi sur l'eau est traitée par la préfecture de votre
      département, au sein du service Police de l'eau de la DDT(M), Direction
      Départementale du Territoire et de la Mer.</p>

    <p>Son appellation « Déclaration » ne signifie pas qu'il s'agit d'une procédure
      déclarative sans obligation associée. Au contraire, elle déclenche une
      véritable instruction sur le fond du projet, qui peut aboutir :</p>

    <ul>
      <li>à un accord ;</li>

      <li>à un accord sous conditions, sous la forme d'un arrêté de prescriptions particulières qui devront être
        respectées
        ;</li>

      <li>à un refus, sous la forme d'un arrêté d'opposition à la déclaration.</li>
    </ul>

    <h3 class="fr-h6">2/ L'instruction d'un dossier de déclaration Loi sur l'eau peut prendre jusqu'à
      2 mois, voire près de 6 mois s'il nécessite des demandes de complément</h3>

    <p>À partir de la date de dépôt du dossier Loi sur l'eau :</p>

    <ul>
      <li>Si le dossier est complet, le délai maximal pour obtenir une décision de la
        DDTM est de 2 mois. Vous recevez un récépissé de déclaration. Une absence de
        réponse au bout de ces 2 mois vaut accord tacite.</li>

      <li>Si des compléments au dossier sont nécessaires, la DDT(M) a quinze jours pour
        vous en adresser la demande. Vous avez alors 3 mois pour apporter les pièces
        complémentaires, sans quoi le projet est rejeté automatiquement. Le délai
        d'instruction de 2 mois redémarre à la date de réception des compléments par
        la DDT(M).</li>
    </ul>

    <p class="fr-highlight">Vous ne pouvez pas démarrer les travaux avant la fin de l'instruction par la
      préfecture, sauf si le récepissé de déclaration en fait explicitement mention.</p>

    <p>Nous vous invitons à vous rapprocher du service Police de l'eau de votre
      département pour obtenir les informations qui doivent figurer dans le dossier
      Loi sur l'eau, et ainsi éviter de déposer un dossier incomplet et d'allonger
      les délais d'instruction.</p>

    <h3 class="fr-h6">3/ Si votre projet est soumis à la Loi sur l'eau, il vous faut donc bien
      articuler les deux procédures d'instruction Permis de construire et Loi sur
      l'eau, qui peuvent s'influencer l'une l'autre</h3>

    <p>Dans le formulaire de demande de permis de construire (<a target="_blank" rel="noopener"
        href="https://www.service-public.fr/particuliers/vosdroits/R20835">Cerfa 13409-07</a>), le
      cadre n°8 sert à informer le service urbanisme des démarches menées au titre de
      la Loi sur l'eau.</p>

    <ul>
      <li>La première case du cadre n°8 doit être cochée si votre projet est soumis à
        Déclaration au titre de la nomenclature IOTA :


        <figure class="fr-content-media" role="group"
          aria-label="Pensez à cocher la case appropriée si votre projet est soumis à la Loi sur l'eau">
          <img src="{% static '/images/capture_cerfa.png' %}" class="fr-responsive-img"
            alt="Extrait du formulaire Cerfa 13409-07, cadre 8. La première case est cochée." />
          <figcaption class="fr-content-media__caption">Pensez à cocher la case appropriée si votre projet est soumis à
            la Loi sur l'eau</figcaption>
        </figure>
      </li>

      <li>La deuxième case du cadre n°8 doit être cochée si votre projet est soumis à
        Autorisation au titre de la nomenclature IOTA, qui correspond à un niveau
        d'impact plus élevé que celui de la Déclaration.</li>
    </ul>

    <p>Le service urbanisme qui étudie votre demande est en droit de vous demander :</p>

    <ul>
      <li>si la case n'est pas cochée, des pièces prouvant que le projet n'est pas
        soumis à la Loi sur l'eau ;</li>

      <li>si la case est cochée, les pièces prouvant que vous avez déposé un dossier
        Loi sur l'eau et reçu un accord, et les éventuelles prescriptions
        préfectorales.</li>
    </ul>
  </article>
</div>
{% endblock %}
