{% extends "base.html" %}
{% load static %}

{% block title %}Qu'est-ce que la Loi sur l'eau ?{% endblock %}

{% block article %}
  <h1 id="questcequelaloisurleau">Qu'est-ce que la Loi sur l'eau ?</h1>

  <p class="fr-text--lead">La Loi sur l'eau encadre tous les projets qui risquent d'impacter l'eau et les
    milieux aquatiques.</p>

  <div id="water-law-accordion">

    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-loi_sur_leau">
          <span>
            Qu'est-ce que la Loi sur l'eau ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-loi_sur_leau">
        <p>
          La Loi sur l'eau encadre tous les projets qui risquent d'impacter les milieux aquatiques.
        </p>
        <p class="fr-highlight">
          Si un projet se situe dans <strong>certaines zones de risque</strong> ou dépasse <strong>certains seuils de
            surface</strong> définis par la
          réglementation, le responsable de ce projet doit <strong>obligatoirement déposer un dossier Loi sur
            l'eau</strong>.
        </p>
        <p>
          La liste décrivant les projets soumis à la Loi sur l'eau se situe dans <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042075042/2020-09-01/" target="_blank" rel="noopener">l'article R.214-1 du
            Code de
            l'Environnement</a>, aussi appelée <a href="http://www.driee.ile-de-france.developpement-durable.gouv.fr/IMG/pdf/nouvelle_nomenclature_tableau_detaille_complete_diffusable-2.pdf" target="_blank" rel="noopener">nomenclature
              « IOTA » (pour Installations, Ouvrages, Travaux, Activités)</a>.
        </p>
        <p>
          Les impacts sur les milieux aquatiques y sont répartis en plusieurs rubriques :
        </p>

        <ul>
          <li>modification du ruissellement d'eaux pluviales ;</li>
          <li>construction en zone inondable ;</li>
          <li>assèchement de zones humides ou impact sur un cours d'eau, etc.</li>
        </ul>

        <p>Il y a deux seuils d'impact :</p>
        <ul>
          <li>
            Le seuil (D), pour Déclaration, correspond à des impacts moyens → vous devez faire une <strong>Déclaration
              Loi sur
              l'eau</strong> ;
          </li>
          <li>
            Le seuil (A), pour Autorisation, aux impacts les plus importants → vous devez disposer d'une
            <strong>Autorisation
              Environnementale</strong>.
          </li>
        </ul>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-que_faire">
          <span>
            Que faire si mon projet est soumis à la Loi sur l'eau ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-que_faire">
        <p class="fr-highlight">
          <span class="fr-fi-error-warning-line" aria-hidden="true"></span>
          <strong>
            Vous devez obligatoire déposer un dossier de déclaration Loi sur l'eau, en plus de la demande de permis de
            construire.
          </strong>
        </p>
        <p>
          Le dossier de Déclaration Loi sur l'eau est à déposer au guichet unique de l'environnement du département où
          se situe le projet.
        </p>
        <p>
          Ce dossier est traité par le service police de l'eau de la DDT/DDTM (Direction Départementale des Territoires et
          de la Mer).
        </p>
        <p>
          Il suit une procédure d'instruction spécifique, distincte de la demande de permis de construire, avec ses
          délais propres.
        </p>

        <p class="fr-highlight">Son appellation « Déclaration » <strong>ne signifie pas qu'il s'agit d'une procédure
          déclarative sans obligation associée</strong>. Au contraire, elle déclenche une
          véritable instruction sur le fond du projet, qui peut aboutir :</p>

        <ul>
          <li>à un accord ;</li>

          <li>à un accord sous conditions, sous la forme d'un arrêté de prescriptions particulières qui devront être
            respectées
            ;</li>

          <li>à un refus, sous la forme d'un arrêté d'opposition à la déclaration.</li>
        </ul>

      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-permis-construire">
          <span>
            Quel est le lien entre la déclaration Loi sur l'eau et le permis de construire ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-permis-construire">
        <p>
          La déclaration Loi sur l'eau est une procédure spécifique, à effectuer en plus de la demande de permis de
          construire.
        </p>

        <p class="fr-highlight">
          Si votre projet est soumis à la Loi sur l'eau, <strong>il vous faut donc bien articuler les deux procédures
            d'instruction</strong> (Permis de construire / Loi sur l'eau) qui peuvent <strong>s'influencer l'une
              l'autre</strong>.
        </p>

        <p>Dans le formulaire de demande de permis de construire hors maison individuelle ou permis d'aménager (<a target="_blank" rel="noopener" href="https://www.service-public.fr/particuliers/vosdroits/R20835">Cerfa
          13409-07</a>), le
          cadre n°8 sert à informer le service urbanisme des démarches menées au titre de
          la Loi sur l'eau.</p>

        <ul>
          <li>La première case du cadre n°8 doit être cochée si votre projet est soumis à
            Déclaration au titre de la nomenclature IOTA :


            <figure class="fr-content-media" role="group" aria-label="Pensez à cocher la case appropriée si votre projet est soumis à la Loi sur l'eau">
              <img src="{% static 'images/capture_cerfa.png' %}" class="fr-responsive-img" alt="Extrait du formulaire Cerfa 13409-07, cadre 8. La première case est cochée." />
              <figcaption class="fr-content-media__caption">Pensez à cocher la case appropriée si votre projet est
                soumis à
                la Loi sur l'eau</figcaption>
            </figure>
          </li>

          <li>La deuxième case du cadre n°8 doit être cochée si votre projet est soumis à
            Autorisation au titre de la nomenclature IOTA, qui correspond à un niveau
            d'impact plus élevé que celui de la Déclaration.</li>
        </ul>

        <p>Le service urbanisme qui étudie votre demande est en droit de vous demander :</p>

        <ul>
          <li>si la case n'est pas cochée, des pièces prouvant que le projet n'est pas
            soumis à la Loi sur l'eau ;</li>

          <li>si la case est cochée, les pièces prouvant que vous avez déposé un dossier
            Loi sur l'eau et reçu un accord, et les éventuelles prescriptions
            préfectorales.</li>
        </ul>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-instruction">
          <span>
            Comment se passe l'instruction du dossier Loi sur l'eau ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-instruction">
        <p class="fr-highlight">
          <span class="fr-fi-error-warning-line" aria-hidden="true"></span>
          <strong>
            L'instruction d'un dossier de déclaration Loi sur l'eau peut prendre jusqu'à 2 mois, voire près de 6 mois
            s'il nécessite des demandes de complément.
          </strong>
        </p>
        <p><strong>Dans les 15 jours</strong> après dépôt de votre dossier, vous recevez un premier retour :</p>
        <ul>
          <li>
            Si le dossier est complet, un récépissé de déclaration ;
          </li>
          <li>
            Si le dossier est incomplet, un accusé de réception demandant des pièces et informations complémentaires.
          </li>
        </ul>

        <p>
          Si des compléments au dossier sont nécessaires, vous avez alors 3 mois pour apporter les pièces
          complémentaires, sans quoi le projet est rejeté automatiquement.
        </p>
        <p>
          Le délai d'instruction de 2 mois redémarre à la date de réception des compléments par la DDT(M).
        </p>

        <p><strong>Dans les 2 mois</strong> après réception du récépissé, vous recevez la décision du préfet :</p>
        <ul>
          <li>
            il peut s'opposer à la déclaration ;
          </li>
          <li>
            il peut l'accepter, et peut imposer des prescriptions spécifiques à la réalisation du projet.
          </li>
        </ul>
        <p>
          Nous vous invitons à vous rapprocher du service Police de l'eau de votre département pour obtenir les
          informations qui doivent figurer dans le dossier Loi sur l'eau, et ainsi éviter de déposer un dossier
          incomplet et d'allonger les délais d'instruction.
        </p>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-reponse-prefecture">
          <span>
            Puis-je commencer les travaux avant d'avoir reçu une réponse de la préfecture ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-reponse-prefecture">
        <p>
          Vous ne pouvez pas démarrer les travaux avant d'avoir reçu une réponse de la préfecture.
        </p>
        <p>
          S'il s'avère que le projet est réalisé sans autorisation du préfet, le responsable s'expose à des sanctions
          administratives et pénales pouvant comprendre
          <strong>obligation de remettre le terrain en son état initial, avec une astreinte jusqu'à 1500 € par
            jour.</strong>
        </p>

        <p>
          Toutefois, dans certains cas, le récepissé de déclaration mentionne explicitement la possibilité de démarrer
          les travaux.
        </p>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-consequences_omission">
          <span>
            Quelles sont les conséquences en cas d'omission ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-consequences_omission">
        <p class="fr-highlight">
          <span class="fr-fi-error-warning-line" aria-hidden="true"></span>
          <strong>Votre demande de permis de construire peut être rejetée si vous n'avez pas déposé de dossier Loi sur
            l'eau.</strong>
        </p>
        <p>
          Le service urbanisme qui étudie votre demande est en droit de vous demander des pièces complémentaires, pour
          déterminer si vous avez ou non déposé un dossier Loi sur l'eau pour votre projet.
        </p>
        <p>
          Un contrôle par la police de l'eau peut avoir lieu avant, pendant les travaux, ou après la réalisation du
          projet. Une tierce partie (riverain, association, collectivité) peut déclencher un recours auprès de la
          préfecture.
        </p>
        <p>
          S'il s'avère que le projet est réalisé sans autorisation du préfet, le responsable s'expose à des sanctions
          administratives et pénales, qui peuvent aller jusqu'à :
        </p>

        <ul>
          <li>
            <strong>obligation de remettre le terrain en son état initial, avec une astreinte jusqu'à 1500 € par
              jour ;</strong>
          </li>
          <li>
            un an d'emprisonnement et 75000 € d'amende (<a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000042779617/" target="_blank" rel="noopener">article L.173-1 du code de
              l'environnement</a>).
          </li>
        </ul>
      </div>
    </section>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-savoir-si-mon-projet-est-soumis">
          <span>
            Comment déterminer si mon projet est soumis à la Loi sur l'eau ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-savoir-si-mon-projet-est-soumis">
        <p>
          Pour déterminer avec certitude si votre projet est soumis à la Loi sur l'eau, il est conseillé de se
          rapprocher :
        </p>

        <ul>
          <li>
            <p><strong>Du service qui instruit les dossiers Loi sur l'eau</strong></p>
            <p>
              Rapprochez-vous de la <abbr title="Direction Départementale des Territoires et de la Mer">
                DDTM</abbr> (Direction Départementale des Territoires et de la Mer) de votre département.
            </p>

          </li>
          <li>
            <p><strong>D'un bureau d'études disposant d'une expertise « dossier Loi sur l'eau »</strong> </p>
            <p>Les échanges vous permettront de confirmer si votre projet de construction est soumis à la Loi sur l'eau, et s'il y a lieu de constituer un dossier et de le déposer aux services de la DDTM (Direction Départementale des Territoires et de la Mer).</p>
          </li>
          <li>
            <p><strong>De l'équipe EnvErgo</strong></p>
            <p>
              Vous pouvez également <a href="{% url 'contact_us' %}">contacter l'équipe d'EnvErgo</a> – le présent
              service public numérique – afin d'obtenir des précisions sur cette évaluation ou sur la procédure à suivre.
            </p>

          </li>
        </ul>
      </div>
    </section><section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-determiner-presence-zone-humide">
          <span>
            Comment déterminer la présence d'une zone humide ?
          </span>
        </button>
      </h3>

      <div class="fr-collapse" id="accordion-determiner-presence-zone-humide">
        <p>
          La détermination de la présence d'une zone humide se fait sur deux critères :
        </p>

        <ul>
          <li>critère relatif à l'hydromorphologie des sols ;</li>
          <li> critère relatif aux plantes hygrophiles qu'on ne trouve qu'en zone humide.</li>
        </ul>
        <p>
          Seule l'absence de ces deux critères sur toute une année permet de conclure que l'endroit n'est pas une zone humide.
        </p>
        <p>
          Ce travail est généralement confié a un bureau d'étude spécialisé.
        </p>
        <p>
          Pour plus d'informations, vous pouvez consulter <a target="_blank" rel="noopener" href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000019151510/">l'arrêté du 24 juin 2008 précisant les critères de définition et de délimitation des zones humides</a>.
        </p>
      </div>
    </section>
  </div>
{% endblock %}

{% block extra_js %}
  <script defer src="{% static 'js/libs/accordion_analytics.js' %}"></script>
  <script>
    window.addEventListener('load', function() {
      const accordion = document.getElementById('water-law-accordion');
      new AccordionAnalytics(accordion);
    });
  </script>

{% endblock %}
