{% load static i18n compress%}
<!DOCTYPE html>
<html lang="fr" data-fr-theme>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}EnvErgo{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="Améliorer la transparence des décisions de l'État sur la Loi sur l'Eau">
  <meta name="author" content="MTES">


  <link rel="apple-touch-icon" href="/static/@gouvfr/dsfr/dist/favicons/apple-touch-icon.png">
  <link rel="icon" href="/static/@gouvfr/dsfr/dist/favicons/favicon.svg" type="image/svg+xml">
  <link rel="shortcut icon" href="/static/@gouvfr/dsfr/dist/favicons/favicon.ico" type="image/x-icon">

  {% block css %}
  {% compress css %}
  <link href="/static/@gouvfr/dsfr/dist/css/dsfr.css" rel="stylesheet">
  <link href="/static/css/project.css" rel="stylesheet">
  {% endcompress %}
  {% block extra_css %}{% endblock %}
  {% endblock css %}

  {% block javascript %}
  {% compress js %}
  <script defer type="module" src="/static/@gouvfr/dsfr/dist/js/dsfr.module.js"></script>
  <script defer type="text/javascript" nomodule src="/static/@gouvfr/dsfr/dist/js/dsfr.nomodule.js"></script>
  {% endcompress %}
  {% block extra_js %}{% endblock %}
  {% endblock javascript %}
</head>

<body>

  {% include '_skiplinks.html' %}

  <header role="banner" class="fr-header">
    {% block header %}
    {% include '_header.html' %}
    {% endblock %}
  </header>

  <main role="main" id="contenu">
    {% block main %}
    <div class="fr-container fr-py-6w">
      {% block container %}
      {% endblock %}
    </div>
    {% endblock %}
  </main>

  <footer role="contentinfo" class="fr-footer" id="footer">
    {% block footer %}
    {% include '_footer.html' %}
    {% endblock %}
  </footer>
</body>

</html>
