{% load utils %}

<div id="form-group-{{ field.html_name }}"
     class="fr-input-group fr-checkbox-group{% if field.field.required %} required{% endif %}{% if field.errors %} fr-checkbox-group--error fr-input-group--error{% endif %}">

  {% if nest_field_class %}<div class="{{ nest_field_class }}">{% endif %}

    {{ field }}

    {% if nest_field_class %}</div>{% endif %}

  <label class="fr-label" for="{{ field.id_for_label }}">
    <span class="label-content">{{ field.label }}</span>
    {% if field.help_text %}<span class="fr-hint-text">{{ field.help_text|safe }}</span>{% endif %}
  </label>

  {% if field.errors %}
    <p class="fr-error-text">
      ↑
      {{ field.errors.0 }}
      ↑
    </p>
  {% endif %}
</div>
