{% load utils %}

<div id="form-group-{{ field.html_name }}"
     class="fr-input-group{% if field.field.required %} required{% endif %}{% if field.errors %} fr-input-group--error{% endif %}">
  <fieldset class="fr-fieldset {{ field.field.widget.fieldset_class }} {% if field.errors %}fr-fieldset--error{% endif %}"
            role="group"
            id="id_{{ field.html_name }}"
            {% if field.errors %}aria-labelledby="legend-{{ field.html_name }} error-text-{{ field.html_name }}"{% endif %}>

    {% if field.label or field.help_text %}
      <legend class="fr-fieldset__legend fr-text--bold"
              id="legend-{{ field.html_name }}">
        {{ field.label }}
        {% if field.help_text %}<span class="fr-hint-text">{{ field.help_text|safe }}</span>{% endif %}
      </legend>
    {% endif %}

    <div class="fr-fieldset__content">
      {% for radio in field %}
        <div class="fr-radio-group">
          {{ radio.tag }}
          <label class="fr-label" for="{{ radio.id_for_label }}">
            {% if radio.choice_label.label %}
              {{ radio.choice_label.label }}
              {% if radio.choice_label.help_text %}
                <span class="fr-hint-text">{{ radio.choice_label.help_text|safe }}</span>
              {% endif %}
            {% else %}
              {{ radio.choice_label }}
            {% endif %}
          </label>
        </div>
      {% endfor %}
    </div>

    {% if field.errors %}
      <p id="error-text-{{ field.html_name }}" class="fr-error-text">
        ↑
        {{ field.errors.0 }}
        ↑
      </p>
    {% endif %}

  </fieldset>
</div>
