{% load petitions %}
{% load utils %}

<h5 class="fr-mt-3w">Calcul de la compensation attendue</h5>

<ul class="instructor-view-list">
  {% include 'haie/petitions/_item.html' with label="Coefficient compensation primaire" value=replantation_coefficient|floatformat:"2g" comment="C’est-à-dire hors réduction permise par le projet de plantation" %}
  {% include 'haie/petitions/_item.html' with label="Identifiant zone" value=moulinette.catalog.density_zone %}

  {% if moulinette.catalog.numero_pacage %}
    {% include 'haie/petitions/_item.html' with label="Numéro de PACAGE saisi dans la simulation" value=moulinette.catalog.numero_pacage %}

    {% if moulinette.catalog.density_exploitation is not None %}
      {% include 'haie/petitions/_item.html' with label="Densité haies – exploitation" value=moulinette.catalog.density_exploitation|floatformat:"0g" unit="ml/ha" %}
    {% else %}
      {% include 'haie/petitions/_item.html' with label="Densité haies – exploitation" value="ND (pas de donnée associée au PACAGE fourni)" %}
    {% endif %}
  {% else %}
    {% include 'haie/petitions/_item.html' with label="Numéro de PACAGE saisi dans la simulation" value="Non demandé (haies hors parcelles PAC)" %}
  {% endif %}

  {% include 'haie/petitions/_item.html' with label="Densité haies – rayon 5 km" value=moulinette.catalog.density_5000|floatformat:"0g" unit="ml/ha" %}
  {% include 'haie/petitions/_item.html' with label="Rapport de densité exploitation / 5 km" value=moulinette.catalog.density_ratio|floatformat:"2g" %}
  <li>
    {% include 'haie/petitions/_hedges_compensation_details.html' with hedges_compensation_details=moulinette.catalog.hedges_compensation_details %}
  </li>
</ul>

<h5>Plantation proposée</h5>
<div id="normandie_plantation_table" class="fr-table">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table>
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">
                Minimum attendu
                <br />
                primaire
              </th>
              <th scope="col">
                Minimum attendu réduit de 20%
                <br />
                sans passer sous 1:1
              </th>
              <th scope="col">
                Plantation
                <br />
                proposée
              </th>
              <th scope="col">Manque</th>
            </tr>
          </thead>
          <tbody>
            {% for key, label in HEDGE_KEYS.items %}
              {% if not forloop.last and key != "buissonnante" %}
                <tr>
                  <th scope="row">{{ label }}</th>
                  <td>{{ quality_condition.LPm|get_item:key|floatformat:"0g" }} m</td>
                  <td>{{ moulinette.catalog.LPm_r|get_item:key|floatformat:"0g" }} m</td>
                  <td>{{ quality_condition.LP|get_item:key|floatformat:"0g" }} m</td>
                  <td>{{ quality_condition.LC|get_item:key|floatformat:"0g" }} m</td>
                </tr>
              {% elif key == "buissonnante" %}
                <tr>
                  <th scope="row">{{ label }}</th>
                  <td>{{ quality_condition.LPm|sum_degradee_and_buissonnante|floatformat:"0g" }} m</td>
                  <td>{{ moulinette.catalog.LPm_r|sum_degradee_and_buissonnante|floatformat:"0g" }} m</td>
                  <td>{{ quality_condition.LP|sum_degradee_and_buissonnante|floatformat:"0g" }} m</td>
                  <td>{{ quality_condition.LC|sum_degradee_and_buissonnante|floatformat:"0g" }} m</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th scope="row">Total</th>
              <td>{{ moulinette.catalog.lpm|floatformat:"0g" }} m</td>
              <td>{{ moulinette.catalog.reduced_lpm|floatformat:"0g" }} m</td>
              <td>{{ quality_condition.lp|floatformat:"0g" }} m</td>
              <td>{{ quality_condition.lm|floatformat:"0g" }} m</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
