{% load utils %}

<div id="alternative-simulations-table"
     class="fr-table fr-table--sm fr-mb-3w">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table>
          <caption>
            Liste des simulations
          </caption>
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Auteur</th>
              <th scope="col">Commentaire</th>
              <th scope="col">Statut</th>
              <th scope="col">
                <span class="fr-sr-only">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for simulation in simulations %}
              <tr>
                <td>{{ simulation.created_at|date:"SHORT_DATE_FORMAT" }}</td>
                <td class="author-col">
                  <div>{{ simulation.get_source_display }}</div>
                  {% if simulation.get_source_display == "Instructeur" and simulation.created_by %}
                    <div class="fr-hint-text">
                      <span aria-describedby="full-email-{{ forloop.counter }}">{{ simulation.created_by.email|truncatechars:15 }}</span>
                      <span class="fr-tooltip fr-placement"
                            id="full-email-{{ forloop.counter }}"
                            role="tooltip">{{ simulation.created_by.email }}</span>
                    </div>
                  {% endif %}
                </td>
                <td class="comment-col fr-cell--multiline">{% truncated_comment simulation.comment forloop.counter 135 %}</td>
                <td class="status-col">
                  {% if simulation.is_active %}
                    <p class="fr-badge fr-badge--sm fr-badge--success">Active</p>
                  {% else %}
                    {% if petition_project.stage == "closed" %}
                      <button type="button"
                              class="fr-btn fr-btn--sm fr-btn--secondary"
                              title="Le dossier est clos : impossible d’activer une simulation"
                              disabled="disabled">Activer</button>
                    {% elif simulation.can_be_activated and has_change_permission %}
                      <button type="button"
                              class="fr-btn fr-btn--sm fr-btn--secondary"
                              data-fr-opened="false"
                              aria-controls="simulation-activate-modal-{{ simulation.id }}">Activer</button>
                    {% endif %}

                  {% endif %}
                </td>

                <td class="actions-col">
                  <div class="fr-mb-1w">
                    <a href="{% url 'petition_project_instructor_alternative_display' petition_project.reference simulation.id %}"
                       class="action fr-icon--sm fr-link--icon-left fr-icon-eye-line"
                       rel="noopener"
                       title="Voir le résultat de cette simulation">Voir la simulation</a>
                  </div>

                  <div class="fr-mb-1w">
                    <a href="#alternative-simulations-table"
                       role="button"
                       title="Partager le lien vers cette simulation"
                       class="js fr-link fr-link--sm fr-link--icon-left fr-icon-mail-line share-btn"
                       data-fr-opened="false"
                       aria-controls="share-modal-{{ simulation.id }}"
                       data-btn="bottom">Partager la simulation</a>
                  </div>

                  <div class="fr-mb-1w">
                    {% if simulation.can_be_deleted and has_change_permission %}
                      <a href="#alternative-simulations-table"
                         aria-controls="simulation-delete-modal-{{ simulation.id }}"
                         data-fr-opened="false"
                         class="action fr-link--sm fr-link--icon-left fr-icon-delete-line"
                         title="Supprimer la simulation">Supprimer</a>
                    {% else %}
                      <button type="button"
                              disabled="disabled"
                              class="action fr-btv--sm fr-btn--icon-left fr-icon-delete-line"
                              title="Supprimer la simulation">Supprimer</button>
                    {% endif %}
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
