<div id="dossier-filters">

  <p class="fr-mb-1w">Filtrer la liste :</p>

  <div class="filter-line fr-mb-3w">

    <fieldset class="fr-segmented fr-segmented--sm">

      <div class="fr-segmented__elements">
        <div class="fr-segmented__element">
          <input type="radio" name="followed-by" value="off" id="followed-by-off">
          <label class="fr-label" for="followed-by-off">Tous les dossiers</label>
        </div>
        <div class="fr-segmented__element">
          <input type="radio" name="followed-by" value="me" id="followed-by-me">
          <label class="fr-label" for="followed-by-me">Mes dossiers suivis</label>
        </div>
        <div class="fr-segmented__element">
          <input type="radio"
                 name="followed-by"
                 value="nobody"
                 id="followed-by-nobody">
          <label class="fr-label" for="followed-by-nobody">Dossiers sans instructeur</label>
        </div>
      </div>
    </fieldset>

    <div class="fr-checkbox-group" id="show-closed-dossiers-group">
      <input type="checkbox" name="show-closed-dossiers" id="show-closed-dossiers">
      <label class="fr-label" for="show-closed-dossiers">Afficher les dossiers clos</label>
    </div>
  </div>

  <p class="fr-mb-1w">Catégories à afficher :</p>

  <div class="filter-line fr-mb-3w">

    <fieldset class="fr-fieldset">

      <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-checkbox-group">
          <input name="category-ru" id="category-ru" type="checkbox">
          <label class="fr-label" for="category-ru">Régime unique</label>
        </div>
      </div>
      <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-checkbox-group">
          <input name="category-aa" id="category-aa" type="checkbox">
          <label class="fr-label" for="category-aa">AA L350-3</label>
        </div>
      </div>
      <div class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-checkbox-group">
          <input name="category-hru" id="category-hru" type="checkbox">
          <label class="fr-label" for="category-hru">Hors régime unique</label>
        </div>
      </div>
    </fieldset>

    <button class="fr-btn fr-btn--sm fr-btn--secondary">Réinitialiser les filtres</button>

  </div>
</div>
