{% load static %}

<form id="dossier-filter-form"
      method="get"
      action="{% url 'petition_project_list' %}"
      hx-get="{% url 'petition_project_list' %}"
      hx-target="#dossier-results"
      hx-trigger="change delay:150ms"
      hx-push-url="true">

  <div id="dossier-filters">

    <p class="fr-mb-1w">Filtrer la liste :</p>

    <div class="filter-line fr-mb-3w">

      <fieldset class="fr-segmented fr-segmented--sm">
        <legend class="fr-hidden">Filtrer par instructeurs</legend>

        <div class="fr-segmented__elements">
          <div class="fr-segmented__element">
            <input type="radio"
                   name="followed_by"
                   value="off"
                   id="followed-by-off"
                   {% if active_filters.followed_by == "off" %}checked{% endif %}
                   data-event-category="ProjectList"
                   data-event-action="FilterFollowedBy"
                   data-event-name="FollowedOff">
            <label class="fr-label" for="followed-by-off">Tous les dossiers</label>
          </div>
          <div class="fr-segmented__element">
            <input type="radio"
                   name="followed_by"
                   value="me"
                   id="followed-by-me"
                   {% if active_filters.followed_by == "me" %}checked{% endif %}
                   data-event-category="ProjectList"
                   data-event-action="FilterFollowedBy"
                   data-event-name="FollowedByMe">
            <label class="fr-label" for="followed-by-me">Mes dossiers suivis</label>
          </div>
          <div class="fr-segmented__element">
            <input type="radio"
                   name="followed_by"
                   value="nobody"
                   id="followed-by-nobody"
                   {% if active_filters.followed_by == "nobody" %}checked{% endif %}
                   data-event-category="ProjectList"
                   data-event-action="FilterFollowedBy"
                   data-event-name="FollowedByNobody">
            <label class="fr-label" for="followed-by-nobody">Dossiers sans coordonnateur</label>
          </div>
        </div>
      </fieldset>

      <div class="fr-checkbox-group" id="show-closed-dossiers-group">
        <input type="checkbox"
               name="show_closed"
               value="1"
               id="show-closed-dossiers"
               {% if active_filters.show_closed %}checked{% endif %}>
        <label class="fr-label" for="show-closed-dossiers">Afficher les dossiers clos</label>
      </div>
    </div>

    <p class="fr-mb-1w">Catégories à afficher :</p>

    <div class="filter-line fr-mb-3w">

      <fieldset class="fr-fieldset">

        <div class="fr-fieldset__element fr-fieldset__element--inline">
          <div class="fr-checkbox-group">
            <input name="category"
                   value="ru"
                   id="category-ru"
                   type="checkbox"
                   {% if not active_filters.categories or "ru" in active_filters.categories %}checked{% endif %}>
            <label class="fr-label" for="category-ru">Régime unique</label>
          </div>
        </div>
        <div class="fr-fieldset__element fr-fieldset__element--inline">
          <div class="fr-checkbox-group">
            <input name="category"
                   value="l350_3"
                   id="category-aa"
                   type="checkbox"
                   {% if not active_filters.categories or "l350_3" in active_filters.categories %}checked{% endif %}>
            <label class="fr-label" for="category-aa">AA L350-3</label>
          </div>
        </div>
        <div class="fr-fieldset__element fr-fieldset__element--inline">
          <div class="fr-checkbox-group">
            <input name="category"
                   value="hru"
                   id="category-hru"
                   type="checkbox"
                   {% if not active_filters.categories or "hru" in active_filters.categories %}checked{% endif %}>
            <label class="fr-label" for="category-hru">Hors régime unique</label>
          </div>
        </div>
      </fieldset>

      <div class="form-actions">
        <a href="{% url 'petition_project_list' %}"
           id="reset-filters"
           class="fr-btn fr-btn--sm fr-btn--secondary"
           hx-get="{% url 'petition_project_list' %}"
           hx-target="#dossier-results"
           hx-push-url="true"
           data-event-category="ProjectList"
           data-event-action="RemoveFilters">Réinitialiser les filtres</a>

        <noscript>
          <button type="submit" class="fr-btn fr-btn--sm">Appliquer les filtres</button>
        </noscript>
      </div>
    </div>
  </div>
</form>
