<span class="fr-badge {% if category.name == 'l350_3' %}fr-badge--green-tilleul-verveine{% endif %} fr-badge--sm">
  {% if is_light %}
    {% if category.name == 'l350_3' %}
      AA L350-3
    {% elif category.name == 'ru' %}
      R. u.
    {% else %}
      Hors r. u.
    {% endif %}
  {% else %}
    {% if category.name == 'l350_3' %}
      Alignements arbres L350-3
    {% elif category.name == 'ru' %}
      Haies régime unique
    {% else %}
      Linéaires hors r. unique
    {% endif %}
  {% endif %}
</span>
