<div id="invitation-token-email-html">
  <p>Bonjour,</p>
  <p>
    Le guichet unique de la haie de la DDT(M), en charge de l’instruction des projets de destruction de haies, a reçu
    une nouvelle demande.
    Nous vous invitons à consulter le dossier et à nous transmettre votre avis par retour d’email en répondant aux deux
    questions suivantes :
  </p>

  <div class="more fr-collapse" id="read-more-invitation-message">
    <ul>
      <li>Les haies concernées relèvent-elles de la réglementation dont vous avez la charge ?</li>
      <li>Quelles prescriptions recommandez-vous le cas échéant ?</li>
    </ul>

    <p>
      <b>🔐 <a id="accept-invitation-url">👉 Cliquez sur ce lien pour accéder au dossier</a></b>
    </p>

    <p>
      En cas de difficulté d’accès ou de problème avec votre compte, n’hésitez pas à
      <a href="{{ invitation_contact_url }}">contacter notre support</a>.
    </p>

    <p>Pour toute question sur le dossier, vous pouvez nous les poser directement par retour d’email.</p>

    <p>Merci par avance pour votre retour.</p>
    <p>Bien cordialement,</p>
    <p>
      <b>Le guichet unique de la haie de la DDT(M)</b>
    </p>
  </div>

</div>

<p class="text-center fr-mt-3w">
  <button type="button"
          class="fr-btn fr-btn--tertiary"
          aria-expanded="false"
          aria-controls="read-more-invitation-message">
    <span class="fr-sr-only">Voir ou masquer les détails</span>
    <span aria-hidden="true" class="concealed-label">Voir tout le message
      <i class="fr-icon-arrow-down-s-line"></i>
    </span>
    <span aria-hidden="true" class="expanded-label">Réduire le message
      <i class="fr-icon-arrow-up-s-line"></i>
    </span>
  </button>
</p>
