{% load utils %}

<div class="champ-row fr-my-2w">
  <p class="champ-label fr-mb-0">
    <b>{{ item.label }}</b>
  </p>
  <div class="champ-content">
    {% if item.value == "" %}
      <div>
        <i>Non renseigné</i>
      </div>
    {% elif item.value|is_type:"ItemFiles" %}
      <div class="ds-files fr-grid-row fr-grid-row--gutters">
        {% for file in item.value.files %}
          {% if "image" in file.content_type %}
            <div class="fr-col fr-col-md-6">
              <figure role="group"
                      class="fr-content-media"
                      aria-label="Description / Source">
                <div class="fr-content-media__img fr-enlarge-link">
                  <img class="fr-responsive-img"
                       src="{{ file.url }}"
                       alt="{{ file.filename }}" />
                  <figcaption class="fr-content-media__caption">
                    <a href="{{ file.url }}" target="_blank" rel="noopener external">{{ file.filename }}</a>
                  </figcaption>
                </div>
              </figure>
            </div>
          {% else %}
            <div class="fr-col-12">
              <a href="{{ file.url }}" target="_blank" rel="noopener external">{{ file.filename }}</a>
            </div>
          {% endif %}
        {% empty %}
          <div class="fr-col-12">
            <i>Aucun fichier attaché</i>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div>
        {{ item.value|urlize }}
        {% if item.unit %}{{ item.unit }}{% endif %}
      </div>
    {% endif %}
  </div>
</div>
