{% load utils %}

{% for item in items %}
  <div>
    {% if item == "instructor_free_mention" or item == "onagre_number" %}
      <div id="field-{{ item }}" class="fr-my-2w">
        {% include '_field_snippet.html' with field=form|get_item:item %}
        <button type="submit"
                class="fr-btn fr-btn--secondary"
                formaction="{% url 'petition_project_instructor_view' petition_project.reference %}#field-{{ item }}">
          Enregistrer
        </button>
      </div>
    {% elif item == "protected_species" %}
      {% if moulinette.catalog.protected_species %}
        {% include 'hedges/_species_table.html' with species=moulinette.catalog.protected_species %}
      {% else %}
        <p>Pas de liste d’espèces associée à cette simulation</p>
      {% endif %}
    {% elif item|is_type:"Title" %}
      <h3 {% if not forloop.first %}class="fr-mt-3w"{% endif %}>{{ item.label }}</h3>
    {% elif item|is_type:"Item" %}
      <span><b>{{ item.label }} :</b></span>

      {% if item.value|is_type:"ItemDetails" %}
        {% if item.value.display_result %}<span>{{ item.value.result|yesno }}</span>{% endif %}
        {% if item.value.result %}
          {% for details in item.value.details %}
            <br />
            <span class="fr-pl-4w">{{ details.label }} : <span>
              {{ details.value }}
              {% if details.unit %}{{ details.unit }}{% endif %}
            </span>
          </span>
        {% endfor %}
      {% endif %}
      {% if comment %}
        <br />
        <span class="fr-hint-text">{{ comment }}</span>
      {% endif %}
    {% else %}
      <span>
        {% if item.value|is_type:"int" or item.value|is_type:"float" %}
          {{ item.value|floatformat:"g" }}
        {% else %}
          {{ item.value }}
        {% endif %}
        {% if item.unit and item.value is not None and item.value != "" %}{{ item.unit }}{% endif %}
      </span>
    {% endif %}

    {% if item.comment %}
      <br />
      <span class="fr-hint-text">{{ item.comment }}</span>
    {% endif %}
  {% endif %}
</div>
{% endfor %}
