{% load utils %}

{% for item in items %}
  <div>
    {% if item|is_form_instance %}
      <form method="post"
            action="{% url 'petition_project_instructor_view' petition_project.reference %}"
            class="fr-my-2w">
        {% csrf_token %}
        {% include '_form_snippet.html' with form=item %}
        <button type="submit" class="fr-btn fr-btn--secondary">Mettre à jour</button>
      </form>
    {% else %}
      <span><b>{{ item.label }} :</b></span>

      {% if item.value|is_type:"ItemDetails" %}
        <span>
          {% if item.value.result %}
            Oui
          {% else %}
            Non
          {% endif %}
        </span>
        {% if item.value.result %}
          {% for details in item.value.details %}
            <br />
            <span>{{ details.label }} : <span>
              {{ details.value }}
              {% if details.unit %}{{ details.unit }}{% endif %}
            </span>
          </span>
        {% endfor %}
      {% endif %}
      {% if comment %}
        <br />
        <span class="fr-hint-text">{{ comment }}</span>
      {% endif %}
    {% else %}
      <span>
        {{ item.value }}
        {% if item.unit and item.value is not None and item.value != "" %}{{ item.unit }}{% endif %}
      </span>
    {% endif %}

    {% if item.comment %}
      <br />
      <span class="fr-hint-text">{{ item.comment }}</span>
    {% endif %}
  {% endif %}
</div>
{% endfor %}
