<dialog aria-labelledby="procedure-modal-title"
        role="dialog"
        id="procedure-modal"
        class="fr-modal fr-modal-lg {% if form.errors %}fr-modal--opened{% endif %}">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-link--close fr-link"
                    title="Fermer la modale"
                    aria-controls="procedure-modal">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <h2 id="procedure-modal-title" class="fr-modal__title">Mettre à jour le statut du dossier</h2>
            <p>
              Modifiez l'étape, la décision, renseignez la date effective du changement et ajoutez un commentaire pour ce dossier.
            </p>
            <form method="post" action="" novalidate class="fr-mb-3w">
              {% csrf_token %}
              {% load utils %}

              {% include '_form_header.html' with form=form %}

              {% for field in form.visible_fields %}
                {% include '_field.html' with field=field %}
                {% if field.name == "stage" %}
                  {% for stage in STAGES %}
                    <div id="stage-objective--{{ stage.0 }}" class="stage-objective">
                      {% include "haie/petitions/stage_objectives/"|add:stage.0|add:".html" %}
                    </div>
                  {% endfor %}
                {% endif %}

              {% endfor %}

              <button type="submit" class="fr-btn">Enregistrer</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
