<dialog aria-labelledby="procedure-modal-title"
        role="dialog"
        id="procedure-modal"
        class="fr-modal fr-modal-lg {% if form.errors %}fr-modal--opened{% endif %}">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-link--close fr-link"
                    title="Fermer la modale"
                    aria-controls="procedure-modal">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <h2 id="procedure-modal-title" class="fr-modal__title">Modification de l'état du dossier</h2>
            {{ ds_status_mapping|json_script:"ds-status-mapping" }}
            {{ ds_status_labels|json_script:"ds-status-labels" }}
            <form method="post"
                  action=""
                  novalidate
                  class="fr-mb-3w"
                  data-current-ds-status="{{ petition_project.demarches_simplifiees_state }}">
              {% csrf_token %}
              {% include '_form_snippet.html' with form=form %}
              <div id="procedure-state-change-message"
                   class="fr-alert fr-alert--info fr-mb-2w"
                   style="display: none">
                <p id="procedure-state-transition-text"></p>
                <p>Le demandeur sera notifié de la mise à jour du statut de son dossier.</p>
              </div>
              <button type="submit" class="fr-btn">Enregistrer</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
