{% load moulinette %}

<h3 class="fr-mt-4w">Données saisies pour la simulation</h3>

{% for criterion in regulation.criteria.all %}
  {% with criterion.get_form as regulation_form %}
    {% if regulation_form %}
      <ul class="instructor-view-list">
        {% for field in regulation_form %}
          <li>{% field_summary field %}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endfor %}

<button class="hedge-input-open-btn fr-btn  fr-btn--secondary fr-btn--icon-left fr-icon-haie"
        type="button"
        data-fr-opened="false"
        aria-controls="hedge-input-modal">Ouvrir la carte des haies</button>

<h3 class="fr-mt-4w">Formulaire détaillé et pièces jointes</h3>

<a class="fr-btn fr-icon-arrow-right-line fr-btn--icon-right"
   href="{% url 'petition_project_instructor_dossier_ds_view' petition_project.reference %}">Voir le dossier complet</a>
