{% load moulinette %}

<h2 class="fr-mt-4w">Informations saisies par le demandeur</h2>

<h4>Informations saisies dans le simulateur</h4>

{% for criterion in regulation.criteria.all %}
  {% with criterion.get_form as regulation_form %}
    {% if regulation_form %}
      <ul class="instructor-view-list fr-mb-3w">
        {% for field in regulation_form %}
          <li>{% field_summary field %}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endfor %}

<button class="hedge-input-open-btn fr-btn  fr-btn--secondary fr-btn--icon-left fr-icon-haie"
        type="button"
        data-fr-opened="false"
        aria-controls="hedge-input-modal">Ouvrir la carte des haies</button>

{% if regulation.has_key_elements_template %}
  <section>
    <h4 class="fr-mt-3w">Éléments clés</h4>
    {% for criterion in regulation.criteria.all %}
      {% criterion_instructor_view_part "key_elements" regulation criterion petition_project moulinette %}
    {% endfor %}
  </section>
{% endif %}

<h4 class="fr-mt-3w">Formulaire complet et pièces jointes</h4>

<a class="fr-btn fr-icon-arrow-right-line fr-btn--icon-right"
   href="{% url 'petition_project_instructor_dossier_complet_view' petition_project.reference %}">Voir le dossier complet</a>
