<dialog aria-labelledby="revoke-token-modal-title"
        role="dialog"
        id="revoke-token-modal"
        class="fr-modal">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-link--close fr-link"
                    title="Fermer la modale"
                    aria-controls="revoke-token-modal">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <h2 id="revoke-token-modal-title" class="fr-modal__title">Révoquer l'accès</h2>
            <p>
              Êtes-vous sûr de vouloir révoquer cet accès ?
              L'accès au dossier sera définitivement révoqué.
            </p>

            <form method="POST"
                  id="revoke-token-modal-form"
                  action="{% url 'petition_project_invitation_token_delete' petition_project.reference %}">
              {% csrf_token %}
              <input type="hidden" name="token_id" id="revoke-token-modal-id" value="">
            </form>
          </div>

          <div class="fr-modal__footer">

            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg">
              <li>
                <button type="button"
                        class="fr-btn fr-btn--secondary"
                        aria-controls="revoke-token-modal">Annuler</button>
              </li>
              <li>
                <button type="submit"
                        form="revoke-token-modal-form"
                        class="fr-btn fr-btn--primary">Confirmer la révocation</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
