{% load petitions %}

<div class="alt fr-py-4w fr-mb-4w fr-pl-10w">
  <h1>Dossier n° {{ petition_project.demarches_simplifiees_dossier_number|format_ds_number }}</h1>
  <ul id="instruction-summary-list">
    <li>
      {% if petition_project.demarches_simplifiees_date_depot %}
        <span class="fr-icon-calendar-line" aria-hidden="true"></span> Déposé le {{ petition_project.demarches_simplifiees_date_depot }}
      {% else %}
        <span class="fr-icon-calendar-line" aria-hidden="true"></span> Créé le {{ petition_project.created_at }}
      {% endif %}
    </li>
    <li>
      <span class="fr-icon-map-pin-2-line" aria-hidden="true"></span> {{ project_details.city }} | Département de la demande : {{ moulinette.department }}
    </li>
    <li>
      <span class="fr-icon-user-line" aria-hidden="true"></span>
      {{ project_details.applicant }}
      {% if project_details.organization %}| {{ project_details.organization }}{% endif %}
    </li>
    <li class="fr-hint-text">Référence interne : {{ petition_project.reference }}</li>
  </ul>
</div>
