{% extends "base.html" %}

{% load static %}

{% block title %}Instruction du dossier{% endblock %}

{% block messages %}{# Move messages block between title and content #}{% endblock %}

{% block container %}
  <div class="fr-container">
    <div class="fr-grid-row">
      <div class="fr-col fr-col-12 fr-col-md-3">
        <div class="instructor-sidebar">
          {% include 'haie/petitions/_instructor_side_menu.html' %}
          {% include 'haie/petitions/_instructor_actions.html' %}
        </div>
      </div>
      <div id="project-specifications-instructor"
           class="fr-col fr-col-12 fr-col-md-9">

        {% include 'haie/petitions/_summary_dossier.html' %}

        <div class="fr-pl-md-10w fr-py-4w fr-px-2w ">
          {% block project_view_title %}{% endblock %}
          {% include '_messages.html' %}
          {% block project_content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block after-content %}{% endblock %}

{% block extra_body %}
  {% include 'haie/moulinette/_hedge_input_modal.html' %}
{% endblock %}

{% block extra_js %}
  <script defer src="{% static 'js/libs/hedges_input.js' %}"></script>
  <script defer src="{% static 'js/libs/follow_up_form.js' %}"></script>
  <script defer
          src="{% static 'js/libs/data_sql_event_attributes_analytics.js' %}"></script>
  <script>
    var HEDGES_PLANTATION_URL = "{{ plantation_url|safe }}";
    window.addEventListener("load", function() {
      let iframeUrl = HEDGES_PLANTATION_URL;
      let redirectUrl = null;
      var hedgeModal = new HedgeInputModal(iframeUrl, redirectUrl);
    });
  </script>
{% endblock %}
