{% extends 'haie/petitions/instructor_view.html' %}

{% block title %}Instruction du dossier{% endblock %}

{% block project_content %}

  <h2>Formulaire rempli sur Démarches simplifiées</h2>

  <section class="fr-py-3w"
           {% if information.slug %}id="{{ information.slug }}"{% endif %}>
    {% if champs.label %}<h2 class="fr-mb-0">{{ champs.label }}</h2>{% endif %}

    {% for item in project_details.ds_data %}
      <div>
        <span><b>{{ item.label }} :</b></span>
        <br />
        {{ item.value }}
        {% if item.unit %}{{ item.unit }}{% endif %}
      </div>
    {% endfor %}

  </section>

{% endblock %}
