{% extends "base.html" %}

{% load petitions %}

{% load static %}

{% block title %}Instruction du dossier{% endblock %}

{% block messages %}{# Move messages block between title and content #}{% endblock %}

{% block container %}
  <section class="{{ page_css_classname }}">
    <div class="fr-container">
      <div class="fr-grid-row">
        <div class="fr-col fr-col-12 fr-col-md-3">
          <nav class="fr-sidemenu fr-sidemenu--sticky-full-height"
               aria-labelledby="fr-sidemenu-title">
            <div id="instructor-view-side-menu" class="fr-sidemenu__inner">
              <div id="fr-sidemenu-wrapper">
                <ul class="fr-sidemenu__list">
                  {% with request.resolver_match.url_name as url_name %}
                    <li class="fr-sidemenu__item{% if url_name == 'petition_project_instructor_view' %} fr-sidemenu__item--active{% endif %}">
                      <a class="fr-sidemenu__link"
                         href="{% url 'petition_project_instructor_view' petition_project.reference %}"
                         {% if url_name == 'petition_project_instructor_view' %}aria-current="page"{% endif %}>
                      Résumé du dossier</a>
                    </li>
                    <li class="fr-sidemenu__item">
                      <button aria-expanded="{% if current_regulation %}true{% else %}false{% endif %}"
                              aria-controls="sidemenu-3"
                              type="button"
                              class="fr-sidemenu__btn">Réglementations</button>
                      <div class="fr-collapse" id="sidemenu-3">
                        <ul class="fr-sidemenu__list">
                          {% for regulation in moulinette.regulations|dictsort:"display_order" %}
                            <li class="fr-sidemenu__item{% if regulation.slug == current_regulation.slug %} fr-sidemenu__item--active{% endif %}">
                              <a class="fr-sidemenu__link"
                                 href="{% url 'petition_project_instructor_regulation_view' petition_project.reference regulation.slug %}"
                                 {% if regulation.slug == current_regulation.slug %}aria-current="page"{% endif %}>
                              {{ regulation.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </li>
                    <li class="fr-sidemenu__item{% if url_name == 'petition_project_instructor_dossier_complet_view' %} fr-sidemenu__item--active{% endif %}">
                      <a class="fr-sidemenu__link"
                         href="{% url 'petition_project_instructor_dossier_complet_view' petition_project.reference %}"
                         {% if url_name == 'petition_project_instructor_dossier_complet_view' %}aria-current="page"{% endif %}>
                      Dossier complet</a>
                    </li>
                    <hr class="separator--light">
                    <li class="fr-sidemenu__item{% if url_name == 'petition_project_instructor_notes_view' %} fr-sidemenu__item--active{% endif %}">
                      <a class="fr-sidemenu__link"
                         href="{% url 'petition_project_instructor_notes_view' petition_project.reference %}"
                         {% if url_name == 'petition_project_instructor_notes_view' %}aria-current="page"{% endif %}>
                      Notes libres pour l'instruction</a>
                    </li>
                    <li class="fr-sidemenu__item{% if url_name == 'petition_project_instructor_procedure_view' %} fr-sidemenu__item--active{% endif %}">
                      <a class="fr-sidemenu__link"
                         href="{% url 'petition_project_instructor_procedure_view' petition_project.reference %}"
                         {% if url_name == 'petition_project_instructor_procedure_view' %}aria-current="page"{% endif %}>
                      Procédure</a>
                    </li>
                    <li class="fr-sidemenu__item{% if url_name == 'petition_project_instructor_alternative_view' %} fr-sidemenu__item--active{% endif %}">
                      <a class="fr-sidemenu__link"
                         href="{% url 'petition_project_instructor_alternative_view' petition_project.reference %}"
                         {% if url_name == 'petition_project_instructor_alternative_view' %}aria-current="page"{% endif %}>
                      Simulations alternatives</a>
                    </li>
                    <li class="fr-sidemenu__item{% if url_name == 'petition_project_instructor_messagerie_view' %} fr-sidemenu__item--active{% endif %}">
                      <a class="fr-sidemenu__link"
                         href="{% url 'petition_project_instructor_messagerie_view' petition_project.reference %}"
                         {% if url_name == 'petition_project_instructor_messagerie_view' %}aria-current="page"{% endif %}>
                        Messagerie
                        {% if has_unread_messages %}
                          <span style="color: var(--blue-france-sun-113-625);
                                       font-size: 150%;
                                       position: relative;
                                       top: -0.0625rem"
                                class="fr-ml-1w">●</span>
                        {% endif %}
                      </a>
                    </li>
                    {% if is_department_instructor %}
                      <li class="fr-sidemenu__item{% if url_name == 'petition_project_instructor_consultations_view' %} fr-sidemenu__item--active{% endif %}">
                        <a class="fr-sidemenu__link"
                           href="{% url 'petition_project_instructor_consultations_view' petition_project.reference %}"
                           {% if url_name == 'petition_project_instructor_consultations_view' %}aria-current="page"{% endif %}>
                          Consultations
                        </a>
                      </li>
                    {% endif %}
                  {% endwith %}
                </ul>
                <ul class="fr-sidemenu__list fr-btns-group fr-btns-group--icon-left fr-px-2w fr-px-md-0 fr-mt-2w">
                  <li>
                    <button class="hedge-input-open-btn fr-btn  fr-btn--secondary fr-btn--icon-left fr-icon-haie"
                            type="button"
                            data-fr-opened="false"
                            aria-controls="hedge-input-modal">Ouvrir la carte des haies</button>
                  </li>
                  <li>
                    <a class="fr-btn  fr-btn--secondary fr-btn--icon-left fr-icon-download-line"
                       title="Dossier dans Démarches Simplifiées"
                       href="{% url 'petition_project_hedge_data_export' petition_project.reference %}">Télécharger les haies (SIG)</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div id="project-specifications-instructor"
             class="fr-col fr-col-12 fr-col-md-9">

          {% include 'haie/petitions/_summary_dossier.html' %}

          <div class="fr-pl-md-10w fr-py-4w fr-px-2w ">
            {% block project_view_title %}{% endblock %}
            {% include '_messages.html' %}
            {% block project_content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>

  </section>

{% endblock %}

{% block after-content %}{% endblock %}

{% block extra_body %}
  {% include 'haie/moulinette/_hedge_input_modal.html' %}
{% endblock %}

{% block extra_js %}
  <script defer src="{% static 'js/libs/hedges_input.js' %}"></script>
  <script defer src="{% static 'js/libs/follow_up_form.js' %}"></script>
  <script defer
          src="{% static 'js/libs/data_sql_event_attributes_analytics.js' %}"></script>
  <script>
    var HEDGES_PLANTATION_URL = "{{ plantation_url|safe }}";
    window.addEventListener("load", function() {
      let iframeUrl = HEDGES_PLANTATION_URL;
      let redirectUrl = null;
      var hedgeModal = new HedgeInputModal(iframeUrl, redirectUrl);
    });
  </script>
{% endblock %}
