{% extends 'haie/base.html' %}

{% load petitions %}

{% load static %}

{% block title %}
  Liste des dossiers
{% endblock title %}

{% block content %}
  <h1 class="fr-my-2w project-list__title">Tous les dossiers</h1>
  {% with project_number=page_obj.paginator.count %}
    {% if not user_can_view_one_petition_project %}
      <div class="fr-alert fr-alert--info">
        <h3 class="fr-alert__title">Aucun dossier n’est accessible pour le moment</h3>
        <p>Vous n’avez actuellement accès à aucun dossier.</p>
        <p>
          Pour accéder à un dossier spécifique, vous devez être invité par un instructeur et cliquer sur le lien
          d’invitation qu’il vous a transmis.
        </p>
        <p>
          Si vous attendez des droits d’accès à l’ensemble d’un département, leur attribution peut prendre jusqu’à 24
          heures après la création de votre compte.
          En cas de difficulté, vous pouvez contacter
          <a href="{% url 'contact_us' %}">l’équipe du Guichet unique de la haie.</a>
        </p>
      </div>
    {% else %}
      <fieldset class="fr-segmented">
        <legend class="fr-segmented__legend">Filtre des dossiers</legend>
        <div class="fr-segmented__elements">
          <div class="fr-segmented__element">
            <a href="{% url 'petition_project_list' %}"
               data-event-category="ProjectList"
               data-event-action="Filter"
               data-event-name="FollowedOff"
               {% if request.GET.f is None %}class="active"{% endif %}>Tous les dossiers</a>
          </div>
          <div class="fr-segmented__element">
            <a href="{% url 'petition_project_list' %}?f=mes_dossiers"
               data-event-category="ProjectList"
               data-event-action="Filter"
               data-event-name="FollowedByMe"
               {% if 'mes_dossiers' in request.GET.f %}class="active"{% endif %}>Mes dossiers suivis</a>
          </div>
          <div class="fr-segmented__element">
            <a href="{% url 'petition_project_list' %}?f=dossiers_sans_instructeur"
               data-event-category="ProjectList"
               data-event-action="Filter"
               data-event-name="FollowedByNobody"
               {% if 'dossiers_sans_instructeur' in request.GET.f %}class="active"{% endif %}>Dossiers sans instructeur</a>
          </div>
        </div>
      </fieldset>
    {% endif %}

    <div class="fr-table--lg fr-table project-list__table">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table id="table-dossier-list">
              <caption class="fr-mt-1w fr-mb-0">
                {{ project_number }}
                dossier{{ project_number|pluralize }}
              </caption>
              <thead>
                <tr>
                  <th scope="col">
                    <div class="fr-mb-1v">N° dossier</div>
                    <div>Date de dépôt</div>
                  </th>
                  <th scope="col">
                    <div class="fr-mb-1v">Étape</div>
                    <div>Date d'échéance</div>
                  </th>
                  <th scope="col">
                    <div class="fr-mb-1v">Demandeur</div>
                    <div>Commune</div>
                  </th>
                  <th scope="col">
                    Linéaire
                    <br />
                    à détruire
                  </th>
                  <th scope="col">Décision</th>
                  <th scope="col">
                    <span title="Messagerie" class="fr-icon-mail-line fr-icon--sm"></span>
                  </th>
                  <th colspan="2" scope="col">Suivi</th>
                </tr>
              </thead>
              <tbody>
                {% for project in object_list %}
                  <tr class="project">
                    <td>
                      <div>
                        <a href="{% url 'petition_project_instructor_view' project.reference %}"
                           class="fr-link">{{ project.demarches_simplifiees_dossier_number|format_ds_number }}</a>
                        {% if not user|has_edit_permission:project %}
                          <span class="fr-icon-eye-line fr-icon--sm"
                                aria-describedby="read-only-tooltip-{{ project.reference }}"></span>
                          <span class="fr-tooltip fr-placement"
                                id="read-only-tooltip-{{ project.reference }}"
                                role="tooltip">Lecture seule</span>
                        {% endif %}
                      </div>
                      <div>{{ project.prefetched_dossier.date_depot|date:"SHORT_DATE_FORMAT" }}</div>
                    </td>
                    <td>
                      <div>{% stage_badge project.current_stage %}</div>
                      {% if project.current_stage != "closed" %}
                        <div>
                          {% if project.is_paused %}
                            {% display_pause project.current_status.response_due_date %}
                          {% else %}
                            {% display_due_date project.due_date False True %}
                          {% endif %}
                        </div>
                      {% endif %}
                    </td>
                    <td>
                      <div>
                        {% if project.organization %}
                          {{ project.organization }}
                        {% else %}
                          {{ project.prefetched_dossier.applicant_name }}
                        {% endif %}
                      </div>
                      <div>{{ project.city }}</div>
                    </td>
                    <td>{{ project.hedge_data.length_to_remove|floatformat:"0g" }}&nbsp;m</td>
                    <td>{% decision_badge project.current_decision True %}</td>
                    <td class="messagerie-col {{ project.has_unread_messages|yesno:"unread,read" }}">
                      {% if project.has_unread_messages %}
                        <span class="fr-icon-mail-fill fr-icon--sm"></span>
                        <span style="font-size: 150%;" class="fr-ml-1v">●</span>
                      {% else %}
                        <span class="fr-icon-mail-line fr-icon--sm"></span>
                      {% endif %}
                    </td>
                    <td>
                      {% include 'haie/petitions/_follow_form.html' with reference=project.reference followed_up=project.followed_up %}
                    </td>
                    <td>
                      {% include 'haie/petitions/_dossier_followers.html' with reference=project.reference followers=project.followers %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
      {% if page_obj.paginator.num_pages > 1 %}
        <div class="fr-table__footer">
          <div class="fr-table__footer--middle fr-mt-0">{% include "_pagination.html" with page_obj=page_obj %}</div>
        </div>
      {% endif %}
    </div>

  {% endwith %}
{% endblock %}

{% block after-content %}{% endblock %}

{% block extra_js %}
  <script defer src="{% static 'js/libs/follow_up_form.js' %}"></script>
  <script defer src="{% static 'js/libs/data_event_attributes_analytics.js' %}"></script>
  <script>
    window.addEventListener('load', function () {
      document.querySelectorAll("#table-dossier-list tbody tr").forEach(row => {
        const link = row.querySelector("td:first-child a");
        if (!link) return;

        row.addEventListener("click", (e) => {
          // Prevent row click if user clicked another link or a button
          if (e.target.closest("a, button, input, textarea, select")) return;
          window.location.href = link.href;
        });

        row.style.cursor = "pointer";
      });
    });
  </script>
{% endblock %}
