{% extends 'haie/base.html' %}

{% load petitions %}

{% load static %}

{% block title %}
  Liste des dossiers
{% endblock title %}

{% block content %}
  <h1 class="fr-my-4w project-list__title">Tous les dossiers</h1>
  {% with project_number=page_obj.paginator.count %}
    {% if project_number <= 0 %}
      <div class="fr-alert fr-alert--info">
        <h3 class="fr-alert__title">Aucun dossier n’est accessible pour le moment</h3>
        <p>Vous n’avez actuellement accès à aucun dossier.</p>
        <p>
          Pour accéder à un dossier spécifique, vous devez être invité par un instructeur et cliquer sur le lien
          d’invitation qu’il vous a transmis.
        </p>
        <p>
          Si vous attendez des droits d’accès à l’ensemble d’un département, leur attribution peut prendre jusqu’à 24
          heures après la création de votre compte.
          En cas de difficulté, vous pouvez contacter
          <a href="{% url 'contact_us' %}">l’équipe du Guichet unique de la haie.</a>
        </p>
      </div>
    {% endif %}

    <div class="fr-table--lg fr-table project-list__table">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table id="table-dossier-list">
              <caption class="fr-mt-1w fr-mb-0">
                {{ project_number }}
                dossier{{ project_number|pluralize }}
              </caption>
              <thead>
                <tr>
                  <th scope="col">N° dossier</th>
                  <th scope="col">Déposé le</th>
                  <th scope="col">Statut du dossier</th>
                  <th scope="col">Demandeur</th>
                  <th scope="col">
                    Linéaire
                    <br />
                    à détruire
                  </th>
                  <th scope="col">
                    Linéaire
                    <br />
                    à planter
                  </th>
                  <th scope="col">Commune</th>
                  <th scope="col">Suivi</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for project in object_list %}
                  <tr class="project">
                    <td>{{ project.demarches_simplifiees_dossier_number|format_ds_number }}</td>
                    <td>{{ project.prefetched_dossier.date_depot|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>
                      {% if project.prefetched_dossier %}
                        <p class="fr-badge fr-badge--{{ project.prefetched_dossier.state.color }} fr-badge--sm fr-badge--no-icon">
                          {{ project.prefetched_dossier.state.display_value }}
                        </p>
                      {% endif %}
                    </td>
                    <td>
                      {{ project.prefetched_dossier.applicant_name }}
                      <br />
                      {{ project.organization }}
                    </td>
                    <td>{{ project.hedge_data.length_to_remove|floatformat:"0g" }}&nbsp;m</td>
                    <td>{{ project.hedge_data.length_to_plant|floatformat:"0g" }}&nbsp;m</td>
                    <td>{{ project.city }}</td>
                    <td>
                      <form method="post"
                            action="{% url 'petition_project_toggle_follow' project.reference %}">
                        {% csrf_token %}
                        {% if project.followed_up %}
                          <input type="hidden" name="follow" value="false">
                          <button class="fr-btn fr-btn--secondary fr-icon-star-fill fr-btn--icon-left"
                                  type="submit">Ne plus suivre</button>
                        {% else %}
                          <input type="hidden" name="follow" value="true">
                          <button class="fr-btn fr-btn--secondary fr-icon-star-line fr-btn--icon-left"
                                  type="submit">Suivre</button>
                        {% endif %}
                      </form>
                    </td>
                    <td>
                      <a class="fr-link fr-icon-arrow-right-line fr-link--icon-right link-project-detail"
                         href="{% url 'petition_project_instructor_view' project.reference %}">
                        <span class="fr-sr-only">Dossier {{ project.reference }} en détail</span>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
      {% if page_obj.paginator.num_pages > 1 %}
        <div class="fr-table__footer">
          <div class="fr-table__footer--middle fr-mt-0">{% include "_pagination.html" with page_obj=page_obj %}</div>
        </div>
      {% endif %}
    </div>
  {% endwith %}

{% endblock %}
