{% extends "base.html" %}

{% block container %}
  <section class="fr-py-8w alt">
    <div class="fr-container">
      <div class="fr-grid-row">
        <div class="fr-col fr-col-offset-3">
          <span class="fr-h1">Dossier n° {{ petition_project.demarches_simplifiees_dossier_number }}</span>
        </div>
      </div>
    </div>

  </section>
  <section class="fr-py-8w">
    <div class="fr-container">
      <div class="fr-grid-row">
        <div class="fr-col fr-col-3">
          <nav class="fr-sidemenu" aria-labelledby="fr-sidemenu-title">
            <div class="fr-sidemenu__inner">
              <div id="fr-sidemenu-wrapper">
                <ul class="fr-sidemenu__list">
                  <li class="fr-sidemenu__item fr-sidemenu__item--active">
                    <a class="fr-sidemenu__link"
                       href="#project-details"
                       target="_self"
                       aria-current="page">Caractéristiques du projet</a>
                  </li>
                  <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#bcae8" target="_self">BCAE 8</a>
                  </li>
                  <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="#ep" target="_self">Espèces protégées</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="fr-col">
          <section id="project-details">
            <h1>Caractéristiques du projet</h1>

            {% include "haie/petitions/_items.html" with items=project_details %}

            <h3 class="fr-mt-4w">Destruction</h3>

            {% include "haie/petitions/_items.html" with items=project_details_removal %}

            <h3 class="fr-mt-4w">Plantation</h3>

            {% include "haie/petitions/_items.html" with items=project_details_plantation %}
          </section>
          <section id="bcae8">
            <h2 class="fr-mt-6w">BCAE 8</h2>

            {% include "haie/petitions/_items.html" with items=bcae8 %}

            <h3 class="fr-mt-4w">Destruction</h3>

            {% include "haie/petitions/_items.html" with items=bcae8_removal %}

            <h3 class="fr-mt-4w">Plantation</h3>

            {% include "haie/petitions/_items.html" with items=bcae8_plantation %}
          </section>
          <section id="ep">
            <h2 class="fr-mt-6w">Espèces protégées</h2>

            {% for label, details, comment in ep %}
              <div>
                <span><b>{{ label }} :</b></span>
                <span>
                  {% if details.result %}
                    Oui
                  {% else %}
                    Non
                  {% endif %}
                </span>
                {% if details.result %}
                  <br />
                  <span>détruit : {{ details.removal }}</span>
                  <br />
                  <span>planté : {{ details.plantation }}</span>
                {% endif %}
                {% if comment %}
                  <br />
                  <span class="fr-text--xs">{{ comment }}</span>
                {% endif %}
              </div>
            {% endfor %}
          </section>
        </div>
      </div>
    </div>

  </section>
{% endblock %}
