{% extends "haie/petitions/instructor_view_base.html" %}

{% load moulinette %}
{% load utils %}
{% load petitions %}

{% load static %}

{% block title %}Instruction du dossier – Informations générales{% endblock %}

{% block general_secondary_side_nav %}
  <div>
    <ul class="fr-sidemenu__list">
      <li class="fr-sidemenu__item">
        <a class="fr-sidemenu__link" href="#section-key-elements" target="_self">Éléments clés</a>
      </li>
      <li class="fr-sidemenu__item">
        <a class="fr-sidemenu__link"
           href="#section-simulation-data"
           target="_self">Données de la simulation</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block project_content %}

  <div class="project-inner-content">

    {% include 'haie/moulinette/_department_doctrine_button.html' with config=moulinette.config %}

    <section class="fr-my-3w">
      <h1>Informations générales</h1>

      <div id="key-elements-title-container">
        <h2 id="section-key-elements" class="fr-mr-8w">Éléments clés</h2>
        <a class="fr-icon-arrow-right-line fr-link--icon-right fr-mb-3w"
           href="{% url 'petition_project_instructor_dossier_ds_view' petition_project.reference %}">Voir le dossier complet</a>
      </div>
      <h3>Motif</h3>
      <span class="fr-text--lead">{{ moulinette.main_form.motif.field.choices|get_choice_label:moulinette.main_form.motif.value }}</span>

      <h3 class="fr-mt-3w">Destruction</h3>
      <ul class="instructor-view-list">
        {% include "haie/petitions/_item.html" with label="Total linéaire à détruire" value=project_details.length_to_remove|floatformat:"0g" unit="m" %}
        {% include "haie/petitions/_item.html" with label="Mode de destruction" %}
        {% for mode, hedges_by_mode in project_details.hedge_to_remove_by_destruction_mode.items %}
          <li class="fr-pl-4w">
            <span>{{ hedges_by_mode.label }} :</span>
            <span>{{ hedges_by_mode.length|floatformat:"0g" }} m
              {% if hedges_by_mode %}• {{ hedges_by_mode.names }}{% endif %}
            </span>
          </li>
        {% endfor %}
      </ul>

      <h3 class="fr-mt-3w">Plantation</h3>
      {% if project_details.hedge_to_plant_by_plantation_mode %}
        <ul class="instructor-view-list">
          {% include "haie/petitions/_item.html" with label="Total linéaire à planter, renforcer ou reconnecter" value=project_details.length_to_plant|floatformat:"0g" unit="m" %}
          {% for mode, hedges_by_mode in project_details.hedge_to_plant_by_plantation_mode.items %}
            <li class="fr-pl-4w">
              <span>{{ hedges_by_mode.label }} :</span>
              <span>{{ hedges_by_mode.length|floatformat:"0g" }} m
                {% if hedges_by_mode %}• {{ hedges_by_mode.names }}{% endif %}
              </span>
            </li>
          {% endfor %}
          {% include "haie/petitions/_item.html" with label="Ratio de replantation, renforcement ou reconnexion" value=project_details.plantation_ratio|floatformat:"2g" comment="Linéaire total à planter, renforcer ou reconnecter / linéaire à détruire" %}
          {% include "haie/petitions/_item.html" with label="Ratio de replantation uniquement" value=project_details.plantation_ratio|floatformat:"2g" comment="Linéaire plantation nouvelle ou remplacement / linéaire à détruire" %}
        </ul>
      {% else %}
        {{ hedge_to_plant_by_plantation_mode }}
        <ul class="instructor-view-list">
          {% include "haie/petitions/_item.html" with label="Total linéaire à planter" value=project_details.length_to_plant|floatformat:"0g" unit="m" %}
          {% include "haie/petitions/_item.html" with label="Ratio de replantation" value=project_details.plantation_ratio|floatformat:"2g" %}
        </ul>
      {% endif %}
      <div class="fr-my-2w">
        <button class="hedge-input-open-btn fr-btn  fr-btn--secondary fr-btn--icon-left fr-icon-haie"
                type="button"
                data-fr-opened="false"
                aria-controls="hedge-input-modal">Ouvrir la carte des haies</button>
      </div>

      <h3 id="section-simulation-data" class="fr-mt-4w">Données de la simulation</h3>

      <ul class="instructor-view-list">
        {% for field in moulinette.main_form %}
          {% if field.name != "haies" %}
            <li>{% field_summary field %}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>

  </div>
{% endblock %}

{% block extra_body %}
  {{ block.super }}
  {% include 'haie/moulinette/_department_doctrine_modal.html' with config=moulinette.config %}
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script>
    var HEDGES_PLANTATION_URL = "{{ plantation_url|safe }}";
    window.addEventListener("load", function() {
      let iframeUrl = HEDGES_PLANTATION_URL;
      let redirectUrl = null;
      var hedgeModal = new HedgeInputModal(iframeUrl, redirectUrl);
    });
  </script>
  <script defer src="{% static 'js/libs/form_project_instruction.js' %}"></script>
{% endblock %}
