{% extends 'haie/base.html' %}

{% load petitions %}

{% load static %}

{% block title %}
  Liste des dossiers
{% endblock title %}

{% block content %}
  <h1 class="fr-my-2w project-list__title">Liste des dossiers</h1>
  {% if not user_can_view_one_petition_project %}
    <div class="fr-alert fr-alert--info">
      <h3 class="fr-alert__title">Aucun dossier n’est accessible pour le moment</h3>
      <p>Vous n’avez actuellement accès à aucun dossier.</p>
      <p>
        Pour accéder à un dossier spécifique, vous devez être invité par un instructeur et cliquer sur le lien
        d’invitation qu’il vous a transmis.
      </p>
      <p>
        Si vous attendez des droits d’accès à l’ensemble d’un département, leur attribution peut prendre jusqu’à 24
        heures après la création de votre compte.
        En cas de difficulté, vous pouvez contacter
        <a href="{{ contact_url }}">l’équipe du Guichet unique de la haie.</a>
      </p>
    </div>
  {% else %}
    {% include 'haie/petitions/_dossier_list_filters.html' %}
  {% endif %}

  <div id="dossier-results">
    {% include 'haie/petitions/_dossier_list_results.html' %}
  </div>

{% endblock %}

{% block after-content %}{% endblock %}

{% block extra_js %}
  <script defer src="{% static 'htmx.org/dist/htmx.min.js' %}"></script>
  <script defer src="{% static 'js/libs/follow_up_form.js' %}"></script>
  <script defer src="{% static 'js/libs/data_event_attributes_analytics.js' %}"></script>
  <script defer src="{% static 'js/libs/dossier_list_filters.js' %}"></script>
{% endblock %}
