{% extends "haie/petitions/instructor_view_base.html" %}

{% load moulinette %}
{% load utils %}
{% load petitions %}

{% load static %}

{% block title %}Instruction du dossier – Procédure{% endblock %}

{% block project_view_title %}<h2>Procédure</h2>{% endblock %}

{% block project_content %}
  <div>
    <h3>État du dossier</h3>
  </div>
  <div class="project-inner-content{{ petition_project.is_additional_information_requested|yesno:" paused," }}">
    <section class="fr-my-3w">
      <h4>Étape</h4>
      <p>{% stage_badge petition_project.stage False %}</p>

      <div id="due-date-container" class="fr-mb-3w">

        {% if petition_project.is_additional_information_requested %}
          <div class="alt-light fr-py-3w fr-px-3w fr-mb-3w">
            <b>En attente de compléments</b>
            <br />
            {% display_due_date petition_project.due_date %}

            {% if resume_processing_form %}
              <div class="fr-mt-1w">
                <button type="button"
                        class="fr-btn fr-btn--primary hide-expanded"
                        aria-expanded="false"
                        aria-controls="resume-form">Reprendre l'instruction</button>
              </div>

              <div id="resume-form" class="fr-collapse">
                <h4 class="fr-mt-2w">→ Reprendre l'instruction</h4>

                <form method="post"
                      action="{% url 'petition_project_instructor_request_info_view' petition_project.reference %}"
                      class="fr-mt-1w">
                  {% csrf_token %}
                  {% include '_form_snippet.html' with form=resume_processing_form %}

                  {% if petition_project.latest_suspension.original_due_date %}
                    <div class="fr-input-group">
                      <label for="" class="fr-label">
                        <span class="label-content fr-text--bold">Nouvelle échéance d'instruction</span>
                        <span class="fr-text--light fr-text--sm">(calcul automatique)</span>
                      </label>

                      <input id="id_new_due_date"
                             type="date"
                             disabled="disabled"
                             class="fr-input"
                             data-suspension-date="{{ petition_project.latest_suspension.created_at.date|date:"c" }}"
                             data-original-due-date="{{ petition_project.latest_suspension.original_due_date|date:"c" }}">
                    </div>
                  {% endif %}

                  <button type="button"
                          class="fr-btn fr-btn--secondary"
                          aria-expanded="false"
                          aria-controls="resume-form">Annuler</button>

                  <button type="submit" class="fr-btn fr-btn--primary">Reprendre l'instruction</button>
                </form>
              </div>
            {% endif %}

          </div>

          <p>
            <strong>Date de la suspension</strong>
            <br />
            <span class="due-date fr-text--sm">
              <span class="fr-icon-pause-circle-line fr-icon--sm"></span>
              {{ petition_project.latest_suspension.created_at|date:"DATE_FORMAT" }}
            </span>
          </p>

          {% if petition_project.latest_suspension.original_due_date %}
            <p>
              <strong>Échéance d'instruction avant la suspension</strong>
              <br />
              <span class="due-date fr-text--sm">
                <span class="fr-icon-timer-line fr-icon--sm"></span>
                {{ petition_project.latest_suspension.original_due_date|date:"DATE_FORMAT" }}
              </span>
            </p>
          {% endif %}

        {% else %}

          {% if petition_project.stage != "closed" %}
            <b>Échéance pour cette étape :</b>
            <br />
            {% display_due_date petition_project.due_date %}
          {% endif %}
        {% endif %}

        {% include "haie/petitions/stage_objectives/"|add:petition_project.stage|add:".html" %}
      </div>

      {% if is_department_instructor and not request_info_form and not petition_project.is_additional_information_requested %}
        <button type="button"
                class="fr-btn fr-btn--secondary fr-mb-3w disabled"
                disabled="disabled"
                aria-describedby="disabled-rai-btn-tooltip">Demander des compléments</button>
        <span class="fr-tooltip fr-placement"
              id="disabled-rai-btn-tooltip"
              role="tooltip">Disponible uniquement pendant les étapes d'instruction.</span>

      {% endif %}

      {% if request_info_form and not petition_project.is_additional_information_requested %}
        <button type="button"
                class="fr-btn fr-btn--secondary fr-mb-3w hide-expanded"
                aria-expanded="false"
                aria-controls="rai-date-form">Demander des compléments</button>

        <div id="rai-date-form" class="fr-collapse">
          <div class="alt fr-py-3w fr-px-3w fr-mt-2w fr-mb-3w">
            <h4>Demander des compléments</h4>

            <p>La demande de compléments suspendra le délai d'instruction.</p>

            <form method="post"
                  action="{% url 'petition_project_instructor_request_info_view' petition_project.reference %}">
              {% csrf_token %}

              {% include '_form_snippet.html' with form=request_info_form %}

              <button type="button"
                      class="fr-btn fr-btn--secondary"
                      aria-expanded="false"
                      aria-controls="rai-date-form">Annuler</button>

              <button type="submit" class="fr-btn fr-btn--primary">Envoyer au demandeur</button>

            </form>
          </div>
        </div>
      {% endif %}

      <h4>Décision</h4>
      <p>{% decision_badge petition_project.decision False %}</p>
    </section>
  </div>
  {% if is_department_instructor %}
    <button class="fr-btn"
            {% if petition_project.demarches_simplifiees_state == "draft" or petition_project.is_additional_information_requested %}disabled{% endif %}
            data-fr-opened="{% if form.errors %}true{% else %}false{% endif %}"
            aria-controls="procedure-modal">Modifier l'état du dossier</button>
    {% if petition_project.demarches_simplifiees_state == "draft" %}
      <span class="fr-hint-text">Ce dossier n'a pas encore été déposé par le pétitionnaire.</span>
    {% endif %}
    {% if petition_project.is_additional_information_requested %}
      <span class="fr-hint-text">Impossible tant que le dossier est en attente de compléments.</span>
    {% endif %}
  {% endif %}

  {% if paginator.count %}
    <h3 class="fr-mt-6w">Historique des changements</h3>
    <div class="fr-table fr-table--multiline  procedure-history__table">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table>
              <caption class="fr-mt-1w fr-mb-0">
                {{ paginator.count }}
                changement{{ paginator.count|pluralize }}
              </caption>
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Auteur</th>
                  <th scope="col">Modification</th>
                  <th scope="col">Commentaire</th>
                </tr>
              </thead>
              <tbody>
                {% for log in object_list %}
                  <tr class="project">
                    <td>
                      {{ log.created_at|date:"SHORT_DATE_FORMAT" }}
                      <br />
                      {{ log.created_at|date:"TIME_FORMAT" }}
                    </td>
                    <td>{% created_by_display log %}</td>
                    <td>
                      <b>{{ log.get_type_display }}</b>
                      {% if log.type == "status_change" %}
                        <br />
                        {{ STAGES|get_choice_label:log.stage }}
                        {% if log.due_date %}
                          <br />
                          Échéance le {{ log.due_date|date:"SHORT_DATE_FORMAT" }}
                        {% endif %}
                        {% if log.decision != "unset" %}
                          <br />
                          Décision : {{ DECISIONS|get_choice_label:log.decision }}
                        {% endif %}
                      {% elif log.type == "suspension" and log.due_date %}
                        <br />
                        Date limite : {{ log.due_date|date:"SHORT_DATE_FORMAT" }}
                      {% elif log.type == "resumption" %}
                        <br />
                        Réception : {{ log.info_receipt_date|date:"SHORT_DATE_FORMAT" }}
                        {% if log.due_date %}
                          <br />
                          Prochaine échéance : {{ log.due_date|date:"SHORT_DATE_FORMAT" }}
                        {% endif %}
                      {% endif %}
                    </td>
                    <td>
                      {% if log.status_date and log.status_date != log.created_at.date %}
                        <i>Changement effectif le {{ log.status_date|date:"SHORT_DATE_FORMAT" }}</i>
                        <br />
                      {% endif %}
                      {% truncated_comment log.update_comment forloop.counter 60 %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
      {% if page_obj.paginator.num_pages > 1 %}
        <div class="fr-table__footer">
          <div class="fr-table__footer--middle fr-mt-0">{% include "_pagination.html" with page_obj=page_obj %}</div>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block extra_body %}
  {{ block.super }}
  {% include 'haie/petitions/_procedure_modal.html' %}
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script defer src="{% static 'js/libs/sync_new_due_date.js' %}"></script>

  {% if resume_processing_form and petition_project.latest_suspension.original_due_date %}
    <script>
    window.addEventListener("load", function() {
      let receipt_date_input = document.getElementById("id_info_receipt_date");
      let due_date_input = document.getElementById("id_new_due_date");
      // due date input exists only if a due date was previously set
      if(due_date_input) {
        new DueDateInput(due_date_input, receipt_date_input);
      }
    });
    </script>
  {% endif %}

  <script>
    window.addEventListener('load', function () {
      const displayStageObjective = (stage) => {
        document.querySelectorAll(".stage-objective").forEach(div => div.style.display = "none");
        document.getElementById(`stage-objective--${stage}`).style.display = "block";
      };

      const toggleDueDate = (stage) => {
        if(stage === "closed") {
          document.getElementById("form-group-due_date").style.display = "none";
          document.getElementById("id_due_date").value = "";
        }
        else {
          document.getElementById("form-group-due_date").style.display = "block";
        }
      };

      document.getElementById("id_stage").addEventListener("change", function (event) {
        displayStageObjective(event.target.value);
        toggleDueDate(event.target.value);
      });
      displayStageObjective(document.getElementById("id_stage").value);
      toggleDueDate(document.getElementById("id_stage").value);

    });
  </script>
{% endblock %}
