{% extends "haie/petitions/instructor_view_base.html" %}

{% load static %}

{% block title %}Instruction du dossier{% endblock %}

{% block project_sidemenu %}
  <li class="fr-sidemenu__item fr-sidemenu__item--active">
    <a class="fr-sidemenu__link"
       href="{% url 'petition_project_instructor_view' petition_project.reference %}#project-specifications-instructor"
       aria-current="page">Caractéristiques du projet</a>

    <div id="fr-sidemenu-item-0">
      <ul class="fr-sidemenu__list">
        {% for information in project_details.details %}
          {% if information.slug %}
            <li class="fr-sidemenu__item">
              <a class="fr-sidemenu__link"
                 href="#{{ information.slug }}"
                 target="_self">{{ information.label }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </li>
  <li class="fr-sidemenu__item">
    <a class="fr-sidemenu__link"
       href="{% url 'petition_project_instructor_dossier_ds_view' petition_project.reference %}#project-specifications-instructor">
    Démarches Simplifiées</a>
  </li>
{% endblock %}

{% block project_content %}

  <h2>Caractéristiques du projet</h2>

  <a title="Consulter les résultats de la simulation - ouvre une nouvelle fenêtre"
     href="{{ project_url }}"
     target="_blank"
     rel="noopener external">Consulter les résultats de la simulation</a>
  <form method="post"
        action="{% url 'petition_project_instructor_view' petition_project.reference %}">
    {% csrf_token %}
    {% for information in project_details.details %}
      <section class="fr-py-3w"
               {% if information.slug %}id="{{ information.slug }}"{% endif %}>
        {% if information.label %}<h2 class="fr-mb-0">{{ information.label }}</h2>{% endif %}
        <p class="fr-hint-text">
          {% if information.comment %}{{ information.comment }}{% endif %}
        </p>
        {% include "haie/petitions/_items.html" with items=information.items %}
        {% if information.details %}
          {% for information_details in information.details %}
            <h3 class="fr-mt-4w">{{ information_details.label }}</h3>

            {% include "haie/petitions/_items.html" with items=information_details.items %}

          {% endfor %}
        {% endif %}
        {% if forloop.first %}
          <button class="hedge-input-open-btn fr-btn fr-btn--secondary fr-btn--icon-right fr-icon-arrow-right-line fr-mt-2w"
                  type="button"
                  data-fr-opened="false"
                  aria-controls="hedge-input-modal">Voir le tracé des haies sur la carte</button>
        {% endif %}
      </section>
    {% endfor %}
  </form>

{% endblock %}

{% block extra_body %}
  {% include 'haie/moulinette/_hedge_input_modal.html' %}
{% endblock %}

{% block extra_js %}
  <script>var HEDGES_PLANTATION_URL = "{% url 'input_hedges'  mode='read_only' %}";</script>
  <script>var HEDGE_DATA_ID = "{{ moulinette.catalog.haies.id }}";</script>
  <script>var SOURCE_PAGE = "instruction";</script>
  <script defer src="{% static 'js/libs/hedges_input.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var forms = document.querySelectorAll('form');
      var beforeUnloadListenerAdded = false;

      function preventLeaving(e) {
        e.preventDefault();
        var confirmationMessage = 'Vous avez des modifications non enregistrées. Êtes-vous sûr de vouloir quitter la page ?';
        e.returnValue = confirmationMessage; // Standard for most browsers
        return confirmationMessage; // For some older browsers
      }

      forms.forEach(function (form) {
        form.addEventListener('change', function () {
          if (!beforeUnloadListenerAdded) {
            window.addEventListener('beforeunload', preventLeaving);
            beforeUnloadListenerAdded = true;
          }
        });

        form.addEventListener('submit', function () {
          if(beforeUnloadListenerAdded){
            window.removeEventListener('beforeunload', preventLeaving);
            beforeUnloadListenerAdded = false;
          }
        });
      });
    });
  </script>
{% endblock %}
