{% extends "haie/petitions/instructor_view_base.html" %}

{% load moulinette %}
{% load utils %}
{% load petitions %}

{% load static %}

{% block title %}Instruction du dossier – {{ current_regulation.title }}{% endblock %}

{% block project_view_title %}<h2>{{ current_regulation.title }}</h2>{% endblock %}

{% block project_content %}

  <div class="project-inner-content">
    {% for regulation in moulinette.regulations %}
      {% if regulation.slug == current_regulation.slug %}
        <section class="fr-my-3w" id="moulinette-regulation-result">

          {% if regulation.has_key_elements_template %}
            <section id="section-plantation-evaluation">
              <h3>Éléments clés</h3>
              {% for criterion in regulation.criteria.all %}
                {% criterion_instructor_view_part "key_elements" regulation criterion petition_project moulinette %}
              {% endfor %}
            </section>
          {% endif %}
          <section class="fr-mb-3w">
            {% include "haie/petitions/_regulation_form.html" %}
          </section>
          <section>
            <div class="title-with-link-container">
              <h3 class="fr-mr-8w">Résultats de la simulation</h3>
              <a class="fr-link fr-icon-arrow-right-line fr-link--icon-right fr-mb-3w"
                 href="{% url 'petition_project' petition_project.reference %}">Voir le résultat</a>
            </div>

            {% include 'haie/moulinette/_result_regulation.html' with regulation=regulation %}
            {% if regulation.has_instructor_result_details_template %}

              <h4>Détails du résultat de la simulation</h4>
              {% for criterion in regulation.criteria.all %}
                <section id="{{ regulation.slug }}-{{ criterion.slug }}" class="fr-mb-5w">
                  {% criterion_instructor_view_part "instructor_result_details" regulation criterion petition_project moulinette %}
                </section>
              {% endfor %}
            {% endif %}
          </section>

          {% regulation_has_condition_to_display plantation_evaluation regulation as has_condition_to_display %}
          {% if has_condition_to_display %}
            <section id="section-plantation-evaluation">
              <h3>Acceptabilité de la plantation</h3>
              <p>Conditions de plantation à respecter pour cette réglementation :</p>
              <div id="hedge-conditions">{% regulation_plantation_conditions plantation_evaluation regulation %}</div>
            </section>
          {% endif %}

          {% if regulation.has_plantation_condition_details_template %}
            <section class="fr-mb-5w">
              <h4>Détails du calcul d'acceptabilité de la plantation</h4>
              {% for criterion in regulation.criteria.all %}
                {% criterion_instructor_view_part "plantation_condition_details" regulation criterion petition_project moulinette %}
              {% endfor %}
            </section>
          {% endif %}
        </section>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block extra_css %}
  <link href="{% static 'leaflet/dist/leaflet.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script>var HEDGES_PLANTATION_URL = "{{ plantation_url|safe }}";</script>
  <script>var SOURCE_PAGE = "instruction";</script>
  <script defer src="{% static 'js/libs/form_project_instruction.js' %}"></script>

  <script defer src="{% static 'leaflet/dist/leaflet.js' %}"></script>
  <script defer src="{% static 'js/libs/leaflet-icon-fix.js' %}"></script>
  <script defer src="{% static 'js/libs/moulinette_result_maps.js' %}"></script>
{% endblock %}
