{% extends 'emails/_base.html' %}

{% block email_title %}Votre demande d'évaluation manuelle{% endblock %}

{% block content %}
  <p>Bonjour,</p>

  <p>
    Nous avons bien enregistré votre demande d'évaluation manuelle EnvErgo
    {% if application_number %}(numéro de demande de permis : {{ application_number }}){% endif %}
    sous la référence {{ reference }}.
  </p>

  <p>Cependant, l'équipe EnvErgo sera momentanément indisponible en raison de congés estivaux jusqu'au 28 août.</p>

  <p>Nous vous répondrons dans les plus brefs délais dès notre retour.</p>

  <p>
    Si vous avez une urgence, vous pouvez nous contacter par e-mail à <a href="mailto:contact@envergo.beta.gouv.fr">contact@envergo.beta.gouv.fr</a> et nous vous apporterons une réponse le plus rapidement possible.
  </p>

  <p>Vous pouvez ajouter ou retirer des documents à votre demande :</p>

  <a href="{{ file_upload_url }}">{{ file_upload_url }}</a>

  <p>Notre page d'information sur les réglementations environnementales est consultable :</p>

  <p>
    <a href="{{ faq_url }}">{{ faq_url }}</a>
  </p>

  <p>
    En vous souhaitant un bel été, nous avons hâte de vous retrouver à notre retour pour continuer à améliorer la prise en compte de l'environnement dans les projets d’aménagement.
  </p>

  {% include 'emails/_email_signature.html' %}

{% endblock %}
