{% extends 'emails/_base.html' %}

{% block email_title %}Votre demande d'évaluation manuelle{% endblock %}

{% block content %}
  <p>Bonjour,</p>

  <p>
    Nous avons bien enregistré votre demande d'évaluation manuelle EnvErgo
    {% if application_number %}(numéro de demande de permis : {{ application_number }}){% endif %}
    sous la référence {{ reference }}.
  </p>

  <p>Vous recevrez une réponse dans les trois jours ouvrés.</p>

  <p>Vous pouvez ajouter ou retirer des documents à votre demande :</p>

  <a href="{{ file_upload_url }}">{{ file_upload_url }}</a>

  <p>Notre page d'information sur les réglementations environnementales est consultable :</p>

  <p>
    <a href="{{ faq_url }}">{{ faq_url }}</a>
  </p>

  <p>N'hésitez pas à nous contacter pour toute question sur cette demande d'évaluation ou sur EnvErgo.</p>

  <p>
    <a href="{{ contact_url }}">{{ contact_url }}</a>
  </p>

  {% include 'emails/_email_signature.html' %}

{% endblock %}
